Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

docs(openapi): specify event data field (FLEX-1270)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/flex/event.sql
  docs/resources/event.md
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EventData.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EventDataControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EventDataUpdatedFields.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EventResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/__init__.py
  test/flex/models/event_data_controllable_unit_lookup.py
  test/flex/models/event_data_updated_fields.py
  test/flex/models/event_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

refactor: rename notice (FLEX-1358)
  backend/data/static/openapi.json
  db/flex/notice/notice_controllable_unit.sql
  docs/resources/notice.md
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/notice/details/NoticeControllableUnitFlexiblePowerExceedsRatedPower.tsx
  frontend/src/notice/noticeTypes.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataCuMaximumActivePowerRatio.kt
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/flex/models/__init__.py
  test/flex/models/notice_data_cu_maximum_active_power_ratio.py
  test/flex/models/notice_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: preserve drafts when form validation fails (FLEX-1374)
  frontend/src/components/EDS-ra/inputs/FormToolbarWithConfirmation.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: handle draft autosave storage failures (FLEX-1374)
  frontend/src/service_providing_group/product_application/DraftAutosaveWatcher.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: enable autosave when SPG is selected in form (FLEX-1374)
  frontend/src/service_providing_group/product_application/DraftAutosaveWatcher.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: create notice when no TRs on CU (FLEX-1358)
  db/flex/notice/notice_controllable_unit.sql
  db/flex/notice_fresh.sql
Due: none

refactor: remove type casts for draft row id and status (FLEX-1374)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowProductApplicationsTable.tsx
  frontend/src/service_providing_group/show/useSpgProductApplications.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: document draft autosave localStorage entries (FLEX-1374)
  docs/cookies.md
Due: none

fix: clearly state that a draft is only stored in the browser (FLEX-1374)
  frontend/src/components/SpgpaStatusBadge.tsx
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: reuse generated type for SPGPA draft values (FLEX-1374)
  frontend/src/hooks/useSpgpaDrafts.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: delete drafts only after successful submission (FLEX-1374)
  frontend/src/components/EDS-ra/inputs/FormToolbarWithConfirmation.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: translate delete draft aria-label (FLEX-1374)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowProductApplicationsTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: speed up filtering on event source and subject (FLEX-1414)
  backend/data/data.go
  backend/data/embed_query_rewrite.go
  db/api/event_rpc.sql
  db/flex/event.sql
  frontend/src/components/EDS-ra/buttons/hooks/useEvent.ts
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/event/EventButton.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: simplify notice by removing data as it is easily available on CU page (FLEX-1358)
  backend/data/static/openapi.json
  db/flex/notice/notice_controllable_unit.sql
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/notice/details/NoticeControllableUnitFlexiblePowerExceedsRatedPower.tsx
  openapi/openapi-api-base.yml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: removed PowerRatio badge on CU level and add it on SPG CU summary (FLEX-1411)
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
  frontend/src/service_providing_group/membership/ManageMembersPanel.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/summary/ServiceProvidingGroupControllableUnitSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: render of kW value similar to other places (FLEX-1411)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: sync accounting_point on minimum of CU and CUSP start (FLEX-1351) (#1070)
  db/flex/controllable_unit_service_provider.sql
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/AccountingPointStartDates.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/scheduled/AccountingPointSyncScheduler.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTimezoneTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/scheduled/AccountingPointSyncSchedulerTest.kt
Due: none

feat: removed PowerRatio badge on CU level and add it on SPG CU summary (FLEX-1411) (#1104)
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
  frontend/src/service_providing_group/membership/ManageMembersPanel.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/summary/ServiceProvidingGroupControllableUnitSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: move toggle to end of title line (FLEX-1285)
  frontend/src/components/ShowPageLayout.tsx
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): update to tailwind (FLEX-1345)
  frontend/src/components/EDS-ra/inputs/AutocompleteInput.tsx
  frontend/src/components/EDS-ra/inputs/AutocompleteReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/PartyReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/ReferenceComboboxInput.tsx
  frontend/src/notice/NoticeList.tsx
  frontend/src/party/PartyList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): toggle component on summary pages to see power in MW (FLEX-1285) (#1096)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/components/LabelValue.tsx
  frontend/src/components/ScaleToggle.tsx
  frontend/src/components/ShowPageLayout.tsx
  frontend/src/components/ui/index.ts
  frontend/src/controllable_unit/technical_resource/TechnicalResourceDetailModal.tsx
  frontend/src/service_providing_group/product_application/print/SpgpaPrintCuSummary.tsx
  frontend/src/service_providing_group/product_application/print/SpgpaPrintSpgInfo.tsx
  frontend/src/service_providing_group/product_application/print/SpgpaPrintSummary.tsx
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowPowerPerSubstationTable.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowProductApplicationsTable.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowSPGSummarySection.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
  frontend/src/service_providing_group/show/SpgTechnicalResourceList.tsx
  frontend/src/service_providing_group/summary/ServiceProvidingGroupControllableUnitSummary.tsx
  frontend/src/service_providing_group/summary/ServiceProvidingGroupTechnicalResourceSummary.tsx
  frontend/src/utils/scales.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: switch back to string concat (FLEX-1270)
  backend/data/static/openapi.json
  db/flex/event.sql
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/flex/models/event_data_updated_fields.py
Due: check-openapi

docs(openapi): specify event data field (FLEX-1270) (#1102)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/flex/event.sql
  docs/resources/event.md
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EventData.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EventDataControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EventDataUpdatedFields.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EventResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/__init__.py
  test/flex/models/event_data_controllable_unit_lookup.py
  test/flex/models/event_data_updated_fields.py
  test/flex/models/event_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: its bigint
  db/api/event_rpc.sql
Due: none

feat: speed up filtering on event source and subject (FLEX-1414) (#1103)
  backend/data/data.go
  backend/data/embed_query_rewrite.go
  db/api/event_rpc.sql
  db/flex/event.sql
  frontend/src/components/EDS-ra/buttons/hooks/useEvent.ts
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/event/EventButton.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(db): broken changeset int -> bigint (FLEX-1414)
  db/api/event_rpc.sql
Due: none

fix(db): broken changeset int -> bigint (FLEX-1414) (#1106)
  db/api/event_rpc.sql
Due: none

fix(test): set event data kind in CU lookup test (FLEX-1270)
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
Due: none

fix(test): set event data kind in CU lookup test (FLEX-1270) (#1107)
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
Due: none

fix: only FISO should see unfiltered events
  frontend/src/components/Header/HeaderNav.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: simpler implementation in trigger (FLEX-1419)
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_rls.sql
Due: none

fix: rewrite switch => map (FLEX-1393)
  frontend/src/notice/NoticeShowDetails.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: initial fix for adding a button (FLEX-1393)
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/notice/noticeTypes.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(db): only run PT unicity trigger on SPGPA when PT are changed (FLEX-1356)
  db/flex/service_providing_group_product_application.sql
Due: none

fix(ui): update to rem (FLEX-1345)
  frontend/src/components/EDS-ra/inputs/ArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/EnumArrayInput.tsx
  frontend/src/notice/NoticeList.tsx
  frontend/src/party/PartyList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): increase input width (FLEX-1345) (#1100)
  frontend/src/components/EDS-ra/inputs/ArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/AutocompleteInput.tsx
  frontend/src/components/EDS-ra/inputs/AutocompleteReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/EnumArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/PartyReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/ReferenceComboboxInput.tsx
  frontend/src/notice/NoticeList.tsx
  frontend/src/party/PartyList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(db): only run PT unicity trigger on SPGPA when PT are changed (FLEX-1356) (#1109)
  db/flex/service_providing_group_product_application.sql
Due: none

feat(db): restrict SPGPA update (for SP) to requested status (FLEX-1419) (#1099)
  db/api/grants/field_level_authorization.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_rls.sql
  docs/resources/service_providing_group_product_application.md
  frontend/src/auth/permissions.ts
  local/input/permissions.csv
  test/api_client_tests/test_spg_product_application.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: log AP start dates to debug more easily (FLEX-1379)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
Due: none

chore: log AP start dates to debug more easily (FLEX-1379) (#1110)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
