Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

docs: quick links main page
  docs/index.md
Due: none

fix: removed unused idx (FLEX-777)
  frontend/src/components/Breadcrumbs.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

docs: describe guides
  docs/guides/index.md
Due: none

docs: quick links main page (#369)
  docs/index.md
Due: none

fix: updated organization number text (FLEX-782)
  frontend/src/party/PartyInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

refactor: use lower j2 filter (FLEX-808)
  local/scripts/templates/comment_resource.j2.sql
  local/scripts/templates/comment_rls.j2.sql
Due: none

feat: generate RLS policies for comment resources (FLEX-808) (#365)
  db/flex/changelog.yml
  db/flex/service_provider_product_application_comment_history_audit.sql
  db/flex/service_provider_product_application_comment_rls.sql
  db/flex/service_provider_product_application_involved_parties.sql
  db/flex/service_provider_product_suspension_comment_rls.sql
  db/flex/service_provider_product_suspension_involved_parties.sql
  db/flex/service_providing_group_grid_suspension_comment_rls.sql
  db/flex/service_providing_group_grid_suspension_involved_parties.sql
  docs/resources/service_provider_product_application_comment.md
  docs/resources/service_provider_product_suspension_comment.md
  local/scripts/openapi_to_db.py
  local/scripts/templates/comment_resource.j2.sql
  local/scripts/templates/comment_resource.j2.yml
  local/scripts/templates/comment_rls.j2.sql
  test/api_client_tests/test_sppa_comment.py
  test/api_client_tests/test_spps_comment.py
Due: none

docs: describe guides (#367)
  docs/guides/index.md
Due: none

Update frontend/src/party/PartyInput.tsx
  frontend/src/party/PartyInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

docs: proposition of resource (FLEX-824)
  docs/resources/service_providing_group_product_suspension.md
  local/input/permissions.csv
  openapi/resources.yml
Due: none

docs: proposition of cu suspension resource (FLEX-821)
  docs/resources/controllable_unit_suspension.md
  local/input/permissions.csv
  openapi/resources.yml
Due: none

fix: update description for controllable_unit_id and add details for impacted_s_o (FLEX-821)
  openapi/resources.yml
Due: none

feat(ui): add party with org number business_id (FLEX-782) (#364)
  frontend/src/party/PartyInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix(ui): clicking on id in breadcrumbs now redirects to show (FLEX-777) (#368)
  frontend/src/components/Breadcrumbs.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: updated resources and docs (FLEX-821)
  docs/resources/controllable_unit_suspension.md
  openapi/resources.yml
Due: none

fix: clarify comment for action recipient in controllable unit suspension documentation (FLEX-821)
  docs/resources/controllable_unit_suspension.md
Due: none

fix: update policy status from DONE to TODO in controllable unit suspension documentation (FLEX-821)
  docs/resources/controllable_unit_suspension.md
Due: none

fix: moved duplicated information from process to concept
  docs/concepts/suspension.md
  docs/processes/service-providing-group-product-suspension.md
Due: none

feat: implementation + tests (FLEX-824)
  backend/data/data.go
  db/flex/changelog.yml
  db/flex/service_providing_group_product_suspension.sql
  db/flex/service_providing_group_product_suspension_rls.sql
  docs/resources/service_providing_group_product_suspension.md
  local/scripts/permissions_to_grant.py
  test/api_client_tests/test_spg_product_suspension.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore: robot rock (FLEX-824)
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  backend/schema.sql
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_product_suspension.sql
  db/flex/grants/field_level_authorization.sql
  db/flex/service_providing_group_product_suspension_history_audit.sql
  docs/diagrams/resources.plantuml
  docs/diagrams/resources.png
  frontend/src/auth/permissions.json
  frontend/src/tooltip/tooltips.json
  openapi/openapi-api-no-default.json
  test/flex/api/service_providing_group_product_suspension/__init__.py
  test/flex/api/service_providing_group_product_suspension/create_service_providing_group_product_suspension.py
  test/flex/api/service_providing_group_product_suspension/delete_service_providing_group_product_suspension.py
  test/flex/api/service_providing_group_product_suspension/list_service_providing_group_product_suspension.py
  test/flex/api/service_providing_group_product_suspension/list_service_providing_group_product_suspension_history.py
  test/flex/api/service_providing_group_product_suspension/read_service_providing_group_product_suspension.py
  test/flex/api/service_providing_group_product_suspension/read_service_providing_group_product_suspension_history.py
  test/flex/api/service_providing_group_product_suspension/update_service_providing_group_product_suspension.py
  test/flex/models/__init__.py
  test/flex/models/list_service_providing_group_product_suspension_history_prefer.py
  test/flex/models/list_service_providing_group_product_suspension_prefer.py
  test/flex/models/service_providing_group_product_suspension.py
  test/flex/models/service_providing_group_product_suspension_create_data.py
  test/flex/models/service_providing_group_product_suspension_create_request.py
  test/flex/models/service_providing_group_product_suspension_history_response.py
  test/flex/models/service_providing_group_product_suspension_reason.py
  test/flex/models/service_providing_group_product_suspension_response.py
  test/flex/models/service_providing_group_product_suspension_update_request.py
Due: check-plantuml, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix(docs): remove reference to sp in spgg and cu suspension (FLEX-821)
  docs/processes/controllable-unit-suspension.md
  docs/processes/service-providing-group-grid-suspension.md
Due: none

fix(docs): remove reference to sp in spgg and cu suspension (FLEX-821) (#373)
  docs/processes/controllable-unit-suspension.md
  docs/processes/service-providing-group-grid-suspension.md
Due: none

fix: adds missing grants for internal event notification role (FLEX-801)
  db/flex/accounting_point_end_user_rls.sql
  db/flex/accounting_point_energy_supplier_rls.sql
  db/flex/accounting_point_rls.sql
  db/flex/notification_rls.sql
Due: none

fix: updated remaining processes and ready for market. Moved links. Fixed small errors.
  docs/concepts/ready-for-market.md
  docs/concepts/suspension.md
  docs/processes/controllable-unit-suspension.md
  docs/processes/service-provider-product-suspension.md
  docs/processes/service-providing-group-grid-suspension.md
  docs/processes/service-providing-group-product-suspension.md
Due: none

fix: generate frontend permissions (FLEX-824)
  frontend/src/auth/permissions.json
  local/scripts/permissions_to_json.py
Due: none

fix: adds missing grants for internal event notification role (FLEX-801) (#374)
  db/flex/accounting_point_end_user_rls.sql
  db/flex/accounting_point_energy_supplier_rls.sql
  db/flex/accounting_point_rls.sql
  db/flex/notification_rls.sql
Due: none

feat(ui): pages for SPG product suspension (FLEX-824)
  frontend/src/App.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionHistoryList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionInput.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: added titles
  docs/concepts/suspension.md
Due: none

docs: suspension concept (#372)
  docs/concepts/ready-for-market.md
  docs/concepts/suspension.md
  docs/processes/controllable-unit-suspension.md
  docs/processes/service-provider-product-suspension.md
  docs/processes/service-providing-group-grid-suspension.md
  docs/processes/service-providing-group-product-suspension.md
Due: none

feat: manual additions (FLEX-820)
  backend/data/data.go
  db/flex/changelog.yml
  db/flex/service_providing_group_product_suspension_involved_parties.sql
  docs/resources/service_providing_group_product_suspension_comment.md
  frontend/src/App.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
  local/input/permissions.csv
  local/scripts/permissions_to_grant.py
  local/scripts/permissions_to_json.py
  openapi/resources.yml
  test/api_client_tests/test_spgps_comment.py
Due: prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

refactor: add new line in generated comment resources (FLEX-820)
  db/flex/service_provider_product_application_comment.sql
  db/flex/service_provider_product_suspension_comment.sql
  db/flex/service_providing_group_grid_suspension_comment.sql
  local/scripts/templates/comment_resource.j2.sql
Due: none

chore: automated stuff (FLEX-820)
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  backend/pgrepl/message.go
  backend/schema.sql
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_product_suspension_comment.sql
  db/flex/grants/field_level_authorization.sql
  db/flex/service_providing_group_product_suspension_comment.sql
  db/flex/service_providing_group_product_suspension_comment_history_audit.sql
  db/flex/service_providing_group_product_suspension_comment_rls.sql
  docs/diagrams/resources.plantuml
  frontend/src/auth/permissions.json
  frontend/src/tooltip/tooltips.json
  openapi/openapi-api-no-default.json
  test/flex/api/service_providing_group_product_suspension_comment/__init__.py
  test/flex/api/service_providing_group_product_suspension_comment/create_service_providing_group_product_suspension_comment.py
  test/flex/api/service_providing_group_product_suspension_comment/list_service_providing_group_product_suspension_comment.py
  test/flex/api/service_providing_group_product_suspension_comment/list_service_providing_group_product_suspension_comment_history.py
  test/flex/api/service_providing_group_product_suspension_comment/read_service_providing_group_product_suspension_comment.py
  test/flex/api/service_providing_group_product_suspension_comment/read_service_providing_group_product_suspension_comment_history.py
  test/flex/api/service_providing_group_product_suspension_comment/update_service_providing_group_product_suspension_comment.py
  test/flex/models/__init__.py
  test/flex/models/list_service_providing_group_product_suspension_comment_history_prefer.py
  test/flex/models/list_service_providing_group_product_suspension_comment_prefer.py
  test/flex/models/service_providing_group_product_suspension_comment.py
  test/flex/models/service_providing_group_product_suspension_comment_create_data.py
  test/flex/models/service_providing_group_product_suspension_comment_create_request.py
  test/flex/models/service_providing_group_product_suspension_comment_history_response.py
  test/flex/models/service_providing_group_product_suspension_comment_response.py
  test/flex/models/service_providing_group_product_suspension_comment_update_request.py
  test/flex/models/service_providing_group_product_suspension_comment_visibility.py
Due: check-plantuml, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat: notifications for SPG grid suspension comment (FLEX-795)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  db/flex/event_rls.sql
  docs/resources/event.md
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: cu and spg concept page
  docs/concepts/cu-spg.md
  docs/concepts/index.md
  docs/diagrams/spg_cu_ev_example.plantuml
  docs/diagrams/spg_cu_ev_example.png
  docs/resources/controllable_unit.md
  docs/resources/service_providing_group.md
  docs/resources/technical_resource.md
Due: check-plantuml

feat: notifications for SPG product suspension (FLEX-825)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  backend/pgrepl/message.go
  db/flex/event_rls.sql
  docs/resources/event.md
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: notifications for SPG product suspension comment (FLEX-820)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  db/flex/event_rls.sql
  docs/resources/event.md
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: notifications for SPG grid suspension comment (FLEX-795) (#376)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  db/flex/event_rls.sql
  docs/resources/event.md
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy
