Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

feat: contextual back buttons (FLEX-1131) (#759)
  frontend/src/App.tsx
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/components/NavigationHistoryProvider.tsx
  frontend/src/components/ShowPageLayout.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/navigation/routeLabels.ts
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: rewrite sppa to eds
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationShow.tsx
  frontend/src/service_provider_product_application/show/SppaActionBar.tsx
  frontend/src/service_provider_product_application/show/SppaShowSummary.tsx
  frontend/src/service_provider_product_application/show/SppaShowTabs.tsx
  frontend/src/service_provider_product_application/show/sppaStatus.ts
  frontend/src/service_provider_product_application/show/useSppaShowViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: Fixed grid location documentation according to feedback (FLEX-1136)
  docs/resources/accounting_point_grid_location.md
Due: none

chore: remove dead code following adapter backend update (FLEX-474) (#760)
  backend/data/data.go
  backend/flex.go
  backend/meteringpointdatahub/meteringpointdatahub.go
  backend/meteringpointdatahub/models.go
  docker-compose.yml
  local/backend/dev.env
  local/backend/test.env
  local/elhub/main.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: use new comments
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationShow.tsx
  frontend/src/service_provider_product_application/show/SppaCommentFeed.tsx
  frontend/src/service_provider_product_application/show/SppaShowTabs.tsx
  frontend/src/service_provider_product_application/show/useSppaComments.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: validate datetime format (FLEX-1140)
  backend/data/data.go
  backend/data/data_test.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: typo spotted by copilot (FLEX-1140)
  backend/data/data.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: add controllable unit summary resource (FLEX-1143)
  backend/api.sql
  backend/data/data.go
  backend/data/models/db.go
  backend/data/models/models.go
  backend/data/models/models.sql.go
  backend/data/static/openapi.json
  backend/event/models/db.go
  backend/event/models/models.go
  backend/event/models/models.sql.go
  db/api/controllable_unit_summary.sql
  db/api/grants/field_level_authorization.sql
  db/flex/changelog.yml
  db/flex/controllable_unit_summary.sql
  db/flex/grants/field_level_authorization.sql
  docs/diagrams/resources.plantuml
  docs/resources/controllable_unit_summary.md
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/core/serverSentEvents.gen.ts
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/sdk.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitSummaryResponse.kt
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_controllable_unit_summary.py
  test/flex/api/controllable_unit_summary/__init__.py
  test/flex/api/controllable_unit_summary/read_controllable_unit_summary.py
  test/flex/models/__init__.py
  test/flex/models/controllable_unit_summary_response.py
  test/flex/models/controllable_unit_summary_response_count_technical_resource_by_technology.py
Due: check-plantuml, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

docs: why comment (FLEX-1143)
  db/flex/controllable_unit_summary.sql
Due: none

docs: resource diagram (FLEX-1143)
  docs/diagrams/resources.png
Due: none

fix: format and align action bar with the current process
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationShow.tsx
  frontend/src/service_provider_product_application/show/SppaActionBar.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: rewrite SPPA to the new show pattern (#765)
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationShow.tsx
  frontend/src/service_provider_product_application/show/SppaActionBar.tsx
  frontend/src/service_provider_product_application/show/SppaCommentFeed.tsx
  frontend/src/service_provider_product_application/show/SppaShowSummary.tsx
  frontend/src/service_provider_product_application/show/SppaShowTabs.tsx
  frontend/src/service_provider_product_application/show/sppaStatus.ts
  frontend/src/service_provider_product_application/show/useSppaComments.ts
  frontend/src/service_provider_product_application/show/useSppaShowViewModel.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: docs links (FLEX-1143)
  docs/resources/controllable_unit_summary.md
  justfile
Due: none

docs: Fixed grid location documentation according to feedback (FLEX-1136)
  docs/resources/accounting_point_grid_location.md
  docs/technical/accounting-point-grid-location.md
Due: none

fix: Copilot comments (FLEX-1143)
  db/flex/controllable_unit_summary.sql
  test/api_client_tests/test_controllable_unit_summary.py
Due: none

chore: show usage in frontend (FLEX-1140)
  frontend/src/accounting_point/show/useAccountingPointViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add SPGPQ status badge variant map
  frontend/src/service_providing_group/grid_prequalification/show/spgpqStatus.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

style: format spgpqStatus.ts
  frontend/src/service_providing_group/grid_prequalification/show/spgpqStatus.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add SPGPQ comment feed component
  frontend/src/components/comments/types.ts
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqCommentFeed.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add SPGPQ show view model hook
  frontend/src/service_providing_group/grid_prequalification/show/useSpgpqShowViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: extract useSpgpqComments hook to own file
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqCommentFeed.tsx
  frontend/src/service_providing_group/grid_prequalification/show/useSpgpqComments.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add SPGPQ show summary panel
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqShowSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add SPGPQ action bar for status transitions
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqActionBar.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add SPGPQ show tabs panel
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: rewrite SPGPQ show page to EDS pattern
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add SPG info tab to SPGPQ show page
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Use named check constraints + fix translation (FLEX-1136)
  db/flex/accounting_point_grid_location.sql
  openapi/resources.yml
Due: none

fix: Revert changes on png files that are not affected by the changes in this branch (FLEX-1136)
  docs-dev/diagrams/oidc_login_sequence.png
  docs-dev/diagrams/oidc_logout_sequence.png
  docs/diagrams/accounting-point-sync-background.png
  docs/diagrams/accounting-point-sync-incoming-event.png
  docs/diagrams/accounting-point-sync-lookup.png
  docs/diagrams/controllable_unit_grid_validation_status.png
  docs/diagrams/controllable_unit_lookup.png
  docs/diagrams/controllable_unit_registration.png
  docs/diagrams/controllable_unit_status.png
  docs/diagrams/controllable_unit_update.png
  docs/diagrams/grid_balance.png
  docs/diagrams/grid_fnn.png
  docs/diagrams/grid_nodes.png
  docs/diagrams/grid_ownership.png
  docs/diagrams/grid_real_world.png
  docs/diagrams/grid_transformer.png
  docs/diagrams/grid_tree.png
  docs/diagrams/org_access_control_management.png
  docs/diagrams/registration_happy_path.png
  docs/diagrams/service_provider_product_application.png
  docs/diagrams/service_provider_product_application_status.png
  docs/diagrams/service_provider_product_suspension.png
  docs/diagrams/service_provider_switching.png
  docs/diagrams/service_providing_group_grid_suspension.png
  docs/diagrams/service_providing_group_prequalification_status.png
  docs/diagrams/service_providing_group_product_application.png
  docs/diagrams/service_providing_group_product_application_status.png
  docs/diagrams/service_providing_group_product_suspension.png
  docs/diagrams/service_providing_group_status.png
  docs/diagrams/spg_cu_ev_example.png
  docs/diagrams/time_dependent_authorization.png
Due: none

chore: remove valid_at add openapi desc (FLEX-1121)
  backend/data/data.go
  backend/data/static/openapi.json
  local/scripts/openapi_to_db.py
  local/scripts/openapi_to_markdown.py
  local/scripts/relationship.py
  local/scripts/resources_to_diagram.py
  local/scripts/template_to_openapi.py
  local/scripts/templates/comment_resource.j2.yml
  local/scripts/templates/embedding.j2.sql
  openapi/openapi-api-no-default.json
  test/inspect/embedding.hurl
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: proper embed rewrite (FLEX-1121)
  backend/data/data.go
  backend/data/embed_query_rewrite.go
  backend/data/embed_query_rewrite_test.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(deps): update backend
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update kbackend to v2.9.1
  kbackend/gradle/libs.versions.toml
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.73.3
  .teamcity/pom.xml
Due: none

fix(deps): update module github.com/lestrrat-go/jwx/v3 to v4
  backend/auth/accesstoken.go
  backend/auth/auth.go
  backend/auth/oidc/oidc.go
  backend/auth/oidc/provider.go
  backend/go.mod
  backend/go.sum
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.73.3 (#770)
  .teamcity/pom.xml
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
