Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix: move jsonschema to uv to avoid conflict between packages (#972)
  mise.toml
  pyproject.toml
  uv.lock
Due: none

fix: whitespace (FLEX-1173)
  db/flex/controllable_unit_suspension_comment.sql
  db/flex/controllable_unit_suspension_comment_rls.sql
  db/flex/service_provider_product_application_comment.sql
  db/flex/service_provider_product_application_comment_rls.sql
  db/flex/service_provider_product_suspension_comment.sql
  db/flex/service_provider_product_suspension_comment_rls.sql
  db/flex/service_providing_group_grid_prequalification_comment.sql
  db/flex/service_providing_group_grid_prequalification_comment_rls.sql
  db/flex/service_providing_group_grid_suspension_comment.sql
  db/flex/service_providing_group_grid_suspension_comment_rls.sql
  db/flex/service_providing_group_product_application_comment.sql
  db/flex/service_providing_group_product_application_comment_rls.sql
  db/flex/service_providing_group_product_suspension_comment.sql
  db/flex/service_providing_group_product_suspension_comment_rls.sql
  local/scripts/templates/comment_resource.j2.sql
  local/scripts/templates/comment_rls.j2.sql
Due: none

feat: allow editing comments (FLEX-1173)
  frontend/src/components/comments/CommentBubble.tsx
  frontend/src/components/comments/CommentFeed.tsx
  frontend/src/service_provider_product_application/show/SppaCommentFeed.tsx
  frontend/src/service_provider_product_application/show/useSppaComments.ts
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqCommentFeed.tsx
  frontend/src/service_providing_group/grid_prequalification/show/useSpgpqComments.ts
  frontend/src/service_providing_group/product_application/show/SpgpaCommentFeed.tsx
  frontend/src/service_providing_group/product_application/show/useSpgpaComments.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): text adjustment on grid location notice (FLEX-1309)
  frontend/src/notice/noticeTypes.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: split, rewrite and index AP_SO policies for speed (FLEX-1326)
  db/flex/accounting_point_metering_grid_area.sql
  db/flex/accounting_point_rls.sql
  db/flex/accounting_point_system_operator.sql
  db/flex/service_providing_group_membership.sql
  docs/resources/accounting_point.md
Due: none

fix(ui): text adjustment on grid location notice (FLEX-1309) (#973)
  frontend/src/notice/noticeTypes.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): better substation component in accounting point grid location input (FLEX-1134)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/accounting_point/grid_location/SubstationReferenceInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: refactor into security definer views (FLEX-1326)
  db/flex/accounting_point_impacted_system_operator.sql
  db/flex/accounting_point_procuring_system_operator.sql
  db/flex/accounting_point_rls.sql
  db/flex/changelog.yml
  docs/resources/accounting_point.md
Due: none

fix: refactor CU-SO002 to use security definer views for speed (FLEX-1326)
  db/flex/changelog.yml
  db/flex/controllable_unit_balance_responsible_party.sql
  db/flex/controllable_unit_end_user.sql
  db/flex/controllable_unit_energy_supplier.sql
  db/flex/controllable_unit_impacted_system_operator.sql
  db/flex/controllable_unit_procuring_system_operator.sql
  db/flex/controllable_unit_rls.sql
  db/flex/controllable_unit_system_operator.sql
  docs/resources/controllable_unit.md
  uv.lock
Due: none

fix: refacor AP_GL RLS using auth AP_PSO view + expose valid_time_range (FLEX-1326)
  db/flex/accounting_point_grid_location_rls.sql
  db/flex/accounting_point_impacted_system_operator.sql
  db/flex/accounting_point_procuring_system_operator.sql
  db/flex/controllable_unit_impacted_system_operator.sql
  db/flex/controllable_unit_procuring_system_operator.sql
Due: none

fix: incorrect id selected for cu in c|iso auth view (FLEX-1326)
  db/flex/controllable_unit_impacted_system_operator.sql
  db/flex/controllable_unit_procuring_system_operator.sql
Due: none

feat(ui): make comment visibility clearer and editable (FLEX-1173) (#958)
  db/flex/changelog.yml
  db/flex/controllable_unit_suspension_comment.sql
  db/flex/service_provider_product_application_comment.sql
  db/flex/service_provider_product_application_comment_migrations.sql
  db/flex/service_provider_product_suspension_comment.sql
  db/flex/service_provider_product_suspension_comment_migrations.sql
  db/flex/service_providing_group_grid_prequalification_comment.sql
  db/flex/service_providing_group_grid_suspension_comment.sql
  db/flex/service_providing_group_product_application_comment.sql
  db/flex/service_providing_group_product_suspension_comment.sql
  docs/resources/controllable_unit_suspension_comment.md
  docs/resources/service_provider_product_application_comment.md
  docs/resources/service_provider_product_suspension_comment.md
  docs/resources/service_providing_group_grid_prequalification_comment.md
  docs/resources/service_providing_group_grid_suspension_comment.md
  docs/resources/service_providing_group_product_application_comment.md
  docs/resources/service_providing_group_product_suspension_comment.md
  frontend/src/components/comments/CommentBubble.tsx
  frontend/src/components/comments/CommentFeed.tsx
  frontend/src/intl/text.ts
  frontend/src/service_provider_product_application/show/SppaCommentFeed.tsx
  frontend/src/service_provider_product_application/show/useSppaComments.ts
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqCommentFeed.tsx
  frontend/src/service_providing_group/grid_prequalification/show/useSpgpqComments.ts
  frontend/src/service_providing_group/product_application/show/SpgpaCommentFeed.tsx
  frontend/src/service_providing_group/product_application/show/useSpgpaComments.ts
  local/scripts/templates/comment_resource.j2.sql
  local/scripts/templates/comment_resource.j2.yml
  local/scripts/templates/embedding.j2.sql
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: split, rewrite and index AP and CU policies for SO to gain speed (FLEX-1326) (#974)
  db/flex/accounting_point_grid_location_rls.sql
  db/flex/accounting_point_impacted_system_operator.sql
  db/flex/accounting_point_metering_grid_area.sql
  db/flex/accounting_point_procuring_system_operator.sql
  db/flex/accounting_point_rls.sql
  db/flex/accounting_point_system_operator.sql
  db/flex/changelog.yml
  db/flex/controllable_unit_balance_responsible_party.sql
  db/flex/controllable_unit_end_user.sql
  db/flex/controllable_unit_energy_supplier.sql
  db/flex/controllable_unit_impacted_system_operator.sql
  db/flex/controllable_unit_procuring_system_operator.sql
  db/flex/controllable_unit_rls.sql
  db/flex/controllable_unit_system_operator.sql
  db/flex/service_providing_group_membership.sql
  docs/resources/accounting_point.md
  docs/resources/controllable_unit.md
  uv.lock
Due: none

chore(deps): update dependency uv to v0.11.26 [patch]
  mise.toml
Due: none

fix(deps): update backend
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
  kbackend/gradle/wrapper/gradle-wrapper.properties
Due: none

chore(deps): update dependency js-yaml to v5
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update module github.com/cenkalti/backoff/v6 to v7
  backend/flex.go
  backend/go.mod
  backend/go.sum
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: attachment resource for SPGPA and backend rig for future automation (FLEX-1323)
  backend/data/data.go
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_product_application_attachment.sql
  db/flex/changelog.yml
  db/flex/grants/field_level_authorization.sql
  db/flex/service_providing_group_product_application_attachment.sql
  db/flex/service_providing_group_product_application_attachment_history_audit.sql
  db/flex/service_providing_group_product_application_attachment_rls.sql
  docker-compose.yml
  docs/resources/service_providing_group_product_application_attachment.md
  frontend/src/auth/permissions.ts
  kbackend/build.gradle.kts
  kbackend/gradle/libs.versions.toml
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Routing.kt
  kbackend/src/main/kotlin/no/elhub/flex/generic/attachment/AttachmentHandler.kt
  kbackend/src/main/kotlin/no/elhub/flex/generic/attachment/AttachmentRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/generic/attachment/AttachmentRoutes.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/error/Error.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/attachment/AttachmentRoutes.kt
  kbackend/src/main/kotlin/no/elhub/flex/storage/AttachmentStorageService.kt
  kbackend/src/main/kotlin/no/elhub/flex/storage/FileContent.kt
  kbackend/src/main/kotlin/no/elhub/flex/storage/FileContentParser.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Request.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Response.kt
  kbackend/src/main/resources/application.yaml
  local/input/permissions.csv
  local/kbackend/test.env
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

test: kotlin tests (FLEX-1323)
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/attachment/ServiceProvidingGroupProductApplicationAttachmentTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/generic/attachment/AttachmentRepositoryTest.kt
Due: none

docs: correct/simplify comments (FLEX-1323)
  kbackend/src/main/kotlin/no/elhub/flex/generic/attachment/AttachmentRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/storage/AttachmentStorageService.kt
Due: none

chore(deps): update dependency uv to v0.11.26 [patch] (#976)
  mise.toml
Due: none

fix(deps): update backend (#977)
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update module github.com/cenkalti/backoff/v6 to v7 (#983)
  backend/flex.go
  backend/go.mod
  backend/go.sum
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(deps): update kbackend (#981)
  kbackend/gradle/libs.versions.toml
  kbackend/gradle/wrapper/gradle-wrapper.properties
Due: none

chore: remove npm dependency overrides
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.78.0
  .teamcity/pom.xml
Due: none

fix(deps): update frontend (#980)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: sanitise search parameter (FLEX-1134)
  frontend/src/accounting_point/grid_location/SubstationReferenceInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): better substation component in accounting point grid location input (FLEX-1134) (#975)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/accounting_point/grid_location/SubstationReferenceInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: attachment dev docs (FLEX-1323)
  docs-dev/attachments.md
  docs-dev/comments.md
Due: none

fix(test): install plugins on methods instead of routes (FLEX-1323)
  kbackend/src/main/kotlin/no/elhub/flex/generic/attachment/AttachmentRoutes.kt
  kbackend/src/test/kotlin/no/elhub/flex/generic/attachment/AttachmentRepositoryTest.kt
Due: none

refactor: do not expose object_id (FLEX-1323)
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_product_application_attachment.sql
  docs/resources/service_providing_group_product_application_attachment.md
  frontend/eslint.config.js
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/auth/permissions.ts
  kbackend/src/main/kotlin/no/elhub/flex/generic/attachment/AttachmentRepository.kt
  local/input/permissions.csv
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: more mise in local tool setup
  docs-dev/index.md
  justfile
  mise.toml
Due: none

chore: remove null-examples
  .pre-commit-config.yaml
  backend/auth/static/openapi.json
  backend/data/static/openapi.json
  frontend/eslint.config.js
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/auth/permissions.ts
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
  frontend/src/generated-client/client/client.gen.ts
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/core/params.gen.ts
  frontend/src/generated-client/core/queryKeySerializer.gen.ts
  frontend/src/generated-client/core/types.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  openapi/openapi-auth.yml
  openapi/resources.yml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: uv install in the right place
  justfile
Due: none

chore: more mise in local tool setup (#985)
  docs-dev/index.md
  justfile
  mise.toml
Due: none

fix: run failing test first
  pyproject.toml
  test/api_client_tests/test_accounting_point_balance_responsible_party.py
  uv.lock
Due: none
