Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

feat: ready for market check functions (FLEX-835) (#398)
  db/flex/notice.sql
  db/flex/service_provider_product_application.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_suspension.sql
  db/flex/service_providing_group_product_suspension_rls.sql
Due: none

fix: typo in CU RLS for event worker (FLEX-822)
  db/flex/controllable_unit_rls.sql
Due: none

feat: notifications for CU suspension (FLEX-822)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: update process and resource docs to mention PSO (FLEX-822)
  docs/diagrams/controllable_unit_suspension.plantuml
  docs/diagrams/controllable_unit_suspension.png
  docs/resources/controllable_unit_suspension.md
Due: check-plantuml

feat: update event RLS (FLEX-822)
  db/flex/event_rls.sql
  docs/resources/event.md
Due: none

feat: add grants for controllable unit suspension comment history and update permissions (FLEX-832)
  db/api/grants/field_level_authorization.sql
  db/flex/controllable_unit_suspension_comment_rls.sql
  db/flex/grants/field_level_authorization.sql
  frontend/src/auth/permissions.json
Due: none

feat: notifications for CU suspension (FLEX-822) (#402)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  db/flex/controllable_unit_rls.sql
  db/flex/event_rls.sql
  docs/diagrams/controllable_unit_suspension.plantuml
  docs/diagrams/controllable_unit_suspension.png
  docs/resources/controllable_unit_suspension.md
  docs/resources/event.md
Due: check-plantuml, golangci-lint, go-unit-tests, go-build, go-mod-tidy

Revert "feat: notifications for CU suspension (FLEX-822) (#402)"
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  db/flex/controllable_unit_rls.sql
  db/flex/event_rls.sql
  docs/diagrams/controllable_unit_suspension.plantuml
  docs/diagrams/controllable_unit_suspension.png
  docs/resources/controllable_unit_suspension.md
  docs/resources/event.md
Due: check-plantuml, golangci-lint, go-unit-tests, go-build, go-mod-tidy

Revert "feat: notifications for CU suspension (FLEX-822) (#402)" (#403)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  db/flex/controllable_unit_rls.sql
  db/flex/event_rls.sql
  docs/diagrams/controllable_unit_suspension.plantuml
  docs/diagrams/controllable_unit_suspension.png
  docs/resources/controllable_unit_suspension.md
  docs/resources/event.md
Due: check-plantuml, golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: added small changes
  docs/concepts/notification-and-notice.md
Due: none

docs: conceptual model
  docs/concepts/conceptual-model.md
  docs/diagrams/conceptual_model.drawio.png
Due: none

feat(db): notification schema with wrapper functions (FLEX-842)
  db/changelog.yml
  db/notification/changelog.yml
  db/notification/functions.sql
Due: none

feat: make notification schema available in the backend (FLEX-842)
  local/backend/dev.env
  local/backend/test.env
Due: none

feat(backend): event worker does ready-for-market checks w/ functions (FLEX-842)
  backend/event/models.sql
  backend/event/models/models.sql.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: tentative notices for CU suspension (FLEX-823)
  docs/resources/notice.md
Due: none

chore: update go and dependencies
  backend/go.mod
  backend/go.sum
Due: none

feat: use ready-for-market functions in event worker (#405)
  backend/event/models.sql
  backend/event/models/models.sql.go
  db/changelog.yml
  db/notification/changelog.yml
  db/notification/functions.sql
  local/backend/dev.env
  local/backend/test.env
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: add controllable unit suspension involved parties view and update policies (FLEX-832)
  db/flex/changelog.yml
  db/flex/controllable_unit_suspension_comment_rls.sql
  db/flex/controllable_unit_suspension_involved_parties.sql
  docs/resources/controllable_unit_suspension_comment.md
Due: none

fix: add ready for market check (FLEX-822)
  backend/event/models.sql
  backend/event/models/models.sql.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: update controllable unit suspension comment references to use new ID field (FLEX-832)
  db/api/grants/field_level_authorization.sql
  docs/resources/controllable_unit_suspension_comment.md
  frontend/src/auth/permissions.json
  local/input/permissions.csv
Due: none

docs: notification/notice
  docs/concepts/notification-and-notice.md
  docs/diagrams/notification_notice.drawio.png
Due: none

feat: expose a CU-SO view to the event worker (FLEX-822)
  backend/event/models.sql
  backend/event/models/models.go
  backend/event/models/models.sql.go
  backend/event/schema.sql
  db/notification/controllable_unit_system_operator.sql
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: update notice action (FLEX-823)
  docs/resources/notice.md
Due: none

feat: notice implementation (FLEX-823)
  db/flex/notice.sql
Due: none

fix: typos etc
  docs/concepts/notification-and-notice.md
Due: none

Fix: removed diagram
  docs/concepts/notification-and-notice.md
Due: none

chore: update go and dependencies (#407)
  backend/go.mod
  backend/go.sum
Due: none

fix: typos and links
  docs/concepts/notification-and-notice.md
  docs/processes/index.md
  docs/resources/notice.md
  docs/resources/notification.md
Due: none

refactor: move APEU view to notification schema (FLEX-848)
  db/api/accounting_point_end_user.sql
  db/notification/accounting_point_end_user.sql
Due: none

refactor: define separate schema files for SQLC with explicit prefixes (FLEX-848)
  backend/api.sql
  backend/event/schema.sql
  backend/event/schemas/notification.sql
Due: none

refactor: new pipeline for sqlc (FLEX-848)
  backend/data/schemas/api.sql
  backend/event/schemas/api.sql
  backend/sqlc.yaml
  justfile
  local/scripts/openapi_to_db.py
  local/scripts/sqlc.py
Due: none

refactor: prefix all DB objects with schema in sqlc models files (FLEX-848)
  backend/data/models.sql
  backend/data/models/models.go
  backend/data/models/models.sql.go
  backend/event/models.sql
  backend/event/models/models.go
  backend/event/models/models.sql.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: notices for CU suspension (FLEX-823) (#406)
  db/flex/notice.sql
  docs/resources/notice.md
Due: none

refactor: define view in flex, expose it in notification (FLEX-822)
  db/flex/changelog.yml
  db/flex/controllable_unit_system_operator.sql
  db/notification/controllable_unit_system_operator.sql
Due: none

feat: notifications for CU suspension (FLEX-822) (#404)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.go
  backend/event/models/models.sql.go
  backend/event/schema.sql
  db/flex/changelog.yml
  db/flex/controllable_unit_rls.sql
  db/flex/controllable_unit_system_operator.sql
  db/flex/event_rls.sql
  db/notification/controllable_unit_system_operator.sql
  docs/diagrams/controllable_unit_suspension.plantuml
  docs/diagrams/controllable_unit_suspension.png
  docs/resources/controllable_unit_suspension.md
  docs/resources/event.md
Due: check-plantuml, golangci-lint, go-unit-tests, go-build, go-mod-tidy

refactor: swap 2 tables for readability (FLEX-848)
  backend/event/schemas/notification.sql
Due: none

fix: clear confusion about events and notifications (FLEX-811)
  docs/concepts/notification-and-notice.md
Due: none

feat: update controllable unit suspension view and permissions, add tests for suspension comments (FLEX-832)
  db/flex/controllable_unit_suspension_involved_parties.sql
  frontend/src/auth/permissions.json
  test/api_client_tests/test_cu_suspension.py
  test/api_client_tests/test_cus_comment.py
Due: none

refactor: APEU -> CUEU (FLEX-848)
  backend/event/schemas/notification.sql
  db/notification/accounting_point_end_user.sql
  db/notification/controllable_unit_end_user.sql
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
