Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

feat(ui): make additional information clearer on SPG create page (FLEX-1200) (#1038)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/input/ServiceProvidingGroupFields.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: make MDC context safe across coroutines (FLEX-1344)
  kbackend/gradle/libs.versions.toml
  kbackend/src/main/kotlin/no/elhub/flex/util/TraceIdUtil.kt
Due: none

feat: retry on adapter connection + increased timeout (FLEX-1344)
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Response.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Retry.kt
  kbackend/src/test/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterWireMockServer.kt
  kbackend/src/test/kotlin/no/elhub/flex/util/RetryTest.kt
Due: none

feat: set trace ID for each synced accounting point (FLEX-1344) (#1045)
  kbackend/gradle/libs.versions.toml
  kbackend/src/main/kotlin/no/elhub/flex/config/Logging.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Tracing.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
  kbackend/src/main/kotlin/no/elhub/flex/scheduled/AccountingPointSyncScheduler.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/TraceIdUtil.kt
Due: none

feat: proper switch to disable the batch AP sync job (FLEX-1365)
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Scheduling.kt
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.79.2
  .teamcity/pom.xml
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
  kbackend/gradle/wrapper/gradle-wrapper.properties
Due: none

fix: update filter to consider party_membership entity id (FLEX-1291)
  frontend/src/entity/client/EntityClientInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.79.2 (#1050)
  .teamcity/pom.xml
Due: none

chore: update gradle wrapper
  kbackend/gradle/wrapper/gradle-wrapper.jar
  kbackend/gradle/wrapper/gradle-wrapper.properties
  kbackend/gradlew
  kbackend/gradlew.bat
Due: none

fix: don't add party_membership if entiy_id of parent and member are the same (FLEX-1291)
  db/test_data/test_data.sql
Due: none

fix: don't add party_membership if entiy_id of parent and member are the same (FLEX-1291)
  frontend/package-lock.json
Due: none

fix(deps): update frontend (#1053)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update kbackend (#1054)
  kbackend/gradle/libs.versions.toml
  kbackend/gradle/wrapper/gradle-wrapper.jar
  kbackend/gradle/wrapper/gradle-wrapper.properties
  kbackend/gradlew
  kbackend/gradlew.bat
Due: none

feat(ui): show product type names and MAP (up/down) in SPGPA list (FLEX-1352)
  frontend/src/components/ProductTypeArrayField.tsx
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/product_type/components.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionList.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionShow.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowProductApplicationsTable.tsx
  frontend/src/service_providing_group/show/useSpgProductApplications.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: npm audit fix (FLEX-1352)
  frontend/package-lock.json
Due: none

feat(ui): make comments public by default (FLEX-1354)
  frontend/src/components/comments/CommentFeed.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: npm audit fix (FLEX-1354)
  frontend/package-lock.json
Due: none

fix: log info when adapter sync is disabled
  kbackend/src/main/kotlin/no/elhub/flex/config/Scheduling.kt
Due: none

feat: proper switch to disable the batch AP sync job (FLEX-1365) (#1047)
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Scheduling.kt
Due: none

fix: remove constraint and ensure that ramping capability and ramping description is only checked for mFRR (FLEX-1349)
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
Due: none

fix: typos (FLEX-1349)
  db/flex/service_providing_group_product_application_migrations.sql
Due: none

Potential fix for pull request finding
  db/flex/service_providing_group_product_application_migrations.sql
Due: none

fix: change docs (FLEX-1349)
  docs/resources/service_providing_group_product_application.md
Due: none

fix: test docs
  kbackend/src/test/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterServiceTest.kt
Due: none

fix: useless import
  kbackend/src/test/kotlin/no/elhub/flex/util/RetryTest.kt
Due: none

feat: validate embed relations
  backend/internal/embed/embed.go
  backend/internal/embed/embed_test.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: allow embed of PM and SOPT on party (FLEX-1355)
  backend/data/embed_relations_gen.go
  db/api/embedding/embedding.sql
  local/scripts/relationship.py
  local/scripts/resources_to_openapi.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: allow embed of PM and SOPT on party (#1058)
  backend/data/embed_relations_gen.go
  backend/internal/embed/embed.go
  backend/internal/embed/embed_test.go
  db/api/embedding/embedding.sql
  local/scripts/relationship.py
  local/scripts/resources_to_openapi.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore: party_membership embed is not called just membership (FLEX-1291)
  frontend/src/entity/client/EntityClientInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: change test for the new product type ids (FLEX-1349)
  test/api_client_tests/test_spg_product_application.py
Due: none

fix: atomic changeset (FLEX-1349)
  db/flex/service_providing_group_product_application_migrations.sql
Due: none

fix(ui): filter so on sopt and sopt status in service provider product application and spg product application (FLEX-1355)
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: npm audit fix (FLEX-1355)
  frontend/package-lock.json
Due: none

feat: only show ramping description for mfrr in fronted (FLEX-1349)
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): filter so on sopt and sopt status in service provider/spg product applications (FLEX-1355) (#1059)
  frontend/package-lock.json
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): make comments public by default (FLEX-1354) (#1056)
  frontend/src/components/comments/CommentFeed.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check
