Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

chore(deps): update minor updates to v8.47.0 [patch]
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: extracted permission query out of JSX in EntityClient (FLEX-803)
  frontend/src/entity/client/EntityClientList.tsx
  frontend/src/entity/client/EntityClientShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

refactor: reorganize app resources and improve initial load time (FLEX-778) (#435)
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/auth/authProvider.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/index.tsx
  frontend/src/party/membership/PartyMembershipShow.tsx
  frontend/src/resources/controllableUnitResources.tsx
  frontend/src/resources/entityResources.tsx
  frontend/src/resources/index.tsx
  frontend/src/resources/partyResources.tsx
  frontend/src/resources/productResources.tsx
  frontend/src/resources/serviceProviderResources.tsx
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/resources/shared.tsx
  frontend/src/resources/systemResources.tsx
  frontend/vite.config.mts
Due: prettier, frontend-type-check, frontend-dependency-check

fix: extracted permissions query string out of JSX (FLEX-803)
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/balance_responsible_party/ControllableUnitBalanceResponsiblePartyList.tsx
  frontend/src/controllable_unit/energy_supplier/ControllableUnitEnergySupplierList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderShow.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceShow.tsx
  frontend/src/event/EventButton.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
  frontend/src/party/membership/PartyMembershipShow.tsx
  frontend/src/resources/controllableUnitResources.tsx
  frontend/src/resources/entityResources.tsx
  frontend/src/resources/partyResources.tsx
  frontend/src/resources/productResources.tsx
  frontend/src/resources/serviceProviderResources.tsx
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/resources/systemResources.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipShow.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: add script and implementation of ts permissions (FLEX-803)
  frontend/src/auth/permissions.ts
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/energy_supplier/ControllableUnitEnergySupplierList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceShow.tsx
  frontend/src/entity/client/EntityClientList.tsx
  frontend/src/entity/client/EntityClientShow.tsx
  frontend/src/event/EventButton.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
  frontend/src/party/membership/PartyMembershipShow.tsx
  frontend/src/resources/controllableUnitResources.tsx
  frontend/src/resources/entityResources.tsx
  frontend/src/resources/partyResources.tsx
  frontend/src/resources/productResources.tsx
  frontend/src/resources/serviceProviderResources.tsx
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/resources/systemResources.tsx
  local/scripts/permissions_to_ts.py
Due: prettier, frontend-type-check, frontend-dependency-check

fix: qa update (FLEX-803)
  frontend/src/controllable_unit/balance_responsible_party/ControllableUnitBalanceResponsiblePartyList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: qa fix (FLEX-803)
  docs-dev/editing-resources.md
  frontend/src/auth/authProvider.tsx
  frontend/src/auth/permissions.json
  justfile
Due: prettier, frontend-type-check, frontend-dependency-check

docs: why we choose bidding zone (FLEX-850)
  docs/concepts/conceptual-model.md
Due: none

fix(test): make party membership tests stateless (FLEX-893)
  test/api_client_tests/test_entity_client.py
  test/api_client_tests/test_party_membership.py
Due: none

fix(test): make party membership tests stateless (FLEX-893) (#442)
  test/api_client_tests/test_entity_client.py
  test/api_client_tests/test_party_membership.py
Due: none

fix: qa missing string replacements (FLEX-803)
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipShow.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: fixed error (FLEX-803)
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

chore(deps): update minor updates to v8.47.0 [patch] (#440)
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update patch updates [patch] (#439)
  frontend/package-lock.json
  frontend/package.json
  requirements-dev.txt
Due: none

feat: add backend-implementation of service providing group grid prequalification comment (FLEX-883)
  backend/api.sql
  backend/data/data.go
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  backend/pgpool/userdetails.go
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_grid_prequalification_comment.sql
  db/flex/changelog.yml
  db/flex/grants/field_level_authorization.sql
  db/flex/service_providing_group_grid_prequalification_comment.sql
  db/flex/service_providing_group_grid_prequalification_comment_history_audit.sql
  db/flex/service_providing_group_grid_prequalification_comment_rls.sql
  db/flex/service_providing_group_grid_prequalification_involved_parties.sql
  docs/diagrams/resources.plantuml
  frontend/src/auth/permissions.json
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  local/scripts/permissions_to_grant.py
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_spggp_comment.py
  test/flex/api/service_providing_group_grid_prequalification_comment/__init__.py
  test/flex/api/service_providing_group_grid_prequalification_comment/create_service_providing_group_grid_prequalification_comment.py
  test/flex/api/service_providing_group_grid_prequalification_comment/list_service_providing_group_grid_prequalification_comment.py
  test/flex/api/service_providing_group_grid_prequalification_comment/list_service_providing_group_grid_prequalification_comment_history.py
  test/flex/api/service_providing_group_grid_prequalification_comment/read_service_providing_group_grid_prequalification_comment.py
  test/flex/api/service_providing_group_grid_prequalification_comment/read_service_providing_group_grid_prequalification_comment_history.py
  test/flex/api/service_providing_group_grid_prequalification_comment/update_service_providing_group_grid_prequalification_comment.py
  test/flex/models/__init__.py
  test/flex/models/list_service_providing_group_grid_prequalification_comment_history_prefer.py
  test/flex/models/list_service_providing_group_grid_prequalification_comment_prefer.py
  test/flex/models/service_providing_group_grid_prequalification_comment.py
  test/flex/models/service_providing_group_grid_prequalification_comment_create_data.py
  test/flex/models/service_providing_group_grid_prequalification_comment_create_request.py
  test/flex/models/service_providing_group_grid_prequalification_comment_history_response.py
  test/flex/models/service_providing_group_grid_prequalification_comment_response.py
  test/flex/models/service_providing_group_grid_prequalification_comment_update_request.py
  test/flex/models/service_providing_group_grid_prequalification_comment_visibility.py
Due: check-plantuml, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: update naming in test (FLEX-883)
  test/api_client_tests/test_spggp_comment.py
Due: none

feat(ui): add comments to grid prequalification show page (FLEX-883)
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix(deps): update patch updates [patch]
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.51.2
  .teamcity/pom.xml
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.51.2 (#445)
  .teamcity/pom.xml
Due: none

fix(deps): update patch updates [patch] (#444)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(test): filter SPGGP by ISO so that SO tests their own resource (FLEX-893)
  test/api_client_tests/test_spg_grid_prequalification.py
Due: none

fix: cleaner permission queries (FLEX-803) (#441)
  docs-dev/editing-resources.md
  frontend/src/auth/authProvider.tsx
  frontend/src/auth/permissions.json
  frontend/src/auth/permissions.ts
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/balance_responsible_party/ControllableUnitBalanceResponsiblePartyList.tsx
  frontend/src/controllable_unit/energy_supplier/ControllableUnitEnergySupplierList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderShow.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceShow.tsx
  frontend/src/entity/client/EntityClientList.tsx
  frontend/src/entity/client/EntityClientShow.tsx
  frontend/src/event/EventButton.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
  frontend/src/party/membership/PartyMembershipShow.tsx
  frontend/src/resources/controllableUnitResources.tsx
  frontend/src/resources/entityResources.tsx
  frontend/src/resources/partyResources.tsx
  frontend/src/resources/productResources.tsx
  frontend/src/resources/serviceProviderResources.tsx
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/resources/systemResources.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipShow.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
  justfile
  local/scripts/permissions_to_ts.py
Due: prettier, frontend-type-check, frontend-dependency-check

feat: add backend-implementation of service providing group grid prequalification comment (FLEX-883)
  backend/api.sql
  backend/data/data.go
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  backend/pgpool/userdetails.go
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_grid_prequalification_comment.sql
  db/flex/changelog.yml
  db/flex/grants/field_level_authorization.sql
  db/flex/service_providing_group_grid_prequalification_comment.sql
  db/flex/service_providing_group_grid_prequalification_comment_history_audit.sql
  db/flex/service_providing_group_grid_prequalification_comment_rls.sql
  db/flex/service_providing_group_grid_prequalification_involved_parties.sql
  docs/diagrams/resources.plantuml
  frontend/src/auth/permissions.ts
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  local/scripts/permissions_to_grant.py
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_spggp_comment.py
  test/flex/api/service_providing_group_grid_prequalification_comment/__init__.py
  test/flex/api/service_providing_group_grid_prequalification_comment/create_service_providing_group_grid_prequalification_comment.py
  test/flex/api/service_providing_group_grid_prequalification_comment/list_service_providing_group_grid_prequalification_comment.py
  test/flex/api/service_providing_group_grid_prequalification_comment/list_service_providing_group_grid_prequalification_comment_history.py
  test/flex/api/service_providing_group_grid_prequalification_comment/read_service_providing_group_grid_prequalification_comment.py
  test/flex/api/service_providing_group_grid_prequalification_comment/read_service_providing_group_grid_prequalification_comment_history.py
  test/flex/api/service_providing_group_grid_prequalification_comment/update_service_providing_group_grid_prequalification_comment.py
  test/flex/models/__init__.py
  test/flex/models/list_service_providing_group_grid_prequalification_comment_history_prefer.py
  test/flex/models/list_service_providing_group_grid_prequalification_comment_prefer.py
  test/flex/models/service_providing_group_grid_prequalification_comment.py
  test/flex/models/service_providing_group_grid_prequalification_comment_create_data.py
  test/flex/models/service_providing_group_grid_prequalification_comment_create_request.py
  test/flex/models/service_providing_group_grid_prequalification_comment_history_response.py
  test/flex/models/service_providing_group_grid_prequalification_comment_response.py
  test/flex/models/service_providing_group_grid_prequalification_comment_update_request.py
  test/flex/models/service_providing_group_grid_prequalification_comment_visibility.py
Due: check-plantuml, prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

docs: add docs for prequalification comment (FLEX-883)
  docs/resources/service_providing_group_grid_prequalification_comment.md
Due: none

fix: prettier for permissions ts (FLEX-883)
  frontend/src/auth/permissions.ts
Due: prettier, frontend-type-check, frontend-dependency-check

fix: run prettier after generation of permission file (FLEX-803)
  justfile
Due: none

fix: run prettier after generate frontend permissions (FLEX-803)
  justfile
Due: none

fix: run prettier after generating permissions.ts (FLEX-803) (#447)
  justfile
Due: none

Apply suggestion from @Copilot
  test/api_client_tests/test_spg_grid_prequalification.py
Due: none

docs: tiny bit better text on bidding zone (FLEX-850)
  docs/concepts/conceptual-model.md
Due: none

docs: fix copy pasta error (FLEX-883)
  docs/resources/service_providing_group_grid_prequalification_comment.md
Due: none

fix: remove saveAlwaysEnabled workaround (FLEX-432)
  frontend/src/components/Toolbar.tsx
  frontend/src/components/comments.tsx
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionInput.tsx
  frontend/src/entity/EntityInput.tsx
  frontend/src/entity/client/EntityClientInput.tsx
  frontend/src/party/PartyInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionInput.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupInput.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationInput.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionInput.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: remove preload link to remove warning
  frontend/index.html
Due: prettier

fix(test): filter SPGGP by ISO so that SO tests their own resource (FLEX-893) (#446)
  test/api_client_tests/test_spg_grid_prequalification.py
Due: none

chore: remove notes from grid prequalification (FLEX-883)
  .sqlfluff
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_grid_prequalification.sql
  db/flex/service_providing_group_grid_prequalification_comment.sql
  db/flex/service_providing_group_grid_prequalification_migrations.sql
  docs/resources/service_providing_group_grid_prequalification.md
  docs/resources/service_providing_group_grid_prequalification_comment.md
  frontend/src/auth/permissions.ts
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationInput.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_spg_grid_prequalification.py
  test/flex/models/service_providing_group_grid_prequalification.py
  test/flex/models/service_providing_group_grid_prequalification_create_data.py
  test/flex/models/service_providing_group_grid_prequalification_create_request.py
  test/flex/models/service_providing_group_grid_prequalification_history_response.py
  test/flex/models/service_providing_group_grid_prequalification_response.py
  test/flex/models/service_providing_group_grid_prequalification_update_request.py
Due: prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: remove preload link to remove warning (#449)
  frontend/index.html
Due: prettier
