Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

feat: add timestamp checks (FLEX-761)
  backend/event/models.sql
  backend/event/models/models.sql.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: notifications for SPG grid suspension (FLEX-761) (#333)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  db/flex/event_rls.sql
  docs/resources/event.md
  test/api_client_tests/test_event.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

refactor: rename notice and update description (FLEX-776)
  db/flex/notice.sql
  docs/resources/notice.md
Due: none

feat: notices for SPG grid suspension (FLEX-776) (#334)
  db/flex/notice.sql
  docs/resources/notice.md
Due: none

fix: removed unused import (FLEX-788)
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: removed unused import (FLEX-788) (#336)
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: correct EXISTS check in SP product suspension RLS (FLEX-766)
  db/flex/service_provider_product_suspension_rls.sql
  test/api_client_tests/test_service_provider_product_suspension.py
Due: none

fix: custom colors added to theme (FLEX-779)
  frontend/src/AssumePartyPage.tsx
  frontend/src/theme.tsx
  frontend/theme.d.ts
  frontend/tsconfig.json
Due: prettier, frontend-type-check, frontend-dependency-check

fix: update patch versions (FLEX-780)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: upgraded minor versions (FLEX-780)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: major upgrade @vitejs/plugin-react (FLEX-780)
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: just openapi-postgrest (FLEX-784)
  openapi/postgrest-openapi-3.0.json
  openapi/postgrest-swagger-2.0.json
Due: none

fix: remove similar EXISTS pattern in SPGM create RLS policy for SP (FLEX-766)
  db/flex/service_providing_group_membership_rls.sql
  test/api_client_tests/test_spg_membership.py
Due: none

fix: major upgrade owasp-dependency-check to version 1.0.0 (FLEX-780)
  frontend/package-lock.json
  frontend/package.json
Due: none

docs: first draft of SPG P suspension and update of related docs
  docs/diagrams/service_providing_group_product_suspension.plantuml
  docs/processes/index.md
  docs/processes/service-provider-product-suspension.md
  docs/processes/service-providing-group-product-suspension.md
Due: check-plantuml

docs: diagram
  docs/diagrams/service_providing_group_product_suspension.png
Due: none

fix: upgrade eslint-plugin-react-hooks to version 7.0.0 (FLEX-780)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: added `breach_of_conditions`
  docs/processes/service-providing-group-product-suspension.md
Due: none

feat: automate comment table/history/view generation in openapi-to-db (FLEX-792)
  local/scripts/openapi_to_db.py
  local/scripts/templates/comment_resource.j2.sql
  openapi/resources.yml
Due: none

chore: just openapi-postgrest (FLEX-784) (#338)
  openapi/postgrest-openapi-3.0.json
  openapi/postgrest-swagger-2.0.json
Due: none

fix: correct EXISTS checks in RLS for SPPS and SPGM (FLEX-766) (#337)
  db/flex/service_provider_product_suspension_rls.sql
  db/flex/service_providing_group_membership_rls.sql
  test/api_client_tests/test_service_provider_product_suspension.py
  test/api_client_tests/test_spg_membership.py
Due: none

refactor: template YAML + do not generate comment tables (FLEX-792)
  .pre-commit-config.yaml
  local/scripts/j2.py
  local/scripts/openapi_to_db.py
  local/scripts/templates/comment_resource.j2.sql
  local/scripts/templates/comment_resource.j2.yml
  openapi/resources.yml
Due: none

fix: suspension combination, diagram not finished
  docs/diagrams/service_providing_group_product_suspension.plantuml
Due: check-plantuml

fix: name in index, SP P suspension png, SPG P suspension png not finished
  docs/diagrams/service_provider_product_suspension.png
  docs/diagrams/service_providing_group_product_suspension.plantuml
  docs/processes/index.md
  docs/processes/service-providing-group-product-suspension.md
Due: check-plantuml

finished diagram
  docs/diagrams/service_providing_group_product_suspension.plantuml
  docs/diagrams/service_providing_group_product_suspension.png
Due: check-plantuml

fix: added sequence
  docs/processes/service-providing-group-product-suspension.md
Due: none

feat: adapt template to OpenAPI script (FLEX-792)
  backend/data/static/openapi.json
  docs/diagrams/resources.plantuml
  local/scripts/template_to_openapi.py
  local/scripts/templates/comment_resource.j2.yml
Due: check-plantuml, check-openapi

feat: adapt openapi to markdown script (FLEX-792)
  docs/resources/service_provider_product_application_comment.md
  docs/resources/service_provider_product_suspension_comment.md
  local/scripts/openapi_to_markdown.py
  local/scripts/templates/comment_resource.j2.yml
Due: none

fix: test solution for rendering issue (FLEX-780)
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: adapt resources to diagram (FLEX-792)
  docs/diagrams/resources.plantuml
  justfile
  local/scripts/resources_to_diagram.py
  openapi/resources-future.yml
Due: check-plantuml

fix(test): adapt tests to new generated client
  test/api_client_tests/test_cu_lookup.py
  test/api_client_tests/test_entity.py
  test/api_client_tests/test_entity_client.py
  test/api_client_tests/test_entity_lookup.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_party.py
  test/api_client_tests/test_party_membership.py
  test/security_token_service.py
Due: none

fix: solved render errors in multipe list components (FLEX-780)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/entity/client/EntityClientList.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
  frontend/src/service_provider_product_application/comment/ServiceProviderProductApplicationCommentList.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

chore: new descriptions in OpenAPI client (FLEX-792)
  openapi/openapi-api-no-default.json
  test/flex/models/service_provider_product_application_comment.py
  test/flex/models/service_provider_product_application_comment_history_response.py
  test/flex/models/service_provider_product_application_comment_response.py
  test/flex/models/service_provider_product_suspension_comment.py
  test/flex/models/service_provider_product_suspension_comment_history_response.py
  test/flex/models/service_provider_product_suspension_comment_response.py
Due: none

fix: small rendering bug fix (FLEX-780)
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: include comments in tooltips (FLEX-792)
  frontend/src/tooltip/tooltips.json
  justfile
  local/scripts/openapi_to_tooltips.py
Due: none

fix: optimize record handling with useMemo to prevent re-renders (FLEX-780)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/party/PartyInput.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
  frontend/src/service_provider_product_application/comment/ServiceProviderProductApplicationCommentInput.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentInput.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationInput.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

docs: add note about comments to editing resource doc (FLEX-792)
  docs-dev/editing-resources.md
Due: none

chore: update package version in requirements.txt
  requirements-dev.txt
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
