Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

refactor: cleaner flow in assume auth function (FLEX-692)
  db/auth/functions.sql
Due: none

feat: set default scopes when doing login through party ownership (FLEX-692) (#270)
  db/auth/functions.sql
Due: none

fix(ui): add organisation to party type filter in party list
  frontend/src/party/PartyList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: add party_id and scopes fields to entity client (FLEX-694)
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  backend/schema.sql
  db/api/entity_client.sql
  db/api/grants/field_level_authorization.sql
  db/flex/changelog.yml
  db/flex/entity_client.sql
  db/flex/entity_client_migrations.sql
  db/test_data/test_data.sql
  docs/diagrams/resources.plantuml
  docs/resources/entity_client.md
  frontend/src/AssumePartyPage.tsx
  frontend/src/auth/permissions.json
  frontend/src/components/scopes.tsx
  frontend/src/entity/client/EntityClientInput.tsx
  frontend/src/entity/client/EntityClientList.tsx
  frontend/src/entity/client/EntityClientShow.tsx
  frontend/src/party/membership/PartyMembershipHistoryList.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
  frontend/src/party/membership/PartyMembershipShow.tsx
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_entity_client.py
  test/flex/api/entity_client/list_entity_client.py
  test/flex/models/entity_client.py
  test/flex/models/entity_client_create_data.py
  test/flex/models/entity_client_create_request.py
  test/flex/models/entity_client_response.py
  test/flex/models/entity_client_update_request.py
Due: check-plantuml, prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: restructure ready-for-market docs (FLEX-670)
  docs/concepts/ready-for-market.md
  docs/diagrams/ready_for_market.drawio.png
Due: none

docs: link suspension from ready-for-market (FLEX-670)
  docs/concepts/ready-for-market.md
Due: none

Small details
  docs/concepts/ready-for-market.md
Due: none

feat: restrict party field to assumable parties (FLEX-694)
  db/flex/entity_client.sql
  test/api_client_tests/test_entity_client.py
Due: none

chore: fix liquibase checksum (FLEX-694)
  db/flex/entity_client.sql
Due: none

docs: ready-for-market (#254)
  docs/concepts/ready-for-market.md
Due: none

refactor: move trigger to migrations file so party_id field exists (FLEX-694)
  db/flex/entity_client.sql
  db/flex/entity_client_migrations.sql
Due: none

fix(ui): add organisation to party type filter in party list (#271)
  frontend/src/party/PartyList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: add party_id and scopes fields to entity client (FLEX-694) (#272)
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  backend/schema.sql
  db/api/entity_client.sql
  db/api/grants/field_level_authorization.sql
  db/flex/changelog.yml
  db/flex/entity_client.sql
  db/flex/entity_client_migrations.sql
  db/test_data/test_data.sql
  docs/diagrams/resources.plantuml
  docs/resources/entity_client.md
  frontend/src/AssumePartyPage.tsx
  frontend/src/auth/permissions.json
  frontend/src/components/scopes.tsx
  frontend/src/entity/client/EntityClientInput.tsx
  frontend/src/entity/client/EntityClientList.tsx
  frontend/src/entity/client/EntityClientShow.tsx
  frontend/src/party/membership/PartyMembershipHistoryList.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
  frontend/src/party/membership/PartyMembershipShow.tsx
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_entity_client.py
  test/flex/api/entity_client/list_entity_client.py
  test/flex/models/entity_client.py
  test/flex/models/entity_client_create_data.py
  test/flex/models/entity_client_create_request.py
  test/flex/models/entity_client_response.py
  test/flex/models/entity_client_update_request.py
Due: check-plantuml, prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Update service_provider_product_suspension.plantuml
  docs/diagrams/service_provider_product_suspension.plantuml
Due: check-plantuml

Small changes, first draft for work group
  docs/diagrams/service_provider_product_suspension.plantuml
Due: check-plantuml

docs: scopes taken from entity client and party memberships (FLEX-695)
  docs/technical/auth.md
Due: none

feat: get scopes from entity client in client credentials and JWT bearer login (FLEX-695)
  backend/auth/auth.go
  backend/auth/models/models.go
  db/auth/functions.sql
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: user logging in through JWT bearer can assume owned party (FLEX-695)
  backend/auth/auth.go
  backend/auth/models/models.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: add TODO for change to identity (FLEX-695)
  backend/auth/auth.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: add entity client ID to identity (FLEX-671)
  db/auth/functions.sql
  db/flex/changelog.yml
  db/flex/identity.sql
  db/flex/identity_migrations.sql
  docs/technical/auth.md
Due: none

Updated diagram
  docs/diagrams/service_provider_product_suspension.plantuml
  docs/diagrams/service_provider_product_suspension.png
Due: check-plantuml

feat: backend scope intersection functionality (FLEX-696)
  backend/auth/scope/list.go
  backend/auth/scope/list_test.go
  backend/auth/scope/scope.go
  backend/auth/scope/scope_test.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: don't use code under test for assertions (FLEX-696)
  backend/auth/scope/list_test.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: FIS overview (FLEX-643)
  docs-dev/architecture.md
  docs/diagrams/fis-overview.drawio.png
  docs/index.md
Due: none

feat: backend scope intersection functionality (FLEX-696) (#275)
  backend/auth/scope/list.go
  backend/auth/scope/list_test.go
  backend/auth/scope/scope.go
  backend/auth/scope/scope_test.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

Small changes after feedback
  docs/diagrams/service_provider_product_suspension.plantuml
  docs/diagrams/service_provider_product_suspension.png
  docs/processes/service-provider-product-suspension.md
Due: check-plantuml

docs: FIS overview (FLEX-643) (#276)
  docs-dev/architecture.md
  docs/diagrams/fis-overview.drawio.png
  docs/index.md
Due: none

fix: reflow md and add missing links (FLEX-661)
  docs/processes/index.md
  docs/processes/service-provider-product-suspension.md
Due: none

fix: broken links on docs-dev
  docs-dev/architecture.md
  docs-dev/db-design.md
  docs-dev/diagrams/api-surface.drawio.png
  docs-dev/editing-resources.md
  docs-dev/sessions.md
Due: none

feat: assign entity scopes from entity client (FLEX-695) (#273)
  backend/auth/auth.go
  backend/auth/models/models.go
  db/auth/functions.sql
  docs/technical/auth.md
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

Changes based on comments
  docs/diagrams/service_provider_product_suspension.plantuml
  docs/diagrams/service_provider_product_suspension.png
  docs/processes/service-provider-product-suspension.md
Due: check-plantuml

refactor(db): soften foreign key constraint to a check on insert (FLEX-671)
  db/flex/identity.sql
  db/flex/identity_migrations.sql
Due: none

feat: take back scopes from identity's entity client when unassuming party (FLEX-671)
  backend/auth/auth.go
  backend/auth/models/models.go
  db/auth/functions.sql
  docs/technical/auth.md
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: broken links on docs-dev (#277)
  docs-dev/architecture.md
  docs-dev/db-design.md
  docs-dev/diagrams/api-surface.drawio.png
  docs-dev/editing-resources.md
  docs-dev/sessions.md
Due: none

refactor(backend): rename function + decode scopes in it (FLEX-671)
  backend/auth/auth.go
  backend/auth/models/models.go
  db/auth/functions.sql
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: reflow, restructure, tighten language and add whys (FLEX-661)
  docs/diagrams/service_provider_product_suspension.plantuml
  docs/diagrams/service_provider_product_suspension.png
  docs/processes/service-provider-product-suspension.md
Due: check-plantuml

fix: typos (FLEX-661)
  docs/processes/service-provider-product-suspension.md
Due: none

test: draft of auth test for scopes (FLEX-671)
  test/auth_tests/test_scopes.py
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
