Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix: PR comments (FLEX-875)
  frontend/src/controllable_unit/ControllableUnitShow.tsx
  frontend/src/controllable_unit/balance_responsible_party/ControllableUnitBalanceResponsiblePartyList.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/controllable_unit/show/components/Header.tsx
  frontend/src/controllable_unit/show/components/LabelValue.tsx
  frontend/src/controllable_unit/show/components/MetaInfo.tsx
  frontend/src/controllable_unit/show/components/TechnicalResources.tsx
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: labels on list page filters (FLEX-913)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderHistoryList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionHistoryList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceHistoryList.tsx
  frontend/src/notice/NoticeList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: field labels on lookup pages (FLEX-913)
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: force english as app language (FLEX-913)
  frontend/src/intl/intl.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): force english as app language (FLEX-913) (#502)
  frontend/src/intl/intl.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): field labels on lookup pages (FLEX-913) (#501)
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): labels on list page filters (FLEX-913) (#500)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderHistoryList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionHistoryList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceHistoryList.tsx
  frontend/src/notice/NoticeList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: PR comments (FLEX-875)
  frontend/src/components/LabelValue.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/controllable_unit/show/components/GridValidation.tsx
  frontend/src/controllable_unit/show/components/LabelValue.tsx
  frontend/src/controllable_unit/show/components/MetaInfo.tsx
  frontend/src/controllable_unit/show/components/TechnicalInformation.tsx
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: use list instead of cards for technical resources (FLEX-875)
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/components/TechnicalResources.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: file-based env.js (FLEX-928)
  docker-compose.yml
  frontend/Dockerfile
  frontend/docker-entrypoint.d/50-window-env.sh
  frontend/nginx.conf.d/05-gzip.conf
  local/frontend/env.test.js
Due: dockerfilelint, prettier, eslint

feat: restructure cu show page (FLEX-875) (#495)
  frontend/src/auth/FieldStack.tsx
  frontend/src/auth/ViewPermissionGuard.tsx
  frontend/src/auth/index.tsx
  frontend/src/components/LabelValue.tsx
  frontend/src/components/history.tsx
  frontend/src/controllable_unit/ControllableUnitShow.tsx
  frontend/src/controllable_unit/balance_responsible_party/ControllableUnitBalanceResponsiblePartyList.tsx
  frontend/src/controllable_unit/index.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowActions.tsx
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/show/components/GridValidation.tsx
  frontend/src/controllable_unit/show/components/Header.tsx
  frontend/src/controllable_unit/show/components/TechnicalInformation.tsx
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceShow.tsx
  frontend/src/event/EventButton.tsx
  frontend/src/intl/field-labels.ts
  frontend/src/intl/intl.tsx
  frontend/src/resources/controllableUnitResources.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: fix edit cusp bug (FLEX-922)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update postgres docker tag to v18 [patch]
  local/postgres/Dockerfile
Due: dockerfilelint

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.57.2
  .teamcity/pom.xml
Due: none

fix(deps): update minor updates [patch]
  backend/go.mod
  backend/go.sum
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.57.2 (#507)
  .teamcity/pom.xml
Due: none

fix: fix edit cusp bug (FLEX-922) (#504)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update minor updates [patch] (#508)
  backend/go.mod
  backend/go.sum
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update patch updates [patch]
  backend/go.mod
  backend/go.sum
  frontend/package-lock.json
  frontend/package.json
  requirements-dev.txt
Due: none

fix: don't mess with requirements-dev
  requirements-dev.txt
Due: none

chore: audit fix
  frontend/package-lock.json
Due: none

feat: allow SP to create/update grid node on CU (FLEX-896)
  db/api/grants/field_level_authorization.sql
  docs/resources/controllable_unit.md
  frontend/src/auth/permissions.ts
  local/input/permissions.csv
  test/api_client_tests/test_cu.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: npm audit fix (FLEX-896)
  frontend/package-lock.json
Due: none

fix: api tests by using new enums (FLEX-930)
  test/api_client_tests/test_cu_lookup.py
  test/api_client_tests/test_entity.py
  test/api_client_tests/test_entity_client.py
  test/api_client_tests/test_party.py
  test/api_client_tests/test_party_membership.py
  test/security_token_service.py
Due: none

fix: auth tests using new enums (FLEX-930)
  test/auth_tests/test_scopes.py
  test/auth_tests/test_token_exchange.py
Due: none

fix: tests by using new enums (FLEX-930) (#512)
  test/api_client_tests/test_cu_lookup.py
  test/api_client_tests/test_entity.py
  test/api_client_tests/test_entity_client.py
  test/api_client_tests/test_party.py
  test/api_client_tests/test_party_membership.py
  test/auth_tests/test_scopes.py
  test/auth_tests/test_token_exchange.py
  test/security_token_service.py
Due: none

chore(deps): update dependency pytest to v9 [patch]
  requirements-dev.txt
Due: none

chore(deps): update schemathesis (PYTEST-9)
  requirements-dev.txt
Due: none

feat: just recipie for fresh py venv (PYTEST-9)
  justfile
Due: none

refactor: remove update (FLEX-896)
  db/api/grants/field_level_authorization.sql
  docs/resources/controllable_unit.md
  frontend/src/auth/permissions.ts
  frontend/src/intl/field-labels.ts
  local/input/permissions.csv
  local/scripts/permissions_to_ts.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: revert package lock (FLEX-896)
  frontend/package-lock.json
Due: none

fix: do not update grid node in CU test for SP (FLEX-896)
  test/api_client_tests/test_cu.py
Due: none

chore(deps): update dependency pytest to v9 [patch] (#509)
  justfile
  requirements-dev.txt
Due: none

docs: mention this authorisation for SP in process and resource docs (FLEX-896)
  docs/processes/controllable-unit-registration.md
  docs/resources/controllable_unit.md
  openapi/resources.yml
Due: none

feat: allow SP to create/update grid node on CU (FLEX-896) (#511)
  db/api/grants/field_level_authorization.sql
  docs/processes/controllable-unit-registration.md
  docs/resources/controllable_unit.md
  frontend/src/auth/permissions.ts
  frontend/src/intl/field-labels.ts
  local/input/permissions.csv
  local/scripts/permissions_to_ts.py
  openapi/resources.yml
  test/api_client_tests/test_cu.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update patch updates [patch] (#506)
  backend/go.mod
  backend/go.sum
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update github.com/jackc/pglogrepl digest to 2e8d0df
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update github.com/jackc/pglogrepl digest to 2e8d0df (#505)
  backend/go.mod
  backend/go.sum
Due: none

refactor(deploy): remove users and structure data from Liquibase changelogs (FLEX-925)
  db/changelog.yml
  db/flex/changelog.yml
Due: none
