Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

fix: redesign cu lookup
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/components/EDS-ra/inputs/FormToolbar.tsx
  frontend/src/components/EDS-ra/inputs/TextInput.tsx
  frontend/src/components/LabelValue.tsx
  frontend/src/components/ui/formContainer/formContainer.module.css
  frontend/src/components/ui/formContainer/index.tsx
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

test: failing negative test (FLEX-1015)
  test/api_client_tests/test_cusp.py
Due: none

feat(db): set Norwegian timezone on the whole database (FLEX-1015)
  docker-compose.yml
Due: none

feat: notify all recipients in one database call (FLEX-1043)
  .golangci.yml
  backend/event/models.sql
  backend/event/models/models.sql.go
  backend/event/worker.go
Due: golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat(db): ESBR sync in staging schema (FLEX-1025) (#598)
  db/changelog.yml
  db/staging/changelog.yml
  db/staging/energy_supplier_balance_responsibility_staging.sql
  db/staging/test/README.md
  esbr_staging_test_data.csv
Due: none

feat(db): party_staging view in staging schema (FLEX-1043)
  db/staging/party_staging.sql
Due: none

chore: update changelog (FLEX-1043)
  db/staging/changelog.yml
Due: none

docs: technologies of controllable units (FLEX-1038)
  docs/concepts/technologies.md
Due: none

fix: allways Commit (FLEX-1043)
  backend/event/worker.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: notify all recipients in one database call (FLEX-1043) (#609)
  .golangci.yml
  backend/event/models.sql
  backend/event/models/models.sql.go
  backend/event/worker.go
Due: golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: lsn + 1 in position for statusupdate (FLEX-1043)
  backend/pgrepl/connection.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: timezone documentation (FLEX-1015)
  docker-compose.yml
  docs/technical/time.md
  test/api_client_tests/test_cusp.py
Due: none

feat: lsn + 1 in position for statusupdate (FLEX-1043) (#611)
  backend/pgrepl/connection.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: add sql queue semantics to flex.events table (FLEX-1043)
  db/flex/changelog.yml
  db/flex/event.sql
  db/flex/event_migrations.sql
  db/flex/event_rls.sql
  db/flex/notification_migrations.sql
  db/notification/event.sql
Due: none

feat: replace pg replication connection and pgoutput with a sql queue (FLEX-1043)
  backend/event/event.go
  backend/event/models.sql
  backend/event/models/models.go
  backend/event/models/models.sql.go
  backend/event/schemas/notification.sql
  backend/event/worker.go
  backend/flex.go
  backend/go.mod
  backend/go.sum
  backend/pgrepl/connection.go
  backend/pgrepl/message.go
  backend/pgrepl/pgoutput/doc.go
  backend/pgrepl/pgoutput/message.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: poll based event processing (FLEX-1043)
  docs-dev/diagrams/notification.drawio.png
  docs-dev/notification.md
Due: none

fix: avoid use of int64 (FLEX-1043)
  backend/event/models/models.go
  backend/event/schemas/notification.sql
  backend/event/worker.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore(deps): update dependency schemathesis to v4.10.0
  requirements-dev.txt
Due: none

chore(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update frontend (#615)
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: add sql queue semantics to flex.events table (FLEX-1043) (#612)
  db/flex/changelog.yml
  db/flex/event.sql
  db/flex/event_migrations.sql
  db/flex/event_rls.sql
  db/flex/notification_migrations.sql
  db/notification/event.sql
Due: none

feat: replace pg log repl and pgoutput with a sql queue (FLEX-1043) (#613)
  backend/event/event.go
  backend/event/models.sql
  backend/event/models/models.go
  backend/event/models/models.sql.go
  backend/event/schemas/notification.sql
  backend/event/worker.go
  backend/flex.go
  backend/go.mod
  backend/go.sum
  backend/pgrepl/connection.go
  backend/pgrepl/message.go
  backend/pgrepl/pgoutput/doc.go
  backend/pgrepl/pgoutput/message.go
  docs-dev/diagrams/notification.drawio.png
  docs-dev/notification.md
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: update (FLEX-1015)
  docs/technical/time.md
Due: none

Update db/staging/party_staging.sql
  db/staging/party_staging.sql
Due: none

docs: explain view purpose (FLEX-1043)
  db/staging/party_staging.sql
Due: none

docs: update CU and SPG reg
  docs/diagrams/sp-spg-registration.drawio.png
  docs/diagrams/sp_cu_registration.drawio.png
  docs/guides/get-ready-for-market/index.md
  docs/guides/get-ready-for-market/sp-cu-registration.md
  docs/guides/get-ready-for-market/sp-spg-registration.md
  docs/processes/controllable-unit-lookup.md
Due: none

fix: move test file
  db/staging/test/esbr_staging_test_data.csv
Due: none

chore(deps): update dependency schemathesis to v4.10.0 (#614)
  db/staging/test/esbr_staging_test_data.csv
  requirements-dev.txt
Due: none

fix: redesign cu-lookup
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: move api time stuff to api design -> datetime (FLEX-1015)
  docs/technical/api-design.md
  docs/technical/time.md
Due: none

fix: allow space (FLEX-1015)
  docs/technical/api-design.md
Due: none

docs: fixed comments
  docs/diagrams/sp-spg-registration.drawio.png
  docs/guides/get-ready-for-market/sp-spg-registration.md
  docs/processes/controllable-unit-lookup.md
Due: none

feat: refactor culookup to use path for state
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/resources/controllableUnitResources.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: small changes from copilot comments
  docs/guides/get-ready-for-market/sp-cu-registration.md
  docs/guides/get-ready-for-market/sp-spg-registration.md
Due: none

docs: overlap CU reg and grouping CUs (#603)
  docs/diagrams/sp-spg-registration.drawio.png
  docs/diagrams/sp_cu_registration.drawio.png
  docs/guides/get-ready-for-market/index.md
  docs/guides/get-ready-for-market/sp-cu-registration.md
  docs/guides/get-ready-for-market/sp-spg-registration.md
  docs/guides/index.md
  docs/processes/controllable-unit-lookup.md
  docs/resources/technical_resource.md
Due: none

docs: a bit more detail about tech and levels (FLEX-1038)
  docs/concepts/technologies.md
Due: none

feat: hide fields in create, since they are autofilled
  frontend/src/controllable_unit/ControllableUnitCreate.tsx
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: npm audit fix (FLEX-1015)
  frontend/package-lock.json
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
