Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix: liquibase + history updates (FLEX-728)
  db/flex/service_provider_product_application_comment.sql
  db/flex/service_provider_product_application_comment_migrations.sql
  db/flex/service_provider_product_suspension_comment_migrations.sql
Due: none

feat: liquibase entity and party data (FLEX-686)
  db/flex/changelog.yml
  db/flex/structure_data/entity.csv
  db/flex/structure_data/party.csv
Due: none

docs: update changelog (FLEX-728)
  docs/changelog.md
Due: none

feat: update SPPA and SPPS comment visibility and fix history policies (FLEX-728 / FLEX-743) (#305)
  backend/data/static/openapi.json
  db/flex/changelog.yml
  db/flex/service_provider_product_application_comment.sql
  db/flex/service_provider_product_application_comment_migrations.sql
  db/flex/service_provider_product_application_comment_rls.sql
  db/flex/service_provider_product_suspension_comment.sql
  db/flex/service_provider_product_suspension_comment_history_audit.sql
  db/flex/service_provider_product_suspension_comment_migrations.sql
  db/flex/service_provider_product_suspension_comment_rls.sql
  db/test_data/test_data.sql
  docs/changelog.md
  docs/resources/service_provider_product_application_comment.md
  docs/resources/service_provider_product_suspension_comment.md
  frontend/src/service_provider_product_application/comment/ServiceProviderProductApplicationCommentInput.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentInput.tsx
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_event.py
  test/api_client_tests/test_sppa_comment.py
  test/api_client_tests/test_spps_comment.py
  test/flex/models/service_provider_product_application_comment_visibility.py
  test/flex/models/service_provider_product_suspension_comment_visibility.py
Due: prettier, frontend-type-check, frontend-dependency-check, check-openapi

fix(db): update RLS for SPPS when the check is based on history (FLEX-728)
  db/flex/service_provider_product_suspension_rls.sql
  docs/resources/service_provider_product_suspension.md
  test/api_client_tests/test_service_provider_product_suspension.py
Due: none

fix: no need for recorded_by when current_identity is set (FLEX-686)
  db/flex/structure_data/entity.csv
  db/flex/structure_data/party.csv
Due: none

First draft SPG grid preq suspension
  docs/diagrams/service_providing_group_grid_prequalfication_suspension.plantuml
  docs/diagrams/service_providing_group_grid_prequalification_suspension.png
  docs/processes/service-providing-group-grid-prequalification-suspension.md
Due: check-plantuml

docs: update docs with advice on RLS creation (FLEX-728)
  db/flex/technical_resource_rls.sql
  docs-dev/editing-resources.md
  docs/resources/technical_resource.md
Due: none

Removed copy-paste errors
  docs/diagrams/service_providing_group_grid_prequalfication_suspension.plantuml
  docs/diagrams/service_providing_group_grid_prequalification_suspension.png
  docs/processes/service-providing-group-grid-prequalification-suspension.md
Due: check-plantuml

test: give read:data scope to org admin in PM test (FLEX-744)
  test/api_client_tests/test_party_membership.py
Due: none

Updated get ready for market
  docs/diagrams/ready_for_market.drawio.png
  docs/guides/get-ready-for-market.md
  docs/processes/index.md
Due: none

fix: make event policies on deletable resources history-based (FLEX-728)
  db/flex/event_rls.sql
  test/api_client_tests/test_event.py
Due: none

feat(db): notices for SP product suspension (FLEX-716)
  db/flex/notice.sql
  docs/resources/notice.md
Due: none

docs: update docs with advice on RLS creation (FLEX-728) (#309)
  db/flex/technical_resource_rls.sql
  docs-dev/editing-resources.md
  docs/resources/technical_resource.md
Due: none

test: give read:data scope to org admin in PM test (FLEX-744) (#310)
  test/api_client_tests/test_party_membership.py
Due: none

refactor: restore former policy (FLEX-728)
  db/flex/service_provider_product_suspension_rls.sql
  docs/resources/service_provider_product_suspension.md
  test/api_client_tests/test_service_provider_product_suspension.py
Due: none

fix(db): take both main and history tables into account (FLEX-728)
  db/flex/event_rls.sql
  test/api_client_tests/test_event.py
Due: none

docs: update OpenAPI specification (FLEX-716)
  backend/data/static/openapi.json
  frontend/src/tooltip/tooltips.json
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/flex/models/__init__.py
  test/flex/models/notice_data_product_type_not_qualified.py
Due: check-openapi

feat(ui): notice component for unqualified product types (FLEX-716)
  frontend/src/notice/NoticeShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: liquibase entity and party data (FLEX-686) (#307)
  db/flex/changelog.yml
  db/flex/structure_data/entity.csv
  db/flex/structure_data/party.csv
Due: none

feat: load MGA data using liquibase (FLEX-749)
  db/flex/changelog.yml
  db/flex/structure_data/entity.csv
  db/flex/structure_data/mga.csv
  db/flex/structure_data/party.csv
Due: none

fix(db): update RLS for SPPS when the check is based on history (FLEX-728) (#308)
  db/flex/service_provider_product_suspension_rls.sql
  test/api_client_tests/test_service_provider_product_suspension.py
Due: none

feat: add support for EIC-Y business ID type and use it for MGAs (FLEX-749)
  db/flex/business_id_type.sql
  db/flex/changelog.yml
  db/flex/metering_grid_area.sql
  db/flex/metering_grid_area_migrations.sql
  db/flex/reference_data/business_id_type.csv
  db/test_data/test_data.sql
Due: none

fix(test): remove hardcoded IDs for end user in tests
  justfile
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_cu_lookup.py
  test/api_client_tests/test_cusp.py
  test/api_client_tests/test_entity_lookup.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_spg.py
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_membership.py
  test/api_client_tests/test_spg_product_application.py
  test/api_client_tests/test_technical_resource.py
Due: none

fix: make event policies on deletable resources history-based (FLEX-728) (#312)
  db/flex/event_rls.sql
  test/api_client_tests/test_event.py
Due: none

Many small changes based in comments
  docs/diagrams/service_providing_group_grid_prequalification_suspension.png
  docs/diagrams/service_providing_group_suspension.plantuml
  docs/diagrams/service_providing_group_suspension.png
  docs/processes/service-providing-group-grid-prequalification-suspension.md
  docs/processes/service-providing-group-suspension.md
Due: check-plantuml

docs: rename notice type + reformulate action required (FLEX-716)
  db/flex/notice.sql
  docs/resources/notice.md
Due: none

fix(test): remove hardcoded IDs for end user in tests (#317)
  justfile
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_cu_lookup.py
  test/api_client_tests/test_cusp.py
  test/api_client_tests/test_entity_lookup.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_spg.py
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_membership.py
  test/api_client_tests/test_spg_product_application.py
  test/api_client_tests/test_technical_resource.py
Due: none

feat(db): notices for SP product suspension (FLEX-716) (#313)
  backend/data/static/openapi.json
  db/flex/notice.sql
  docs/resources/notice.md
  frontend/src/notice/NoticeShow.tsx
  frontend/src/tooltip/tooltips.json
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/flex/models/__init__.py
  test/flex/models/notice_data_product_type_not_qualified.py
Due: prettier, frontend-type-check, frontend-dependency-check, check-openapi

refactor: defensive update (FLEX-749)
  db/flex/metering_grid_area.sql
  db/flex/metering_grid_area_migrations.sql
Due: none

feat: add support for EIC-Y business ID type and use it for MGAs (FLEX-749) (#316)
  db/flex/business_id_type.sql
  db/flex/changelog.yml
  db/flex/metering_grid_area.sql
  db/flex/metering_grid_area_migrations.sql
  db/flex/reference_data/business_id_type.csv
  db/test_data/test_data.sql
Due: none

fix: switch back to comma-based CSV (FLEX-749)
  db/flex/changelog.yml
  db/flex/structure_data/metering_grid_area.csv
  db/flex/structure_data/mga.csv
Due: none

chore: liquibase (FLEX-749)
  db/flex/changelog.yml
Due: none

feat: load MGA data using Liquibase (FLEX-749) (#314)
  db/flex/changelog.yml
  db/flex/structure_data/entity.csv
  db/flex/structure_data/metering_grid_area.csv
  db/flex/structure_data/party.csv
Due: none

fix: liquibase checksum
  db/flex/service_provider_product_suspension_comment.sql
Due: none

fix: liquibase checksum (#318)
  db/flex/service_provider_product_suspension_comment.sql
Due: none

fix: load CSV files on change in liquibase
  db/flex/changelog.yml
Due: none

fix: load CSV files on change in liquibase (#319)
  db/flex/changelog.yml
Due: none

Deployed b453386 with MkDocs version: 1.6.1
  api/v0/openapi.json
  changelog/index.html
  download/accounting_point.docx
  download/accounting_point_balance_responsible_party.docx
  download/accounting_point_energy_supplier.docx
  download/controllable_unit.docx
  download/controllable_unit_service_provider.docx
  download/entity.docx
  download/entity_client.docx
  download/event.docx
  download/identity.docx
  download/notice.docx
  download/notification.docx
  download/party.docx
  download/party_membership.docx
  download/product_type.docx
  download/service_provider_product_application.docx
  download/service_provider_product_application_comment.docx
  download/service_provider_product_suspension.docx
  download/service_provider_product_suspension_comment.docx
  download/service_providing_group.docx
  download/service_providing_group_grid_prequalification.docx
  download/service_providing_group_membership.docx
  download/service_providing_group_product_application.docx
  download/system_operator_product_type.docx
  download/technical_resource.docx
  resources/notice/index.html
  resources/party_membership/index.html
  resources/service_provider_product_application_comment/index.html
  resources/service_provider_product_suspension/index.html
  resources/service_provider_product_suspension_comment/index.html
  resources/service_providing_group_membership/index.html
  resources/technical_resource/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: prettier, check-openapi

Fixed review comments
  docs/diagrams/ready_for_market.drawio.png
  docs/guides/get-ready-for-market.md
Due: none
