Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix: remove per-request allocation of paths to ignore (FLEX-1332)
  kbackend/src/main/kotlin/no/elhub/flex/config/Logging.kt
Due: none

chore: cleanup of logs (FLEX-1332) (#1004)
  backend/flex.go
  kbackend/gradle/libs.versions.toml
  kbackend/src/main/kotlin/no/elhub/flex/config/Logging.kt
  kbackend/src/main/resources/logback.xml
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

refactor: sort scopes and document them in a dedicated page (FLEX-1175)
  backend/data/static/openapi.json
  db/api/party_membership.sql
  db/flex/changelog.yml
  db/flex/scope.sql
  db/flex/scope_allowed.sql
  db/flex/scope_migrations.sql
  docs/auth/authz-model.md
  docs/auth/scopes.md
  docs/resources/entity_client.md
  docs/resources/party_membership.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  justfile
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AuthScope.kt
  local/scripts/generate_scopes.py
  local/scripts/openapi_to_markdown.py
  local/scripts/scopes_to_md.py
  openapi/openapi-api-no-default.json
  openapi/scopes.yml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

docs: improve comments and naming (FLEX-1175)
  db/flex/scope.sql
  db/flex/scope_allowed.sql
  local/scripts/generate_scopes.py
  local/scripts/scopes_to_md.py
  local/scripts/templates/scope_allowed.j2.sql
Due: none

feat: turn embedding functions and api schema grants back to runOnChange (FLEX-1175)
  db/api/embedding/embedding.sql
  db/api/grants/field_level_authorization.sql
  local/scripts/templates/embedding.j2.sql
Due: none

chore(deps): update dependency uv to v0.11.31 [patch]
  mise.toml
Due: none

fix(deps): update backend
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
Due: none

fix(deps): update dependency com.adobe.testing:s3mock-testcontainers to v5
  kbackend/gradle/libs.versions.toml
Due: none

feat(ui): better scopes component (FLEX-1175)
  frontend/src/components/EDS-ra/inputs/ScopesInput.tsx
  frontend/src/components/EDS-ra/inputs/index.ts
  frontend/src/components/scopes.tsx
  frontend/src/entity/client/EntityClientInput.tsx
  frontend/src/party/membership/AddPartyMemberViaEntityLookupModal.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: fix some of the npm issues (FLEX-1175)
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: improved grid location information and select behaviour (FLEX-1311)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: font 404 errors (FLEX-1311)
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: install jsonschema through mise and pass linters (FLEX-1175)
  backend/data/static/openapi.json
  db/flex/scope_allowed.sql
  docs/auth/scopes.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AuthScope.kt
  mise.toml
  openapi/openapi-api-no-default.json
  openapi/scopes.yml
  test/flex/models/auth_scope.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

chore: upgrade react router (FLEX-1175)
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(ui): change grid location icon (FLEX-1311)
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
  frontend/src/accounting_point/show/BoltIcon.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: bump ds-css (FLEX-1311)
  frontend/package-lock.json
Due: none

fix: no use:attachment (FLEX-1175)
  db/flex/entity_client_migrations.sql
  db/flex/party_membership_migrations.sql
Due: none

chore: restore justfile (FLEX-1175)
  justfile
Due: none

fix: remove last mention of use:attachment in migrations (FLEX-1175)
  db/flex/entity_client_migrations.sql
  db/flex/party_membership_migrations.sql
Due: none

fix(db): checksums to authorise migration change (FLEX-1175)
  db/flex/entity_client_migrations.sql
  db/flex/party_membership_migrations.sql
Due: none

fix(db): checksums to authorise migration change (FLEX-1175) (#1010)
  db/flex/entity_client_migrations.sql
  db/flex/party_membership_migrations.sql
Due: none

fix: npm audit (FLEX-1311)
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: improved UI for selecting grid location (#1011)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
  frontend/src/accounting_point/show/BoltIcon.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: only show party name as author of comments (not entity) (FLEX-1305)
  frontend/src/components/comments/CommentBubble.tsx
  frontend/src/components/comments/CommentFeed.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: added column for technology in table for technical resources (FLEX-1248)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: do not return terminated CUs from lookup (FLEX-1226)
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitQuery.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/ControllableUnitForLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
Due: none

chore: cleanup dead code (FLEX-1226)
  kbackend/src/main/kotlin/no/elhub/flex/auth/Authentication.kt
Due: none

fix: downgraded maplibre-gl again since 6.x is not working properly with react-map-gl
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update dependency com.adobe.testing:s3mock-testcontainers to v5 (#1008)
  kbackend/gradle/libs.versions.toml
Due: none

fix: downgraded typescript to 6.0.3 again as typescript-eslint does not support 7.x
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update frontend (major) (#1009)
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: do not return terminated CUs from lookup (FLEX-1226) (#1014)
  kbackend/src/main/kotlin/no/elhub/flex/auth/Authentication.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitQuery.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/ControllableUnitForLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
Due: none

fix: preserve type of technology array (FLEX-1248)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: added column for technology in table for technical resources (FLEX-1248) (#1013)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: pin spectral in mise
  mise.toml
Due: none

feat: only show party name as author of comments (not entity) (FLEX-1305) (#1012)
  frontend/src/components/comments/CommentBubble.tsx
  frontend/src/components/comments/CommentFeed.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check
