Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.76.2
  .teamcity/pom.xml
Due: none

feat: dashboard v1.5 (#819)
  frontend/src/dashboard/Dashboard.tsx
  frontend/src/dashboard/hooks/useControllableUnits.ts
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/dashboard/hooks/useInconsistencies.ts
  frontend/src/dashboard/hooks/useNotices.ts
  frontend/src/dashboard/hooks/useSpQualifiedMarkets.ts
  frontend/src/dashboard/service_provider/SpMarketsCard.tsx
  frontend/src/dashboard/service_provider/SpStatCards.tsx
  frontend/src/dashboard/shared/StatCard.tsx
  frontend/src/dashboard/system_operator/SoStatCards.tsx
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: use pg17 on local (#812)
  kbackend/src/test/kotlin/no/elhub/flex/PostgresTestContainer.kt
  local/postgres/Dockerfile
Due: dockerfilelint

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.76.2 (#822)
  .teamcity/pom.xml
Due: none

chore: go 1.26.3 in all the places
  .gitignore
  backend/Dockerfile
  backend/go.mod
Due: dockerfilelint

chore(deps): update dependency go to v1.26.3 [patch] (#820)
  .gitignore
  backend/Dockerfile
  backend/go.mod
  mise.toml
Due: dockerfilelint

fix: type error in throw on error
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Fix type error in throw on error (#823)
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: add missing schema prefix in product type check (FLEX-1187)
  db/flex/product_type.sql
Due: none

chore: runOnChange true (FLEX-1187)
  db/flex/product_type.sql
Due: none

fix: add missing schema prefix in product type check (FLEX-1187) (#824)
  db/flex/product_type.sql
Due: none

feat: initial merge for party data (FLEX-1116)
  db/staging/party_staging.sql
Due: none

fix: typo on enddelimiter
  db/staging/party_staging.sql
Due: none

feat: block product applications before date (FLEX-1158)
  backend/data/data.go
  backend/data/data_test.go
  backend/flex.go
  frontend/src/productApplicationBlock.ts
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: set the dates in environment files (FLEX-1158)
  frontend/.env.development
  frontend/.env.local-dev
  local/backend/dev.env
  local/backend/test.env
Due: none

feat: initial merge for party data (FLEX-1116) (#825)
  db/staging/party_staging.sql
Due: none

feat: add tooltip and disable buttons when not clicked (FLEX-1158)
  frontend/src/dashboard/service_provider/SpStatCards.tsx
  frontend/src/dashboard/shared/StatCard.tsx
  frontend/src/productApplicationBlock.ts
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowProductApplicationsTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: format (FLEX-1158)
  frontend/src/dashboard/shared/StatCard.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowProductApplicationsTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: Added discriminator property for notices (FLEX-1101)
  backend/data/static/openapi.json
  db/api/notice.sql
  frontend/src/generated-client/client/client.gen.ts
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/client/utils.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/scripts/generate-openapi-models.sh
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeData.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyMissing.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyMissingNoticeType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyOutdated.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyOutdatedNoticeType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataProductTypeNotQualified.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataProductTypeNotQualifiedNoticeType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContract.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContractNoticeType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContractTimelineMultiRange.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeStatus.kt
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/flex/models/__init__.py
  test/flex/models/notice_data_party_missing.py
  test/flex/models/notice_data_party_missing_notice_type.py
  test/flex/models/notice_data_party_outdated.py
  test/flex/models/notice_data_party_outdated_notice_type.py
  test/flex/models/notice_data_product_type_not_qualified.py
  test/flex/models/notice_data_product_type_not_qualified_notice_type.py
  test/flex/models/notice_data_valid_time_outside_contract.py
  test/flex/models/notice_data_valid_time_outside_contract_notice_type.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: fix date complaint from CR (FLEX-1158)
  frontend/src/productApplicationBlock.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update frontend (#821)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: make tests green (FLEX-1188)
  db/api/entity.sql
  test/api_client_tests/test_entity_lookup.py
Due: none

docs: mention masking (FLEX-1188)
  docs/resources/entity.md
Due: none

docs: first pass of queryparams and embed docs (FLEX-1177)
  docs/technical/query-parameters.md
Due: none

fix: spelling
  docs/resources/entity.md
Due: none

test: add regression test (FLEX-1188)
  test/api_client_tests/test_entity.py
Due: none

feat: don't return final 5 digits of pid (#828)
  db/api/entity.sql
  docs/resources/entity.md
  openapi/resources.yml
  test/api_client_tests/test_entity.py
  test/api_client_tests/test_entity_lookup.py
Due: none

fix: complete the guide
  docs/diagrams/sp_cu_registration.plantuml
  docs/diagrams/sp_cu_registration.png
  docs/guides/get-ready-for-market/sp-cu-registration.md
  docs/guides/registering-a-cu.md
  docs/processes/controllable-unit-lookup.md
  docs/technical/guides/index.md
  docs/technical/guides/sp-cu-registration.md
  docs/technical/time-series-design.md
Due: check-plantuml

fix: typos and wording
  docs/guides/get-ready-for-market/sp-cu-registration.md
  docs/technical/guides/sp-cu-registration.md
Due: none

fix: move queryparams to /api (FLEX-1177)
  .gitignore
  docs/api/query-parameters.md
Due: none

fix: Use explicit discriminator name for each notice view that maps to the schema name in openapi spec (FLEX-1101)
  backend/data/static/openapi.json
  db/api/notice.sql
  db/flex/notice/notice_controllable_unit_service_provider.sql
  db/flex/notice/notice_party.sql
  db/flex/notice/notice_service_provider_product_suspension.sql
  frontend/src/generated-client/client/client.gen.ts
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/client/utils.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeData.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyMissing.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyMissingKind.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyMissingType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyOutdated.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyOutdatedKind.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyOutdatedType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataProductTypeNotQualified.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataProductTypeNotQualifiedKind.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataProductTypeNotQualifiedType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContract.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContractKind.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContractType.kt
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/flex/models/__init__.py
  test/flex/models/notice_data_party_missing.py
  test/flex/models/notice_data_party_missing_notice_type.py
  test/flex/models/notice_data_party_outdated.py
  test/flex/models/notice_data_party_outdated_notice_type.py
  test/flex/models/notice_data_product_type_not_qualified.py
  test/flex/models/notice_data_product_type_not_qualified_notice_type.py
  test/flex/models/notice_data_valid_time_outside_contract.py
  test/flex/models/notice_data_valid_time_outside_contract_notice_type.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

docs: move auth, api-design and getitng started to api-docs (FLEX-1177)
  docs/api/api-design.md
  docs/api/auth/authn-methods.md
  docs/api/auth/authn-model.md
  docs/api/auth/authz-model.md
  docs/api/auth/index.md
  docs/api/auth/users-management.md
  docs/api/getting-started.md
  docs/api/query-parameters.md
Due: none

fix: Add required discriminator field 'kind' to notice schemas (FLEX-1101)
  backend/data/static/openapi.json
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyMissing.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyOutdated.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataProductTypeNotQualified.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContract.kt
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/flex/models/notice_data_party_missing.py
  test/flex/models/notice_data_party_outdated.py
  test/flex/models/notice_data_product_type_not_qualified.py
  test/flex/models/notice_data_valid_time_outside_contract.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: Add missing data.kind property to view notice_spgps_product_type_not_qualified (FLEX-1101)
  db/flex/notice/notice_service_providing_group_product_suspension.sql
Due: none

feat: Added discriminator property for notices (FLEX-1101) (#827)
  backend/data/static/openapi.json
  db/flex/notice/notice_controllable_unit_service_provider.sql
  db/flex/notice/notice_party.sql
  db/flex/notice/notice_service_provider_product_suspension.sql
  db/flex/notice/notice_service_providing_group_product_suspension.sql
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/scripts/generate-openapi-models.sh
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeData.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyMissing.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyMissingKind.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyMissingNoticeType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyMissingType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyOutdated.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyOutdatedKind.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyOutdatedNoticeType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyOutdatedType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataProductTypeNotQualified.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataProductTypeNotQualifiedKind.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataProductTypeNotQualifiedNoticeType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataProductTypeNotQualifiedType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContract.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContractKind.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContractNoticeType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContractTimelineMultiRange.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContractType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeStatus.kt
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/flex/models/notice_data_party_missing.py
  test/flex/models/notice_data_party_outdated.py
  test/flex/models/notice_data_product_type_not_qualified.py
  test/flex/models/notice_data_valid_time_outside_contract.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix(deps): update backend (#796)
  backend/go.mod
  backend/go.sum
Due: none

feat: block product applications (FLEX-1158) (#826)
  backend/data/data.go
  backend/data/data_test.go
  backend/flex.go
  frontend/.env.development
  frontend/.env.local-dev
  frontend/src/dashboard/service_provider/SpStatCards.tsx
  frontend/src/dashboard/shared/StatCard.tsx
  frontend/src/productApplicationBlock.ts
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowProductApplicationsTable.tsx
  local/backend/dev.env
  local/backend/test.env
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
