Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

refactor(test): JWT keys as fixture (FLEX-1161)
  test/auth_tests/test_scopes.py
Due: none

chore: remove cyclop (FLEX-1161)
  backend/data/data.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore: update DevXP build config to fix Gradle verify (#801)
  .teamcity/pom.xml
Due: none

feat(db): status field on metering grid area (FLEX-1171)
  db/api/metering_grid_area.sql
  db/flex/metering_grid_area.sql
  db/flex/metering_grid_area_migrations.sql
Due: none

feat(db): MGA status filtering in related resources/queries (FLEX-1171)
  db/api/accounting_point_metering_grid_area.sql
  db/api/controllable_unit_lookup.sql
  db/flex/accounting_point_balance_responsible_party.sql
  db/flex/accounting_point_bidding_zone.sql
  db/flex/accounting_point_system_operator.sql
  db/staging/energy_supplier_balance_responsibility_staging.sql
Due: none

fix: apply migrations before defining other views (FLEX-1171)
  db/flex/changelog.yml
Due: none

fix(openapi): propagate readOnly and x-no-update correctly (#800)
  backend/data/static/openapi.json
  docs/resources/accounting_point_grid_location.md
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationSource.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationUpdateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EntityUpdateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/PartyUpdateRequest.kt
  local/scripts/template_to_openapi.py
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_accounting_point_grid_location.py
  test/flex/models/accounting_point_grid_location_create_request.py
  test/flex/models/accounting_point_grid_location_history_response.py
  test/flex/models/accounting_point_grid_location_response.py
  test/flex/models/accounting_point_grid_location_update_request.py
  test/flex/models/entity_update_request.py
  test/flex/models/party_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: Implemented validation rules for source/quality. Rules does not apply to FISO (FLEX-1180)
  db/flex/accounting_point_grid_location.sql
  docs/resources/accounting_point_grid_location.md
Due: none

feat(backend): scope check on resource embedding (FLEX-1161) (#795)
  backend/data/data.go
  backend/data/embed_query_rewrite.go
  backend/data/embed_query_rewrite_test.go
  backend/data/embed_relations_gen.go
  justfile
  local/scripts/openapi_to_db.py
  local/scripts/openapi_to_embed_relations.py
  local/scripts/relationship.py
  test/auth_tests/test_scopes.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: clean up and reuse stuff from dashboard
  frontend/src/App.tsx
  frontend/src/dashboard/DasboardLayout.tsx
  frontend/src/dashboard/Dashboard.tsx
  frontend/src/dashboard/dashboardUtils.ts
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/dashboard/hooks/useNotices.ts
  frontend/src/dashboard/hooks/useServiceProvidingGroups.ts
  frontend/src/dashboard/hooks/useSpQualifiedMarkets.ts
  frontend/src/dashboard/service_provider/SpApplicationsTable.tsx
  frontend/src/dashboard/service_provider/SpDashboard.tsx
  frontend/src/dashboard/service_provider/SpMarketsCard.tsx
  frontend/src/dashboard/service_provider/SpStatCards.tsx
  frontend/src/dashboard/shared/StatCard.tsx
  frontend/src/dashboard/shared/dashboardTableUtils.ts
  frontend/src/dashboard/system_operator/SoApplicationsTable.tsx
  frontend/src/dashboard/system_operator/SoStatCards.tsx
  frontend/src/dashboard/useSpDashboard.ts
  frontend/src/product_type/components.tsx
  frontend/src/product_type/useProductTypes.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: Revert "feat(db): MGA status filtering in related resources/queries (FLEX-1171)"
  db/api/accounting_point_metering_grid_area.sql
  db/api/controllable_unit_lookup.sql
  db/flex/accounting_point_balance_responsible_party.sql
  db/flex/accounting_point_bidding_zone.sql
  db/flex/accounting_point_system_operator.sql
  db/staging/energy_supplier_balance_responsibility_staging.sql
Due: none

feat: Metrics for response times and request count per endpoint (FLEX-1183)
  .pre-commit-config.yaml
  backend/flex.go
  backend/go.mod
  backend/go.sum
  backend/internal/middleware/prometheus.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: Use gin FullPath and mux pattern for prometheus route labels (FLEX-1183)
  backend/flex.go
  backend/internal/middleware/prometheus.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

refactor: open status field, do not impact other resources (FLEX-1171)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  backend/pgpool/userdetails.go
  db/api/grants/field_level_authorization.sql
  db/api/metering_grid_area.sql
  docs/resources/accounting_point_grid_location.md
  docs/resources/metering_grid_area.md
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/MeteringGridAreaResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/MeteringGridAreaStatus.kt
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/__init__.py
  test/flex/models/metering_grid_area_response.py
  test/flex/models/metering_grid_area_status.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

refactor: Rename handler (FLEX-1183)
  backend/flex.go
  backend/internal/middleware/prometheus.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: Move metric middleware before TokenDecodingMiddleware to include this if failing (FLEX-1183)
  backend/flex.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: set not null and default on migration (FLEX-1171)
  db/flex/metering_grid_area_migrations.sql
Due: none

fix: Typo in doc (FLEX-1183)
  backend/internal/middleware/prometheus.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: Metrics for response times and request count per endpoint (FLEX-1183) (#804)
  .pre-commit-config.yaml
  backend/flex.go
  backend/go.mod
  backend/go.sum
  backend/internal/middleware/prometheus.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat(db): status field on metering grid area (FLEX-1171) (#802)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  backend/pgpool/userdetails.go
  db/api/grants/field_level_authorization.sql
  db/api/metering_grid_area.sql
  db/flex/changelog.yml
  db/flex/metering_grid_area.sql
  db/flex/metering_grid_area_migrations.sql
  docs/resources/accounting_point_grid_location.md
  docs/resources/metering_grid_area.md
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationSource.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/MeteringGridAreaResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/MeteringGridAreaStatus.kt
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/__init__.py
  test/flex/models/accounting_point_grid_location_history_response.py
  test/flex/models/accounting_point_grid_location_response.py
  test/flex/models/metering_grid_area_response.py
  test/flex/models/metering_grid_area_status.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

chore: upgrade elhub gradle plugin
  kbackend/gradle/libs.versions.toml
Due: none

chore: upgrade elhub gradle plugin (#805)
  kbackend/gradle/libs.versions.toml
Due: none

ci: manual merge TeamCity pipeline for prod1 (like euro) (FLEX-1115)
  .teamcity/settings.kts
Due: none

feat: party staging w/ unlogged table (FLEX-1116)
  db/staging/party_staging.sql
  docs/diagrams/structure_data_es_br.drawio.png
  docs/diagrams/structure_data_party.drawio.png
  docs/technical/structure-data.md
Due: none

feat: add dropdowns to the new nav structure
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/components/SimpleTable.tsx
  frontend/src/dashboard/system_operator/SoApplicationsTable.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: one task for euro and prod1 (FLEX-1115)
  .teamcity/settings.kts
Due: none

ci: manual merge TeamCity pipeline for prod1 (like euro) (FLEX-1115) (#806)
  .teamcity/settings.kts
Due: none

refactor: Separate function and trigger into their own changesets (FLEX-1180)
  db/flex/accounting_point_grid_location.sql
Due: none

feat: Implemented validation rules for source/quality. Rules does not apply to FISO (FLEX-1180) (#803)
  db/flex/accounting_point_grid_location.sql
  docs/resources/accounting_point_grid_location.md
Due: none

feat(db): staging structure for MGA + MGA-SO + MGA price area (FLEX-1171)
  db/staging/changelog.yml
  db/staging/metering_grid_area_staging.sql
  db/staging/test/README.md
Due: none

test: docs, test data and fixes (FLEX-1171)
  db/staging/metering_grid_area_staging.sql
  db/staging/test/README.md
  db/staging/test/mga_staging_test_data_mga.csv
  db/staging/test/mga_staging_test_data_mga_price_area.csv
  db/staging/test/mga_staging_test_data_mga_so.csv
Due: none

feat: use type in notice filter to get inconsistencies
  backend/data/static/openapi.json
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/dashboard/Dashboard.tsx
  frontend/src/dashboard/hooks/useInconsistencies.ts
  frontend/src/dashboard/hooks/useNotices.ts
  frontend/src/dashboard/service_provider/SpStatCards.tsx
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/notice/list_notice.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

chore: format
  frontend/src/App.tsx
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/dashboard/DasboardLayout.tsx
  frontend/src/dashboard/Dashboard.tsx
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/dashboard/hooks/useInconsistencies.ts
  frontend/src/dashboard/service_provider/SpApplicationsTable.tsx
  frontend/src/dashboard/service_provider/SpStatCards.tsx
  frontend/src/dashboard/shared/dashboardTableUtils.ts
  frontend/src/dashboard/system_operator/SoApplicationsTable.tsx
  frontend/src/dashboard/system_operator/SoStatCards.tsx
  frontend/src/product_type/components.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: copilot comments (FLEX-1171)
  db/staging/metering_grid_area_staging.sql
  db/staging/test/README.md
Due: none

feat: add status for sppa in openapi-spec
  backend/data/static/openapi.json
  frontend/src/dashboard/hooks/useSpQualifiedMarkets.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/service_provider_product_application/list_service_provider_product_application.py
  test/flex/api/service_provider_product_application/list_service_provider_product_application_history.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: cleanup market card and fix bug with product types
  frontend/src/dashboard/hooks/useSpQualifiedMarkets.ts
  frontend/src/dashboard/service_provider/SpMarketsCard.tsx
  frontend/src/product_type/components.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(auth): require party type in subject claim on JWT bearer auth (FLEX-1182)
  backend/auth/auth.go
  backend/auth/authorizationgrant.go
  backend/auth/models/models.go
  db/flex/party.sql
  db/flex/party_migrations.sql
  docs/technical/auth/authn-methods.md
  docs/technical/auth/getting-started.md
  test/auth_tests/test_jwt_bearer.py
  test/auth_tests/test_scopes.py
  test/auth_tests/test_token_exchange.py
  test/inspect/gen_jwt.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

ci: stop updating euro environment images (FLEX-1187)
  .teamcity/settings.kts
Due: none

chore: use pg17 on local (PG-17)
  kbackend/src/test/kotlin/no/elhub/flex/PostgresTestContainer.kt
  local/postgres/Dockerfile
Due: dockerfilelint

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none
