Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

chore: move to /api
  docs/api/guides/getting-started.md
  docs/api/guides/index.md
  docs/api/guides/sp-cu-registration.md
  docs/api/index.md
  docs/auth/index.md
  docs/guides/get-ready-for-market/sp-cu-registration.md
  docs/guides/index.md
Due: none

docs: CU registration guide for SPs (#577)
  docs/api/guides/getting-started.md
  docs/api/guides/index.md
  docs/api/guides/sp-cu-registration.md
  docs/api/index.md
  docs/auth/index.md
  docs/diagrams/sp_cu_registration.plantuml
  docs/diagrams/sp_cu_registration.png
  docs/guides/get-ready-for-market/sp-cu-registration.md
  docs/guides/index.md
  docs/processes/controllable-unit-lookup.md
  docs/technical/time-series-design.md
Due: check-plantuml

fix: update to use env js in frontend
  frontend/.env.development
  frontend/.env.local-dev
  frontend/src/index.tsx
  frontend/src/productApplicationBlock.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: implement new policies
  db/flex/accounting_point_rls.sql
  docs/resources/accounting_point.md
  test/api_client_tests/test_accounting_point.py
Due: none

chore: npm audit fix
  frontend/package-lock.json
Due: none

Potential fix for pull request finding
  test/api_client_tests/test_accounting_point.py
Due: none

feat: more restrictive RLS policies on accounting point (FLEX-1167) (#813)
  db/flex/accounting_point_rls.sql
  docs/resources/accounting_point.md
  frontend/package-lock.json
  test/api_client_tests/test_accounting_point.py
Due: none

Potential fix for pull request finding
  frontend/src/index.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: update to use env js in frontend (#830)
  frontend/.env.development
  frontend/.env.local-dev
  frontend/src/index.tsx
  frontend/src/productApplicationBlock.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add DefaultDashboard stub for third role (FLEX-1191)
  frontend/src/dashboard/DefaultDashboard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add SoDashboard with self-contained data fetching (FLEX-1191)
  frontend/src/dashboard/system_operator/SoDashboard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add SpDashboard with self-contained data fetching (FLEX-1191)
  frontend/src/dashboard/service_provider/SpDashboard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: make Dashboard a pure role router, move data fetching to role dashboards (FLEX-1191)
  frontend/src/dashboard/Dashboard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: CTA from dashboard to lookup (FLEX-1191)
  frontend/src/dashboard/service_provider/SpStatCards.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove duplicate heading from DefaultDashboard (FLEX-1191)
  frontend/src/dashboard/DefaultDashboard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Set version 1 for auth API as it does not use rolling version header (FLEX-1168)
  backend/auth/static/openapi.json
  openapi/openapi-auth.yml
Due: check-openapi

fix: Regenerate png for plantuml files affected with version change (FLEX-1168)
  docs-dev/diagrams/oidc_login_sequence.png
  docs-dev/diagrams/oidc_logout_sequence.png
Due: none

fix: /v1 path for API docs links (FLEX-1168)
  docs/api/index.md
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.76.5
  .teamcity/pom.xml
Due: none

chore(deps): update frontend
  frontend/package.json
Due: none

fix(deps): update frontend to v9
  frontend/package.json
Due: none

chore(deps): update frontend (#835)
  frontend/package.json
Due: none

fix: permissions bug (FLEX-1191) (#831)
  frontend/src/dashboard/Dashboard.tsx
  frontend/src/dashboard/DefaultDashboard.tsx
  frontend/src/dashboard/service_provider/SpDashboard.tsx
  frontend/src/dashboard/service_provider/SpStatCards.tsx
  frontend/src/dashboard/system_operator/SoDashboard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: add TR empty state design spec (FLEX-1195)
  docs/superpowers/specs/2026-05-15-tr-empty-state-design.md
Due: none

feat: improve TR list empty state with description (FLEX-1195)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: avoid double-wrapping ReactNode empty prop in SimpleTable (FLEX-1195)
  frontend/src/components/SimpleTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: wrap TR empty state in Card (FLEX-1195)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Remove Api-Versio header requirement from OpenAPI endpoints (FLEX-1168)
  backend/data/static/openapi.json
  backend/internal/middleware/apiversion.go
  local/scripts/template_to_openapi.py
  openapi/openapi-api-no-default.json
  test/api_client_tests/test_openapi.py
  test/other_tests/test_schemathesis.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: normalize options.headers to Headers instance before calling .set() (FLEX-1168)
  frontend/src/httpConfig.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Improve message when activating SPG (FLEX-1201)
  frontend/src/service_providing_group/ActivateServiceProvidingGroupButton.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: bump deps in package-lock (FLEX-1201)
  frontend/package-lock.json
Due: none

Revert "docs: add TR empty state design spec (FLEX-1195)"
  docs/superpowers/specs/2026-05-15-tr-empty-state-design.md
Due: none

feat: delay SPG-GP creation until SPG-PA is set to the right status (FLEX-1088)
  backend/data/static/openapi.json
  db/flex/service_providing_group.sql
  db/flex/service_providing_group_migrations.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
  db/flex/service_providing_group_product_application_rls.sql
  docs/diagrams/service_providing_group_product_application_status.plantuml
  docs/diagrams/service_providing_group_product_application_status.png
  docs/resources/service_providing_group.md
  docs/resources/service_providing_group_product_application.md
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/service_providing_group/product_application/show/SpgpaActionBar.tsx
  frontend/src/service_providing_group/product_application/show/spgpaStatus.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationStatus.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_event.py
  test/api_client_tests/test_spg.py
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_grid_suspension.py
  test/api_client_tests/test_spg_product_application.py
  test/api_client_tests/test_spggs_comment.py
  test/flex/models/service_providing_group_product_application_status.py
Due: check-plantuml, prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: Improved message when activating SPG (FLEX-1201) (#838)
  frontend/package-lock.json
  frontend/src/service_providing_group/ActivateServiceProvidingGroupButton.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Potential fix for pull request finding
  openapi/resources.yml
Due: none

fix: label typo (FLEX-1088)
  frontend/src/intl/enum-labels.ts
Due: eslint, frontend-type-check, frontend-dependency-check
