Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix: cron random minutes (FLEX-1088)
  db/flex/service_providing_group_grid_prequalification_sync.sql
Due: none

Potential fix for pull request finding
  frontend/src/components/EDS-ra/list/Datagrid.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(docs): do not mention 4 weeks explicitly (FLEX-1088)
  docs/resources/service_providing_group_product_application.md
  frontend/src/service_providing_group/product_application/show/SpgpaAlerts.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: npm audit fix (FLEX-1088)
  frontend/package-lock.json
Due: none

chore: migrate history lists (FLEX-1210)
  frontend/src/controllable_unit/ControllableUnitHistoryList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderHistoryList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionHistoryList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceHistoryList.tsx
  frontend/src/party/PartyHistoryList.tsx
  frontend/src/party/membership/PartyMembershipHistoryList.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationHistoryList.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionHistoryList.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupHistoryList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationHistoryList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionHistoryList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipHistoryList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionHistoryList.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeHistoryList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Replace heavy nesting of api queries with embedding (FLEX-1208)
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: Update package-lock (FLEX-1208)
  frontend/package-lock.json
Due: none

test: small script to test the sync function (FLEX-1088)
  test/other_tests/test_spggp_sync.sh
Due: none

chore: migrate all list components to EDS. (Flex-1210) (#848)
  frontend/package-lock.json
  frontend/src/accounting_point/AccountingPointList.tsx
  frontend/src/components/EDS-ra/fields/BaseField.tsx
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/controllable_unit/ControllableUnitHistoryList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderHistoryList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionHistoryList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceHistoryList.tsx
  frontend/src/entity/EntityList.tsx
  frontend/src/event/EventList.tsx
  frontend/src/notification/NotificationList.tsx
  frontend/src/party/PartyHistoryList.tsx
  frontend/src/party/membership/PartyMembershipHistoryList.tsx
  frontend/src/product_type/ProductTypeList.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationHistoryList.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionHistoryList.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionList.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupHistoryList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationHistoryList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionHistoryList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipHistoryList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionHistoryList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionList.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeHistoryList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: add missing (*) on embeds with no embedded children (FLEX-1208)
  backend/data/embed_query_rewrite.go
  backend/data/embed_query_rewrite_test.go
  test/api_client_tests/test_embed.py
  test/inspect/embedding.hurl
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: update outdated doc comment (FLEX-1208)
  backend/data/embed_query_rewrite.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: better texts on CU/SPG activation alerts/confirms (FLEX-1198)
  frontend/src/controllable_unit/show/components/ActivateControllableUnitButton.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/service_providing_group/ActivateServiceProvidingGroupButton.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupAlerts.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: add missing (*) on embeds with no embedded children (FLEX-1208) (#850)
  backend/data/embed_query_rewrite.go
  backend/data/embed_query_rewrite_test.go
  test/api_client_tests/test_embed.py
  test/inspect/embedding.hurl
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: Handle bidding_zone as array in response (FLEX-1208)
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Replace heavy nesting of api queries with embedding (FLEX-1208) (#849)
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: class -> className (FLEX-1198)
  frontend/src/controllable_unit/show/components/ActivateControllableUnitButton.tsx
  frontend/src/service_providing_group/ActivateServiceProvidingGroupButton.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: delay SPG-GP creation until SPG-PA is set to the right status (FLEX-1088) (#839)
  backend/data/static/openapi.json
  db/flex/changelog.yml
  db/flex/service_providing_group.sql
  db/flex/service_providing_group_grid_prequalification_sync.sql
  db/flex/service_providing_group_migrations.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
  db/flex/service_providing_group_product_application_rls.sql
  db/test_data/test_data.sql
  docs/diagrams/service_providing_group_product_application_status.plantuml
  docs/diagrams/service_providing_group_product_application_status.png
  docs/resources/service_providing_group.md
  docs/resources/service_providing_group_product_application.md
  frontend/package-lock.json
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaActionBar.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaAlerts.tsx
  frontend/src/service_providing_group/product_application/show/spgpaStatus.ts
  justfile
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationStatus.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_event.py
  test/api_client_tests/test_spg.py
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_grid_suspension.py
  test/api_client_tests/test_spg_product_application.py
  test/api_client_tests/test_spg_product_suspension.py
  test/api_client_tests/test_spggs_comment.py
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_status.py
  test/flex/models/service_providing_group_product_application_update_request.py
  test/other_tests/test_spggp_sync.sh
Due: check-plantuml, prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat(auth): create entity if not exists on successful IDP login (FLEX-1221)
  .gitignore
  backend/auth/auth.go
  backend/auth/models/models.go
  backend/auth/oidc/oidc.go
  db/auth/functions.sql
  local/authelia/config/configuration.yml
  local/authelia/config/users.yml
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(test): API version header in scope test (FLEX-1221)
  test/auth_tests/test_scopes.py
Due: none

feat: better texts on CU/SPG activation alerts/confirms (FLEX-1198) (#851)
  frontend/src/controllable_unit/show/components/ActivateControllableUnitButton.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/service_providing_group/ActivateServiceProvidingGroupButton.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupAlerts.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove duplicate spg reference input in spg pa input (FLEX-1158)
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.76.8
  .teamcity/pom.xml
Due: none

fix: docs
  backend/auth/models/models.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: split changes into 2 changesets (FLEX-1221)
  db/auth/functions.sql
Due: none

feat(auth): create entity if not exists on successful IDP login (FLEX-1221) (#852)
  .gitignore
  backend/auth/auth.go
  backend/auth/models/models.go
  backend/auth/oidc/oidc.go
  db/auth/functions.sql
  local/authelia/config/configuration.yml
  local/authelia/config/users.yml
  test/auth_tests/test_scopes.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat(ui): better message for new users on assume party page (FLEX-1222)
  frontend/src/AssumePartyPage.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: dashboard for organisation admins (FLEX-1224)
  frontend/src/auth/authProvider.tsx
  frontend/src/dashboard/Dashboard.tsx
  frontend/src/dashboard/hooks/useOrgParties.ts
  frontend/src/dashboard/organisation/EntityCard.tsx
  frontend/src/dashboard/organisation/OrgDashboard.tsx
  frontend/src/dashboard/organisation/OrgPartiesTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove duplicate spg reference input in spg pa input (FLEX-1158) (#853)
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.76.8 (#854)
  .teamcity/pom.xml
Due: none

feat(ui): better message for new users on assume party page (FLEX-1222) (#856)
  frontend/src/AssumePartyPage.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: typing and error handling from copilot review (FLEX-1224)
  frontend/src/auth/authProvider.tsx
  frontend/src/dashboard/hooks/useOrgParties.ts
  frontend/src/dashboard/organisation/OrgDashboard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: dashboard for organisation admins (FLEX-1224) (#857)
  frontend/src/auth/authProvider.tsx
  frontend/src/dashboard/Dashboard.tsx
  frontend/src/dashboard/hooks/useOrgParties.ts
  frontend/src/dashboard/organisation/EntityCard.tsx
  frontend/src/dashboard/organisation/OrgDashboard.tsx
  frontend/src/dashboard/organisation/OrgPartiesTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): improve entity lookup flow (FLEX-1223)
  frontend/src/party/membership/AddPartyMemberViaEntityLookupModal.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: use typed scopes (FLEX-1223)
  frontend/src/party/membership/AddPartyMemberViaEntityLookupModal.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: Use extendable table rows instead of table-in-table + revised tables for fresher look (FLEX-1211)
  frontend/src/accounting_point/AccountingPointLinkField.tsx
  frontend/src/components/EDS-ra/fields/ReferenceField.tsx
  frontend/src/components/EDS-ra/fields/StatusBadgeField.tsx
  frontend/src/components/EDS-ra/fields/TextField.tsx
  frontend/src/components/EDS-ra/fields/index.ts
  frontend/src/components/EDS-ra/list/ExpandableDatagrid.tsx
  frontend/src/components/EDS-ra/list/index.ts
  frontend/src/components/EDS-ra/list/tableStyles.module.css
  frontend/src/controllable_unit/ControllableUnitHistoryList.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/RegulationDirectionField.tsx
  frontend/src/controllable_unit/controllableUnitStatus.ts
  frontend/src/dashboard/shared/dashboardTableUtils.ts
  frontend/src/intl/text.ts
  frontend/src/notice/NoticeList.tsx
  frontend/src/notice/noticeStatus.ts
  frontend/src/party/PartyList.tsx
  frontend/src/party/partyStatus.ts
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
  frontend/src/service_provider_product_application/show/sppaStatus.ts
  frontend/src/service_providing_group/ServiceProvidingGroupExpandedRow.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupList.tsx
  frontend/src/service_providing_group/grid_prequalification/show/spgpqStatus.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/show/spgpaStatus.ts
  frontend/src/service_providing_group/serviceProvidingGroupStatus.ts
  frontend/src/system_operator_product_type/SystemOperatorProductTypeList.tsx
  frontend/src/system_operator_product_type/systemOperatorProductTypeStatus.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Remove unused imports + formatting (FLEX-1211)
  frontend/src/components/EDS-ra/fields/TextField.tsx
  frontend/src/components/EDS-ra/list/ExpandableDatagrid.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/RegulationDirectionField.tsx
  frontend/src/controllable_unit/controllableUnitStatus.ts
  frontend/src/notice/NoticeList.tsx
  frontend/src/notice/noticeStatus.ts
  frontend/src/party/PartyList.tsx
  frontend/src/party/partyStatus.ts
  frontend/src/service_provider_product_application/show/sppaStatus.ts
  frontend/src/service_providing_group/ServiceProvidingGroupExpandedRow.tsx
  frontend/src/service_providing_group/grid_prequalification/show/spgpqStatus.ts
  frontend/src/service_providing_group/product_application/show/spgpaStatus.ts
  frontend/src/service_providing_group/serviceProvidingGroupStatus.ts
  frontend/src/system_operator_product_type/SystemOperatorProductTypeList.tsx
  frontend/src/system_operator_product_type/systemOperatorProductTypeStatus.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): better label generation on table headers (FLEX-1225)
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/intl/intl.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check
