Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

fix(ui): show spgpa actionBar only for so and fiso (FLEX-1426)
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
  package-lock.json
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: remove root npm lockfile (FLEX-1426)
  package-lock.json
Due: none

feat(ui): grid prequalification tab in header (FLEX-1404) (#1117)
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: only perform one call to backend from frontend (FLEX-1427) (#1121)
  frontend/src/accounting_point/AccountingPointLinkField.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: regenerate files (FLEX-1358)
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataCuMaximumActivePowerRatio.kt
  openapi/openapi-api-no-default.json
  test/flex/models/__init__.py
  test/flex/models/notice_data_cu_maximum_active_power_ratio.py
  test/flex/models/notice_response.py
Due: none

feat: SPG PA drafts are now automatically stored in local storage. Drafts are displayed on top of other applications (FLEX-1374) (#1101)
  docs/cookies.md
  frontend/public/static-assets/privacy-policy.en.html
  frontend/public/static-assets/privacy-policy.no.html
  frontend/src/components/EDS-ra/inputs/FormToolbarWithConfirmation.tsx
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/components/SimpleTable.tsx
  frontend/src/components/SpgpaStatusBadge.tsx
  frontend/src/hooks/useSpgpaDrafts.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/DraftAutosaveWatcher.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/spgpaStatus.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowProductApplicationsTable.tsx
  frontend/src/service_providing_group/show/useSpgProductApplications.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): update text spg percentage tooltip (FLEX-1429)
  frontend/src/components/PowerRatio.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add details for no.elhub.flex.service_providing_group_membership.valid_time.outside_contract (FLEX-1395)
  frontend/src/intl/text.ts
  frontend/src/notice/NoticeShowDetails.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: encoding in translation (FLEX-1395)
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.79.7 (#1115)
  .teamcity/pom.xml
Due: none

Potential fix for pull request finding
  frontend/src/notice/NoticeShowDetails.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: Show notification when draft is saved (FLEX-1374)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/DraftAutosaveWatcher.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: Show notification when draft is saved (FLEX-1374) (#1128)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/DraftAutosaveWatcher.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add details for no.elhub.flex.service_providing_group_membership.valid_time.outside_contract (FLEX-1395) (#1127)
  frontend/src/intl/text.ts
  frontend/src/notice/NoticeShowDetails.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: restore behaviour where CU lookup creates AP if not exists (FLEX-1431)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  test/api_client_tests/test_cu_lookup.py
Due: none

fix: delete all generated kotlin files before generating new ones in order to avoid stale files (FLEX-1358)
  kbackend/scripts/generate-openapi-models.sh
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataControllableUnitFlexiblePowerExceedsRatedPower.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataCuFlexiblePowerExceedsRatedPower.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContractTimelineMultiRange.kt
Due: none

refactor: rename notice (FLEX-1358)
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/notice/details/NoticeControllableUnitMaximumActivePowerRatio.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: Notice to SP when CU flexible power exceeds rated power (FLEX-1358) (#1089)
  db/flex/notice/notice_controllable_unit.sql
  db/flex/notice_fresh.sql
  docs/resources/notice.md
  frontend/src/intl/text.ts
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/notice/details/NoticeControllableUnitMaximumActivePowerRatio.tsx
  frontend/src/notice/noticeTypes.ts
  kbackend/scripts/generate-openapi-models.sh
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContractTimelineMultiRange.kt
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): show spgpa actionBar only for so and fiso (FLEX-1426) (#1125)
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): update text spg percentage tooltip (FLEX-1429) (#1126)
  frontend/src/components/PowerRatio.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: secondary button instead of primary (FLEX-1401)
  frontend/src/accounting_point/AccountingPointTextField.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/RegulationDirectionField.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: explain API change strategy (FLEX-1270) (#1116)
  docs/api-versioning.md
Due: none

fix(ui): remove double unit on CU summary on SPG show page (FLEX-1285) (#1114)
  frontend/src/service_providing_group/summary/ServiceProvidingGroupControllableUnitSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: let sync create AP when it does not exist (FLEX-1431)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  test/api_client_tests/test_accounting_point.py
Due: none

fix: add translation to label (FLEX-1401)
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add show button for location in CU List (FLEX-1401) (#1130)
  frontend/src/accounting_point/AccountingPointTextField.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/RegulationDirectionField.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Revert "feat: add show button for location in CU List (FLEX-1401) (#1130)"
  frontend/src/accounting_point/AccountingPointTextField.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/RegulationDirectionField.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Revert "feat: add show button for location in CU List (FLEX-1401)" (#1131)
  frontend/src/accounting_point/AccountingPointTextField.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/RegulationDirectionField.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Revert "Revert "feat: add show button for location in CU List (FLEX-1401)" (#…"
  frontend/src/accounting_point/AccountingPointTextField.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/RegulationDirectionField.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: restore behaviour where CU lookup creates AP if not exists (FLEX-1431) (#1129)
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  test/api_client_tests/test_accounting_point.py
  test/api_client_tests/test_cu_lookup.py
Due: none

fix(ui): remove unintentional update of product types field (FLEX-1432)
  frontend/src/product_type/components.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: dont add show button on cu list but under spg cu list (REVERT-1131)
  frontend/src/accounting_point/AccountingPointTextField.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: unused prop (REVERT-1131)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add show button for location in CU List (FLEX-1401) (#1132)
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/RegulationDirectionField.tsx
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Revert "Revert "feat: add show button for location in CU List (FLEX-1401)" (#…"
  frontend/src/accounting_point/AccountingPointTextField.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: dont add show button on cu list but under spg cu list (REVERT-1131)
  frontend/src/accounting_point/AccountingPointTextField.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: consistent key and naming (REVERT-1131)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

test snapshot
  .teamcity/pom.xml
  .teamcity/settings.kts
Due: none

bump
  .teamcity/pom.xml
Due: none

feat: add flexible power to power per substation table (FLEX-1402)
  backend/data/static/openapi.json
  db/flex/service_providing_group_power_per_substation.sql
  docs/resources/service_providing_group_power_per_substation.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowPowerPerSubstationTable.tsx
  frontend/src/service_providing_group/show/useSpgPowerPerSubstation.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupPowerPerSubstationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupPowerPerSubstationResponseSubstations.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupPowerPerSubstationResponseTechnicalResource.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_spg_power_per_substation.py
  test/flex/models/__init__.py
  test/flex/models/service_providing_group_power_per_substation_response.py
  test/flex/models/service_providing_group_power_per_substation_response_substations_item.py
  test/flex/models/service_providing_group_power_per_substation_response_substations_item_technical_resource.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
