Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

chore: migrate inputs (FLEX-1210) (#866)
  frontend/src/auth/ReferenceInput.tsx
  frontend/src/auth/index.tsx
  frontend/src/components/comments.tsx
  frontend/src/components/unitComponents.tsx
  frontend/src/controllable_unit/ControllableUnitCreate.tsx
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionInput.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
  frontend/src/entity/EntityInput.tsx
  frontend/src/entity/client/EntityClientInput.tsx
  frontend/src/entity/lookup/EntityLookupInput.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
  frontend/src/resources/controllableUnitResources.tsx
  frontend/src/resources/serviceProviderResources.tsx
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionInput.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionShow.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationInput.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionInput.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: Refactor expandable data grid into Datagrid (FLEX-1211)
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/components/EDS-ra/list/ExpandableDatagrid.tsx
  frontend/src/components/EDS-ra/list/index.ts
  frontend/src/service_providing_group/ServiceProvidingGroupExpandedRow.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Reduce width of header column for chevron button (FLEX-1211)
  frontend/src/components/EDS-ra/list/Datagrid.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: Cleanup of data grids (FLEX-1211) (#865)
  frontend/src/accounting_point/AccountingPointLinkField.tsx
  frontend/src/components/EDS-ra/fields/ReferenceField.tsx
  frontend/src/components/EDS-ra/fields/StatusBadgeField.tsx
  frontend/src/components/EDS-ra/fields/TextField.tsx
  frontend/src/components/EDS-ra/fields/index.ts
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/components/EDS-ra/list/index.ts
  frontend/src/controllable_unit/ControllableUnitHistoryList.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/RegulationDirectionField.tsx
  frontend/src/controllable_unit/controllableUnitStatus.ts
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/dashboard/shared/dashboardTableUtils.ts
  frontend/src/intl/text.ts
  frontend/src/notice/NoticeList.tsx
  frontend/src/notice/noticeStatus.ts
  frontend/src/party/PartyList.tsx
  frontend/src/party/partyStatus.ts
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
  frontend/src/service_provider_product_application/show/sppaStatus.ts
  frontend/src/service_providing_group/ServiceProvidingGroupExpandedRow.module.css
  frontend/src/service_providing_group/ServiceProvidingGroupExpandedRow.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupList.tsx
  frontend/src/service_providing_group/grid_prequalification/show/spgpqStatus.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/show/spgpaStatus.ts
  frontend/src/system_operator_product_type/SystemOperatorProductTypeList.tsx
  frontend/src/system_operator_product_type/systemOperatorProductTypeStatus.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Add translations for spg activation texts (FLEX-1229)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/ActivateServiceProvidingGroupButton.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: product application translation to norwegian (FLEX-1229)
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Add translations for spg activation texts (FLEX-1229) (#868)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/ActivateServiceProvidingGroupButton.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update dependency schemathesis to v4.20.0
  requirements-dev.txt
Due: none

refactor: flow in one step with email (and typing) (FLEX-1223)
  backend/data/data.go
  backend/data/models.go
  backend/data/models.sql
  backend/data/models/models.sql.go
  backend/data/static/openapi.json
  db/api/entity_lookup.sql
  frontend/src/entity/lookup/EntityLookupInput.tsx
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/party/PartyShow.tsx
  frontend/src/party/membership/AddPartyMemberViaEntityLookupModal.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
  frontend/src/resources/entityResources.tsx
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EntityLookupRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EntityLookupRequestBusinessIdType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContract.kt
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/api_client_tests/test_entity_lookup.py
  test/flex/models/__init__.py
  test/flex/models/entity_lookup_request.py
  test/flex/models/entity_lookup_request_business_id_type.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

chore(deps): update dependency schemathesis to v4.20.0 (#869)
  requirements-dev.txt
Due: none

refactor: migrate show pages from MUI to EDS-ra (FLEX-1210)
  frontend/src/components/EDS-ra/show.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderShow.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
  frontend/src/entity/EntityShow.tsx
  frontend/src/entity/client/EntityClientShow.tsx
  frontend/src/event/EventShow.tsx
  frontend/src/notification/NotificationShow.tsx
  frontend/src/party/membership/PartyMembershipShow.tsx
  frontend/src/product_type/ProductTypeShow.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionShow.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipShow.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: use getFields for type-safe source props in show pages (FLEX-1210)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderShow.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
  frontend/src/entity/EntityShow.tsx
  frontend/src/entity/client/EntityClientShow.tsx
  frontend/src/event/EventShow.tsx
  frontend/src/notification/NotificationShow.tsx
  frontend/src/party/membership/PartyMembershipShow.tsx
  frontend/src/product_type/ProductTypeShow.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionShow.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipShow.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: format (FLEX-1210)
  frontend/src/components/EDS-ra/show.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderShow.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
  frontend/src/entity/client/EntityClientShow.tsx
  frontend/src/event/EventShow.tsx
  frontend/src/notification/NotificationShow.tsx
  frontend/src/party/membership/PartyMembershipShow.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionShow.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipShow.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: address copilot review comments on show page migration (FLEX-1210)
  frontend/src/components/EDS-ra/show.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderShow.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
  frontend/src/entity/client/EntityClientShow.tsx
  frontend/src/party/membership/PartyMembershipShow.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionShow.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipShow.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: rewrite assumeparty page to EDS (FLEX-1210)
  frontend/src/AssumePartyPage.tsx
  frontend/src/components/EDS-ra/show.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: prettier (FLEX-1210)
  frontend/src/AssumePartyPage.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Potential fix for pull request finding
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: migrate missing lists (FLEX-1210)
  frontend/src/controllable_unit/balance_responsible_party/ControllableUnitBalanceResponsiblePartyList.tsx
  frontend/src/controllable_unit/energy_supplier/ControllableUnitEnergySupplierList.tsx
  frontend/src/entity/client/EntityClientList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: migrate missing lists (FLEX-1210)
  frontend/src/controllable_unit/energy_supplier/ControllableUnitEnergySupplierList.tsx
  frontend/src/entity/client/EntityClientList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: Redesigned the component for managing spg members (FLEX-1202)
  frontend/src/components/AccountingPointLink.tsx
  frontend/src/components/CuStatusBadge.tsx
  frontend/src/components/ui/index.ts
  frontend/src/intl/intl.tsx
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/input/ServiceProvidingGroupManageMembers.tsx
  frontend/src/service_providing_group/membership/ExistingControllableUnitsTable.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
  frontend/src/service_providing_group/membership/ManageMembersPanel.tsx
  frontend/src/service_providing_group/membership/ReviewModal.tsx
  frontend/src/service_providing_group/membership/SelectionFooter.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipTable.tsx
  frontend/src/service_providing_group/membership/UpdateErrorAlert.tsx
  frontend/src/service_providing_group/membership/ValidFromModal.tsx
  frontend/src/service_providing_group/membership/useAddMembersState.ts
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Code improvement from feedback (FLEX-1202)
  frontend/src/service_providing_group/membership/useAddMembersState.ts
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Guard options so interpolation only runs when options is a non-null object (FLEX-1202)
  frontend/src/intl/intl.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: remove pid in external lookup (FLEX-1223)
  backend/data/data.go
  backend/data/static/openapi.json
  docs/resources/entity.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/party/membership/AddPartyMemberViaEntityLookupModal.tsx
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_entity_lookup.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: remove blank lines in generated Python client (FLEX-1223)
  justfile
  requirements-dev.txt
Due: none

refactor: follow comments (FLEX-1223)
  backend/data/data.go
  backend/data/static/openapi.json
  docs/resources/entity.md
  frontend/src/intl/enum-labels.ts
  frontend/src/party/membership/AddPartyMemberViaEntityLookupModal.tsx
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EntityLookupRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EntityLookupRequestBusinessIdType.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/entity_lookup_request.py
  test/flex/models/entity_lookup_request_business_id_type.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: remove broken test (FLEX-1223)
  test/api_client_tests/test_entity_lookup.py
Due: none

fix: adjust text info in input form (FLEX-1223)
  frontend/src/party/membership/AddPartyMemberViaEntityLookupModal.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): improve entity lookup flow (FLEX-1223) (#858)
  backend/data/data.go
  backend/data/models.go
  backend/data/models.sql
  backend/data/models/models.sql.go
  backend/data/static/openapi.json
  db/api/entity_lookup.sql
  frontend/src/entity/lookup/EntityLookupInput.tsx
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/party/PartyShow.tsx
  frontend/src/party/membership/AddPartyMemberViaEntityLookupModal.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
  frontend/src/resources/entityResources.tsx
  justfile
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EntityLookupRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EntityLookupRequestBusinessIdType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContract.kt
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  requirements-dev.txt
  test/api_client_tests/test_entity_lookup.py
  test/flex/models/__init__.py
  test/flex/models/entity_lookup_request.py
  test/flex/models/entity_lookup_request_business_id_type.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat: nullable latitude and longitude on accounting point resource (FLEX-1133)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  backend/sqlc.yaml
  db/api/accounting_point.sql
  db/api/grants/field_level_authorization.sql
  db/flex/accounting_point.sql
  db/flex/accounting_point_migrations.sql
  docs/resources/accounting_point.md
  frontend/src/auth/permissions.ts
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/accounting_point_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

updated with new flow, removed grid validation
  docs/guides/get-ready-for-market/sp-cu-registration.md
Due: none

feat: add location to schema received from adapter in kbackend (FLEX-1133)
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/client/AccountingPointClient.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/AccountingPoint.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/openapi.yaml
  local/accounting-point/client/models/accounting_point.py
Due: check-openapi

Removed grid prequalification info
  docs/guides/get-ready-for-market/sp-spg-registration.md
Due: none

Removed grid node, grid validation and contract reference
  docs/diagrams/controllable_unit_registration.plantuml
  docs/processes/controllable-unit-lookup.md
  docs/processes/controllable-unit-registration.md
Due: check-plantuml

CU update process: Removed grid validation
  docs/diagrams/controllable_unit_update.plantuml
  docs/processes/controllable-unit-update.md
Due: check-plantuml
