Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

fix: missing dash
  docs-dev/architecture.md
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.66.0 (#648)
  .teamcity/pom.xml
Due: none

fix: bring architecture docs up-to-date (#650)
  docs-dev/architecture.md
  docs-dev/diagrams/high-level-architecture.drawio.png
Due: none

chore(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.66.2
  .teamcity/pom.xml
Due: none

png
  docs/diagrams/delivery-verification.png
Due: none

feat: Added baseline of new kotlin module 'api' (FLEX-1064)
  .gitignore
  .pre-commit-config.yaml
  api/bruno/Flex API/Health.yml
  api/bruno/Flex API/environments/Localhost.yml
  api/bruno/Flex API/opencollection.yml
  api/build.gradle.kts
  api/gradle.properties
  api/gradle/libs.versions.toml
  api/gradle/wrapper/gradle-wrapper.jar
  api/gradle/wrapper/gradle-wrapper.properties
  api/gradlew
  api/gradlew.bat
  api/settings.gradle.kts
  api/src/main/kotlin/no/elhub/flex/api/Application.kt
  api/src/main/kotlin/no/elhub/flex/api/config/Logging.kt
  api/src/main/kotlin/no/elhub/flex/api/config/Monitoring.kt
  api/src/main/kotlin/no/elhub/flex/api/config/Routing.kt
  api/src/main/kotlin/no/elhub/flex/api/config/Serialization.kt
  api/src/main/kotlin/no/elhub/flex/api/config/Tracing.kt
  api/src/main/kotlin/no/elhub/flex/api/util/Error.kt
  api/src/main/kotlin/no/elhub/flex/api/util/Request.kt
  api/src/main/resources/application.yaml
  api/src/main/resources/simplelogger.properties
  api/src/test/kotlin/no/elhub/flex/api/HealthCheckTest.kt
  api/src/test/kotlin/no/elhub/flex/api/TestApplication.kt
  detekt-config.yaml
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.66.2 (#652)
  .teamcity/pom.xml
Due: none

feat: Added steps for api module (FLEX-1064)
  .teamcity/settings.kts
Due: none

fix: Use correct cluster and triggerRules for api (FLEX-1064)
  .teamcity/settings.kts
Due: none

fix: Rename api module as kbackend and fix imports in settings.kts (FLEX-1064)
  .pre-commit-config.yaml
  .teamcity/settings.kts
  kbackend/bruno/Flex API/Health.yml
  kbackend/bruno/Flex API/environments/Localhost.yml
  kbackend/bruno/Flex API/opencollection.yml
  kbackend/build.gradle.kts
  kbackend/gradle.properties
  kbackend/gradle/libs.versions.toml
  kbackend/gradle/wrapper/gradle-wrapper.jar
  kbackend/gradle/wrapper/gradle-wrapper.properties
  kbackend/gradlew
  kbackend/gradlew.bat
  kbackend/settings.gradle.kts
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Logging.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Monitoring.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Routing.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Serialization.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Tracing.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Error.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Request.kt
  kbackend/src/main/resources/application.yaml
  kbackend/src/main/resources/simplelogger.properties
  kbackend/src/test/kotlin/no/elhub/flex/HealthCheckTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
Due: none

fix: Moved bruno to test/ directory (FLEX-1064)
  test/bruno/Flex API/Health.yml
  test/bruno/Flex API/environments/Localhost.yml
  test/bruno/Flex API/opencollection.yml
Due: none

fix: Disable autoMerge for kbackend euro (FLEX-1064)
  .teamcity/settings.kts
Due: none

refactor: Update variable name for kbackend repo (FLEX-1064)
  .teamcity/settings.kts
Due: none

feat: add kotlin backend (FLEX-1064) (#653)
  .gitignore
  .pre-commit-config.yaml
  .teamcity/settings.kts
  detekt-config.yaml
  kbackend/build.gradle.kts
  kbackend/gradle.properties
  kbackend/gradle/libs.versions.toml
  kbackend/gradle/wrapper/gradle-wrapper.jar
  kbackend/gradle/wrapper/gradle-wrapper.properties
  kbackend/gradlew
  kbackend/gradlew.bat
  kbackend/settings.gradle.kts
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Logging.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Monitoring.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Routing.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Serialization.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Tracing.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Error.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Request.kt
  kbackend/src/main/resources/application.yaml
  kbackend/src/main/resources/simplelogger.properties
  kbackend/src/test/kotlin/no/elhub/flex/HealthCheckTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  test/bruno/Flex API/Health.yml
  test/bruno/Flex API/environments/Localhost.yml
  test/bruno/Flex API/opencollection.yml
Due: none

fix: Corrupt gradle-wrapper.jar (FLEX-1064)
  kbackend/gradle/wrapper/gradle-wrapper.jar
  kbackend/gradlew
  kbackend/gradlew.bat
Due: none

docs: suggest actual fields for TR (FLEX-1038)
  docs/concepts/technologies.md
  docs/resources/technical_resource.md
  openapi/openapi-api-base.yml
  openapi/resources.yml
Due: none

fix: Corrupt gradle-wrapper.jar (FLEX-1064) (#654)
  kbackend/gradle/wrapper/gradle-wrapper.jar
  kbackend/gradlew
  kbackend/gradlew.bat
Due: none

Added units and changed name to requested prequalified power
  openapi/resources.yml
Due: none

fix: enum references to base (FLEX-1038)
  docs/resources/entity_client.md
  docs/resources/party_membership.md
  docs/resources/technical_resource.md
  frontend/package-lock.json
  justfile
  local/scripts/openapi_to_markdown.py
Due: none

fix: TR-VAL001 (FLEX-1038)
  docs/resources/technical_resource.md
Due: none

Changed lable
  openapi/resources.yml
Due: none

chore: rewrite spg list and input to eds (FLEX-1073)
  frontend/src/service_providing_group/ServiceProvidingGroupInput.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: adds table for adding CUs in spg registration flow (FLEX-1073)
  backend/data/data.go
  backend/data/static/openapi.json
  frontend/src/components/SimpleTable.tsx
  frontend/src/components/ui/index.ts
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupInput.tsx
  frontend/src/service_providing_group/membership/ExistingControllableUnitsTable.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipTable.tsx
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat: add more fields to the other table (FLEX-1073)
  frontend/src/service_providing_group/membership/ExistingControllableUnitsTable.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add error messages (FLEX-1073)
  frontend/src/service_providing_group/ServiceProvidingGroupInput.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: rearrange tabs (FLEX-1073)
  frontend/src/components/SimpleTable.tsx
  frontend/src/service_providing_group/membership/ExistingControllableUnitsTable.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add stepper to create flow (FLEX-1073)
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/index.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupAddMembers.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupCreate.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupInput.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupStepper.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: dont use batch endpoint. And add better feedback (FLEX-1073)
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add count in member tab and restyle stepper so its easier to align (FLEX-1073)
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/stepper/Stepper.module.css
  frontend/src/components/ui/stepper/Stepper.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupStepper.tsx
  frontend/src/service_providing_group/membership/ExistingControllableUnitsTable.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: revert changes to neccesary for batch endpoint (FLEX-1073)
  backend/data/data.go
  backend/data/static/openapi.json
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat: consolidate fields in input and create (FLEX-1073)
  frontend/src/components/ui/formContainer/index.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupAddMembers.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupCreate.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupFields.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: claude code review (FLEX-1073)
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipTable.tsx
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: update package-lock after audit fix (FLEX-1073)
  frontend/package-lock.json
Due: none

fix: revert changes to generated client as well (FLEX-1073)
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Update frontend/src/service_providing_group/input/ServiceProvidingGroupInput.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Update frontend/src/service_providing_group/input/ServiceProvidingGroupStepper.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupStepper.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Update frontend/src/service_providing_group/membership/ExistingControllableUnitsTable.tsx
  frontend/src/service_providing_group/membership/ExistingControllableUnitsTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: descriptions and unitinput on SPG PA input (FLEX-1081)
  .pre-commit-config.yaml
  frontend/src/components/EDS-ra/inputs/ArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/AutocompleteReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/DateTimeInput.tsx
  frontend/src/components/EDS-ra/inputs/EnumInput.tsx
  frontend/src/components/EDS-ra/inputs/ReferenceComboboxInput.tsx
  frontend/src/components/EDS-ra/inputs/TextAreaInput.tsx
  frontend/src/components/EDS-ra/inputs/UnitInput.tsx
  frontend/src/components/EDS-ra/inputs/index.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: shorter unitinput, better description on MAP and remove update persmissions for SP og SPG PA status (FLEX-1081)
  backend/data/static/openapi.json
  db/api/grants/field_level_authorization.sql
  docs/resources/service_providing_group_product_application.md
  frontend/src/auth/permissions.ts
  frontend/src/components/EDS-ra/inputs/UnitInput.tsx
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/tooltip/tooltips.ts
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
