Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

feat: add AccessGate and AppRoutes components
  frontend/src/routes/AccessGate.tsx
  frontend/src/routes/AppRoutes.tsx
  frontend/src/routes/index.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add menu configuration referencing typed route keys
  frontend/src/routes/index.ts
  frontend/src/routes/menu.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add all route definitions
  frontend/src/routes/AppRoutes.tsx
  frontend/src/routes/menu.ts
  frontend/src/routes/routeDefs.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: extract resolvePath to eliminate duplication
  frontend/src/routes/TypedLink.tsx
  frontend/src/routes/helpers.ts
  frontend/src/routes/hooks.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: simplify buildPath and useTypedNavigate API
  frontend/src/routes/helpers.ts
  frontend/src/routes/hooks.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): show BRP on list of CU in spg show / manage members pages (FLEX-1087)
  frontend/src/service_providing_group/membership/ExistingControllableUnitsTable.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: npm audit fix (FLEX-1087)
  frontend/package-lock.json
Due: none

refactor: extract RouteOpts type to simplify typed route helpers
  frontend/src/routes/TypedLink.tsx
  frontend/src/routes/helpers.ts
  frontend/src/routes/hooks.ts
  frontend/src/routes/index.ts
  frontend/src/routes/routeDefs.ts
  frontend/src/routes/types.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: migrate controllable_unit pages to typed route helpers
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
  frontend/src/controllable_unit/ControllableUnitHistoryList.tsx
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/balance_responsible_party/ControllableUnitBalanceResponsiblePartyList.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/controllable_unit/lookup/ExistingControllableUnitsTable.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderHistoryList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowActions.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionHistoryList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionInput.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceHistoryList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceShow.tsx
  frontend/src/routes/routeDefs.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: migrate all remaining pages to typed route helpers
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/entity/lookup/EntityLookupInput.tsx
  frontend/src/party/PartyHistoryList.tsx
  frontend/src/party/membership/PartyMembershipHistoryList.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
  frontend/src/routes/routeDefs.ts
  frontend/src/service_providing_group/ServiceProvidingGroupHistoryList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationHistoryList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionHistoryList.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipHistoryList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionHistoryList.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeHistoryList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: switch to AppRoutes, remove Resource-based routing
  frontend/src/App.tsx
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/resources/accountingPointResources.tsx
  frontend/src/resources/controllableUnitResources.tsx
  frontend/src/resources/entityResources.tsx
  frontend/src/resources/index.tsx
  frontend/src/resources/partyResources.tsx
  frontend/src/resources/productResources.tsx
  frontend/src/resources/serviceProviderResources.tsx
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/resources/shared.tsx
  frontend/src/resources/systemResources.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: remove old useLocationState hook and manual LocationState types
  frontend/src/hooks/useLocationState.ts
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/party/PartyInput.tsx
  frontend/src/routes/routeDefs.ts
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: lint and format
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceShow.tsx
  frontend/src/routes/routeDefs.ts
  frontend/src/routes/types.ts
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): show BRP on list of CU in SPG show / manage members pages (FLEX-1087) (#753)
  frontend/package-lock.json
  frontend/src/service_providing_group/membership/ExistingControllableUnitsTable.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: bump go version in dockerfile
  backend/Dockerfile
Due: dockerfilelint

fix(test): fix tests
  test/api_client_tests/test_cu_suspension.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_spg_grid_suspension.py
  test/api_client_tests/test_spg_product_suspension.py
  test/api_client_tests/test_spgps_comment.py
Due: none

fix(deps): update backend (#736)
  backend/Dockerfile
  backend/go.mod
  backend/go.sum
  test/api_client_tests/test_cu_suspension.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_spg_grid_suspension.py
  test/api_client_tests/test_spg_product_suspension.py
  test/api_client_tests/test_spgps_comment.py
Due: dockerfilelint

fix(deps): update kbackend (#739)
  kbackend/gradle/libs.versions.toml
Due: none

chore(deps): update dependency pytest to v9.0.3 [security] (#748)
  requirements-dev.txt
Due: none

fix: translate and enum labels (FLEX-1123)
  frontend/src/components/comments/CommentBubble.tsx
  frontend/src/components/comments/CommentFeed.tsx
  frontend/src/components/comments/types.ts
  frontend/src/service_providing_group/product_application/show/SpgpaCommentFeed.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: format (FLEX-1123)
  frontend/src/components/comments/CommentBubble.tsx
  frontend/src/components/comments/CommentFeed.tsx
  frontend/src/components/comments/types.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: Added resource documentation for Accounting Point Grid Location (FLEX-1136)
  docs/resources/accounting_point_grid_location.md
Due: none

docs: link to resource docs in manually documented endpoints (FLEX-1012)
  backend/data/static/openapi.json
  frontend/src/generated-client/sdk.gen.ts
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/flex/api/controllable_unit/call_controllable_unit_lookup.py
  test/flex/api/entity/call_entity_lookup.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: generate computed relationships for embedding (FLEX-1121)
  db/api/changelog.yml
  db/api/embedding/embedding.sql
  local/scripts/internal_resources_to_db.py
  local/scripts/j2.py
  local/scripts/openapi_to_db.py
  local/scripts/templates/embedding.j2.sql
  openapi/resources.yml
  test/inspect/embedding.hurl
  test/inspect/gen_jwt.py
  test/inspect/hurl.sh
  test/inspect/local.env
Due: none

feat: example postgrest query rewrite with embed and valid_at (FLEX-1121)
  backend/data/data.go
  test/inspect/dev.env
  test/inspect/embedding.hurl
  test/inspect/gen_jwt.py
  test/inspect/hurl.sh
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore(deps): update dependency schemathesis to v4.15.2
  requirements-dev.txt
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency schemathesis to v4.15.2 (#757)
  requirements-dev.txt
Due: none

fix(deps): update kbackend (#758)
  kbackend/gradle/libs.versions.toml
Due: none

fix(deps): update frontend (#750)
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: add NavigationHistoryProvider for back button context
  docs/superpowers/plans/2026-04-17-context-aware-back-button.md
  docs/superpowers/specs/2026-04-17-context-aware-back-button-design.md
  frontend/src/App.tsx
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/components/NavigationHistoryProvider.tsx
  frontend/src/components/ShowPageLayout.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/navigation/routeLabels.ts
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: format (FLEX-1131)
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/components/NavigationHistoryProvider.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove ai plans (FLEX-1131)
  docs/superpowers/plans/2026-04-17-context-aware-back-button.md
  docs/superpowers/specs/2026-04-17-context-aware-back-button-design.md
Due: none

chore: remove dead code following adapter backend update (FLEX-474)
  backend/data/data.go
  backend/flex.go
  backend/meteringpointdatahub/meteringpointdatahub.go
  backend/meteringpointdatahub/models.go
  docker-compose.yml
  local/backend/dev.env
  local/backend/test.env
  local/elhub/main.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: redesign comments (FLEX-1123) (#752)
  frontend/src/components/ShowPageLayout.tsx
  frontend/src/components/comments/CommentBubble.tsx
  frontend/src/components/comments/CommentFeed.tsx
  frontend/src/components/comments/types.ts
  frontend/src/service_providing_group/product_application/show/SpgpaCommentFeed.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
  frontend/src/service_providing_group/product_application/show/useSpgpaComments.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: format (FLEX-1131)
  frontend/src/components/ShowPageLayout.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check
