Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

chore(deps): update local [local]
  requirements-dev.txt
Due: none

fix(deps): update backend [backend]
  backend/Dockerfile
  backend/go.mod
  backend/go.sum
Due: dockerfilelint

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.58.1 (#546)
  .teamcity/pom.xml
  .teamcity/settings.kts
Due: none

chore(renovate): remove commitMessageSuffix (FLEX-957)
  .github/renovate.json5
Due: none

chore(renovate): remove commitMessageSuffix (FLEX-957) (#552)
  .github/renovate.json5
Due: none

chore(deps): update dependency globals to v17 [patch]
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(renovate): add empty commitMessageSuffix (FLEX-957)
  .github/renovate.json5
Due: none

chore(renovate): add empty commitMessageSuffix (FLEX-957) (#555)
  .github/renovate.json5
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update local (#550)
  requirements-dev.txt
Due: none

feat: replace megalinter with individual secret linters in pre-commit
  .gitleaksignore
  .mega-linter.yml
  .pre-commit-config.yaml
  docs-dev/tooling.md
  docs/technical/auth/getting-started.md
  justfile
Due: none

fix: ci requires a passing megalinter so re-adding config
  .mega-linter.yml
  justfile
Due: none

fix: gitleaks should run on pre-commit rather than pre-push
  .pre-commit-config.yaml
Due: none

docs: new notice design (FLEX-976)
  docs-dev/notice.md
Due: none

docs: restructure a bit + clarify deduplication (FLEX-976)
  docs-dev/notice.md
Due: none

feat: replace megalinter with individual secret linters in pre-commit (#556)
  .gitleaksignore
  .mega-linter.yml
  .pre-commit-config.yaml
  docs-dev/tooling.md
  docs/technical/auth/getting-started.md
  justfile
Due: none

feat: add eds-ra components for input and use them in partyInput (FLEX-963)
  frontend/src/components/EDS-ra/inputs/ArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/AutocompleteReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/components/EDS-ra/inputs/EnumArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/EnumInput.tsx
  frontend/src/components/EDS-ra/inputs/FormToolbar.tsx
  frontend/src/components/EDS-ra/inputs/InputStack.tsx
  frontend/src/components/EDS-ra/inputs/PartyReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/ReferenceComboboxInput.tsx
  frontend/src/components/EDS-ra/inputs/TextInput.tsx
  frontend/src/components/EDS-ra/inputs/index.ts
  frontend/src/components/EDS-ra/list/List.tsx
  frontend/src/components/ui/formContainer/formContainer.module.css
  frontend/src/components/ui/formContainer/index.tsx
  frontend/src/components/ui/index.ts
  frontend/src/notice/NoticeShow.tsx
  frontend/src/party/PartyInput.tsx
  frontend/src/party/PartyList.tsx
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: audit fix (FLEX-963)
  frontend/package-lock.json
Due: none

refactor(db): split notice view (FLEX-976)
  .sqlfluff
  db/api/notice.sql
  db/flex/changelog.yml
  db/flex/notice.sql
  db/flex/notice/notice_controllable_unit.sql
  db/flex/notice/notice_controllable_unit_service_provider.sql
  db/flex/notice/notice_controllable_unit_suspension.sql
  db/flex/notice/notice_party.sql
  db/flex/notice/notice_service_provider_product_application.sql
  db/flex/notice/notice_service_provider_product_suspension.sql
  db/flex/notice/notice_service_providing_group.sql
  db/flex/notice/notice_service_providing_group_grid_prequalification.sql
  db/flex/notice/notice_service_providing_group_grid_suspension.sql
  db/flex/notice/notice_service_providing_group_membership.sql
  db/flex/notice/notice_service_providing_group_product_application.sql
  db/flex/notice/notice_service_providing_group_product_suspension.sql
  docs-dev/notice.md
Due: none

fix: copilot comment and remove input stack (FLEX-963)
  frontend/src/components/EDS-ra/inputs/FormToolbar.tsx
  frontend/src/components/EDS-ra/inputs/InputStack.tsx
  frontend/src/components/EDS-ra/inputs/index.ts
  frontend/src/party/PartyInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: purge mentions of market operator party type
  docs/guides/test-data.md
  docs/processes/service-provider-product-application.md
  docs/resources/accounting_point.md
  docs/resources/accounting_point_balance_responsible_party.md
  docs/resources/accounting_point_bidding_zone.md
  docs/resources/accounting_point_end_user.md
  docs/resources/accounting_point_energy_supplier.md
  docs/resources/accounting_point_metering_grid_area.md
  docs/resources/controllable_unit.md
  docs/resources/controllable_unit_service_provider.md
  docs/resources/controllable_unit_suspension.md
  docs/resources/controllable_unit_suspension_comment.md
  docs/resources/entity.md
  docs/resources/entity_client.md
  docs/resources/event.md
  docs/resources/identity.md
  docs/resources/metering_grid_area.md
  docs/resources/notice.md
  docs/resources/notification.md
  docs/resources/party.md
  docs/resources/party_membership.md
  docs/resources/product_type.md
  docs/resources/service_provider_product_application.md
  docs/resources/service_provider_product_application_comment.md
  docs/resources/service_provider_product_suspension.md
  docs/resources/service_provider_product_suspension_comment.md
  docs/resources/service_providing_group.md
  docs/resources/service_providing_group_grid_prequalification.md
  docs/resources/service_providing_group_grid_prequalification_comment.md
  docs/resources/service_providing_group_grid_suspension.md
  docs/resources/service_providing_group_grid_suspension_comment.md
  docs/resources/service_providing_group_membership.md
  docs/resources/service_providing_group_product_application.md
  docs/resources/service_providing_group_product_suspension.md
  docs/resources/service_providing_group_product_suspension_comment.md
  docs/resources/system_operator_product_type.md
  docs/resources/technical_resource.md
  docs/technical/auth/authn-model.md
  local/scripts/csv_to_md.py
Due: none

Update docs-dev/notice.md
  docs-dev/notice.md
Due: none

Update db/flex/notice/notice_service_provider_product_application.sql
  db/flex/notice/notice_service_provider_product_application.sql
Due: none

Update db/flex/notice/notice_service_providing_group_product_application.sql
  db/flex/notice/notice_service_providing_group_product_application.sql
Due: none

fix: flex prefix for CU table (FLEX-976)
  db/flex/notice/notice_controllable_unit.sql
Due: none

fix(deps): update frontend (#553)
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency globals to v17 (#554)
  frontend/package-lock.json
  frontend/package.json
Due: none

Rough draft of process
  docs/diagrams/delivery-verification.plantuml
  docs/diagrams/delivery-verification.png
  docs/processes/delivery-verification.md
Due: check-plantuml

feat: implement party-input with EDS (FLEX-963) (#558)
  frontend/package-lock.json
  frontend/src/components/EDS-ra/inputs/ArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/AutocompleteReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/components/EDS-ra/inputs/EnumArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/EnumInput.tsx
  frontend/src/components/EDS-ra/inputs/FormToolbar.tsx
  frontend/src/components/EDS-ra/inputs/PartyReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/ReferenceComboboxInput.tsx
  frontend/src/components/EDS-ra/inputs/TextInput.tsx
  frontend/src/components/EDS-ra/inputs/index.ts
  frontend/src/components/EDS-ra/list/List.tsx
  frontend/src/components/ui/formContainer/formContainer.module.css
  frontend/src/components/ui/formContainer/index.tsx
  frontend/src/components/ui/index.ts
  frontend/src/notice/NoticeShow.tsx
  frontend/src/party/PartyInput.tsx
  frontend/src/party/PartyList.tsx
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: split notice view into one per notice type (FLEX-976) (#557)
  .sqlfluff
  db/api/notice.sql
  db/flex/changelog.yml
  db/flex/notice.sql
  db/flex/notice/notice_controllable_unit.sql
  db/flex/notice/notice_controllable_unit_service_provider.sql
  db/flex/notice/notice_controllable_unit_suspension.sql
  db/flex/notice/notice_party.sql
  db/flex/notice/notice_service_provider_product_application.sql
  db/flex/notice/notice_service_provider_product_suspension.sql
  db/flex/notice/notice_service_providing_group.sql
  db/flex/notice/notice_service_providing_group_grid_prequalification.sql
  db/flex/notice/notice_service_providing_group_grid_suspension.sql
  db/flex/notice/notice_service_providing_group_membership.sql
  db/flex/notice/notice_service_providing_group_product_application.sql
  db/flex/notice/notice_service_providing_group_product_suspension.sql
  docs-dev/notice.md
Due: none

fix: tone down enum-field (FLEX-954) (FLEX-982)
  frontend/src/components/EDS-ra/fields/EnumField.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: rewrite resource and event button, fix some imports (FLEX-954) (FLEX-982)
  frontend/src/components/EDS-ra/buttons/EventButton.tsx
  frontend/src/components/EDS-ra/buttons/NestedResourceHistoryButton.tsx
  frontend/src/components/EDS-ra/buttons/ResourceHistoryButton.tsx
  frontend/src/components/EDS-ra/buttons/hooks/useEvent.ts
  frontend/src/components/EDS-ra/buttons/hooks/useNestedResourceHistory.ts
  frontend/src/components/EDS-ra/buttons/hooks/useResourceHistory.ts
  frontend/src/components/EDS-ra/buttons/index.ts
  frontend/src/components/EDS-ra/index.ts
  frontend/src/party/PartyShow.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: describe ideas around bidding zones and trade areas
  docs/concepts/conceptual-model.md
  docs/concepts/grid-model.md
  docs/diagrams/grid_area_definition.drawio.png
Due: none

fix: apply suggestions from copilot
  docs/concepts/conceptual-model.md
  docs/concepts/grid-model.md
Due: none

docs: purge mentions of market operator party type (#559)
  docs/guides/test-data.md
  docs/processes/service-provider-product-application.md
  docs/resources/accounting_point.md
  docs/resources/accounting_point_balance_responsible_party.md
  docs/resources/accounting_point_bidding_zone.md
  docs/resources/accounting_point_end_user.md
  docs/resources/accounting_point_energy_supplier.md
  docs/resources/accounting_point_metering_grid_area.md
  docs/resources/controllable_unit.md
  docs/resources/controllable_unit_service_provider.md
  docs/resources/controllable_unit_suspension.md
  docs/resources/controllable_unit_suspension_comment.md
  docs/resources/entity.md
  docs/resources/entity_client.md
  docs/resources/event.md
  docs/resources/identity.md
  docs/resources/metering_grid_area.md
  docs/resources/notice.md
  docs/resources/notification.md
  docs/resources/party.md
  docs/resources/party_membership.md
  docs/resources/product_type.md
  docs/resources/service_provider_product_application.md
  docs/resources/service_provider_product_application_comment.md
  docs/resources/service_provider_product_suspension.md
  docs/resources/service_provider_product_suspension_comment.md
  docs/resources/service_providing_group.md
  docs/resources/service_providing_group_grid_prequalification.md
  docs/resources/service_providing_group_grid_prequalification_comment.md
  docs/resources/service_providing_group_grid_suspension.md
  docs/resources/service_providing_group_grid_suspension_comment.md
  docs/resources/service_providing_group_membership.md
  docs/resources/service_providing_group_product_application.md
  docs/resources/service_providing_group_product_suspension.md
  docs/resources/service_providing_group_product_suspension_comment.md
  docs/resources/system_operator_product_type.md
  docs/resources/technical_resource.md
  docs/technical/auth/authn-model.md
  local/scripts/csv_to_md.py
Due: none

fix(deps): update backend (#551)
  backend/Dockerfile
  backend/go.mod
  backend/go.sum
Due: dockerfilelint

chore(deps): update dependency schemathesis to v4.9.1
  requirements-dev.txt
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
