Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

feat: add test migrations script (#458)
  justfile
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.52.0 (#461)
  .teamcity/pom.xml
Due: none

fix: align go version in go.mod
  backend/go.mod
Due: none

ci: define liquibase entrypoint (FLEX-867)
  .teamcity/settings.kts
Due: none

ci: define liquibase entrypoint (FLEX-867) (#462)
  .teamcity/settings.kts
Due: none

chore(deps): update patch updates [patch] (#460)
  backend/Dockerfile
  backend/go.mod
  frontend/package-lock.json
  frontend/package.json
Due: dockerfilelint

ci: notify postgrest after liquibase has run (FLEX-651)
  db/changelog.yml
Due: none

ci: notify postgrest after liquibase has run (FLEX-651) (#463)
  db/changelog.yml
Due: none

Update docs/concepts/time-series.md
  docs/concepts/time-series.md
Due: none

feat: add spg.bidding_zone in db and API (FLEX-899)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/service_providing_group.sql
  db/flex/service_providing_group.sql
  db/flex/service_providing_group_migrations.sql
  db/test_data/test_data.sql
  docs/resources/service_providing_group.md
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/__init__.py
  test/flex/models/service_providing_group.py
  test/flex/models/service_providing_group_bidding_zone.py
  test/flex/models/service_providing_group_create_data.py
  test/flex/models/service_providing_group_create_request.py
  test/flex/models/service_providing_group_history_response.py
  test/flex/models/service_providing_group_response.py
  test/flex/models/service_providing_group_update_request.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: just permissions (FLEX-899)
  db/api/grants/field_level_authorization.sql
  docs/resources/service_providing_group.md
  frontend/src/auth/permissions.ts
Due: prettier, frontend-type-check, frontend-dependency-check

removed "we"
  docs/concepts/time-series.md
Due: none

docs: verification and quantification (#438)
  docs/concepts/time-series.md
Due: none

feat: add generated open api client
  frontend/eslint.config.js
  frontend/openapi-ts.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/generated-client/client.gen.ts
  frontend/src/generated-client/client/client.gen.ts
  frontend/src/generated-client/client/index.ts
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/client/utils.gen.ts
  frontend/src/generated-client/core/auth.gen.ts
  frontend/src/generated-client/core/bodySerializer.gen.ts
  frontend/src/generated-client/core/params.gen.ts
  frontend/src/generated-client/core/pathSerializer.gen.ts
  frontend/src/generated-client/core/queryKeySerializer.gen.ts
  frontend/src/generated-client/core/serverSentEvents.gen.ts
  frontend/src/generated-client/core/types.gen.ts
  frontend/src/generated-client/core/utils.gen.ts
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/sdk.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/hooks/useLocationState.ts
  frontend/src/index.tsx
  frontend/tsconfig.json
  justfile
Due: prettier, frontend-type-check, frontend-dependency-check

feat: add generation of zod-schemas
  frontend/openapi-ts.config.ts
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/generated-client/zod.gen.ts
  justfile
Due: prettier, frontend-type-check, frontend-dependency-check

feat: use generated zod to validate form
  frontend/package-lock.json
  frontend/package.json
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

chore: remove unused hook
  frontend/src/hooks/useLocationState.ts
Due: prettier, frontend-type-check, frontend-dependency-check

feat(frontend): add spg.bidding_zone (FLEX-899)
  frontend/src/service_providing_group/ServiceProvidingGroupInput.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupList.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

Update frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: spg.bidding_zone history (FLEX-899)
  db/flex/service_providing_group_migrations.sql
  frontend/src/service_providing_group/ServiceProvidingGroupHistoryList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: og->or typy (FLEX-899)
  backend/data/static/openapi.json
  docs/resources/service_providing_group.md
  frontend/src/tooltip/tooltips.json
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group.py
  test/flex/models/service_providing_group_create_data.py
  test/flex/models/service_providing_group_create_request.py
  test/flex/models/service_providing_group_history_response.py
  test/flex/models/service_providing_group_response.py
  test/flex/models/service_providing_group_update_request.py
Due: check-openapi

fix: eslint config should ignore generated files
  frontend/eslint.config.js
Due: prettier

feat: spg.bidding_zone (FLEX-899) (#465)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group.sql
  db/flex/service_providing_group.sql
  db/flex/service_providing_group_migrations.sql
  db/test_data/test_data.sql
  docs/resources/service_providing_group.md
  frontend/src/auth/permissions.ts
  frontend/src/service_providing_group/ServiceProvidingGroupHistoryList.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupInput.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupList.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupShow.tsx
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/__init__.py
  test/flex/models/service_providing_group.py
  test/flex/models/service_providing_group_bidding_zone.py
  test/flex/models/service_providing_group_create_data.py
  test/flex/models/service_providing_group_create_request.py
  test/flex/models/service_providing_group_history_response.py
  test/flex/models/service_providing_group_response.py
  test/flex/models/service_providing_group_update_request.py
Due: prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

docs: SPGM validation rules (FLEX-900)
  docs/resources/service_providing_group_membership.md
Due: none

refactor: rename SPGM-VAL001 trigger to make room for new one (FLEX-900)
  db/flex/service_providing_group_membership.sql
Due: none

chore: add ap and cu bidding_zone views (FLEX-900)
  db/flex/accounting_point_bidding_zone.sql
  db/flex/changelog.yml
  db/flex/controllable_unit_bidding_zone.sql
Due: none

feat: add spgm bidding zone consistency validation (FLEX-900)
  db/flex/service_providing_group_membership.sql
Due: none

fix: update precommit yaml to use bash script for eslint
  .pre-commit-config.yaml
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: broken test after adding spg.bidding_zone (FLEX-899)
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_cu_suspension.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_spg.py
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_grid_suspension.py
  test/api_client_tests/test_spg_membership.py
  test/api_client_tests/test_spg_product_application.py
  test/api_client_tests/test_spg_product_suspension.py
  test/api_client_tests/test_spggp_comment.py
  test/api_client_tests/test_spggs_comment.py
  test/api_client_tests/test_spgps_comment.py
Due: none

fix: spgm cusp consistency bug (FLEX-900)
  db/flex/service_providing_group_membership.sql
Due: none

fix: remove test eslint error
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: broken test after adding spg.bidding_zone (FLEX-899) (#466)
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_cu_suspension.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_spg.py
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_grid_suspension.py
  test/api_client_tests/test_spg_membership.py
  test/api_client_tests/test_spg_product_application.py
  test/api_client_tests/test_spg_product_suspension.py
  test/api_client_tests/test_spggp_comment.py
  test/api_client_tests/test_spggs_comment.py
  test/api_client_tests/test_spgps_comment.py
Due: none

fix: update precommit yaml to use bash script for eslint (#469)
  .pre-commit-config.yaml
Due: none

fix: typo price area -> bidding zone (FLEX-900)
  docs/resources/service_providing_group_membership.md
Due: none

chore: revert stuff covered by other PRs (FLEX-850)
  db/flex/service_providing_group_membership.sql
  docs/resources/notice.md
  docs/resources/service_providing_group_membership.md
Due: none

feat: subject field in event resource (FLEX-902)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/event.sql
  db/api/grants/field_level_authorization.sql
  db/flex/event.sql
  db/flex/event_migrations.sql
  docs/resources/event.md
  frontend/src/auth/permissions.ts
  frontend/src/event/EventList.tsx
  frontend/src/event/EventShow.tsx
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/event.py
  test/flex/models/event_response.py
Due: prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: spgm cusp consistency bug (FLEX-900) (#467)
  db/flex/service_providing_group_membership.sql
Due: none
