Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

feat: reintroduce controllable unit lookup events (FLEX-1265) (#913)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  backend/event/worker.go
  db/flex/event_migrations.sql
  db/flex/event_rls.sql
  kbackend/src/main/kotlin/no/elhub/flex/event/db/EventRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTimezoneTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/util/JwtTestUtil.kt
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: more liberal email business id type check (FLEX-1272)
  db/flex/business_id_type.sql
  test/api_client_tests/test_entity.py
Due: none

fix: remove isAutoCommit=false from HikariCP to prevent idle-in-transaction connections (FLEX-1269)
  kbackend/src/main/kotlin/no/elhub/flex/config/Database.kt
Due: none

fix: more liberal email business id type check (FLEX-1272) (#914)
  db/flex/business_id_type.sql
  test/api_client_tests/test_entity.py
Due: none

fix: remove isAutoCommit=false from HikariCP to prevent idle-in-transaction connections (FLEX-1269) (#915)
  kbackend/src/main/kotlin/no/elhub/flex/config/Database.kt
Due: none

Added SP contract + "rusk"
  docs/diagrams/controllable_unit_registration.plantuml
  docs/diagrams/controllable_unit_registration.png
  docs/diagrams/controllable_unit_update.png
  docs/processes/controllable-unit-lookup.md
Due: check-plantuml

Reinstated add CU loop
  docs/diagrams/service_providing_group_registration.plantuml
  docs/diagrams/service_providing_group_registration.png
Due: check-plantuml

fix: remove 'go to resource' column and make source clickable (FLEX-1276)
  frontend/src/notice/NoticeList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: set default status filter to 'active' (FLEX-1276)
  frontend/src/notice/NoticeList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: create entity and org party in staging party update (FLEX-1273)
  db/flex/party.sql
  db/staging/party_staging.sql
Due: none

feat(db): email entity business IDs must be lowercase (FLEX-1280)
  db/flex/business_id_type.sql
  db/flex/entity_migrations.sql
  docs/resources/entity.md
  test/api_client_tests/test_entity.py
Due: none

feat: run notice-sync every 54 seconds (FLEX-1274)
  db/flex/notice_fresh.sql
  local/postgres/init.sql
Due: none

feat: better UX (FLEX-1280)
  backend/auth/auth.go
  backend/data/data.go
  frontend/src/party/membership/AddPartyMemberViaEntityLookupModal.tsx
  test/api_client_tests/test_entity_lookup.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore: npm audit fix (FLEX-1280)
  frontend/package-lock.json
Due: none

feat: party show using new layout (FLEX-1279)
  frontend/src/components/EDS-ra/list/List.tsx
  frontend/src/party/PartyShow.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: remove migration (FLEX-1280)
  db/flex/entity_migrations.sql
Due: none

feat: notice show using new layout (FLEX-1279)
  frontend/src/notice/NoticeShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: create entity and org party in staging party update (FLEX-1273) (#916)
  db/flex/party.sql
  db/staging/party_staging.sql
Due: none

fix: Receiver typo (FLEX-1279)
  frontend/src/notice/NoticeShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: email entity business IDs must be lowercase (FLEX-1280) (#918)
  backend/auth/auth.go
  backend/data/data.go
  db/flex/business_id_type.sql
  docs/resources/entity.md
  frontend/package-lock.json
  frontend/src/party/membership/AddPartyMemberViaEntityLookupModal.tsx
  test/api_client_tests/test_entity.py
  test/api_client_tests/test_entity_lookup.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: run notice-sync every 54 seconds (FLEX-1274) (#917)
  db/flex/notice_fresh.sql
  local/postgres/init.sql
Due: none

feat: party and notice show using new layout (#919)
  frontend/src/components/EDS-ra/list/List.tsx
  frontend/src/notice/NoticeShow.tsx
  frontend/src/party/PartyShow.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: added names/lables that are easier to read for the different notice types (FLEX-1276)
  frontend/src/notice/NoticeList.tsx
  frontend/src/notice/noticeTypes.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: correct notification generation on CU lookup by accounting point ID (FLEX-1265)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.go
  backend/event/models/models.sql.go
  backend/event/schemas/notification.sql
  db/notification/accounting_point_end_user.sql
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore: rename column referencing party as 'Recipient' (FLEX-1276)
  frontend/src/notice/NoticeList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: better details on notice party.missing (FLEX-1278)
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/notice/details/NoticePartyMissing.tsx
  frontend/src/party/PartyShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: correct notification generation on CU lookup by accounting point ID (FLEX-1265) (#920)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.go
  backend/event/models/models.sql.go
  backend/event/schemas/notification.sql
  db/notification/accounting_point_end_user.sql
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: better details on notice party.missing (FLEX-1278) (#921)
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/notice/details/NoticePartyMissing.tsx
  frontend/src/party/PartyShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: set current party as default notice filter. Changing the filter is only visible to FISO (FLEX-1276)
  frontend/src/notice/NoticeList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: ignore FISO in notice party.residual (FLEX-1193)
  db/flex/notice/notice_party.sql
Due: none

feat: Added description and action on notice show (FLEX-1276)
  frontend/src/notice/NoticeShow.tsx
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/notice/noticeTypes.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): simple dashboard for FISO role showing notices (FLEX-1237)
  frontend/src/dashboard/Dashboard.tsx
  frontend/src/dashboard/flexibility_information_system_operator/FisoDashboard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): add proper support for notices party.outdated and party.residual (FLEX-1281)
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/notice/details/NoticePartyMissing.tsx
  frontend/src/notice/details/NoticePartyOutdated.tsx
  frontend/src/notice/details/NoticePartyResidual.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): simple dashboard for FISO role showing notices (FLEX-1237) (#923)
  frontend/src/dashboard/Dashboard.tsx
  frontend/src/dashboard/flexibility_information_system_operator/FisoDashboard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: return null for SourceLink if notice source is null (FLEX-1276)
  frontend/src/notice/NoticeList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: notice id equal to the one emitted by backend (FLEX-1276)
  frontend/src/notice/noticeTypes.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: partyID string->number (FLEX-1276)
  frontend/src/notice/NoticeList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: ignore FISO in notice party.residual (FLEX-1193) (#922)
  db/flex/notice/notice_party.sql
Due: none

chore: improved notice texts (FLEX-1276)
  frontend/src/notice/noticeTypes.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: revamped notice list (FLEX-1276) (#924)
  frontend/src/notice/NoticeList.tsx
  frontend/src/notice/NoticeShow.tsx
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/notice/noticeTypes.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
