Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix: docs (FLEX-1245)
  docs-dev/db-migration.md
Due: none

chore: 5x login cookie lifetime (FLEX-1236)
  backend/auth/auth.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

revert: move eslint and prettier hooks from pre-commit to pre-push (#698)
  .pre-commit-config.yaml
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update local
  requirements-dev.txt
Due: none

fix(deps): update backend to v1.44.0
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
  kbackend/gradle/wrapper/gradle-wrapper.properties
Due: none

revert: move eslint and prettier hooks from pre-commit to pre-push (#698) (#881)
  .pre-commit-config.yaml
Due: none

Added activation messages
  docs/guides/get-ready-for-market/sp-cu-registration.md
  docs/guides/get-ready-for-market/sp-spg-registration.md
Due: none

fix: auth provider must always return Permissions object
  frontend/src/auth/authProvider.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: reload permissions after putting session token in local storage (FLEX-1210)
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/AssumePartyPage.tsx
  frontend/src/auth/authProvider.tsx
  frontend/src/queryClient.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: migrate some remaining lists (FLEX-1210) (#872)
  frontend/src/controllable_unit/balance_responsible_party/ControllableUnitBalanceResponsiblePartyList.tsx
  frontend/src/controllable_unit/energy_supplier/ControllableUnitEnergySupplierList.tsx
  frontend/src/entity/client/EntityClientList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: query client not as global variable
  frontend/src/App.tsx
  frontend/src/auth/authProvider.tsx
  frontend/src/queryClient.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: empty assumable party list must show only one message to the user (FLEX-1210)
  frontend/src/AssumePartyPage.tsx
  frontend/src/components/EDS-ra/list/Datagrid.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: migrate assumeparty (#871)
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/AssumePartyPage.tsx
  frontend/src/auth/authProvider.tsx
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/components/EDS-ra/show.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderShow.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
  frontend/src/entity/EntityShow.tsx
  frontend/src/entity/client/EntityClientShow.tsx
  frontend/src/event/EventShow.tsx
  frontend/src/notification/NotificationShow.tsx
  frontend/src/party/membership/PartyMembershipShow.tsx
  frontend/src/product_type/ProductTypeShow.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionShow.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipShow.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): let user enter additional information when creating CU (FLEX-1252)
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): sensitive info warning on additional information fields (FLEX-1247)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/components/EDS-ra/inputs/TextAreaInput.tsx
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupFields.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: 5x login cookie lifetime (FLEX-1236) (#880)
  backend/auth/auth.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore(deps): update local (#882)
  requirements-dev.txt
Due: none

fix(deps): update backend to v1.44.0 (#883)
  backend/go.mod
  backend/go.sum
Due: none

docs: change message (FLEX-1247)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupFields.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): sensitive info warning on additional information fields (FLEX-1247) (#884)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/components/EDS-ra/inputs/TextAreaInput.tsx
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupFields.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: regenerate frontend code
  frontend/src/generated-client/client/client.gen.ts
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/client/utils.gen.ts
  frontend/src/generated-client/core/params.gen.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update frontend (#870)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/generated-client/client/client.gen.ts
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/client/utils.gen.ts
  frontend/src/generated-client/core/params.gen.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

diagram
  docs/diagrams/controllable_unit_registration.png
Due: none

Removed grid prequal
  docs/diagrams/service_providing_group_registration.plantuml
  docs/diagrams/service_providing_group_registration.png
  docs/processes/service-providing-group-registration.md
Due: check-plantuml

chore(deps): update dependency io.insert-koin.compiler.plugin to v1 (#863)
  kbackend/gradle/libs.versions.toml
Due: none

fix(deps): update kbackend (#789)
  kbackend/gradle/libs.versions.toml
  kbackend/gradle/wrapper/gradle-wrapper.properties
Due: none

feat: ORG admins can no longer see person entities having email business ID (FLEX-1241)
  db/flex/entity_rls.sql
  docs/resources/entity.md
  test/api_client_tests/test_entity.py
Due: none

feat: Include party type in PartyReferenceInput label where needed (FLEX-1240)
  frontend/src/components/EDS-ra/inputs/AutocompleteReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/PartyReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/ReferenceComboboxInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeInput.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: ORG admins can no longer see person entities having email business ID (FLEX-1241) (#886)
  db/flex/entity_rls.sql
  docs/resources/entity.md
  test/api_client_tests/test_entity.py
Due: none

feat: Include party type in PartyReferenceInput label where needed (FLEX-1240) (#888)
  frontend/src/components/EDS-ra/inputs/AutocompleteReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/PartyReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/ReferenceComboboxInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeInput.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): make assume party list non clickable again
  frontend/src/AssumePartyPage.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): make assume party list non clickable again (#889)
  frontend/src/AssumePartyPage.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: copilot-detected old copy-pasta-errors
  db/flex/controllable_unit_balance_responsible_party.sql
  db/flex/service_providing_group_grid_prequalification_involved_parties.sql
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.76.10
  .teamcity/pom.xml
Due: none
