Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

feat(ui): show rated power next to flexible power with a ratio (FLEX-1146)
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
  frontend/src/service_providing_group/membership/ExistingControllableUnitsTable.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
  frontend/src/service_providing_group/summary/ServiceProvidingGroupTechnicalResourceSummary.tsx
  frontend/src/util/powerRatio.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: change the power ratio to a tag (more visible) (FLEX-1146)
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
  frontend/src/service_providing_group/membership/ExistingControllableUnitsTable.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/util/powerRatio.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: tooltip to explain the ratio (FLEX-1146)
  frontend/src/util/powerRatio.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: colors directly obtained from design system (FLEX-1146)
  frontend/src/service_providing_group/summary/ServiceProvidingGroupTechnicalResourceSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove empty paragraph
  frontend/src/service_providing_group/summary/ServiceProvidingGroupTechnicalResourceSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: create components outside of render (FLEX-1146)
  frontend/src/AssumePartyPage.tsx
  frontend/src/entity/client/EntityClientShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): show aggregates from SPG summary on SPG and SPGPA show pages (FLEX-1146) (#777)
  backend/data/static/openapi.json
  docs/resources/controllable_unit.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/AssumePartyPage.tsx
  frontend/src/components/ui/index.ts
  frontend/src/entity/client/EntityClientShow.tsx
  frontend/src/generated-client/types.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
  frontend/src/service_providing_group/membership/ExistingControllableUnitsTable.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowSPGSummarySection.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowSummary.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
  frontend/src/service_providing_group/summary/ServiceProvidingGroupControllableUnitSummary.tsx
  frontend/src/service_providing_group/summary/ServiceProvidingGroupTechnicalResourceSummary.tsx
  frontend/src/tooltip/tooltips.ts
  frontend/src/util/powerRatio.tsx
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitUpdateRequest.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/controllable_unit_create_request.py
  test/flex/models/controllable_unit_history_response.py
  test/flex/models/controllable_unit_response.py
  test/flex/models/controllable_unit_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix(ui): improve power ratio tooltip text (FLEX-1146)
  frontend/src/components/PowerRatio.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
  frontend/src/service_providing_group/membership/ExistingControllableUnitsTable.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): improve power ratio tooltip text (FLEX-1146) (#781)
  frontend/src/components/PowerRatio.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
  frontend/src/service_providing_group/membership/ExistingControllableUnitsTable.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: remove accordion from cu-input (FLEX-1157)
  frontend/src/controllable_unit/ControllableUnitInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: remove qualified at from sppa-input (FLEX-1157)
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: dont use abbrivations in navigation (FLEX-1157)
  frontend/src/components/Header/HeaderNav.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove prequalified at and verified at in spg product application input (FLEX-1157)
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: make the header on show pages comically large (FLEX-1157)
  frontend/src/components/ShowPageLayout.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add alert when you dont have a product application on spg (FLEX-1157)
  frontend/src/service_providing_group/ServiceProvidingGroupAlerts.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupAlerts.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: format and lint (FLEX-1157)
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupAlerts.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Revert "fix: remove prequalified at and verified at in spg product application input (FLEX-1157)"
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: dont use record context in spg alerts (FLEX-1157)
  frontend/src/service_providing_group/show/ServiceProvidingGroupAlerts.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Update frontend/src/service_providing_group/show/ServiceProvidingGroupAlerts.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupAlerts.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: format (FLEX-1157)
  frontend/src/components/EDS-ra/inputs/DateTimeInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Revert "feat: remove qualified at from sppa-input (FLEX-1157)"
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: PR comments (FLEX-1157)
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/components/EDS-ra/inputs/DateTimeInput.tsx
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupAlerts.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: tweaks after user test (FLEX-1157) (#780)
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/components/EDS-ra/inputs/DateTimeInput.tsx
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/components/ShowPageLayout.tsx
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupAlerts.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupAlerts.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(deploy): set a specific liquibase context for loading test_data schema (FLEX-1160)
  db/changelog.yml
  justfile
Due: none

test: add failing tests for embed string builder
  frontend/src/lib/embed.test.ts
  frontend/tsconfig.json
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add embed utility for typing
  frontend/src/lib/embed.ts
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: rename to test (FLEX-1160)
  db/changelog.yml
  justfile
Due: none

fix: add vitest
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: format
  frontend/src/lib/embed.test.ts
  frontend/src/lib/embed.ts
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(deploy): set a specific liquibase context for loading test_data schema (FLEX-1160) (#782)
  db/changelog.yml
  justfile
Due: none

feat: Frontend for showing/creating/updating grid location on an accounting point (FLEX-1137)
  backend/data/static/openapi.json
  db/flex/accounting_point_grid_location.sql
  docs/resources/accounting_point_grid_location.md
  frontend/src/accounting_point/show/AccountingPointConnections.tsx
  frontend/src/accounting_point/show/AccountingPointGridLocationForm.tsx
  frontend/src/accounting_point/show/AccountingPointGridLocationPanel.tsx
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/accounting_point/show/useAccountingPointViewModel.ts
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/service_providing_group/summary/ServiceProvidingGroupTechnicalResourceSummary.tsx
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationResponse.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

docs: add embed object syntax design spec
  docs/superpowers/specs/2026-04-29-embed-object-syntax-design.md
Due: none

docs: add embed object syntax implementation plan
  docs/superpowers/plans/2026-04-29-embed-object-syntax.md
Due: none

refactor: replace embed callback API with object tree syntax
  frontend/src/lib/embed.test.ts
  frontend/src/lib/embed.ts
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: remove exploratory embedded fetch from useSpgMemberships
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): ensure proxy config is not ignored after jwx upgrade to v4
  backend/auth/oidc/provider.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(deps): ensure proxy config is not ignored after jwx upgrade to v4 (#785)
  backend/auth/oidc/provider.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: use jwkfetch.WithHTTPClient
  backend/auth/oidc/provider.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: Make grid location a tab. More tabs to come in the future. (FLEX-1137)
  frontend/src/accounting_point/show/AccountingPointGridLocationPanel.tsx
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
