Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix(deps): update backend
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
  kbackend/gradle/wrapper/gradle-wrapper.properties
Due: none

chore(deps): update dependency schemathesis to v4.14.2
  requirements-dev.txt
Due: none

chore(deps): update dependency schemathesis to v4.14.3
  requirements-dev.txt
Due: none

chore(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: audit fix
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: run just openapi
  frontend/src/generated-client/client/client.gen.ts
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/client/utils.gen.ts
  frontend/src/generated-client/core/types.gen.ts
  frontend/src/generated-client/core/utils.gen.ts
  frontend/src/generated-client/sdk.gen.ts
  frontend/src/generated-client/zod.gen.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update frontend (#716)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/generated-client/client/client.gen.ts
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/client/utils.gen.ts
  frontend/src/generated-client/core/types.gen.ts
  frontend/src/generated-client/core/utils.gen.ts
  frontend/src/generated-client/sdk.gen.ts
  frontend/src/generated-client/zod.gen.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update dependency typescript to v6
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: update tsconfig to fix build
  frontend/tsconfig.json
Due: none

chore: audit fix
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency typescript to v6 (#719)
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Due: none

feat: Implemented synchronization of accounting point (FLEX-1064)
  db/flex/accounting_point_end_user_rls.sql
  db/flex/accounting_point_energy_supplier_rls.sql
  db/flex/accounting_point_rls.sql
  db/flex/entity_rls.sql
  db/flex/party_rls.sql
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointQuery.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/AccountingPointEndUser.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/AccountingPointEnergySupplier.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/InstantExtensions.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  local/accounting-point/README.md
Due: none

chore(frontend): include in nginx server block (#715)
  frontend/Dockerfile
  frontend/nginx.conf.d/default.conf
Due: dockerfilelint

chore(deps): update dependency schemathesis to v4.14.3 (#717)
  requirements-dev.txt
Due: none

feat: Run all sync operations in a single transaction using a row level lock for the accounting point (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointQuery.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/db/FlexTransaction.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/db/FlexTransactionTest.kt
Due: none

feat: Update accounting point sync table on successful sync (FLEX-1064)
  db/flex/accounting_point_rls.sql
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointQuery.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
Due: none

feat: additional information on SPG (FLEX-1091) (#714)
  .github/skills/edit-resource/SKILL.md
  .pre-commit-config.yaml
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group.sql
  db/flex/service_providing_group.sql
  db/flex/service_providing_group_migrations.sql
  docs/changelog.md
  docs/resources/service_providing_group.md
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/client/client.gen.ts
  frontend/src/generated-client/core/bodySerializer.gen.ts
  frontend/src/generated-client/core/params.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/service_providing_group/input/ServiceProvidingGroupFields.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowSummary.tsx
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupUpdateRequest.kt
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group_create_request.py
  test/flex/models/service_providing_group_history_response.py
  test/flex/models/service_providing_group_response.py
  test/flex/models/service_providing_group_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

test: sqlc example in kbackend (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/Models.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/Queries.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/QueriesImpl.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/flex.sql
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/query.sql
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/sqlc.yaml
Due: none

fix: Test for nested transactions (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/db/FlexTransactionTest.kt
Due: none

fix: llm review (FLEX-1107)
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/components/ActivateControllableUnitButton.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: align CU show page with SPG show page pattern (FLEX-1107)
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowTabs.tsx
  frontend/src/controllable_unit/show/components/ActivateControllableUnitButton.tsx
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/show/components/Header.tsx
  frontend/src/controllable_unit/show/components/TechnicalInformation.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove heading from technical resource list (FLEX-1107)
  docs/superpowers/plans/2026-03-26-technical-resource-empty-state.md
  docs/superpowers/specs/2026-03-26-technical-resource-empty-state-design.md
  frontend/src/components/EDS-ra/buttons/DeleteButton.tsx
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/components/EDS-ra/inputs/DateInput.tsx
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/components/LabelValue.tsx
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/types/index.ts
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/intl/intl.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: use simpletable for technical resources (FLEX-1107)
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/components/ActivateControllableUnitButton.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/controllable_unit/technical_resource/useTechnicalResources.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: AI code-review (FLEX-1107)
  docs/superpowers/plans/2026-03-26-technical-resource-empty-state.md
  docs/superpowers/specs/2026-03-26-technical-resource-empty-state-design.md
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/intl/intl.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add empty state to TechnicalResourceList (FLEX-1107)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: small design tweaks (FLEX-1107)
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/components/ActivateControllableUnitButton.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: format, lint and audit (FLEX-1107)
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/intl/intl.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: button size (FLEX-1107)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: run kbackend in local Docker Compose setup (FLEX-1109)
  docker-compose.yml
  justfile
  local/kbackend/test.env
Due: none

refactor: use common layout for show pages (FLEX-1107)
  frontend/src/components/ShowPageLayout.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowSummary.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove title from alert (FLEX-1107)
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add create button for product applications in spg show (FLEX-1107)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowGridPrequalificationsTable.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowProductApplicationsTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: update some tests and unify the viewmodel query (FLEX-1107)
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/service_providing_group/ActivateServiceProvidingGroupButton.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: align text size on spg and cu show (FLEX-1107)
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: add delete in header (FLEX-1107)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add remove button to CU list on SPG show page (FLEX-1107)
  docs/superpowers/plans/2026-04-08-spg-show-remove-cu-button.md
  docs/superpowers/specs/2026-04-08-spg-show-remove-cu-button-design.md
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

style: align membershipId guard with reference pattern (FLEX-1107)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: lint (FLEX-1107)
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check
