Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

feat: add useSpDashboard hook for SP dashboard data
  frontend/src/dashboard/useSpDashboard.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: hide participant and due date columns on narrow screens
  frontend/src/dashboard/ApplicationsTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: extract shared addMonths and ACTIVE_STATUSES to dashboardUtils
  frontend/src/dashboard/dashboardUtils.ts
  frontend/src/dashboard/useDashboardApplications.ts
  frontend/src/dashboard/useSpDashboard.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add SpApplicationsTable component for SP dashboard
  frontend/src/dashboard/SpApplicationsTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: extract shared dashboard table utils to eliminate duplication
  frontend/src/dashboard/ApplicationsTable.tsx
  frontend/src/dashboard/SpApplicationsTable.tsx
  frontend/src/dashboard/dashboardTableUtils.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add SP dashboard view with stat cards and application tables
  frontend/src/dashboard/Dashboard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: use semantic-border-success token for Active SPGs stat card
  db/flex/notice_fresh.sql
  frontend/src/dashboard/ApplicationsTable.tsx
  frontend/src/dashboard/Dashboard.tsx
  frontend/src/dashboard/SpApplicationsTable.tsx
  frontend/src/dashboard/dashboardUtils.ts
  frontend/src/dashboard/useDashboardApplications.ts
  frontend/src/dashboard/useSpDashboard.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add useSpQualifiedMarkets hook
  frontend/src/dashboard/useSpQualifiedMarkets.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add SpMarketsCard component
  frontend/src/dashboard/SpMarketsCard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add My Markets card to SP dashboard
  frontend/src/dashboard/Dashboard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Some key errors from react
  frontend/src/dashboard/Dashboard.tsx
  frontend/src/dashboard/SpMarketsCard.tsx
  frontend/src/dashboard/useDashboardApplications.ts
  frontend/src/dashboard/useSpDashboard.ts
  frontend/src/dashboard/useSpQualifiedMarkets.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: format
  frontend/src/dashboard/SpMarketsCard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: uuid regex (FLEX-1136)
  backend/data/static/openapi.json
  db/flex/accounting_point_grid_location.sql
  docs/resources/accounting_point_grid_location.md
  frontend/src/generated-client/core/serverSentEvents.gen.ts
  frontend/src/generated-client/zod.gen.ts
  openapi/openapi-api-no-default.json
  openapi/resources.yml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: Add maximum and multipleOf to definition of nominal_voltage (FLEX-1136)
  backend/data/static/openapi.json
  docs/resources/accounting_point_grid_location.md
  frontend/src/generated-client/zod.gen.ts
  openapi/openapi-api-no-default.json
  openapi/resources.yml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

chore: revert changes to test data
  db/flex/notice_fresh.sql
  db/test_data/test_data.sql
  local/postgres/users.sql
Due: none

fix: Remove custom create/update models in openapi-api-base.yml (FLEX-1136)
  backend/data/static/openapi.json
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: Redesing navbar and add new dashboard (#773)
  frontend/src/App.tsx
  frontend/src/Dashboard.tsx
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/dashboard/ApplicationsTable.tsx
  frontend/src/dashboard/Dashboard.tsx
  frontend/src/dashboard/SpApplicationsTable.tsx
  frontend/src/dashboard/SpMarketsCard.tsx
  frontend/src/dashboard/dashboardTableUtils.ts
  frontend/src/dashboard/dashboardUtils.ts
  frontend/src/dashboard/useDashboardApplications.ts
  frontend/src/dashboard/useSpDashboard.ts
  frontend/src/dashboard/useSpQualifiedMarkets.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add backlabel to dashboard
  frontend/src/navigation/routeLabels.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add backlabel to dashboard (#774)
  frontend/src/navigation/routeLabels.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: add missing GOEXPERIMENT=jsonv2 in backend makefile
  backend/Makefile
Due: none

docs: resource png (FLEX-1145)
  docs/diagrams/resources.png
Due: none

fix(docs): correct CU field description (FLEX-1145)
  backend/data/static/openapi.json
  docs/resources/service_providing_group_summary.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupSummaryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupSummaryResponseControllableUnit.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group_summary_response.py
  test/flex/models/service_providing_group_summary_response_controllable_unit.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: count (FLEX-1145)
  db/flex/service_providing_group_summary.sql
Due: none

feat(ui): show aggregates from SPG summary on SPG and SPGPA show pages (FLEX-1146)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
  frontend/src/service_providing_group/show/SpgSummarySection.tsx
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.73.6
  .teamcity/pom.xml
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
Due: none

refactor: remove flexible MAP from SPG summary (FLEX-1146)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: reorganise SPG show page (FLEX-1146)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowSPGSummarySection.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: reorganise SPG product application page (FLEX-1146)
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowSPGSummarySection.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: npm audit fix (FLEX-1146)
  frontend/package-lock.json
Due: none

fix: add missing GOEXPERIMENT=jsonv2 in backend makefile (#775)
  backend/Makefile
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.73.6 (#778)
  .teamcity/pom.xml
Due: none

refactor: clean split CU and TR summary in SPG show (FLEX-1146)
  frontend/src/components/ui/index.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowSPGSummarySection.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
  frontend/src/service_providing_group/summary/ServiceProvidingGroupControllableUnitSummary.tsx
  frontend/src/service_providing_group/summary/ServiceProvidingGroupTechnicalResourceSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: show the same summaries in SPG PA (FLEX-1146)
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: Update package-lock.json (FLEX-1136)
  frontend/package-lock.json
Due: none

fix(deps): update frontend (#768)
  frontend/package-lock.json
  frontend/package.json
Due: none

docs: change field label for MAP on CU and TR (FLEX-1146)
  backend/data/static/openapi.json
  docs/resources/controllable_unit.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitUpdateRequest.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/controllable_unit_create_request.py
  test/flex/models/controllable_unit_history_response.py
  test/flex/models/controllable_unit_response.py
  test/flex/models/controllable_unit_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi
