Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix(deps): update backend (#930)
  backend/go.mod
  backend/go.sum
Due: none

fix: SQL functions must have explicit schema (FLEX-1133)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
Due: none

chore(deps): update local (#929)
  requirements-dev.txt
Due: none

fix(deps): update frontend (#931)
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: typed coordinates to reduce risk for wrong argument order (FLEX-1133)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/Location.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
Due: none

feat: synchronise accounting point location from adapter (FLEX-1133) (#876)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/client/AccountingPointClient.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/AccountingPoint.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/openapi.yaml
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/Location.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterServiceTest.kt
  kbackend/src/test/resources/wiremock/accountingpointadapter/__files/accounting-point-200-with-location.json
  kbackend/src/test/resources/wiremock/accountingpointadapter/__files/accounting-point-200-with-null-location.json
  local/accounting-point/client/models/accounting_point.py
Due: check-openapi

chore(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update devxp-build-configuration.version to v1.77.5
  .teamcity/pom.xml
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
Due: none

fix(deps): update devxp-build-configuration.version to v1.77.5 (#935)
  .teamcity/pom.xml
Due: none

chore(deps): update frontend (#934)
  frontend/package-lock.json
  frontend/package.json
Due: none

docs: update SPG registration process (#885)
  docs/diagrams/service_providing_group_registration.plantuml
  docs/diagrams/service_providing_group_registration.png
  docs/processes/service-providing-group-registration.md
Due: check-plantuml

fix: buffer and voltagelevel sort (FLEX-1132)
  db/staging/substation_staging.sql
Due: none

feat: scheduled job that syncs accounting point data (FLEX-1267)
  docs/technical/accounting-point-data.md
  kbackend/build.gradle.kts
  kbackend/gradle/libs.versions.toml
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointSyncRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Scheduling.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/ControllableUnit.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/ControllableUnitForLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/DtoMapper.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/scheduled/AccountingPointSyncScheduler.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/BigDecimalSerializer.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointSyncRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/scheduled/AccountingPointSyncSchedulerTest.kt
Due: none

chore: cleanup (FLEX-1267)
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/scheduled/AccountingPointSyncScheduler.kt
Due: none

feat: load and use grid model for validation (FLEX-1132) (#928)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/changelog.yml
  db/flex/accounting_point_grid_location.sql
  db/flex/accounting_point_grid_location_migrations.sql
  db/flex/business_id_type.sql
  db/flex/changelog.yml
  db/flex/line.sql
  db/flex/substation.sql
  db/flex/substation_cluster.sql
  db/staging/changelog.yml
  db/staging/substation_staging.sql
  db/test_data/changelog.yml
  db/test_data/staging/line.csv
  db/test_data/staging/substation.csv
  db/test_data/staging/substation_cluster.csv
  db/unload.sh
  docs/resources/accounting_point_grid_location.md
  docs/technical/accounting-point-grid-location.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationObjectType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationResponse.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_accounting_point_grid_location.py
  test/flex/models/accounting_point_grid_location_create_request.py
  test/flex/models/accounting_point_grid_location_history_response.py
  test/flex/models/accounting_point_grid_location_object_type.py
  test/flex/models/accounting_point_grid_location_response.py
  test/flex/models/accounting_point_grid_location_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: use projection SRID over text (FLEX-1132)
  db/staging/substation_staging.sql
Due: none

feat(db): sync process guessing accounting point grid location (FLEX-1135)
  db/flex/accounting_point_grid_location_fresh.sql
  db/flex/changelog.yml
  db/flex/substation.sql
Due: none

fix: use projection SRID over text (FLEX-1132) (#937)
  db/staging/substation_staging.sql
Due: none

feat: show MGA on show page for controllable unit (FLEX-1126)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: override and pin js-yaml to latest version due to security issue GHSA-h67p-54hq-rp68 (FLEX-1126)
  frontend/package.json
  package-lock.json
Due: none

fix: current mga is already filtered by backend (valid_at param) (FLEX-1126)
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: Show energy supplier on CU show page (FLEX-1126)
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update kbackend (#891)
  kbackend/gradle/libs.versions.toml
Due: none

fix: stop resolving resolved notices (FLEX-1307)
  db/flex/notice_fresh.sql
Due: none

fix: suppress empty .update events (FLEX-1307)
  db/flex/event.sql
Due: none

feat: show energy supplier and MGA on controllable unit show page (FLEX-1126) (#939)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
  package-lock.json
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: stop resolving resolved notices (FLEX-1307) (#940)
  db/flex/notice_fresh.sql
Due: none

feat(ui): remove id and link columns and make name clickable (FLEX-1202)
  frontend/src/service_providing_group/membership/ManageMembersPanel.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): added toggle for only showing selected rows (FLEX-1202)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/membership/ManageMembersPanel.tsx
  frontend/src/service_providing_group/membership/useAddMembersState.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: rename capacity -> power (FLEX-1202)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/membership/SelectionFooter.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(ui): add eds style to link for name (FLEX-1202)
  frontend/src/service_providing_group/membership/ManageMembersPanel.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(kbackend): do not log error on cancellation exception, e.g. sigterm (FLEX-1267)
  kbackend/src/main/kotlin/no/elhub/flex/config/Scheduling.kt
Due: none

test: test script for APGL sync (FLEX-1135)
  db/flex/accounting_point_grid_location_fresh.sql
  db/flex/substation.sql
  db/test_data/staging/substation.csv
  test/other_tests/test_apgl_sync.sh
Due: none

refactor: format (FLEX-1135)
  test/other_tests/test_apgl_sync.sh
Due: none

feat: Added metrics for successful and failed accounting point syncs (FLEX-1267)
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Health.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Metrics.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Monitoring.kt
  kbackend/src/main/kotlin/no/elhub/flex/metrics/FlexMetrics.kt
  kbackend/src/main/kotlin/no/elhub/flex/metrics/MetricsModule.kt
  kbackend/src/main/kotlin/no/elhub/flex/scheduled/AccountingPointSyncScheduler.kt
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/scheduled/AccountingPointSyncSchedulerTest.kt
Due: none

fix: suppress empty .update events (FLEX-1307) (#941)
  db/flex/event.sql
Due: none

refactor: rename some openapi related scrips and just recipes (FLEX-1134)
  justfile
  local/scripts/resources_to_openapi.py
Due: none

refactor: add json schema for resource.yml (FLEX-1134)
  frontend/src/generated-client/client/index.ts
  frontend/src/generated-client/core/types.gen.ts
  frontend/src/generated-client/sdk.gen.ts
  justfile
  local/scripts/openapi_to_db.py
  local/scripts/resources_to_intl.py
  mise.toml
  openapi/resources.yml
  openapi/schema.yml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check
