Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

feat: rewrite to use object instead of function chain
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: use jwkfetch.WithHTTPClient (#786)
  backend/auth/oidc/provider.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: Feedback QA (FLEX-1137)
  db/flex/accounting_point_grid_location.sql
  docs/resources/accounting_point_grid_location.md
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
  local/input/permissions.csv
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Generate updated permissions (FLEX-1137)
  db/api/grants/field_level_authorization.sql
  frontend/src/auth/permissions.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: Use permissions to check if user can view grid location (FLEX-1137)
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update kbackend (#779)
  kbackend/gradle/libs.versions.toml
Due: none

fix(test): pass APBZ test as SP again
  test/api_client_tests/test_accounting_point_bidding_zone.py
Due: none

fix(test): pass APBZ test as SP again (#787)
  test/api_client_tests/test_accounting_point_bidding_zone.py
Due: none

refactor: Use react admin form components in line with what we do elsewhere (FLEX-1137)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: Use single schema for create/update (FLEX-1137)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: import (FLEX-1137)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Use only create request for form record (FLEX-1137)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Only load accounting point connections for FISO (FLEX-1137)
  frontend/src/accounting_point/show/useAccountingPointViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Show notify when create/update fails (FLEX-1137)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: Set type for identity parameter (FLEX-1137)
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: Frontend for showing/creating/updating grid location on an accounting point (FLEX-1137) (#784)
  backend/data/static/openapi.json
  db/api/grants/field_level_authorization.sql
  db/flex/accounting_point_grid_location.sql
  docs/resources/accounting_point_grid_location.md
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/accounting_point/show/AccountingPointConnections.tsx
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
  frontend/src/accounting_point/show/useAccountingPointViewModel.ts
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/service_providing_group/summary/ServiceProvidingGroupTechnicalResourceSummary.tsx
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationResponse.kt
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix(ui): make more space for SPG aggregates (FLEX-1072)
  frontend/src/service_providing_group/summary/ServiceProvidingGroupTechnicalResourceSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update dependency schemathesis to v4.16.1
  requirements-dev.txt
Due: none

chore(deps): update dependency schemathesis to v4.16.1 (#791)
  requirements-dev.txt
Due: none

fix(ui): make more space for SPG aggregates (FLEX-1072) (#788)
  frontend/src/service_providing_group/summary/ServiceProvidingGroupTechnicalResourceSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: hurl v8 and above uses HURL_VARIABLE_, not HURL_
  test/inspect/embedding.hurl
  test/inspect/hurl.sh
Due: none

feat: Added notices for grid location when missing or insufficient source (FLEX-1155)
  db/flex/notice/notice_accounting_point_grid_location.sql
  db/flex/notice_fresh.sql
Due: none

fix: Set accounting point as source for notice and add notice types in frontend (FLEX-1155)
  db/flex/notice/notice_accounting_point_grid_location.sql
  frontend/src/notice/noticeTypes.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(backend): scope check on resource embedding (FLEX-1161)
  backend/data/data.go
  backend/data/embed_query_rewrite.go
  backend/data/embed_query_rewrite_test.go
  test/auth_tests/test_scopes.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore(deps): update dependency schemathesis to v4.17.0
  requirements-dev.txt
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.74.2
  .teamcity/pom.xml
Due: none

feat: Notification to CSO/PSO on create or update of grid location (FLEX-1155)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.go
  backend/event/models/models.sql.go
  backend/event/schemas/notification.sql
  backend/pgpool/userdetails.go
  db/api/grants/field_level_authorization.sql
  db/flex/accounting_point_grid_location.sql
  db/flex/accounting_point_grid_location_rls.sql
  db/flex/grants/field_level_authorization.sql
  db/notification/accounting_point_system_operator.sql
  local/input/permissions.csv
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: Removed drop view statement that targeted non-existing view (FLEX-1155)
  db/flex/notice/notice_accounting_point_grid_location.sql
Due: none

feat: Added notices for grid location when missing or insufficient source (FLEX-1155) (#794)
  db/flex/notice/notice_accounting_point_grid_location.sql
  db/flex/notice_fresh.sql
  frontend/src/notice/noticeTypes.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: hurl v8 and above uses HURL_VARIABLE_, not HURL_ (#793)
  test/inspect/embedding.hurl
  test/inspect/hurl.sh
Due: none

chore(deps): update dependency schemathesis to v4.17.0 (#797)
  requirements-dev.txt
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.74.2 (#792)
  .teamcity/pom.xml
Due: none

feat: Notification to CSO/PSO on create or update of grid location (FLEX-1155) (#798)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.go
  backend/event/models/models.sql.go
  backend/event/schemas/notification.sql
  backend/pgpool/userdetails.go
  db/api/grants/field_level_authorization.sql
  db/flex/accounting_point_grid_location.sql
  db/flex/accounting_point_grid_location_rls.sql
  db/flex/grants/field_level_authorization.sql
  db/notification/accounting_point_system_operator.sql
  local/input/permissions.csv
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: short explanation of the notification schema (FLEX-1084)
  docs-dev/notification.md
Due: none

fix(openapi): propagate readOnly and x-no-update correctly
  backend/data/static/openapi.json
  docs/resources/accounting_point_grid_location.md
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationSource.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationUpdateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EntityUpdateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/PartyUpdateRequest.kt
  local/scripts/template_to_openapi.py
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_accounting_point_grid_location.py
  test/flex/models/accounting_point_grid_location_create_request.py
  test/flex/models/accounting_point_grid_location_history_response.py
  test/flex/models/accounting_point_grid_location_response.py
  test/flex/models/accounting_point_grid_location_update_request.py
  test/flex/models/entity_update_request.py
  test/flex/models/party_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: clean up useDashboardApplications
  frontend/src/App.tsx
  frontend/src/dashboard/ApplicationsTable.tsx
  frontend/src/dashboard/SpApplicationsTable.tsx
  frontend/src/dashboard/SpMarketsCard.tsx
  frontend/src/dashboard/dashboardUtils.ts
  frontend/src/dashboard/useDashboardApplications.ts
  frontend/src/dashboard/useSpDashboard.ts
  frontend/src/product_type/components.tsx
  frontend/src/product_type/useProductTypes.ts
  openapi/resources.yml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: short explanation of the notification schema (FLEX-1084) (#799)
  docs-dev/notification.md
Due: none

feat: generate Go structure with embedding relations from resources YAML (FLEX-1161)
  backend/data/embed_relations_gen.go
  justfile
  local/scripts/openapi_to_db.py
  local/scripts/openapi_to_embed_relations.py
  local/scripts/relationship.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

refactor: make use of the generated file (FLEX-1161)
  backend/data/data.go
  backend/data/embed_query_rewrite.go
  backend/data/embed_query_rewrite_test.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore: update DevXP build config to fix Gradle verify
  .teamcity/pom.xml
Due: none
