Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

feat: allow organisation to view email entities (FLEX-734) (#296)
  backend/data/static/openapi.json
  db/flex/entity_rls.sql
  docs/resources/entity.md
  local/scripts/template_to_openapi.py
  openapi/openapi-api-no-default.json
  test/api_client_tests/test_entity.py
  test/flex/api/entity/list_entity.py
  test/flex/api/party/list_party.py
  test/flex/api/party/list_party_history.py
Due: check-openapi

fix: AP-BRP test (FLEX-736)
  test/api_client_tests/test_accounting_point_balance_responsible_party.py
Due: none

fix: AP-ES test (FLEX-736)
  test/api_client_tests/test_accounting_point_energy_supplier.py
Due: none

fix: CUSP test (FLEX-736)
  test/api_client_tests/test_cusp.py
Due: none

fix: CU test (FLEX-736)
  test/api_client_tests/test_cu.py
Due: none

fix: CU test (FLEX-736)
  test/api_client_tests/test_technical_resource.py
Due: none

feat(ui): add UI pages for SP product suspension comments (FLEX-732) (#295)
  db/flex/changelog.yml
  db/flex/service_provider_product_suspension_comment.sql
  db/flex/service_provider_product_suspension_comment_migrations.sql
  frontend/src/App.tsx
  frontend/src/auth/permissions.json
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionShow.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentHistoryList.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentInput.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentList.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentShow.tsx
  local/scripts/permissions_to_json.py
  test/api_client_tests/test_spps_comment.py
Due: prettier, frontend-type-check, frontend-dependency-check

fix: disable secretlint on some local files with database connection strings (FLEX-735) (#297)
  docker-compose.yml
  local/backend/dev.env
  local/backend/test.env
Due: none

feat: proper text and links for cookies and privacy
  docs/privacy.md
  frontend/src/LoginPage.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: remove false negatives in tests (FLEX-736) (#298)
  test/api_client_tests/test_accounting_point_balance_responsible_party.py
  test/api_client_tests/test_accounting_point_energy_supplier.py
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_cusp.py
  test/api_client_tests/test_technical_resource.py
Due: none

feat: proper text and links for cookies and privacy (#299)
  docs/privacy.md
  frontend/src/LoginPage.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: notifications for SPPS comments (FLEX-733)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  backend/internal/validate/validate.go
  db/flex/event_rls.sql
  docs/resources/event.md
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

test: better coverage (FLEX-733)
  db/flex/service_provider_product_application.sql
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_entity.py
  test/api_client_tests/test_service_provider_product_suspension.py
Due: none

test: update event tests to cover the recent changes (FLEX-733)
  test/api_client_tests/test_event.py
Due: none

fix: notify only on visible comments (FLEX-733)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  docs/resources/service_provider_product_application_comment.md
  docs/resources/service_provider_product_suspension_comment.md
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: notifications for SPPS comments (FLEX-733) (#300)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  backend/internal/validate/validate.go
  db/flex/event_rls.sql
  db/flex/service_provider_product_application.sql
  docs/resources/event.md
  docs/resources/service_provider_product_application_comment.md
  docs/resources/service_provider_product_suspension_comment.md
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_entity.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_service_provider_product_suspension.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(ui): add SPPS comment to subresources on notification go-to-resource button (FLEX-732)
  frontend/src/components/ResourceButton.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix(ui): add SPPS comment to subresources on notification go-to-resource button (FLEX-732) (#301)
  frontend/src/components/ResourceButton.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

docs: propose changes to the history policies for deletable resources (FLEX-728)
  docs/resources/party_membership.md
  docs/resources/service_provider_product_suspension.md
  docs/resources/service_provider_product_suspension_comment.md
  docs/resources/service_providing_group_membership.md
  docs/resources/technical_resource.md
Due: none

feat(db): implement changes for PTYM (FLEX-728)
  backend/auth/middleware.go
  db/flex/party_membership_history_audit.sql
  db/flex/party_membership_rls.sql
  openapi/resources.yml
  test/api_client_tests/test_party_membership.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: update resource docs (FLEX-728)
  db/flex/party_membership_rls.sql
  docs/resources/party_membership.md
Due: none

chore: comment changes required changes in generated files (FLEX-728)
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: coverage (FLEX-728)
  test/api_client_tests/test_party_membership.py
Due: none

chore: revert change on scope decoding (FLEX-728)
  backend/auth/middleware.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: bypass the missing PTYM history scope by setting a broader scope (FLEX-728)
  test/api_client_tests/test_party_membership.py
Due: none

feat(db): implement changes for SPPS (FLEX-728)
  db/flex/service_provider_product_suspension_rls.sql
  docs/resources/service_provider_product_suspension.md
  test/api_client_tests/test_service_provider_product_suspension.py
Due: none

docs: document policy (FLEX-728)
  db/flex/service_provider_product_suspension_rls.sql
Due: none

feat(db): implement history policy changes for party membership (FLEX-728) (#303)
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  db/flex/party_membership_history_audit.sql
  db/flex/party_membership_rls.sql
  docs/resources/party_membership.md
  openapi/resources.yml
  test/api_client_tests/test_party_membership.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat(db): implement changes for SPPS comments (FLEX-728)
  db/flex/service_provider_product_suspension_comment_rls.sql
  docs/resources/service_provider_product_suspension_comment.md
  test/api_client_tests/test_spps_comment.py
Due: none

feat: remove automated history RLS (FLEX-728)
  db/flex/service_provider_product_suspension_comment_history_audit.sql
  openapi/resources.yml
Due: none

feat(db): implement changes for SPG membership (FLEX-728)
  db/flex/service_providing_group_membership_history_audit.sql
  db/flex/service_providing_group_membership_rls.sql
  docs/resources/service_providing_group_membership.md
  openapi/resources.yml
  test/api_client_tests/test_spg_membership.py
Due: none

feat(db): implement history policy changes for SPG membership (FLEX-728) (#306)
  db/flex/service_providing_group_membership_history_audit.sql
  db/flex/service_providing_group_membership_rls.sql
  docs/resources/service_providing_group_membership.md
  openapi/resources.yml
  test/api_client_tests/test_spg_membership.py
Due: none

docs: set policies to DONE (FLEX-728)
  docs/resources/service_provider_product_suspension.md
Due: none

feat(db): implement history policy changes for SP product suspension (FLEX-728) (#304)
  db/flex/service_provider_product_suspension_rls.sql
  docs/resources/service_provider_product_suspension.md
  test/api_client_tests/test_service_provider_product_suspension.py
Due: none

feat: update SPPA comment visibility (FLEX-728)
  db/flex/changelog.yml
  db/flex/service_provider_product_application_comment.sql
  db/flex/service_provider_product_application_comment_migrations.sql
  db/flex/service_provider_product_application_comment_rls.sql
  db/test_data/test_data.sql
  docs/resources/service_provider_product_application_comment.md
  frontend/src/service_provider_product_application/comment/ServiceProviderProductApplicationCommentInput.tsx
  test/api_client_tests/test_sppa_comment.py
  test/flex/models/service_provider_product_application_comment_visibility.py
Due: prettier, frontend-type-check, frontend-dependency-check

feat(db): update implementation for SPPSC after changes to visibility (FLEX-728)
  db/flex/service_provider_product_suspension_comment.sql
  db/flex/service_provider_product_suspension_comment_migrations.sql
  db/flex/service_provider_product_suspension_comment_rls.sql
  docs/resources/service_provider_product_suspension_comment.md
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentInput.tsx
  test/api_client_tests/test_spps_comment.py
  test/flex/models/service_provider_product_suspension_comment_visibility.py
Due: prettier, frontend-type-check, frontend-dependency-check

docs: OpenAPI update for SPPAC/SPPSC visibility (FLEX-728)
  backend/data/static/openapi.json
  openapi/openapi-api-no-default.json
  openapi/resources.yml
Due: check-openapi

fix: comment visibility in event test (FLEX-728)
  test/api_client_tests/test_event.py
Due: none
