Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

chore: renovate ignores mui upgrade until react-admin supports newer version
  .github/renovate.json5
Due: none

fix(deps): update frontend (major) (#950)
  .github/renovate.json5
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Due: none

fix: bump react-router-dom to 7.18.0
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: grid API and map picker for accounting point grid location (FLEX-1134) (#943)
  backend/flex.go
  backend/grid/grid.go
  db/grid/changelog.yml
  db/grid/substation_distance.sql
  frontend/package-lock.json
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
  frontend/src/httpConfig.tsx
  frontend/vite.config.mts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContract.kt
  local/nginx/templates/flex.conf
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(deps): update frontend (#946)
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: redesigned the component for managing spg members (FLEX-1202) (#873)
  frontend/src/components/AccountingPointLink.tsx
  frontend/src/components/CuStatusBadge.tsx
  frontend/src/components/ui/index.ts
  frontend/src/intl/intl.tsx
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/input/ServiceProvidingGroupManageMembers.tsx
  frontend/src/service_providing_group/membership/ExistingControllableUnitsTable.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
  frontend/src/service_providing_group/membership/ManageMembersPanel.tsx
  frontend/src/service_providing_group/membership/ReviewModal.tsx
  frontend/src/service_providing_group/membership/SelectionFooter.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipTable.tsx
  frontend/src/service_providing_group/membership/UpdateErrorAlert.tsx
  frontend/src/service_providing_group/membership/ValidFromModal.tsx
  frontend/src/service_providing_group/membership/useAddMembersState.ts
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(frontend): remove declaration in between imports (FLEX-1005)
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(db): set default value 'always' for ramping capability (FLEX-1005)
  db/flex/service_providing_group_product_application_migrations.sql
Due: none

docs: added validation rule for ramping_description (FLEX-1005)
  backend/data/static/openapi.json
  db/flex/service_providing_group_product_application_migrations.sql
  docs/resources/service_providing_group_product_application.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationUpdateRequest.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

chore: add comment on hardcoded product type 1 (FLEX-1005)
  db/flex/service_providing_group_product_application.sql
Due: none

fix(deps): update kbackend (#948)
  kbackend/gradle/libs.versions.toml
Due: none

chore: security fix netty CVE - downgrade to latest secure version (FLEX-1313)
  kbackend/build.gradle.kts
Due: none

chore: security fix netty CVE - override to latest secure version (FLEX-1313) (#952)
  kbackend/build.gradle.kts
Due: none

chore(kbackend): do not log call to /healthz
  kbackend/src/main/kotlin/no/elhub/flex/config/Logging.kt
Due: none

chore(kbackend): do not log call to /healthz (#953)
  kbackend/src/main/kotlin/no/elhub/flex/config/Logging.kt
Due: none

feat(db): stricter authorisation on functions across all schemas (FLEX-1308)
  db/api/changelog.yml
  db/api/controllable_unit_lookup.sql
  db/api/embedding/embedding.sql
  db/api/entity_lookup.sql
  db/auth/changelog.yml
  db/auth/functions.sql
  db/notification/changelog.yml
  db/notification/functions.sql
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContract.kt
  local/scripts/templates/embedding.j2.sql
Due: none

fix(test): use internal role in tests (FLEX-1308)
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
Due: none

docs: kbackend does no longer call the deprecated lookup DB function (FLEX-1308)
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
Due: none

fix: typo
  db/auth/functions.sql
Due: none

fix: ramping_capability made nullable and enforced by product type check (FLEX-1005)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
  docs/resources/service_providing_group_product_application.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationResponse.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_spg_product_application.py
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

chore(ui): make ramping notice part of the input field (FLEX-1005)
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/components/EDS-ra/inputs/TextAreaInput.tsx
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(sql): lowercase on function name (FLEX-1005)
  db/flex/service_providing_group_product_application_migrations.sql
Due: none

chore: disable error logs for not found (FLEX-1316)
  frontend/nginx.conf.d/default.conf
Due: none

chore: disable error logs for not found (FLEX-1316) (#955)
  frontend/nginx.conf.d/default.conf
Due: none

chore: updated example of ramping description (FLEX-1005)
  backend/data/static/openapi.json
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContract.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: check-openapi

chore: added ramp rate to help text for ramping description (FLEX-1005)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: frontpage text (FLEX-1207)
  frontend/src/LoginPage.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: added translations (FLEX-1005)
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/field-labels.ts
  openapi/resources.yml
Due: eslint, frontend-type-check, frontend-dependency-check

feat(ui): reference input for substation in AP grid location input (FLEX-1134)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/accounting_point/grid_location/SubstationReferenceInput.tsx
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): added description and icon to comment visibility options (FLEX-1173)
  frontend/src/components/comments/CommentBubble.tsx
  frontend/src/components/comments/CommentFeed.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: disable failing gradle task analyzeDependencies
  .teamcity/settings.kts
Due: none

fix: disable on gradleVerify, not makeVerify
  .teamcity/settings.kts
Due: none

chore(dep): bump gradle plugin to version 0.10.10
  kbackend/gradle/libs.versions.toml
Due: none

feat: better grid location notice (FLEX-1309)
  db/flex/accounting_point_grid_location.sql
  db/flex/notice/notice_accounting_point_grid_location.sql
  docs/resources/accounting_point_grid_location.md
  frontend/src/notice/noticeTypes.ts
  test/api_client_tests/test_accounting_point_grid_location.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(dep): bump gradle plugin to version 0.10.10 (#960)
  kbackend/gradle/libs.versions.toml
Due: none

feat: Added ramping capability and description to SPG PA (FLEX-1005) (#951)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
  db/test_data/test_data.sql
  docs/resources/service_providing_group_product_application.md
  frontend/src/auth/permissions.ts
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/components/EDS-ra/inputs/TextAreaInput.tsx
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/field-labels.ts
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContract.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationRampingCapability.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationUpdateRequest.kt
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_spg_product_application.py
  test/flex/models/__init__.py
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_ramping_capability.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi
