Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

fix: explain participants + correct batch size calc (FLEX-1068)
  docs/technical/accounting-point-data.md
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.68.3 (#682)
  .teamcity/pom.xml
Due: none

feat: Added reposistory tests (FLEX-1064)
  db/flex/notice_fresh.sql
  kbackend/src/test/kotlin/no/elhub/flex/PostgresTestContainer.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/util/AccessTokenUtil.kt
  kbackend/src/test/kotlin/no/elhub/flex/util/GsrnUtil.kt
  kbackend/src/test/resources/db-init.sql
Due: none

feat: ap sync logic detailed docs and table (FLEX-1068) (#669)
  db/flex/accounting_point_sync.sql
  db/flex/changelog.yml
  docs/diagrams/accounting-point-sync-background.plantuml
  docs/diagrams/accounting-point-sync-background.png
  docs/diagrams/accounting-point-sync-incoming-event.plantuml
  docs/diagrams/accounting-point-sync-incoming-event.png
  docs/diagrams/accounting-point-sync-lookup.plantuml
  docs/diagrams/accounting-point-sync-lookup.png
  docs/diagrams/accounting-point-sync.drawio.png
  docs/technical/accounting-point-data.md
Due: check-plantuml

feat: SPG activation flow with member check alert (FLEX-1095) (#680)
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/ActivateServiceProvidingGroupButton.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupAlerts.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupManageMembers.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupStepper.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update dependency schemathesis to v4.12.0 (#684)
  requirements-dev.txt
Due: none

feat: Added api key auth for ap-adapter integration (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
  kbackend/src/main/resources/application.yaml
  kbackend/src/test/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterServiceTest.kt
Due: none

refactor: Use constants instead of magic strings (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
  kbackend/src/test/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterServiceTest.kt
Due: none

fix: Use Bearer token instead of X-API-KEY header (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
  kbackend/src/test/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterServiceTest.kt
Due: none

feat: Added bearer auth for ap-adapter integration (FLEX-1064) (#687)
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
  kbackend/src/main/resources/application.yaml
  kbackend/src/test/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterServiceTest.kt
Due: none

fix: Use postgres image with pg_cron and local/postgres/init.sql instead of separate init file for tests (FLEX-1064)
  db/flex/notice_fresh.sql
  kbackend/src/test/kotlin/no/elhub/flex/PostgresTestContainer.kt
  kbackend/src/test/kotlin/no/elhub/flex/util/AccessTokenUtil.kt
  kbackend/src/test/resources/db-init.sql
Due: none

fix: test data (FLEX-1038)
  db/test_data/test_data.sql
Due: none

fix: simplify lookup response (FLEX-1038)
  backend/auth/auth.go
  backend/auth/middleware.go
  backend/auth/oidc/provider.go
  backend/data/data.go
  backend/data/models.go
  backend/data/static/openapi.json
  backend/meteringpointdatahub/meteringpointdatahub.go
  backend/pgpool/userdetails.go
  db/api/controllable_unit_lookup.sql
  frontend/src/controllable_unit/lookup/ExistingControllableUnitsTable.tsx
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/flex/models/controllable_unit_lookup_response_controllable_units_item_technical_resources_item.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: green tests (FLEX-1038)
  backend/data/static/openapi.json
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  local/scripts/template_to_openapi.py
  openapi/openapi-api-no-default.json
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_cu_suspension.py
  test/api_client_tests/test_cus_comment.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_technical_resource.py
  test/flex/models/technical_resource_create_request.py
  test/flex/models/technical_resource_history_response.py
  test/flex/models/technical_resource_response.py
  test/flex/models/technical_resource_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: Possible collision when generating unique gsrn (FLEX-1064)
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/util/GsrnUtil.kt
Due: none

fix: updated device_type list (FLEX-1038)
  backend/data/static/openapi.json
  db/flex/reference_data/technology.csv
  db/flex/technical_resource.sql
  db/flex/technical_resource_migrations.sql
  db/test_data/test_data.sql
  docs/resources/technical_resource.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/flex/models/device_type.py
  test/flex/models/technology.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: Generate api models from openapi documentation (FLEX-1064)
  .pre-commit-config.yaml
  kbackend/README.md
  kbackend/openapi.yaml
  kbackend/scripts/generate-openapi-models.sh
  kbackend/src/main/kotlin/no/elhub/flex/auth/Authentication.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryImpl.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/dto/ControllableUnitModels.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/lookup/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/AccountingPoint.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/ControllableUnit.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/GSRN.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/DtoMapper.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointEndUser.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnit.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitAccountingPoint.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitLookupRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitLookupResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ErrorMessage.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/TechnicalResource.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
Due: check-openapi

fix: Run tests with no liquibase context (FLEX-1064)
  kbackend/src/test/kotlin/no/elhub/flex/PostgresTestContainer.kt
Due: none

chore: removed duplicated (and diverged) openapi doc for AP adapter (FLEX-474)
  backend/accountingpoint/accountingpoint.gen.go
  backend/accountingpoint/accountingpoint.go
  backend/accountingpoint/static/openapi.yml
  docs/technical/accounting-point-data.md
  justfile
  local/accounting-point/client/models/end_user.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: link text
  docs/technical/accounting-point-data.md
Due: none

chore: removed duplicated (and diverged) openapi doc for AP adapter (FLEX-474) (#689)
  backend/accountingpoint/accountingpoint.gen.go
  backend/accountingpoint/accountingpoint.go
  backend/accountingpoint/static/openapi.yml
  docs/technical/accounting-point-data.md
  justfile
  local/accounting-point/client/models/end_user.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

chore: remove chunking and audit fix
  frontend/package-lock.json
  frontend/vite.config.mts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update frontend (major) (#685)
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.mts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: remove overrides from package.json
  frontend/package.json
Due: none

chore(deps): update frontend (#681)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: hide status field on SP product application create (FLEX-1085)
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: remove footer (FLEX-1097)
  frontend/src/App.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: remove footer (FLEX-1097) (#691)
  frontend/src/App.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: Added reposistory tests (FLEX-1064) (#686)
  kbackend/src/test/kotlin/no/elhub/flex/PostgresTestContainer.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/util/AccessTokenUtil.kt
  kbackend/src/test/kotlin/no/elhub/flex/util/GsrnUtil.kt
Due: none

feat: show unit on maximum active power (FLEX-1038)
  frontend/src/components/EDS-ra/fields/BaseField.tsx
  frontend/src/components/EDS-ra/fields/TextField.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(backend): fix gosec warns/errors
  backend/auth/auth.go
  backend/auth/middleware.go
  backend/auth/oidc/provider.go
  backend/data/data.go
  backend/meteringpointdatahub/meteringpointdatahub.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: Import domain objects for repository test (FLEX-1064)
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryTest.kt
Due: none

fix: Set local role before RLS preamble for access to auth schema (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/db/FlexTransaction.kt
Due: none

fix: Revert changes to base openapi configuration, temporarily delete unused Notice-classes until discriminator is fixed (FLEX-1064)
  backend/data/static/openapi.json
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/scripts/generate-openapi-models.sh
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeData.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyMissing.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyOutdated.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataProductTypeNotQualified.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContract.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContractTimelineMultiRange.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeStatus.kt
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/notice_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

chore(backend): fix gosec warns/errors (#692)
  backend/auth/auth.go
  backend/auth/middleware.go
  backend/auth/oidc/provider.go
  backend/data/data.go
  backend/meteringpointdatahub/meteringpointdatahub.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

revert: unintentional change to userdetails.go (FLEX-1038)
  backend/pgpool/userdetails.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: add missing constraint check_technology_category (FLEX-1038)
  db/flex/technology.sql
Due: none

chore: why-comment for enumValue slicing (FLEX-1038)
  frontend/src/components/EDS-ra/inputs/EnumArrayInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
