Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

feat: created_at/completed_at timestamps for SPG/SPGPA (FLEX-1412)
  docs/processes/service-providing-group-product-application.md
  docs/resources/service_providing_group.md
  docs/resources/service_providing_group_product_application.md
Due: none

fix: avoid crash when unassuming (FLEX-1475)
  frontend/src/AssumePartyPage.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: avoid crash when unassuming (FLEX-1475) (#1171)
  frontend/src/AssumePartyPage.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(api): as_of query param for _history resources (FLEX-1306)
  backend/data/data.go
  backend/data/data_test.go
  backend/data/static/openapi.json
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  local/scripts/resources_to_openapi.py
  openapi/openapi-api-no-default.json
  test/flex/api/accounting_point_grid_location/list_accounting_point_grid_location_history.py
  test/flex/api/controllable_unit/list_controllable_unit_history.py
  test/flex/api/controllable_unit_service_provider/list_controllable_unit_service_provider_history.py
  test/flex/api/controllable_unit_suspension/list_controllable_unit_suspension_history.py
  test/flex/api/controllable_unit_suspension_comment/list_controllable_unit_suspension_comment_history.py
  test/flex/api/party/list_party_history.py
  test/flex/api/party_membership/list_party_membership_history.py
  test/flex/api/service_provider_product_application/list_service_provider_product_application_history.py
  test/flex/api/service_provider_product_application_comment/list_service_provider_product_application_comment_history.py
  test/flex/api/service_provider_product_suspension/list_service_provider_product_suspension_history.py
  test/flex/api/service_provider_product_suspension_comment/list_service_provider_product_suspension_comment_history.py
  test/flex/api/service_providing_group/list_service_providing_group_history.py
  test/flex/api/service_providing_group_grid_prequalification/list_service_providing_group_grid_prequalification_history.py
  test/flex/api/service_providing_group_grid_prequalification_comment/list_service_providing_group_grid_prequalification_comment_history.py
  test/flex/api/service_providing_group_grid_suspension/list_service_providing_group_grid_suspension_history.py
  test/flex/api/service_providing_group_grid_suspension_comment/list_service_providing_group_grid_suspension_comment_history.py
  test/flex/api/service_providing_group_membership/list_service_providing_group_membership_history.py
  test/flex/api/service_providing_group_product_application/list_service_providing_group_product_application_history.py
  test/flex/api/service_providing_group_product_application_attachment/list_service_providing_group_product_application_attachment_history.py
  test/flex/api/service_providing_group_product_application_comment/list_service_providing_group_product_application_comment_history.py
  test/flex/api/service_providing_group_product_suspension/list_service_providing_group_product_suspension_history.py
  test/flex/api/service_providing_group_product_suspension_comment/list_service_providing_group_product_suspension_comment_history.py
  test/flex/api/system_operator_product_type/list_system_operator_product_type_history.py
  test/flex/api/technical_resource/list_technical_resource_history.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat: refactor to hooks
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/useControllableUnitListController.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/SpgTechnicalResourceList.tsx
  frontend/src/service_providing_group/show/useServiceProvidingGroupShowTableController.ts
  frontend/src/service_providing_group/show/useSpgTechnicalResourceListController.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: refactor to hooks
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/accounting_point/grid_location/SubstationReferenceInput.tsx
  frontend/src/accounting_point/grid_location/useAccountingPointGridLocationFormController.ts
  frontend/src/accounting_point/grid_location/useAccountingPointGridLocationPanelController.ts
  frontend/src/accounting_point/grid_location/useSubstationReferenceInputController.ts
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
  frontend/src/accounting_point/show/useAccountingPointShowController.ts
  frontend/src/accounting_point/show/useAccountingPointShowTabsController.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: stop deleting other filters - use and (FLEX-1306)
  backend/data/data.go
  backend/data/data_test.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: fill complete_at where the trigger will apply (FLEX-1412)
  db/flex/service_providing_group_product_application_migrations.sql
Due: none

refactor: use safer mechanism to disable triggers (FLEX-1412)
  db/flex/service_providing_group_migrations.sql
  db/flex/service_providing_group_product_application_migrations.sql
  docs-dev/db-migration.md
  local/postgres/init.sql
Due: none

fix: use current_timestamp with timestamptz fields (FLEX-1412)
  db/flex/service_providing_group.sql
  db/flex/service_providing_group_migrations.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
Due: none

fix: go to party when clicking BRP on CU (FLEX-1420)
  frontend/src/components/EDS-ra/fields/DateField.tsx
  frontend/src/components/EDS-ra/fields/EnumField.tsx
  frontend/src/controllable_unit/balance_responsible_party/ControllableUnitBalanceResponsiblePartyList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(api): as_of query param for _history resources (FLEX-1306) (#1172)
  backend/data/data.go
  backend/data/data_test.go
  backend/data/static/openapi.json
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  local/scripts/resources_to_openapi.py
  openapi/openapi-api-no-default.json
  test/flex/api/accounting_point_grid_location/list_accounting_point_grid_location_history.py
  test/flex/api/controllable_unit/list_controllable_unit_history.py
  test/flex/api/controllable_unit_service_provider/list_controllable_unit_service_provider_history.py
  test/flex/api/controllable_unit_suspension/list_controllable_unit_suspension_history.py
  test/flex/api/controllable_unit_suspension_comment/list_controllable_unit_suspension_comment_history.py
  test/flex/api/party/list_party_history.py
  test/flex/api/party_membership/list_party_membership_history.py
  test/flex/api/service_provider_product_application/list_service_provider_product_application_history.py
  test/flex/api/service_provider_product_application_comment/list_service_provider_product_application_comment_history.py
  test/flex/api/service_provider_product_suspension/list_service_provider_product_suspension_history.py
  test/flex/api/service_provider_product_suspension_comment/list_service_provider_product_suspension_comment_history.py
  test/flex/api/service_providing_group/list_service_providing_group_history.py
  test/flex/api/service_providing_group_grid_prequalification/list_service_providing_group_grid_prequalification_history.py
  test/flex/api/service_providing_group_grid_prequalification_comment/list_service_providing_group_grid_prequalification_comment_history.py
  test/flex/api/service_providing_group_grid_suspension/list_service_providing_group_grid_suspension_history.py
  test/flex/api/service_providing_group_grid_suspension_comment/list_service_providing_group_grid_suspension_comment_history.py
  test/flex/api/service_providing_group_membership/list_service_providing_group_membership_history.py
  test/flex/api/service_providing_group_product_application/list_service_providing_group_product_application_history.py
  test/flex/api/service_providing_group_product_application_attachment/list_service_providing_group_product_application_attachment_history.py
  test/flex/api/service_providing_group_product_application_comment/list_service_providing_group_product_application_comment_history.py
  test/flex/api/service_providing_group_product_suspension/list_service_providing_group_product_suspension_history.py
  test/flex/api/service_providing_group_product_suspension_comment/list_service_providing_group_product_suspension_comment_history.py
  test/flex/api/system_operator_product_type/list_system_operator_product_type_history.py
  test/flex/api/technical_resource/list_technical_resource_history.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

docs: add missing grid location notices
  docs/resources/notice.md
Due: none

docs: add missing grid location notices (#1176)
  docs/resources/notice.md
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): lock react-admin version
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): npm i
  frontend/package-lock.json
Due: none

fix(deps): update frontend (#1149)
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): bump react-admin
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: do SET LOCAL session_replication_role via security_definer functions (FLEX-1412)
  db/flex/service_providing_group_migrations.sql
  db/flex/service_providing_group_product_application_migrations.sql
  docs-dev/db-migration.md
  local/postgres/init.sql
Due: none

chore(deps): bump react-admin (#1178)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: add resource for spgpa history (FLEX-1476)
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/index.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: update navigation gp history (FLEX-1476)
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationHistoryList.tsx
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqShowSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: update column names (FLEX-1476)
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationHistoryList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: dd service_providing_group_product_application_id field
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: navigation history button spgpa and gp (FLEX-1476) (#1177)
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationHistoryList.tsx
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqShowSummary.tsx
  frontend/src/service_providing_group/index.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: only allow embedding history->history (FLEX-1306)
  db/api/embedding/embedding.sql
  db/api/embedding/embedding_history.sql
  local/scripts/openapi_to_db.py
  local/scripts/relationship.py
  test/api_client_tests/test_embed.py
Due: none

feat(ui): view of CU changes in an SPG since snapshot at a given time (FLEX-1306)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowChangesTab.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
  frontend/src/service_providing_group/show/useSpgChangesViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: toggle unchanged rows + icon for changed (FLEX-1306)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowChangesTab.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: show first and last change date rather than valid from/to (FLEX-1306)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowChangesTab.tsx
  frontend/src/service_providing_group/show/useSpgChangesViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: ensure one row from membership by using valid_at (FLEX-1306)
  frontend/src/service_providing_group/show/useSpgChangesViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: allow use of valid_from and as_of together (FLEX-1306)
  backend/data/data.go
  backend/data/data_test.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(deps): update backend
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
  kbackend/gradle/wrapper/gradle-wrapper.properties
Due: none

chore(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none
