Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

refactor: move error handling to utils (FLEX-912)
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: use TS API client instead of RA manual queries (FLEX-912)
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/accounting_point/show/useAccountingPointViewModel.ts
  frontend/src/resources/accountingPointResources.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add x-filter field to resources to generate openapi-client (FLEX-946)
  backend/data/static/openapi.json
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  local/scripts/template_to_openapi.py
  local/scripts/templates/comment_resource.j2.yml
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/accounting_point_balance_responsible_party/list_accounting_point_balance_responsible_party.py
  test/flex/api/accounting_point_energy_supplier/list_accounting_point_energy_supplier.py
  test/flex/api/controllable_unit_service_provider/list_controllable_unit_service_provider.py
  test/flex/api/controllable_unit_service_provider/list_controllable_unit_service_provider_history.py
  test/flex/api/identity/list_identity.py
  test/flex/api/service_providing_group_membership/list_service_providing_group_membership.py
  test/flex/api/service_providing_group_membership/list_service_providing_group_membership_history.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: add filter prop to party_name and entity name (FLEX-946)
  backend/data/static/openapi.json
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/identity/list_identity.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

docs: add explanation to x-filter (FLEX-946)
  docs-dev/editing-resources.md
Due: none

chore: add x-filter to resources after merge (FLEX-946)
  backend/data/static/openapi.json
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/accounting_point_bidding_zone/list_accounting_point_bidding_zone.py
  test/flex/api/accounting_point_end_user/list_accounting_point_end_user.py
  test/flex/api/accounting_point_metering_grid_area/list_accounting_point_metering_grid_area.py
  test/flex/api/metering_grid_area/list_metering_grid_area.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

chore: remove sorting from fitler fields (FLEX-946)
  backend/data/static/openapi.json
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  local/scripts/template_to_openapi.py
  openapi/openapi-api-no-default.json
  test/flex/api/accounting_point/list_accounting_point.py
  test/flex/api/controllable_unit/list_controllable_unit.py
  test/flex/api/controllable_unit/list_controllable_unit_history.py
  test/flex/api/entity/list_entity.py
  test/flex/api/entity_client/list_entity_client.py
  test/flex/api/metering_grid_area/list_metering_grid_area.py
  test/flex/api/party/list_party.py
  test/flex/api/party/list_party_history.py
  test/flex/api/product_type/list_product_type.py
  test/flex/api/service_providing_group/list_service_providing_group.py
  test/flex/api/service_providing_group/list_service_providing_group_history.py
  test/flex/api/technical_resource/list_technical_resource.py
  test/flex/api/technical_resource/list_technical_resource_history.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: add x-filter field to resources.yml (FLEX-946) (#531)
  backend/data/static/openapi.json
  docs-dev/editing-resources.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  local/scripts/template_to_openapi.py
  local/scripts/templates/comment_resource.j2.yml
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/accounting_point/list_accounting_point.py
  test/flex/api/accounting_point_balance_responsible_party/list_accounting_point_balance_responsible_party.py
  test/flex/api/accounting_point_bidding_zone/list_accounting_point_bidding_zone.py
  test/flex/api/accounting_point_end_user/list_accounting_point_end_user.py
  test/flex/api/accounting_point_energy_supplier/list_accounting_point_energy_supplier.py
  test/flex/api/accounting_point_metering_grid_area/list_accounting_point_metering_grid_area.py
  test/flex/api/controllable_unit/list_controllable_unit.py
  test/flex/api/controllable_unit/list_controllable_unit_history.py
  test/flex/api/controllable_unit_service_provider/list_controllable_unit_service_provider.py
  test/flex/api/controllable_unit_service_provider/list_controllable_unit_service_provider_history.py
  test/flex/api/entity/list_entity.py
  test/flex/api/entity_client/list_entity_client.py
  test/flex/api/metering_grid_area/list_metering_grid_area.py
  test/flex/api/party/list_party.py
  test/flex/api/party/list_party_history.py
  test/flex/api/product_type/list_product_type.py
  test/flex/api/service_providing_group/list_service_providing_group.py
  test/flex/api/service_providing_group/list_service_providing_group_history.py
  test/flex/api/service_providing_group_membership/list_service_providing_group_membership.py
  test/flex/api/service_providing_group_membership/list_service_providing_group_membership_history.py
  test/flex/api/technical_resource/list_technical_resource.py
  test/flex/api/technical_resource/list_technical_resource_history.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: MGA-BZ and MGA-SO internal tables (FLEX-949)
  db/flex/changelog.yml
  db/flex/metering_grid_area_bidding_zone.sql
  db/flex/metering_grid_area_bidding_zone_history_audit.sql
  db/flex/metering_grid_area_bidding_zone_migrations.sql
  db/flex/metering_grid_area_system_operator.sql
  db/flex/metering_grid_area_system_operator_history_audit.sql
  db/flex/metering_grid_area_system_operator_migrations.sql
  local/scripts/internal_resources_to_db.py
Due: none

feat: generate tooltips with intl script and add tooltips to cu-show (FLEX-942)
  frontend/src/components/LabelValue.tsx
  frontend/src/controllable_unit/show/components/GridValidation.tsx
  frontend/src/controllable_unit/show/components/TechnicalInformation.tsx
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/FieldTooltip.tsx
  frontend/src/tooltip/tooltips.ts
  justfile
  local/scripts/openapi_to_tooltips.py
  local/scripts/resources_to_intl.py
  openapi/resources.yml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: remove old tooltips json file (FLEX-942)
  frontend/src/tooltip/tooltips.json
Due: none

refactor: reduce exposed data in MGA view/API (FLEX-949)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  db/api/metering_grid_area.sql
  docs/diagrams/resources.plantuml
  docs/resources/metering_grid_area.md
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/metering_grid_area/list_metering_grid_area.py
  test/flex/models/__init__.py
  test/flex/models/metering_grid_area_price_area.py
  test/flex/models/metering_grid_area_response.py
Due: check-plantuml, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: copilot comments (FLEX-942)
  frontend/src/components/LabelValue.tsx
  frontend/src/tooltip/FieldTooltip.tsx
  frontend/src/tooltip/tooltips.ts
  local/scripts/resources_to_intl.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: run prettier after genreation (FLEX-942)
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/field-labels.ts
  justfile
Due: eslint, frontend-type-check, frontend-dependency-check

feat: repoint AP-BZ/SO views to MGA-BZ/SO (FLEX-949)
  db/flex/accounting_point_bidding_zone.sql
  db/flex/accounting_point_system_operator.sql
Due: none

chore: update test data (FLEX-949)
  db/test_data/test_data.sql
Due: none

fix: constraint naming (FLEX-949)
  db/flex/metering_grid_area_system_operator.sql
Due: none

chore: runAlways (FLEX-949)
  db/flex/metering_grid_area.sql
Due: none

chore(deps): update patch updates [patch]
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.57.5
  .teamcity/pom.xml
Due: none

chore(deps): update patch updates [patch] (#534)
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: generate tooltips with intl script and add tooltips to cu-show (FLEX-942) (#533)
  frontend/src/components/LabelValue.tsx
  frontend/src/controllable_unit/show/components/GridValidation.tsx
  frontend/src/controllable_unit/show/components/TechnicalInformation.tsx
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/FieldTooltip.tsx
  frontend/src/tooltip/tooltips.json
  frontend/src/tooltip/tooltips.ts
  justfile
  local/scripts/openapi_to_tooltips.py
  local/scripts/resources_to_intl.py
  openapi/resources.yml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: s/bidding_zone/price_area (FLEX-949)
  db/flex/accounting_point_bidding_zone.sql
  db/flex/changelog.yml
  db/flex/metering_grid_area_bidding_zone_history_audit.sql
  db/flex/metering_grid_area_bidding_zone_migrations.sql
  db/flex/metering_grid_area_price_area.sql
  db/flex/metering_grid_area_price_area_history_audit.sql
  db/flex/metering_grid_area_price_area_migrations.sql
  db/test_data/test_data.sql
  local/scripts/internal_resources_to_db.py
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.57.5 (#535)
  .teamcity/pom.xml
Due: none

refactor: add business ID type in MGA view (FLEX-949)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/metering_grid_area.sql
  docs/resources/metering_grid_area.md
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.ts
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/metering_grid_area/list_metering_grid_area.py
  test/flex/models/__init__.py
  test/flex/models/metering_grid_area_business_id_type.py
  test/flex/models/metering_grid_area_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: missing grants (FLEX-949)
  db/api/grants/field_level_authorization.sql
  docs/resources/metering_grid_area.md
  frontend/src/auth/permissions.ts
  test/api_client_tests/test_accounting_point_metering_grid_area.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: dispatch time-dependent MGA data into internal resources and hide them from the API (FLEX-949) (#532)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  db/api/metering_grid_area.sql
  db/flex/accounting_point_bidding_zone.sql
  db/flex/accounting_point_system_operator.sql
  db/flex/changelog.yml
  db/flex/metering_grid_area_price_area.sql
  db/flex/metering_grid_area_price_area_history_audit.sql
  db/flex/metering_grid_area_price_area_migrations.sql
  db/flex/metering_grid_area_system_operator.sql
  db/flex/metering_grid_area_system_operator_history_audit.sql
  db/flex/metering_grid_area_system_operator_migrations.sql
  db/test_data/test_data.sql
  docs/diagrams/resources.plantuml
  docs/resources/metering_grid_area.md
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.ts
  local/input/permissions.csv
  local/scripts/internal_resources_to_db.py
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_accounting_point_metering_grid_area.py
  test/flex/api/metering_grid_area/list_metering_grid_area.py
  test/flex/models/__init__.py
  test/flex/models/metering_grid_area_business_id_type.py
  test/flex/models/metering_grid_area_price_area.py
  test/flex/models/metering_grid_area_response.py
Due: check-plantuml, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat: delete time dependent fields in MGA (FLEX-953)
  db/flex/metering_grid_area.sql
  db/flex/metering_grid_area_migrations.sql
Due: none

feat: create eds-list component and use it in party-list
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/EDS-ra/list.tsx
  frontend/src/index.tsx
  frontend/src/party/PartyList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: delete previous migrations for local reload to also work (FLEX-953)
  db/flex/changelog.yml
  db/flex/metering_grid_area_price_area_migrations.sql
  db/flex/metering_grid_area_system_operator_migrations.sql
Due: none

fix: do not insert the deleted fields in test data (FLEX-953)
  db/test_data/test_data.sql
Due: none

feat: add fields for EDS-ra
  frontend/src/components/EDS-ra/fields.tsx
  frontend/src/components/EDS-ra/inputs.tsx
  frontend/src/party/PartyList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove valid time check on MGA in CU lookup (FLEX-953)
  db/api/controllable_unit_lookup.sql
Due: none

Update db/flex/metering_grid_area_migrations.sql
  db/flex/metering_grid_area_migrations.sql
Due: none

fix: row click and simplify
  frontend/src/components/EDS-ra/inputs.tsx
  frontend/src/components/EDS-ra/list.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: use barrel pattern for imports
  frontend/src/components/EDS-ra/buttons/DeleteButton.tsx
  frontend/src/components/EDS-ra/buttons/index.ts
  frontend/src/components/EDS-ra/fields.tsx
  frontend/src/components/EDS-ra/fields/BaseField.tsx
  frontend/src/components/EDS-ra/fields/DateField.tsx
  frontend/src/components/EDS-ra/fields/EnumField.tsx
  frontend/src/components/EDS-ra/fields/FieldTooltip.tsx
  frontend/src/components/EDS-ra/fields/IdentityField.tsx
  frontend/src/components/EDS-ra/fields/ReferenceField.tsx
  frontend/src/components/EDS-ra/fields/ScopesField.tsx
  frontend/src/components/EDS-ra/fields/TextField.tsx
  frontend/src/components/EDS-ra/fields/index.ts
  frontend/src/components/EDS-ra/index.ts
  frontend/src/components/EDS-ra/inputs.tsx
  frontend/src/components/EDS-ra/inputs/AutocompleteReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/EnumArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/PartyReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/ReferenceComboboxInput.tsx
  frontend/src/components/EDS-ra/inputs/index.ts
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/components/EDS-ra/list/List.tsx
  frontend/src/components/EDS-ra/list/index.ts
  frontend/src/components/EDS-ra/show.tsx
  frontend/src/components/ui/index.ts
  frontend/src/party/PartyList.tsx
  frontend/src/party/PartyShow.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: import every EDS component from /components/ui
  frontend/src/components/EDS-ra/buttons/DeleteButton.tsx
  frontend/src/components/EDS-ra/fields/BaseField.tsx
  frontend/src/components/EDS-ra/fields/DateField.tsx
  frontend/src/components/EDS-ra/fields/EnumField.tsx
  frontend/src/components/EDS-ra/fields/FieldTooltip.tsx
  frontend/src/components/EDS-ra/fields/IdentityField.tsx
  frontend/src/components/EDS-ra/fields/ReferenceField.tsx
  frontend/src/components/EDS-ra/fields/ScopesField.tsx
  frontend/src/components/EDS-ra/fields/TextField.tsx
  frontend/src/components/EDS-ra/inputs/EnumArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/ReferenceComboboxInput.tsx
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/components/EDS-ra/list/List.tsx
  frontend/src/components/EDS-ra/show.tsx
  frontend/src/components/ui/index.ts
  frontend/src/party/PartyShow.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add eslint rule that disallows imports from eds directly
  frontend/eslint.config.js
  frontend/src/components/EDS-ra/fields/DateField.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check
