Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

refactor: remove failed_verification reason for SP product suspension (FLEX-805)
  backend/data/static/openapi.json
  backend/event/models/models.sql.go
  db/flex/changelog.yml
  db/flex/service_provider_product_suspension.sql
  db/flex/service_provider_product_suspension_migrations.sql
  docs/resources/service_provider_product_suspension.md
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionInput.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionList.tsx
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_service_provider_product_suspension.py
  test/api_client_tests/test_spps_comment.py
  test/flex/models/service_provider_product_suspension_reason.py
Due: prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

docs: rough draft for refinement discussion
  docs/concepts/notification-and-notice.md
Due: none

feat: play with gh copilot code review custom instructions (#387)
  .github/instructions/db.instructions.md
Due: none

fix(ui): remove Show button from Edit pages (FLEX-797)
  frontend/src/App.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

chore: remove models change (FLEX-805)
  backend/event/models/models.sql.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: correct and updated notification recipient queries for SPGGS/SPGPS
  backend/event/models.sql
  backend/event/models/models.sql.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(ui): remove Show button from Edit pages (FLEX-797) (#390)
  frontend/src/App.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

refactor: remove failed_verification reason for SP product suspension (FLEX-805) (#389)
  backend/data/static/openapi.json
  db/flex/changelog.yml
  db/flex/service_provider_product_suspension.sql
  db/flex/service_provider_product_suspension_migrations.sql
  docs/resources/service_provider_product_suspension.md
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionInput.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionList.tsx
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_service_provider_product_suspension.py
  test/api_client_tests/test_spps_comment.py
  test/flex/models/service_provider_product_suspension_reason.py
Due: prettier, frontend-type-check, frontend-dependency-check, check-openapi

fix: correct and updated notification recipient queries for SPGGS/SPGPS (#391)
  backend/event/models.sql
  backend/event/models/models.sql.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: improved tests and policy (FLEX-821)
  db/flex/controllable_unit_suspension_rls.sql
  docs/resources/controllable_unit_suspension.md
  test/api_client_tests/test_cu_suspension.py
Due: none

fix: schemathesis 4 throws errors
  test/other_tests/test_schemathesis.py
Due: none

fix: broken auth tests
  test/auth_tests/test_scopes.py
  test/auth_tests/test_token_exchange.py
Due: none

feat: freeze py dev dependencies at latest
  requirements-dev.txt
Due: none

chore: fix markdown tables (FLEX-821)
  docs/resources/controllable_unit_suspension.md
Due: none

feat: ui implementation cus (FLEX-821)
  frontend/src/App.tsx
  frontend/src/controllable_unit/ControllableUnitShow.tsx
  frontend/src/controllable_unit/index.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionHistoryList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionInput.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

Update frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

Update frontend/src/controllable_unit/suspension/ControllableUnitSuspensionHistoryList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionHistoryList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

refactor: ready for market check function for SPGGP (FLEX-835)
  db/flex/notice.sql
  db/flex/service_providing_group_grid_prequalification.sql
  db/flex/service_providing_group_grid_suspension.sql
Due: none

refactor: use custom type to also accept history records (FLEX-835)
  db/flex/notice.sql
  db/flex/service_providing_group_grid_prequalification.sql
  db/flex/service_providing_group_grid_suspension.sql
Due: none

refactor: use record as input type for the function (FLEX-835)
  db/flex/service_providing_group_grid_prequalification.sql
Due: none

feat: set traceresponse response header (FLEX-840)
  backend/internal/trace/trace.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: conceptual model
  docs/concepts/conceptual-model.md
  docs/concepts/index.md
  docs/diagrams/conceptual_model.drawio.png
  docs/diagrams/simplified_model.drawio.png
  docs/resources/controllable_unit.md
  docs/resources/service_providing_group.md
  docs/resources/technical_resource.md
Due: none

fix: qa (FLEX-821)
  frontend/src/App.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionHistoryList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

docs(fix): conceptual model
  docs/concepts/conceptual-model.md
Due: none

fix: small correction (FLEX-821)
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: set traceresponse response header (FLEX-840) (#397)
  backend/internal/trace/trace.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: get record in edit button (FLEX-821)
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: history button (FLEX-821)
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionHistoryList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: ui implementation cus (FLEX-821) (#394)
  frontend/src/App.tsx
  frontend/src/controllable_unit/ControllableUnitShow.tsx
  frontend/src/controllable_unit/index.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionHistoryList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionInput.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

refactor: ready for market check function for SPGGP (FLEX-835) (#396)
  db/flex/notice.sql
  db/flex/service_providing_group_grid_prequalification.sql
  db/flex/service_providing_group_grid_suspension.sql
Due: none

feat: ready for market check function for SPPA (FLEX-835)
  db/flex/notice.sql
  db/flex/service_provider_product_application.sql
Due: none

feat: ready for market check function for SPGPA (FLEX-835)
  db/flex/notice.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_suspension.sql
  db/flex/service_providing_group_product_suspension_rls.sql
Due: none

test: revive schemathesis (FLEX-839)
  schemathesis.toml
  test/other_tests/test_schemathesis.py
Due: none

test: revive schemathesis (FLEX-839) (#399)
  schemathesis.toml
  test/other_tests/test_schemathesis.py
Due: none

docs: notification and notice - not finished
  docs/concepts/notification-and-notice.md
Due: none

updated - not finished
  docs/concepts/notification-and-notice.md
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
