Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

fix(test): set CU active in the test (FLEX-833)
  test/api_client_tests/test_cus_comment.py
Due: none

feat: notifications for CU suspension comments (FLEX-833) (#413)
  backend/api.sql
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.go
  backend/event/models/models.sql.go
  db/api/grants/field_level_authorization.sql
  db/flex/event_rls.sql
  db/flex/grants/field_level_authorization.sql
  docs/resources/controllable_unit_suspension_comment.md
  docs/resources/event.md
  local/input/permissions.csv
  test/api_client_tests/test_cus_comment.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore(deps): update patch updates [patch]
  frontend/package-lock.json
  frontend/package.json
  requirements-dev.txt
Due: none

chore(deps): update postgres docker tag to v15.15 [patch]
  local/postgres/Dockerfile
Due: dockerfilelint

chore(deps): update postgres docker tag to v15.15 (#415)
  local/postgres/Dockerfile
Due: dockerfilelint

chore(deps): update patch updates (#414)
  frontend/package-lock.json
  frontend/package.json
  requirements-dev.txt
Due: none

docs: TR is used in CU lookup
  docs/concepts/conceptual-model.md
Due: none

docs: TR is used in CU lookup (#416)
  docs/concepts/conceptual-model.md
Due: none

fix: SP abbreviation
  docs/concepts/notification-and-notice.md
Due: none

docs: notification and notice consept (#388)
  docs/concepts/notification-and-notice.md
  docs/diagrams/notification_notice.drawio.png
  docs/processes/index.md
  docs/resources/notice.md
  docs/resources/notification.md
  docs/technical/api-design.md
Due: none

fix(db): give access to notification schema to the debug roles (FLEX-848)
  db/notification/changelog.yml
Due: none

fix(db): give access to notification schema to the debug roles (FLEX-848) (#417)
  db/notification/changelog.yml
Due: none

fix(db): always create notification schema functions (FLEX-848)
  db/notification/functions.sql
Due: none

fix(db): always create notification schema functions (FLEX-848) (#418)
  db/notification/functions.sql
Due: none

refactor(deploy): update image target in TeamCity config (FLEX-651)
  .teamcity/settings.kts
Due: none

fix: set project name instead of gitops repo (FLEX-651)
  .teamcity/settings.kts
Due: none

refactor(deploy): set project names in TeamCity config (FLEX-651) (#419)
  .teamcity/settings.kts
Due: none

refactor: remove git tag from TeamCity pipeline (FLEX-865)
  .gitignore
  .teamcity/settings.kts
Due: none

ci: remove git tag from TeamCity pipeline (FLEX-865) (#420)
  .gitignore
  .teamcity/settings.kts
Due: none

fix(docs): fix typos in the docs
  docs-dev/architecture.md
  docs-dev/modular-monolith.md
  docs-dev/notification.md
  docs-dev/principles.md
  docs-dev/sessions.md
  docs-dev/testing.md
  docs/concepts/grid-model.md
  docs/concepts/notification-and-notice.md
  docs/concepts/ready-for-market.md
  docs/concepts/suspension.md
  docs/concepts/time-series.md
  docs/guides/getting-started.md
  docs/index.md
  docs/privacy.md
  docs/resources/controllable_unit_suspension_comment.md
  docs/technical/auth.md
  docs/technical/identifiers.md
  docs/technical/time-series-design.md
Due: none

fix(docs): change in backend and frontend
  backend/auth/auth.go
  frontend/src/App.tsx
Due: prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore: npm audit fix
  frontend/package-lock.json
Due: none

fix(docs): fix typos in the docs (#421)
  backend/auth/auth.go
  docs-dev/architecture.md
  docs-dev/modular-monolith.md
  docs-dev/notification.md
  docs-dev/principles.md
  docs-dev/sessions.md
  docs-dev/testing.md
  docs/concepts/grid-model.md
  docs/concepts/notification-and-notice.md
  docs/concepts/ready-for-market.md
  docs/concepts/suspension.md
  docs/concepts/time-series.md
  docs/guides/getting-started.md
  docs/index.md
  docs/privacy.md
  docs/resources/controllable_unit_suspension_comment.md
  docs/technical/auth.md
  docs/technical/identifiers.md
  docs/technical/time-series-design.md
  frontend/package-lock.json
  frontend/src/App.tsx
Due: prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

ci: use commit sha as identifier for the built images (FLEX-865)
  .teamcity/pom.xml
  .teamcity/settings.kts
Due: none

fix: remove manual disabling of git tag publishing (FLEX-865)
  .teamcity/settings.kts
Due: none

ci: use commit sha as identifier for the built images (FLEX-865) (#422)
  .teamcity/pom.xml
  .teamcity/settings.kts
Due: none

fix(ci): fix kotlin import in TeamCity config (FLEX-865)
  .gitignore
  .teamcity/settings.kts
Due: none

fix(ci): fix kotlin import in TeamCity config (FLEX-865) (#423)
  .gitignore
  .teamcity/settings.kts
Due: none

feat(backend): accept single parameters as alternative to full DB URI (FLEX-866)
  backend/flex.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: typo in error message
  backend/flex.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat(backend): accept single parameters as alternative to full DB URI (FLEX-866) (#424)
  backend/flex.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

refactor: use pgoutput over wal2json in event replication slot (FLEX-864)
  backend/event/event.go
  backend/event/worker.go
  backend/flex.go
  backend/pgrepl/connection.go
  backend/pgrepl/pgoutput/doc.go
  backend/pgrepl/pgoutput/message.go
  db/flex/replication/slots.sql
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: slightly better error messages and handling (FLEX-864)
  backend/event/event.go
  backend/pgrepl/pgoutput/message.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

refactor: use pgoutput over wal2json in event replication slot (FLEX-864) (#425)
  backend/event/event.go
  backend/event/worker.go
  backend/flex.go
  backend/pgrepl/connection.go
  backend/pgrepl/pgoutput/doc.go
  backend/pgrepl/pgoutput/message.go
  db/flex/replication/slots.sql
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore(deps): update patch updates [patch]
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency schemathesis to v4.5.1 [patch]
  requirements-dev.txt
Due: none

fix(ci): set commit sha as source in gitops step (FLEX-866)
  .teamcity/settings.kts
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
