Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

feat: remove back navigation from show pages (FLEX-1452)
  frontend/src/App.tsx
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/components/NavigationHistoryProvider.tsx
  frontend/src/components/ShowPageLayout.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/notice/NoticeShow.tsx
  frontend/src/party/PartyShow.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationShow.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: remove back navigation from show pages (FLEX-1452) (#1159)
  frontend/src/App.tsx
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/components/NavigationHistoryProvider.tsx
  frontend/src/components/ShowPageLayout.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/notice/NoticeShow.tsx
  frontend/src/party/PartyShow.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationShow.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(db): use explicit schema so kbackend can resolve DB objects (FLEX-1149)
  db/flex/accounting_point_grid_location.sql
  db/flex/service_provider_product_suspension.sql
  db/flex/service_providing_group_grid_prequalification_rls.sql
  db/flex/service_providing_group_product_application_rls.sql
  db/flex/service_providing_group_product_suspension.sql
Due: none

fix(db): use explicit schema so kbackend can resolve DB objects (FLEX-1149) (#1161)
  db/flex/accounting_point_grid_location.sql
  db/flex/service_provider_product_suspension.sql
  db/flex/service_providing_group_grid_prequalification_rls.sql
  db/flex/service_providing_group_product_application_rls.sql
  db/flex/service_providing_group_product_suspension.sql
Due: none

feat: removed feature toggle by date for creating SPGPA and SPPA (FLEX-1435)
  backend/data/data.go
  backend/data/data_test.go
  backend/flex.go
  frontend/.env.development
  frontend/.env.local-dev
  frontend/src/dashboard/service_provider/SpDashboard.tsx
  frontend/src/dashboard/service_provider/SpStatCards.tsx
  frontend/src/dashboard/shared/StatCard.tsx
  frontend/src/index.tsx
  frontend/src/productApplicationBlock.ts
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowProductApplicationsTable.tsx
  local/backend/dev.env
  local/backend/test.env
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: user for postgresql_exporter (FLEX-1472)
  local/postgres/init.sql
Due: none

fix: simpler logic for interaction between map and form (FLEX-1469)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/accounting_point/grid_location/SubstationReferenceInput.tsx
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: refactor logic #2 (FLEX-1469)
  frontend/package-lock.json
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v2.0.1
  .teamcity/pom.xml
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
  kbackend/gradle/wrapper/gradle-wrapper.properties
Due: none

chore(deps): update minor updates [patch]
  mise.toml
Due: none

fix(deps): update backend
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update dependency dev.inmo:krontab to v3
  kbackend/gradle/libs.versions.toml
Due: none

fix: simplify logic (FLEX-1469)
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: restore package lock (FLEX-1469)
  frontend/package-lock.json
Due: none

fix(frontend): wrap pagination combobox in FormIOtem provider (FLEX-1464)
  frontend/src/components/EDS-ra/list/List.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: removed feature toggle by date for creating SPGPA and SPPA (FLEX-1435) (#1162)
  backend/data/data.go
  backend/data/data_test.go
  backend/flex.go
  frontend/.env.development
  frontend/.env.local-dev
  frontend/src/dashboard/service_provider/SpDashboard.tsx
  frontend/src/dashboard/service_provider/SpStatCards.tsx
  frontend/src/dashboard/shared/StatCard.tsx
  frontend/src/index.tsx
  frontend/src/productApplicationBlock.ts
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowProductApplicationsTable.tsx
  local/backend/dev.env
  local/backend/test.env
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: allow CSO to change voltage level on grid model APGL (FLEX-1421)
  db/flex/accounting_point_grid_location.sql
  docs/resources/accounting_point_grid_location.md
  docs/technical/accounting-point-grid-location.md
  docs/technical/structure-data.md
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointGridLocationRepositoryTest.kt
Due: none

fix: always have ap location in viewport (FLEX-1469)
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): avoid invalid div-in-p nesting for PowerRatio in LabelValue (FLEX-1464)
  frontend/src/components/LabelValue.tsx
  frontend/src/service_providing_group/summary/ServiceProvidingGroupControllableUnitSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): invalid div-in-p nesting in TechnicalResourceDetailModal (FLEX-1464)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceDetailModal.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): set app root for modal (FLEX-1464)
  frontend/src/index.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: user for postgresql_exporter (FLEX-1472) (#1163)
  local/postgres/init.sql
Due: none

fix: remove selectionTick (FLEX-1469)
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): wrap comment textarea/select in FormItem provider (FLEX-1464)
  frontend/src/components/comments/CommentBubble.tsx
  frontend/src/components/comments/CommentFeed.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: translate AccountingPointLocationMap (FLEX-1469)
  frontend/package-lock.json
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): invalid div-in-p nesting in SpgpaShowSummary (FLEX-1464)
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: translate AccountingPointGridLocationPanel (FLEX-1469)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: translate SubstationReferenceInput (FLEX-1469)
  frontend/src/accounting_point/grid_location/SubstationReferenceInput.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v2.0.1 (#1165)
  .teamcity/pom.xml
Due: none

fix: query enabled when typing a search (FLEX-1469)
  frontend/src/accounting_point/grid_location/SubstationReferenceInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): remove console errors and warnings (FLEX-1464) (#1168)
  frontend/src/components/EDS-ra/list/List.tsx
  frontend/src/components/LabelValue.tsx
  frontend/src/components/comments/CommentBubble.tsx
  frontend/src/components/comments/CommentFeed.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceDetailModal.tsx
  frontend/src/index.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
  frontend/src/service_providing_group/summary/ServiceProvidingGroupControllableUnitSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: revert lock file changes (FLEX-1469)
  frontend/package-lock.json
Due: none

feat: allow CSO to change voltage level on grid model APGL (FLEX-1421) (#1167)
  db/flex/accounting_point_grid_location.sql
  docs/resources/accounting_point_grid_location.md
  docs/technical/accounting-point-grid-location.md
  docs/technical/structure-data.md
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointGridLocationRepositoryTest.kt
Due: none

feat(ui): alert to guide CSO on setting AP grid location nominal voltage (FLEX-1421)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/accounting_point/show/AccountingPointShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove enabled flag (FLEX-1469)
  frontend/src/accounting_point/grid_location/SubstationReferenceInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove button and imports (FLEX-1469)
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: add zoom control (FLEX-1469)
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: more interaction between grid location form and map (#1164)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/accounting_point/grid_location/SubstationReferenceInput.tsx
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): alert to guide CSO on setting AP grid location nominal voltage (FLEX-1421) (#1169)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/accounting_point/show/AccountingPointShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
