Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

bump
  .teamcity/pom.xml
Due: none

chore: add translation to headers in power per substation table (FLEX-1402)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowPowerPerSubstationTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: improve comment (FLEX-1402)
  db/flex/service_providing_group_power_per_substation.sql
Due: none

fix: only query for SO when role is SO (FLEX-1433)
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: moved translation of draft status from generated enum file (FLEX-1402)
  frontend/src/components/SpgpaStatusBadge.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Potential fix for pull request finding
  frontend/src/dashboard/hooks/useDashboardApplications.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: typo in query (FLEX-1433)
  frontend/src/dashboard/hooks/useDashboardApplications.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: revert utils file (FLEX-1433)
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: only query for SO when role is SO (FLEX-1433) (#1137)
  frontend/src/dashboard/hooks/useDashboardApplications.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

better naming (#1134)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove tab and move information to summary tab, also add button to see SPG (FLEX-1287)
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: dont remove info tab, but only the panel inside it (FLEX-1287)
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Potential fix for pull request finding
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove tab and move information to summary tab, also add button to see SPG (FLEX-1287) (#1139)
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): use source in SystemOperatorProductTypesInput (FLEX-1432)
  frontend/src/product_type/components.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update eds components (FLEX-1439)
  frontend/package.json
Due: none

feat: add flexible power to power per substation table (FLEX-1402) (#1136)
  backend/data/static/openapi.json
  db/flex/service_providing_group_power_per_substation.sql
  docs/resources/service_providing_group_power_per_substation.md
  frontend/src/components/SpgpaStatusBadge.tsx
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowPowerPerSubstationTable.tsx
  frontend/src/service_providing_group/show/useSpgPowerPerSubstation.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupPowerPerSubstationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupPowerPerSubstationResponseSubstations.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupPowerPerSubstationResponseTechnicalResource.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_spg_power_per_substation.py
  test/flex/models/__init__.py
  test/flex/models/service_providing_group_power_per_substation_response.py
  test/flex/models/service_providing_group_power_per_substation_response_substations_item.py
  test/flex/models/service_providing_group_power_per_substation_response_substations_item_technical_resource.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: add tooltip and better description of business id under AP (FLEX-1436)
  backend/data/static/openapi.json
  docs/resources/accounting_point_grid_location.md
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/generated-client/types.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationUpdateRequest.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/accounting_point_grid_location_create_request.py
  test/flex/models/accounting_point_grid_location_history_response.py
  test/flex/models/accounting_point_grid_location_response.py
  test/flex/models/accounting_point_grid_location_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: add tooltip and better description of business id under AP (FLEX-1436) (#1141)
  backend/data/static/openapi.json
  docs/resources/accounting_point_grid_location.md
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/generated-client/types.gen.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationUpdateRequest.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/accounting_point_grid_location_create_request.py
  test/flex/models/accounting_point_grid_location_history_response.py
  test/flex/models/accounting_point_grid_location_response.py
  test/flex/models/accounting_point_grid_location_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

remove obsolete params in new build config
  .teamcity/pom.xml
  .teamcity/settings.kts
Due: none

fix(ui): update column names (FLEX-1442)
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationList.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): remove unused value (FLEX-1442)
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: remove obsolete params in new build config (#1142)
  .teamcity/pom.xml
  .teamcity/settings.kts
Due: none

feat: added comment input in confirm dialog when conditionally approving SPGGP (FLEX-1353)
  frontend/src/components/ConfirmAction.tsx
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqActionBar.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): update column names (FLEX-1442) (#1143)
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationList.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): remove unintentional update of product types field (FLEX-1432) (#1138)
  frontend/src/product_type/components.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: use inner join rather than left join (FLEX-1445)
  frontend/src/controllable_unit/ControllableUnitList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: use inner join rather than left join (FLEX-1445) (#1145)
  frontend/src/controllable_unit/ControllableUnitList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: added comment input in confirm dialog when conditionally approving SPGGP (FLEX-1353) (#1144)
  frontend/src/components/ConfirmAction.tsx
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqActionBar.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add pagination to tables, also increase default size to 25 instead of 10 (FLEX-1441)
  frontend/src/components/EDS-ra/list/List.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

flex 1441 pagination on table (#1146)
  frontend/src/components/EDS-ra/list/List.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(db): allow internal data role to touch APGL and substation (FLEX-1443)
  db/api/grants/field_level_authorization.sql
  db/flex/accounting_point_grid_location.sql
  db/flex/accounting_point_grid_location_rls.sql
  db/flex/grants/field_level_authorization.sql
  db/flex/substation_rls.sql
  db/grid/grants/field_level_authorization.sql
  local/input/permissions.csv
Due: none

feat: update adapter OpenAPI spec (FLEX-1443)
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/client/AccountingPointClient.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/client/KtorApiConfiguration.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/client/KtorApiModels.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/AccountingPoint.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/openapi.yaml
Due: check-openapi

fix: remove source tab due to confusion (FLEX-1446)
  frontend/src/notice/NoticeList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): bump eds components (FLEX-1439)
  frontend/package-lock.json
Due: none

feat: AP sync also synchronises substation (FLEX-1443)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
Due: none

fix: remove source tab due to confusion (FLEX-1446) (#1147)
  frontend/src/notice/NoticeList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
