Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

chore(deps): update minor updates [patch]
  mise.toml
Due: none

fix(deps): update dependency dev.inmo:krontab to v3 (#1166)
  kbackend/gradle/libs.versions.toml
Due: none

chore(deps): update frontend (#1182)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update kbackend (#1084)
  frontend/package-lock.json
  frontend/package.json
  kbackend/gradle/libs.versions.toml
  kbackend/gradle/wrapper/gradle-wrapper.properties
Due: none

fix(kbackend): delete before merge in order to avoid conflicting key (FLEX-1485)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
Due: none

chore: remove redundant comment (FLEX-1485)
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
Due: none

fix(kbackend): delete before merge in order to avoid conflicting key (FLEX-1485)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointMeteringGridAreaRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointMeteringGridAreaRepositoryTest.kt
Due: none

fix: go to party when clicking BRP on CU (FLEX-1420) (#1175)
  frontend/src/components/EDS-ra/fields/DateField.tsx
  frontend/src/components/EDS-ra/fields/EnumField.tsx
  frontend/src/controllable_unit/balance_responsible_party/ControllableUnitBalanceResponsiblePartyList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: allow use of valid_from and as_of together (FLEX-1306) (#1181)
  backend/data/data.go
  backend/data/data_test.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: only allow embedding history->history (FLEX-1306)
  db/api/embedding/embedding.sql
  db/api/embedding/embedding_history.sql
  local/scripts/openapi_to_db.py
  local/scripts/relationship.py
  test/api_client_tests/test_embed.py
Due: none

feat: toggle unchanged rows + icon for changed (FLEX-1306)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowChangesTab.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: show first and last change date rather than valid from/to (FLEX-1306)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowChangesTab.tsx
  frontend/src/service_providing_group/show/useSpgChangesViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): view of CU changes in an SPG since snapshot at a given time (FLEX-1306)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowChangesTab.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
  frontend/src/service_providing_group/show/useSpgChangesViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: ensure one row from membership by using valid_at (FLEX-1306)
  frontend/src/service_providing_group/show/useSpgChangesViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: improved firstChange and lastChange calculations
  frontend/src/service_providing_group/show/useSpgChangesViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: valid_at filter should asOf instead of current date
  frontend/src/service_providing_group/show/useSpgChangesViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: aria and compare logic (FLEX-1306)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowChangesTab.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
  frontend/src/service_providing_group/show/useSpgChangesViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: missing where clause in TR update (FLEX-1490)
  db/api/technical_resource.sql
Due: none

fix: very high limit (FLEX-1306)
  frontend/src/service_providing_group/show/useSpgChangesViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: missing where clause in TR update (FLEX-1490) (#1184)
  db/api/technical_resource.sql
Due: none

fix(kbackend): delete before merge in order to avoid conflicting key (FLEX-1485) (#1183)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointMeteringGridAreaRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointMeteringGridAreaRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
Due: none

feat(ui): view of CU changes in an SPG since snapshot at a given time (FLEX-1306) (#1179)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowChangesTab.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
  frontend/src/service_providing_group/show/useSpgChangesViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: failing test (FLEX-1491)
  db/test_data/test_data.sql
  justfile
  test/auth_tests/test_jwt_bearer.py
Due: none

feat: added descriptions for SPGPA statuses (FLEX-1351)
  frontend/src/components/SpgpaStatusBadge.tsx
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/intl.tsx
  frontend/src/service_providing_group/product_application/spgpaStatus.ts
  local/scripts/resources_to_intl.py
  openapi/resources.yml
  openapi/schema.yml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: restrict jwt bearer to only assume the specified entity_client.party_id (FLEX-1491)
  backend/auth/auth.go
  backend/auth/models/models.go
  db/auth/functions.sql
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: only filter out .description as enum value (FLEX-1351)
  frontend/src/intl/intl.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: allow drilling from spg changes to CU (FLEX-1306)
  frontend/src/controllable_unit/ControllableUnitHistoryList.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowTabs.tsx
  frontend/src/controllable_unit/show/ControllableUnitSpgList.tsx
  frontend/src/controllable_unit/show/ControllableUnitSpgMembershipHistoryList.tsx
  frontend/src/controllable_unit/show/useControllableUnitSpgMemberships.ts
  frontend/src/intl/text.ts
  frontend/src/resources/controllableUnitResources.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowChangesTab.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: added descriptions for SPGPA statuses (FLEX-1351) (#1185)
  frontend/src/components/SpgpaStatusBadge.tsx
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/intl.tsx
  frontend/src/service_providing_group/product_application/spgpaStatus.ts
  local/scripts/resources_to_intl.py
  openapi/resources.yml
  openapi/schema.yml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add expandable row to simpletable and add controllable units to per substation tab (FLEX-1405)
  frontend/src/components/SimpleTable.tsx
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowPowerPerSubstationTable.tsx
  frontend/src/service_providing_group/show/useSpgControllableUnits.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: no more default limit (FLEX-1306)
  backend/data/data.go
  backend/grid/grid.go
  frontend/src/service_providing_group/show/useSpgChangesViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: changelog (FLEX-1306)
  docs/changelog.md
Due: none

docs: update get ready for market
  docs/diagrams/ready_for_market.drawio.png
Due: none

docs: update get ready for market (#1190)
  docs/diagrams/ready_for_market.drawio.png
Due: none

fix: what data to pull out after talk with Kim (FLEX-1405)
  frontend/src/components/SimpleTable.tsx
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowPowerPerSubstationTable.tsx
  frontend/src/service_providing_group/show/useSpgControllableUnits.ts
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
