Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

feat: improve TR list empty state with description (FLEX-1195) (#837)
  frontend/src/components/SimpleTable.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: add TR empty state design spec (FLEX-1195)
  docs/superpowers/specs/2026-05-15-tr-empty-state-design.md
Due: none

fix: forward label prop in Datagrid column headers (FLEX-1199)
  frontend/src/components/EDS-ra/list/Datagrid.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Revert "docs: add TR empty state design spec (FLEX-1195)"
  docs/superpowers/specs/2026-05-15-tr-empty-state-design.md
Due: none

fix: Make accounting point clickable in CU summary (FLEX-1196)
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: forward label prop in Datagrid column headers (FLEX-1199) (#840)
  frontend/src/components/EDS-ra/list/Datagrid.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Make accounting point clickable in CU list in SPG Show (FLEX-1196)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update local
  requirements-dev.txt
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
  kbackend/gradle/wrapper/gradle-wrapper.properties
Due: none

fix(deps): update frontend (#842)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: Make accounting point clickable in CU summary and show SPG (FLEX-1196) (#841)
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: Persist active tab in URL search param for all show pages (FLEX-1205)
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowTabs.tsx
  frontend/src/hooks/useTabSearchParam.ts
  frontend/src/service_provider_product_application/show/SppaShowTabs.tsx
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqShowTabs.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: lint formatting (FLEX-1205)
  frontend/src/controllable_unit/show/ControllableUnitShowTabs.tsx
  frontend/src/service_provider_product_application/show/SppaShowTabs.tsx
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Do not override all query params when setting tab (FLEX-1205)
  frontend/src/hooks/useTabSearchParam.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: Persist active tab in URL search param for all show pages (FLEX-1205) (#843)
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowTabs.tsx
  frontend/src/hooks/useTabSearchParam.ts
  frontend/src/service_provider_product_application/show/SppaShowTabs.tsx
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqShowTabs.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Show additional information on CU show (FLEX-1184)
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Show additional information on CU show (FLEX-1184) (#844)
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: Add tooltip for is_small and translate true/false to Yes/No (FLEX-1194)
  backend/data/static/openapi.json
  docs/resources/controllable_unit.md
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/generated-client/types.gen.ts
  frontend/src/intl/text.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContract.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/controllable_unit_history_response.py
  test/flex/models/controllable_unit_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: Prettier (FLEX-1194)
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: Add tooltip for is_small and translate true/false to yes/no (FLEX-1194) (#845)
  backend/data/static/openapi.json
  docs/resources/controllable_unit.md
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/generated-client/types.gen.ts
  frontend/src/intl/text.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContract.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/controllable_unit_history_response.py
  test/flex/models/controllable_unit_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: make TR-show a modal (FLEX-1206)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceDetailModal.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.76.5 (#833)
  .teamcity/pom.xml
Due: none

feat: make TR-show a modal (FLEX-1206) (#846)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceDetailModal.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: new set of statuses for SPG-PA (FLEX-1088)
  backend/data/static/openapi.json
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
  db/test_data/test_data.sql
  docs/diagrams/service_providing_group_product_application_status.plantuml
  docs/diagrams/service_providing_group_product_application_status.png
  docs/resources/service_providing_group_product_application.md
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/service_providing_group/product_application/show/SpgpaActionBar.tsx
  frontend/src/service_providing_group/product_application/show/spgpaStatus.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationStatus.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_status.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: check-plantuml, prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat(ui): explain to SO that they must handle the SPG-PA within 4w (FLEX-1088)
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaAlerts.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update local (#834)
  requirements-dev.txt
Due: none

fix(test): adapt API tests to new statuses on SPG-PA (FLEX-1088)
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_product_application.py
  test/api_client_tests/test_spg_product_suspension.py
Due: none

feat: sync of SPG-GP based on SPG-PA (FLEX-1088)
  db/flex/changelog.yml
  db/flex/service_providing_group_grid_prequalification_sync.sql
  db/flex/service_providing_group_product_application.sql
  test/api_client_tests/test_spg_product_application.py
Due: none

chore: npm audit fix (FLEX-1088)
  frontend/package-lock.json
Due: none

fix: quote in string (FLEX-1088)
  frontend/src/service_providing_group/product_application/show/SpgpaAlerts.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): update alert (FLEX-1088)
  frontend/src/service_providing_group/product_application/show/SpgpaActionBar.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: renaming (FLEX-1088)
  db/flex/service_providing_group_product_application.sql
Due: none

fix(db): put `flex` in the default search path (FLEX-1088)
  justfile
Due: none

chore: migrate all lists that have not been migrated to EDS (FLEX-1210)
  frontend/src/accounting_point/AccountingPointList.tsx
  frontend/src/components/EDS-ra/fields/BaseField.tsx
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionList.tsx
  frontend/src/entity/EntityList.tsx
  frontend/src/event/EventList.tsx
  frontend/src/notification/NotificationList.tsx
  frontend/src/product_type/ProductTypeList.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: correct test comment (FLEX-1088)
  test/api_client_tests/test_spg_product_application.py
Due: none

chore: lint and format (FLEX-1210)
  frontend/package-lock.json
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionList.tsx
  frontend/src/entity/EntityList.tsx
  frontend/src/notification/NotificationList.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: security definer view (FLEX-1088)
  db/flex/service_providing_group_grid_prequalification_sync.sql
Due: none

fix: migration for prequalification_pending (FLEX-1088)
  db/flex/service_providing_group_product_application_migrations.sql
Due: none
