Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

feat: move users/structure data for local env (FLEX-925)
  db/flex/structure_data/entity.csv
  db/flex/structure_data/metering_grid_area.csv
  db/flex/structure_data/party.csv
  justfile
  local/postgres/structure-data.sql
  local/postgres/users.sql
Due: none

fix: set identity (FLEX-925)
  justfile
  local/postgres/structure-data.sql
  local/postgres/users.sql
Due: none

fix: load MGA after parties (FLEX-925)
  local/postgres/structure-data.sql
Due: none

refactor: delete structure data from local env (FLEX-925)
  justfile
  local/postgres/structure-data.sql
Due: none

feat: file-based env.js (FLEX-928) (#503)
  docker-compose.yml
  frontend/Dockerfile
  frontend/docker-entrypoint.d/50-window-env.sh
  frontend/nginx.conf.d/05-gzip.conf
  local/frontend/env.test.js
Due: dockerfilelint, prettier, eslint

refactor(deploy): remove users and structure data from Liquibase changelogs (FLEX-925) (#513)
  db/changelog.yml
  db/flex/changelog.yml
  db/flex/structure_data/entity.csv
  db/flex/structure_data/metering_grid_area.csv
  db/flex/structure_data/party.csv
  justfile
  local/postgres/users.sql
Due: none

feat: add dialog for activating controllable unit (FLEX-931)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ConfirmAction.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/components/ActivateControllableUnitButton.tsx
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
  frontend/vite.config.mts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove unnessecary optimistic update (FLEX-931)
  frontend/src/controllable_unit/show/components/ActivateControllableUnitButton.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(renovate): disable major update of postgres image tag
  .github/renovate.json
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.57.4
  .teamcity/pom.xml
Due: none

chore(deps): update minor updates to v8.51.0 [patch]
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.57.4 (#515)
  .teamcity/pom.xml
Due: none

fix(renovate): disable major update of postgres image tag (#517)
  .github/renovate.json
Due: none

fix: fix some typing and add some comments (FLEX-931)
  frontend/src/components/ConfirmAction.tsx
  frontend/src/controllable_unit/show/components/ActivateControllableUnitButton.tsx
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update minor updates to v8.51.0 [patch] (#516)
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: add dialog for activating controllable unit (FLEX-931) (#514)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ConfirmAction.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/components/ActivateControllableUnitButton.tsx
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
  frontend/vite.config.mts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: fix bug where create button in alert does not send controllable unit id to form (FLEX-875)
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

test: SP should be able to delete TR (FLEX-933)
  test/api_client_tests/test_technical_resource.py
Due: none

fix: trigger on delete should return old, not new (FLEX-933)
  db/flex/technical_resource.sql
Due: none

Update TechnicalResourceInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: SP should be able to delete TR (FLEX-933) (#520)
  db/flex/technical_resource.sql
  test/api_client_tests/test_technical_resource.py
Due: none

fix: support events with no subject ID in pgoutput (FLEX-924)
  backend/event/event.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

refactor: better assignment (FLEX-924)
  backend/event/event.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: support events with no subject ID in pgoutput (FLEX-924) (#521)
  backend/event/event.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat(ui): section for suspensions in main menu (FLEX-841)
  frontend/src/App.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: redirect URL on CUS create button in flat URL mode (FLEX-841)
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: redirects after suspension creation to support flat URL mode (FLEX-841)
  frontend/src/resources/controllableUnitResources.tsx
  frontend/src/resources/serviceProvidingGroupResources.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: controllable unit show send id to TR input (FLEX-875) (#519)
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): section for suspensions in main menu (FLEX-841) (#522)
  frontend/src/App.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionList.tsx
  frontend/src/resources/controllableUnitResources.tsx
  frontend/src/resources/serviceProvidingGroupResources.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update dependency zod to v4.3.3 [patch]
  frontend/package-lock.json
Due: none

fix(deps): update dependency zod to v4.3.3 [patch] (#523)
  frontend/package-lock.json
Due: none

feat(ui): more human-readable product type registration (FLEX-879)
  frontend/src/App.tsx
  frontend/src/product_type/components.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeList.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove range-unit from test (FLEX-921)
  test/security_token_service.py
Due: none

fix: update imports in tests (FLEX-932)
  test/api_client_tests/test_accounting_point.py
  test/api_client_tests/test_accounting_point_balance_responsible_party.py
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_cu_lookup.py
  test/api_client_tests/test_cu_suspension.py
  test/api_client_tests/test_cus_comment.py
  test/api_client_tests/test_cusp.py
  test/api_client_tests/test_entity.py
  test/api_client_tests/test_entity_client.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_identity.py
  test/api_client_tests/test_party.py
  test/api_client_tests/test_party_membership.py
  test/api_client_tests/test_product_type.py
  test/api_client_tests/test_service_provider_product_application.py
  test/api_client_tests/test_service_provider_product_suspension.py
  test/api_client_tests/test_spg.py
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_grid_suspension.py
  test/api_client_tests/test_spg_membership.py
  test/api_client_tests/test_spg_product_application.py
  test/api_client_tests/test_spg_product_suspension.py
  test/api_client_tests/test_spggp_comment.py
  test/api_client_tests/test_spggs_comment.py
  test/api_client_tests/test_spgps_comment.py
  test/api_client_tests/test_sppa_comment.py
  test/api_client_tests/test_spps_comment.py
  test/api_client_tests/test_system_operator_product_type.py
  test/api_client_tests/test_technical_resource.py
  test/auth_tests/test_scopes.py
  test/auth_tests/test_token_exchange.py
  test/security_token_service.py
Due: none

fix: add required filds to entity client (FLEX-932)
  test/api_client_tests/test_entity_client.py
Due: none

fix: fix typescript errors (FLEX-932)
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/entity/EntityInput.tsx
  frontend/src/entity/client/EntityClientInput.tsx
  frontend/src/party/PartyInput.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionInput.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupInput.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationInput.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionInput.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeInput.tsx
  frontend/src/util.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: client_id and party_id should not be required in api (FLEX-932)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  docs/resources/entity_client.md
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/auth_tests/test_scopes.py
  test/flex/models/entity_client.py
  test/flex/models/entity_client_create_request.py
  test/flex/models/entity_client_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: fix some zod-parsing (FLEX-932)
  frontend/src/controllable_unit/ControllableUnitInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check
