Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

fix: wrong permissions on attachment (FLEX-1323)
  db/api/grants/field_level_authorization.sql
  db/flex/grants/field_level_authorization.sql
  docs/resources/service_providing_group_product_application_attachment.md
  frontend/src/auth/permissions.ts
  local/input/permissions.csv
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: plumbing in local network and config so the endpoints work (FLEX-1323)
  .gitleaksignore
  docker-compose.yml
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/generic/attachment/AttachmentHandler.kt
  kbackend/src/main/kotlin/no/elhub/flex/generic/attachment/AttachmentRoutes.kt
  kbackend/src/main/kotlin/no/elhub/flex/storage/FileContentParser.kt
  local/kbackend/dev.env
  local/kbackend/test.env
  local/nginx/nginx.conf
  local/nginx/templates/flex.conf
Due: none

feat(ui): frontend generic solution for attachments (FLEX-1323)
  frontend/src/components/attachments/AttachmentList.tsx
  frontend/src/components/attachments/icons.tsx
  frontend/src/components/attachments/types.ts
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: remove null-examples (#986)
  .pre-commit-config.yaml
  backend/auth/static/openapi.json
  backend/data/static/openapi.json
  frontend/eslint.config.js
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/auth/permissions.ts
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
  frontend/src/generated-client/client/client.gen.ts
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/core/params.gen.ts
  frontend/src/generated-client/core/queryKeySerializer.gen.ts
  frontend/src/generated-client/core/types.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  openapi/openapi-auth.yml
  openapi/resources.yml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

chore: bumpt to 1.78.1
  .teamcity/pom.xml
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.78.0 (#979)
  .teamcity/pom.xml
Due: none

fix: run failing test first (#987)
  pyproject.toml
  test/api_client_tests/test_accounting_point_balance_responsible_party.py
  uv.lock
Due: none

test new snapshot
  .teamcity/pom.xml
  .teamcity/settings.kts
Due: none

working dir already set, do not set gomodpath
  .teamcity/settings.kts
Due: none

test project name override to not collide project names
  .teamcity/settings.kts
Due: none

proposed sbom upload settings for this repo
  .teamcity/pom.xml
  .teamcity/settings.kts
Due: none

feat(ci): sbom upload settings proposal (#989)
  .teamcity/pom.xml
  .teamcity/settings.kts
Due: none

docs: new pass on attachment docs (FLEX-1323)
  docs-dev/attachments.md
  docs-dev/diagrams/attachment_download_sequence.plantuml
  docs-dev/diagrams/attachment_download_sequence.png
  docs-dev/diagrams/attachment_upload_sequence.plantuml
  docs-dev/diagrams/attachment_upload_sequence.png
  kbackend/src/main/kotlin/no/elhub/flex/storage/AttachmentStorageService.kt
Due: check-plantuml

refactor: various changes (FLEX-1323)
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_product_application_attachment.sql
  db/flex/attachment.sql
  db/flex/attachment_history_audit.sql
  db/flex/changelog.yml
  db/flex/service_providing_group_product_application_attachment.sql
  docs/resources/service_providing_group_product_application_attachment.md
  frontend/src/auth/permissions.ts
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentFilename.kt
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentHandler.kt
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentRoutes.kt
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentStorageService.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/attachment/AttachmentRoutes.kt
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/attachment/ServiceProvidingGroupProductApplicationAttachmentTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/generic/attachment/AttachmentRepositoryTest.kt
  local/input/permissions.csv
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update backend
  backend/go.mod
  backend/go.sum
Due: none

chore(deps): update patch updates [patch]
  mise.toml
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
Due: none

chore(deps): update minor updates [patch]
  .python-version
  local/postgres/Dockerfile
  mise.toml
Due: dockerfilelint

chore(deps): update dependency typescript to v7
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: prepare multi format support + sanitised filename (FLEX-1323)
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_product_application_attachment.sql
  db/flex/attachment.sql
  docs/resources/service_providing_group_product_application_attachment.md
  frontend/src/auth/permissions.ts
  frontend/src/components/attachments/AttachmentList.tsx
  frontend/src/components/attachments/types.ts
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentHandler.kt
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentRoutes.kt
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentStorageService.kt
  kbackend/src/main/kotlin/no/elhub/flex/storage/FileContent.kt
  kbackend/src/main/kotlin/no/elhub/flex/storage/FileContentParser.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Error.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/FileContent.kt
  kbackend/src/test/kotlin/no/elhub/flex/attachment/ServiceProvidingGroupProductApplicationAttachmentTest.kt
  local/input/permissions.csv
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: docs + check constraint on sanitised filename (FLEX-1323)
  db/flex/attachment.sql
  docs-dev/attachments.md
  docs-dev/diagrams/attachment_download_sequence.plantuml
  docs-dev/diagrams/attachment_download_sequence.png
  docs-dev/diagrams/attachment_upload_sequence.plantuml
  docs-dev/diagrams/attachment_upload_sequence.png
Due: check-plantuml

feat: image support + better tests (FLEX-1323)
  db/api/grants/field_level_authorization.sql
  db/flex/service_providing_group_product_application_attachment_rls.sql
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/FileContent.kt
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/attachment/ServiceProvidingGroupProductApplicationAttachmentTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/util/FileContentTest.kt
  test/api_client_tests/test_spgpa_attachment.py
Due: none

fix: remove double traceresponse header (FLEX-1323)
  .golangci.yml
  backend/data/data.go
Due: golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: content disarm (FLEX-1323)
  kbackend/src/main/kotlin/no/elhub/flex/util/FileContent.kt
Due: none

feat: generate table and view for attachments (FLEX-1323)
  backend/api.sql
  db/flex/service_providing_group_product_application_attachment.sql
  db/flex/service_providing_group_product_application_attachment_history_audit.sql
  local/scripts/openapi_to_db.py
  local/scripts/templates/attachment_resource.j2.sql
  local/scripts/templates/attachment_resource.j2.yml
  local/scripts/templates/attachment_view.j2.sql
  openapi/resources.yml
  openapi/schema.yml
Due: none

feat: markdown automation (FLEX-1323)
  docs/resources/service_providing_group_product_application_attachment.md
  local/scripts/openapi_to_markdown.py
  local/scripts/templates/attachment_resource.j2.yml
Due: none

feat: OpenAPI automation (FLEX-1323)
  .pre-commit-config.yaml
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  frontend/src/generated-client/client/client.gen.ts
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/core/params.gen.ts
  frontend/src/generated-client/core/queryKeySerializer.gen.ts
  frontend/src/generated-client/core/types.gen.ts
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/sdk.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationAttachmentContentType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationAttachmentHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationAttachmentResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationResponse.kt
  local/scripts/resources_to_openapi.py
  openapi/openapi-api-no-default.json
  test/flex/api/service_providing_group_product_application_attachment/__init__.py
  test/flex/api/service_providing_group_product_application_attachment/create_service_providing_group_product_application_attachment.py
  test/flex/api/service_providing_group_product_application_attachment/delete_service_providing_group_product_application_attachment.py
  test/flex/api/service_providing_group_product_application_attachment/download_service_providing_group_product_application_attachment.py
  test/flex/api/service_providing_group_product_application_attachment/list_service_providing_group_product_application_attachment.py
  test/flex/api/service_providing_group_product_application_attachment/list_service_providing_group_product_application_attachment_history.py
  test/flex/api/service_providing_group_product_application_attachment/read_service_providing_group_product_application_attachment.py
  test/flex/api/service_providing_group_product_application_attachment/read_service_providing_group_product_application_attachment_history.py
  test/flex/models/__init__.py
  test/flex/models/create_service_providing_group_product_application_attachment_body.py
  test/flex/models/service_providing_group_product_application_attachment_content_type.py
  test/flex/models/service_providing_group_product_application_attachment_history_response.py
  test/flex/models/service_providing_group_product_application_attachment_response.py
  test/flex/models/service_providing_group_product_application_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

chore: reactivate spectral (FLEX-1323)
  .pre-commit-config.yaml
Due: none

test: use the generated API client (FLEX-1323)
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentHandler.kt
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/error/Error.kt
  kbackend/src/test/kotlin/no/elhub/flex/attachment/ServiceProvidingGroupProductApplicationAttachmentTest.kt
  test/api_client_tests/test_spgpa_attachment.py
Due: none

chore(deps): update dependency typescript to v7 (#994)
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: upgrade also in mise and dockerfile
  backend/Dockerfile
  mise.toml
Due: dockerfilelint

chore(deps): update backend (#990)
  backend/Dockerfile
  backend/go.mod
  backend/go.sum
  mise.toml
Due: dockerfilelint

fix(deps): update kbackend (#993)
  kbackend/gradle/libs.versions.toml
Due: none

chore(deps): update patch updates [patch] (#991)
  mise.toml
Due: none

fix(deps): update frontend (#992)
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: attachment DB module and scope asset (FLEX-1323)
  backend/auth/auth.go
  backend/data/data.go
  backend/data/static/openapi.json
  db/api/grants/field_level_authorization.sql
  db/attachment/changelog.yml
  db/attachment/grants/field_level_authorization.sql
  db/attachment/service_providing_group_product_application_attachment.sql
  db/changelog.yml
  db/flex/entity_client_migrations.sql
  db/flex/grants/field_level_authorization.sql
  db/flex/party_membership_migrations.sql
  db/flex/scope.sql
  db/test_data/test_data.sql
  docker-compose.yml
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/sdk.gen.ts
  justfile
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentRoutes.kt
  local/input/permissions-grid.csv
  local/input/permissions.csv
  local/scripts/csv_to_md.py
  local/scripts/openapi_to_db.py
  local/scripts/permissions_to_grant.py
  local/scripts/resources_to_openapi.py
  local/scripts/templates/attachment_view.j2.sql
  openapi/openapi-api-no-default.json
  test/flex/api/service_providing_group_product_application_attachment/download_service_providing_group_product_application_attachment.py
  test/flex/models/auth_scope.py
  test/security_token_service.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
