Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix: invalidate query
  frontend/src/notice/details/NoticePartyOutdated.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: invalidate notices
  frontend/src/notice/details/NoticePartyResidual.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: parsing error (FLEX-1281)
  frontend/src/notice/details/NoticePartyOutdated.tsx
  frontend/src/notice/details/NoticePartyResidual.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): add proper support for notices party.outdated and party.residual (FLEX-1281) (#925)
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/notice/details/NoticePartyMissing.tsx
  frontend/src/notice/details/NoticePartyOutdated.tsx
  frontend/src/notice/details/NoticePartyResidual.tsx
  frontend/src/notice/noticeTypes.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: split changesets (FLEX-1133)
  db/flex/accounting_point_migrations.sql
Due: none

fix(db): DROP + CREATE view (FLEX-1133)
  db/api/accounting_point.sql
  local/postgres/Dockerfile
Due: dockerfilelint

refactor(ui): merge both tabs (FLEX-1133)
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(test): false negative due to another PR (FLEX-1133)
  test/api_client_tests/test_party.py
Due: none

chore: generation with apparently updated tools (FLEX-1133)
  frontend/src/generated-client/client.gen.ts
  frontend/src/generated-client/client/index.ts
  frontend/src/generated-client/client/utils.gen.ts
  frontend/src/generated-client/core/auth.gen.ts
  frontend/src/generated-client/core/params.gen.ts
  frontend/src/generated-client/core/pathSerializer.gen.ts
  frontend/src/generated-client/core/queryKeySerializer.gen.ts
  frontend/src/generated-client/core/utils.gen.ts
  frontend/src/generated-client/sdk.gen.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Docs: update CU registration process (#877)
  docs/diagrams/controllable_unit_registration.plantuml
  docs/diagrams/controllable_unit_registration.png
  docs/diagrams/controllable_unit_update.plantuml
  docs/diagrams/controllable_unit_update.png
  docs/processes/controllable-unit-registration.md
  docs/processes/controllable-unit-update.md
Due: check-plantuml

refactor: force use of ST_AsGeoJSON (FLEX-1133)
  backend/data/static/openapi.json
  db/api/accounting_point.sql
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/GeojsonPoint.kt
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/__init__.py
  test/flex/models/accounting_point_response.py
  test/flex/models/geojson_point.py
  test/flex/models/geojson_point_crs.py
  test/flex/models/geojson_point_crs_properties.py
  test/flex/models/geojson_point_crs_properties_name.py
  test/flex/models/geojson_point_crs_type.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

docs: update nemo naming according to v2 (FLEX-1132)
  docs/technical/accounting-point-grid-location.md
Due: none

refactor: use oneOf[null, ref] to encode nullable $ref (FLEX-1133)
  backend/data/static/openapi.json
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/CrsType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/GeojsonPointCrs.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/GeojsonPointProperties.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeResponseData.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/PropertiesName.kt
  local/scripts/openapi_to_db.py
  local/scripts/openapi_to_markdown.py
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/accounting_point_response.py
  test/flex/models/notice_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: updated csp (FLEX-1133)
  local/nginx/templates/flex.conf
Due: none

chore: bump test PG17 version to get access to PostGIS (FLEX-1133)
  kbackend/src/test/kotlin/no/elhub/flex/PostgresTestContainer.kt
Due: none

fix: shorten csp header (FLEX-1133)
  local/nginx/templates/flex.conf
Due: none

fix: fiso dashboard should only show count of active notices (FLEX-1297)
  frontend/src/dashboard/flexibility_information_system_operator/FisoDashboard.tsx
  frontend/src/dashboard/hooks/useNotices.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: dashboards should only count active notices (FLEX-1297)
  frontend/src/dashboard/service_provider/SpStatCards.tsx
  frontend/src/dashboard/system_operator/SoStatCards.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: add status to query key for separate caches with and without the parameter (FLEX-1297)
  frontend/src/dashboard/hooks/useNotices.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: dont use substationparts
  docs/technical/accounting-point-grid-location.md
Due: none

docs: update nemo naming according to v2 (FLEX-1132) (#926)
  docs/technical/accounting-point-grid-location.md
Due: none

fix: added status as filter on notice and generated clients (FLEX-1297)
  backend/data/static/openapi.json
  frontend/src/dashboard/hooks/useNotices.ts
  frontend/src/generated-client/client.gen.ts
  frontend/src/generated-client/client/index.ts
  frontend/src/generated-client/client/utils.gen.ts
  frontend/src/generated-client/core/auth.gen.ts
  frontend/src/generated-client/core/params.gen.ts
  frontend/src/generated-client/core/pathSerializer.gen.ts
  frontend/src/generated-client/core/queryKeySerializer.gen.ts
  frontend/src/generated-client/core/utils.gen.ts
  frontend/src/generated-client/sdk.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContract.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/notice/list_notice.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: dashboards should only show count of active notices (FLEX-1297) (#927)
  backend/data/static/openapi.json
  frontend/src/dashboard/flexibility_information_system_operator/FisoDashboard.tsx
  frontend/src/dashboard/hooks/useNotices.ts
  frontend/src/dashboard/service_provider/SpStatCards.tsx
  frontend/src/dashboard/system_operator/SoStatCards.tsx
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContract.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/notice/list_notice.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat(db): flex and staging stuff for loading grid model
  db/flex/changelog.yml
  db/flex/line.sql
  db/flex/substation.sql
  db/flex/substation_cluster.sql
  db/staging/changelog.yml
  db/staging/substation_staging.sql
  db/unload.sh
  docs/technical/accounting-point-grid-location.md
Due: none

feat: check that ap grid location is an existing substation
  db/flex/accounting_point_grid_location.sql
  db/flex/accounting_point_grid_location_migrations.sql
  db/flex/business_id_type.sql
  db/flex/changelog.yml
Due: none

feat: grid location business id is no longer nullable (FLEX-1132)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  docs/resources/accounting_point_grid_location.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContract.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/accounting_point_grid_location_create_request.py
  test/flex/models/accounting_point_grid_location_history_response.py
  test/flex/models/accounting_point_grid_location_response.py
  test/flex/models/accounting_point_grid_location_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: transformer is no longer in enum (FLEX-1132)
  backend/data/static/openapi.json
  docs/resources/accounting_point_grid_location.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointGridLocationObjectType.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/accounting_point_grid_location_object_type.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

chore: testdata and tests (FLEX-1132)
  db/changelog.yml
  db/flex/accounting_point_grid_location.sql
  db/test_data/changelog.yml
  db/test_data/staging/line.csv
  db/test_data/staging/substation.csv
  db/test_data/staging/substation_cluster.csv
  test/api_client_tests/test_accounting_point_grid_location.py
Due: none

chore: update grid location docs (FLEX-1132)
  docs/technical/accounting-point-grid-location.md
Due: none

refactor: soft-delete (FLEX-1132)
  db/flex/line.sql
  db/flex/substation.sql
  db/flex/substation_cluster.sql
  db/staging/substation_staging.sql
Due: none

chore(deps): update local
  requirements-dev.txt
Due: none

fix(deps): update backend
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update devxp-build-configuration.version to v1.77.4
  .teamcity/pom.xml
Due: none

fix(deps): update devxp-build-configuration.version to v1.77.4 (#932)
  .teamcity/pom.xml
Due: none

fix(docs): contract reference is on cu sp
  docs/diagrams/controllable_unit_registration.plantuml
  docs/diagrams/controllable_unit_registration.png
Due: check-plantuml

feat: implement sync from AP location data from adapter (FLEX-1133)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/AccountingPoint.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/openapi.yaml
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterServiceTest.kt
  kbackend/src/test/resources/wiremock/accountingpointadapter/__files/accounting-point-200-with-location.json
  kbackend/src/test/resources/wiremock/accountingpointadapter/__files/accounting-point-200-with-null-location.json
Due: check-openapi

fix(docs): contract reference is on cu sp (#933)
  docs/diagrams/controllable_unit_registration.plantuml
  docs/diagrams/controllable_unit_registration.png
Due: check-plantuml
