Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix: inform about sppa in spgpa (FLEX-1373) (#1065)
  db/flex/service_providing_group_product_application_migrations.sql
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: power ratio badge and warning alert on an active CU show page if flexible power exceeds combined TR rated power (FLEX-1359)
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: improved warning text (FLEX-1359)
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): replace div with span for valid HTML (FLEX-1359)
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: overflow auto for form content
  frontend/src/components/ui/formContainer/index.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: no automerge today
  .teamcity/settings.kts
Due: none

chore: no automerge today (#1069)
  .teamcity/settings.kts
Due: none

feat: power ratio badge and warning alert on an active CU show page if flexible power exceeds combined TR rated power (FLEX-1359) (#1068)
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add view accounting_point_start (FLEX-1351)
  db/flex/accounting_point_start.sql
  db/flex/changelog.yml
Due: none

feat: improved help texts and added confirmation when creating SPG PA (FLEX-1006)
  backend/data/static/openapi.json
  docs/resources/service_providing_group_product_application.md
  frontend/src/components/ConfirmAction.tsx
  frontend/src/components/EDS-ra/inputs/FormToolbarWithConfirmation.tsx
  frontend/src/components/EDS-ra/inputs/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationRampingCapability.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationUpdateRequest.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: sync MGA no matter their status (FLEX-1381)
  db/staging/metering_grid_area_staging.sql
  db/staging/test/README.md
  db/staging/test/mga_staging_test_data_mga.csv
Due: none

fix: nullable status (otherwise we cannot create the column) (FLEX-1381)
  db/staging/metering_grid_area_staging.sql
Due: none

fix: description
  db/staging/metering_grid_area_staging.sql
Due: none

fix: set status to not null in several steps
  db/staging/metering_grid_area_staging.sql
Due: none

feat: sync MGA no matter their status (FLEX-1381) (#1072)
  db/staging/metering_grid_area_staging.sql
  db/staging/test/README.md
  db/staging/test/mga_staging_test_data_mga.csv
Due: none

fix: filter on active status for spa and spgpa (FLEX-1371) (#1067)
  backend/data/static/openapi.json
  frontend/src/components/ui/formContainer/index.tsx
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/product_type/components.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/system_operator_product_type/list_system_operator_product_type.py
  test/flex/api/system_operator_product_type/list_system_operator_product_type_history.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: increase maxResults for CSV export of CUs in order to include all (FLEX-1384)
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Revert "chore: no automerge today (#1069)"
  .teamcity/settings.kts
Due: none

Revert "chore: no automerge today (#1069)" (#1074)
  .teamcity/settings.kts
Due: none

fix: increase maxResults for CSV export of CUs in order to include all (FLEX-1384) (#1073)
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove embed, and make function return all information (FLEX-1369)
  backend/internal/embed/embed.go
  db/grid/substation_distance.sql
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: revert previous commit on embed file (FLEX-1369)
  backend/internal/embed/embed.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: add 'need help?' section in navbar (FLEX-1392)
  frontend/src/components/Header/HeaderNav.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove logic from headernav (FLEX-1392)
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/components/Header/UserDropdown.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: unknown main resource 'rpc/substation_distance' in embed validation (FLEX-1369)
  backend/grid/grid.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: unknown main resource 'rpc/substation_distance' in embed validation (FLEX-1369) (#1077)
  backend/grid/grid.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: restore text for ramping description being required for mFFR (FLEX-1006)
  backend/data/static/openapi.json
  docs/resources/service_providing_group_product_application.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationUpdateRequest.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: improved help texts and added confirmation when creating SPG PA (FLEX-1006) (#1071)
  backend/data/static/openapi.json
  docs/resources/service_providing_group_product_application.md
  frontend/src/components/ConfirmAction.tsx
  frontend/src/components/EDS-ra/inputs/FormToolbarWithConfirmation.tsx
  frontend/src/components/EDS-ra/inputs/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationRampingCapability.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationUpdateRequest.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: introduce need help in header nav, also translate options (FLEX-1392)
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/components/Header/UserDropdown.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: linting (FLEX-1392)
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove limits when loading resources under SPG in order to include all data for listings and aggregations (FLEX-1384)
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove limits when loading resources under SPG in order to include all data for listings and aggregations (FLEX-1384) (#1079)
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: add 'need help?' section in navbar (FLEX-1392) (#1076)
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/components/Header/UserDropdown.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: flexible power added to spg summary and used in frontend (FLEX-1386)
  backend/data/static/openapi.json
  db/flex/service_providing_group_summary.sql
  docs/resources/service_providing_group_summary.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/service_providing_group/product_application/print/ServiceProvidingGroupProductApplicationPrint.tsx
  frontend/src/service_providing_group/product_application/print/SpgpaPrintCuSummary.tsx
  frontend/src/service_providing_group/product_application/print/SpgpaPrintSpgInfo.tsx
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowSPGSummarySection.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
  frontend/src/service_providing_group/summary/ServiceProvidingGroupControllableUnitSummary.tsx
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupSummaryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupSummaryResponseControllableUnit.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_spg_summary.py
  test/flex/models/service_providing_group_summary_response.py
  test/flex/models/service_providing_group_summary_response_controllable_unit.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: ensure party membership even if entity owns party (FLEX-1389)
  db/test_data/test_data.sql
Due: none

fix: ensure party membership even if entity owns party (FLEX-1389) (#1081)
  db/test_data/test_data.sql
Due: none

fix: remove owasp dependency check (FLEX-1388)
  frontend/package.json
Due: none

fix: don't report grid location missing for APs with geo location (FLEX-1378)
  db/flex/notice/notice_accounting_point_grid_location.sql
Due: none

feat: run accounting-point-grid-location-sync every 3rd hour (FLEX-1378)
  db/flex/accounting_point_grid_location_fresh.sql
Due: none

fix: remove scripts.owasp (FLEX-1388)
  frontend/package.json
Due: none
