Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix: make field nullable (FLEX-902)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/event.py
  test/flex/models/event_response.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat: subject field in event resource (FLEX-902) (#470)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/event.sql
  db/api/grants/field_level_authorization.sql
  db/flex/event.sql
  db/flex/event_migrations.sql
  docs/resources/event.md
  frontend/src/auth/permissions.ts
  frontend/src/event/EventList.tsx
  frontend/src/event/EventShow.tsx
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/event.py
  test/flex/models/event_response.py
Due: prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: rather hack typing than zods actual behaviour
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: generate types and zod schemas from open-api-specification (FLEX-875) (#464)
  frontend/eslint.config.js
  frontend/openapi-ts.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/generated-client/client.gen.ts
  frontend/src/generated-client/client/client.gen.ts
  frontend/src/generated-client/client/index.ts
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/client/utils.gen.ts
  frontend/src/generated-client/core/auth.gen.ts
  frontend/src/generated-client/core/bodySerializer.gen.ts
  frontend/src/generated-client/core/params.gen.ts
  frontend/src/generated-client/core/pathSerializer.gen.ts
  frontend/src/generated-client/core/queryKeySerializer.gen.ts
  frontend/src/generated-client/core/serverSentEvents.gen.ts
  frontend/src/generated-client/core/types.gen.ts
  frontend/src/generated-client/core/utils.gen.ts
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/sdk.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/index.tsx
  frontend/tsconfig.json
  justfile
Due: prettier, frontend-type-check, frontend-dependency-check

refactor: use event subject (FLEX-902)
  db/flex/controllable_unit.sql
  db/flex/controllable_unit_service_provider.sql
  db/flex/controllable_unit_suspension.sql
  db/flex/controllable_unit_suspension_comment.sql
  db/flex/event.sql
  db/flex/event_rls.sql
  db/flex/party.sql
  db/flex/party_membership.sql
  db/flex/service_provider_product_application.sql
  db/flex/service_provider_product_application_comment.sql
  db/flex/service_provider_product_suspension.sql
  db/flex/service_provider_product_suspension_comment.sql
  db/flex/service_providing_group.sql
  db/flex/service_providing_group_grid_prequalification.sql
  db/flex/service_providing_group_grid_prequalification_comment.sql
  db/flex/service_providing_group_grid_suspension.sql
  db/flex/service_providing_group_grid_suspension_comment.sql
  db/flex/service_providing_group_membership.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_suspension.sql
  db/flex/service_providing_group_product_suspension_comment.sql
  db/flex/system_operator_product_type.sql
  db/flex/technical_resource.sql
  test/api_client_tests/test_event.py
Due: none

fix: typos
  docs/concepts/conceptual-model.md
Due: none

fix: typo SPGM->SPG
  db/flex/service_providing_group_membership.sql
Due: none

fix: runAlways & INNER JOIN (FLEX-900)
  db/flex/accounting_point_bidding_zone.sql
  db/flex/controllable_unit_bidding_zone.sql
Due: none

chore(deps): update dependency @eslint/eslintrc to v3.3.3 [patch]
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update minor updates [patch]
  frontend/package-lock.json
  frontend/package.json
  requirements-dev.txt
Due: none

chore(deps): update dependency @eslint/eslintrc to v3.3.3 [patch] (#472)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update minor updates [patch] (#473)
  frontend/package-lock.json
  frontend/package.json
  requirements-dev.txt
Due: none

fix: rearrange field order in table definition (FLEX-902)
  db/flex/event.sql
Due: none

refactor: variable naming (FLEX-902)
  db/flex/event.sql
Due: none

feat: send end_user_id from lookup to cusp registration, plus extra typing and refactor (FLEX-875)
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

refactor: adapt event worker to subject field (FLEX-902)
  backend/event/event.go
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  backend/event/worker.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(docs): no delete operation on SOPT (FLEX-902)
  docs/resources/system_operator_product_type.md
Due: none

fix(test): create CUSP before SPGM (FLEX-902)
  test/api_client_tests/test_cu_suspension.py
Due: none

chore: liquibase checksum (FLEX-902)
  db/flex/event.sql
Due: none

feat: send end_user_id from lookup to cusp registration (FLEX-875) (#474)
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

refactor(db): switch to runAlways (FLEX-902)
  db/flex/event.sql
Due: none

refactor: restore one-ID use of sqlc (FLEX-902)
  backend/event/event.go
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  backend/event/worker.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore: indent (FLEX-902)
  backend/event/models.sql
Due: none

feat: add create button from lookup-result (FLEX-875)
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/hooks/useLocationState.ts
Due: prettier, frontend-type-check, frontend-dependency-check

feat: restructure controllable unit input to make it more readable (FLEX-875)
  frontend/src/controllable_unit/ControllableUnitInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: use validation from zod in CU-input (FLEX-875)
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  justfile
Due: prettier, frontend-type-check, frontend-dependency-check

refactor: use event subject (FLEX-902) (#471)
  backend/event/event.go
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  backend/event/worker.go
  db/flex/controllable_unit.sql
  db/flex/controllable_unit_service_provider.sql
  db/flex/controllable_unit_suspension.sql
  db/flex/controllable_unit_suspension_comment.sql
  db/flex/event.sql
  db/flex/event_rls.sql
  db/flex/party.sql
  db/flex/party_membership.sql
  db/flex/service_provider_product_application.sql
  db/flex/service_provider_product_application_comment.sql
  db/flex/service_provider_product_suspension.sql
  db/flex/service_provider_product_suspension_comment.sql
  db/flex/service_providing_group.sql
  db/flex/service_providing_group_grid_prequalification.sql
  db/flex/service_providing_group_grid_prequalification_comment.sql
  db/flex/service_providing_group_grid_suspension.sql
  db/flex/service_providing_group_grid_suspension_comment.sql
  db/flex/service_providing_group_membership.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_suspension.sql
  db/flex/service_providing_group_product_suspension_comment.sql
  db/flex/system_operator_product_type.sql
  db/flex/technical_resource.sql
  docs/resources/system_operator_product_type.md
  test/api_client_tests/test_cu_suspension.py
  test/api_client_tests/test_event.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(ui): fix resource button (FLEX-903)
  frontend/src/components/ResourceButton.tsx
  frontend/src/components/resource.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderShow.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
  frontend/src/notice/NoticeList.tsx
  frontend/src/notification/NotificationShow.tsx
  frontend/src/resources/controllableUnitResources.tsx
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipShow.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: add create button after lookup, and restructure controllable unit input form. (FLEX-875) (#475)
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/hooks/useLocationState.ts
  justfile
Due: prettier, frontend-type-check, frontend-dependency-check

feat: redirect to cusp after create cu (FLEX-875)
  frontend/eslint.config.js
  frontend/src/auth/permissions.ts
  frontend/src/components/Toolbar.tsx
  frontend/src/components/datetime.tsx
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/resources/controllableUnitResources.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

refactor: no redirect for CU suspension (FLEX-903)
  frontend/src/components/comments.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
  frontend/src/resources/controllableUnitResources.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: gh copilot comments (FLEX-875)
  frontend/src/components/datetime.tsx
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

refactor: support flat URLs in suspension resources (FLEX-903)
  frontend/src/components/ResourceButton.tsx
  frontend/src/components/comments.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderShow.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
  frontend/src/notice/NoticeList.tsx
  frontend/src/notification/NotificationShow.tsx
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipShow.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: cusp-creation redirect to show controllable unit on cancel (FLEX-875)
  frontend/src/components/Toolbar.tsx
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: fix entrypoint to cusp from cu-show (FLEX-875)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: redirect to cusp after create cu (FLEX-875) (#477)
  frontend/eslint.config.js
  frontend/src/auth/permissions.ts
  frontend/src/components/Toolbar.tsx
  frontend/src/components/datetime.tsx
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
  frontend/src/resources/controllableUnitResources.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: forgotten resource in permissions (FLEX-903)
  frontend/src/auth/permissions.ts
  local/scripts/permissions_to_ts.py
Due: prettier, frontend-type-check, frontend-dependency-check

refactor: type props (FLEX-903)
  frontend/src/components/ResourceButton.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

refactor: remove redirect for CUSP (FLEX-903)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderShow.tsx
  frontend/src/resources/controllableUnitResources.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

refactor: remove redirect for SPGGP (FLEX-903)
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check
