Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix(deps): update backend (#1006)
  backend/go.mod
  backend/go.sum
  mise.toml
Due: none

chore(deps): update dependency uv to v0.11.31 [patch] (#1005)
  mise.toml
Due: none

fix(deps): update frontend (#995)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update kbackend (#1007)
  kbackend/gradle/libs.versions.toml
Due: none

fix(deps): bump kin-openapi due to GHSA-r277-6w6q-xmqw
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): bump kin-openapi due to GHSA-r277-6w6q-xmqw (#1015)
  backend/go.mod
  backend/go.sum
Due: none

fix(frontend): only show SPPA create button if user has permission (FLEX-1320)
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): fix guard for blocked vs permission (FLEX-1320)
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor(frontend): reusable badge components for SPGPA and SPGPQ
  frontend/src/components/SpgpaStatusBadge.tsx
  frontend/src/components/SpgpqStatusBadge.tsx
  frontend/src/dashboard/shared/dashboardTableUtils.ts
  frontend/src/service_providing_group/ServiceProvidingGroupExpandedRow.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/grid_prequalification/spgpqStatus.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_application/spgpaStatus.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowGridPrequalificationsTable.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowProductApplicationsTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): only show SPPA create button if user has permission (FLEX-1320) (#1016)
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: more generic pipeline to support the grid module (FLEX-1175)
  .golangci.yml
  .spectral.yaml
  backend/data/data.go
  backend/data/embed_query_rewrite.go
  backend/data/static/openapi.json
  backend/flex.go
  backend/grid/embed_relations_gen.go
  backend/grid/grid.go
  backend/grid/static/openapi.json
  backend/internal/embed/embed.go
  backend/internal/embed/embed_test.go
  db/grid/embedding/embedding.sql
  docs/diagrams/resources.plantuml
  docs/diagrams/resources.png
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.ts
  justfile
  local/scripts/openapi_to_db.py
  local/scripts/openapi_to_embed_relations.py
  local/scripts/relationship.py
  local/scripts/resources_to_diagram.py
  local/scripts/resources_to_intl.py
  local/scripts/resources_to_openapi.py
  local/scripts/templates/embedding.j2.sql
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  openapi/openapi-base-common.yml
  openapi/openapi-grid-base.yml
  openapi/servers.yml
Due: check-plantuml, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

docs: restore comments (FLEX-1175)
  backend/internal/embed/embed.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: set boundary parameter manually in attachment upload multipart form (FLEX-1323)
  frontend/src/components/attachments/registry.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: safe filename
  frontend/src/components/attachments/registry.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): do not try to load grid location if used does not have permission (FLEX-1319)
  frontend/src/accounting_point/show/useAccountingPointViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: set boundary parameter manually in attachment upload multipart form (FLEX-1323) (#1019)
  frontend/src/components/attachments/registry.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: revert boundary hotfix (FLEX-1323)
  frontend/src/components/attachments/registry.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: revert boundary hotfix (FLEX-1323) (#1021)
  frontend/src/components/attachments/registry.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): avoid duplicate keys in DataGrid by using index as key (FLEX-1335)
  frontend/src/components/EDS-ra/list/Datagrid.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): avoid duplicate keys in DataGrid by using index as key (FLEX-1335) (#1022)
  frontend/src/components/EDS-ra/list/Datagrid.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): do not try to load grid location if user does not have permission (FLEX-1319) (#1020)
  frontend/src/accounting_point/show/useAccountingPointViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: better logging on multipart failure in attachment handler (FLEX-1323)
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentHandler.kt
Due: none

feat: better logging on multipart failure in attachment handler (FLEX-1323) (#1023)
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentHandler.kt
Due: none

fix(frontend): add missing regulation direction icon on SPG CU list
  frontend/src/controllable_unit/RegulationDirectionField.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor(frontend): reusable badge components for SPGPA and SPGPQ (#1017)
  frontend/src/components/SpgpaStatusBadge.tsx
  frontend/src/components/SpgpqStatusBadge.tsx
  frontend/src/dashboard/shared/dashboardTableUtils.ts
  frontend/src/service_providing_group/ServiceProvidingGroupExpandedRow.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/grid_prequalification/spgpqStatus.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_application/spgpaStatus.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowGridPrequalificationsTable.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowProductApplicationsTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update backend
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

test: log first 8 KB of multipart form preamble (FLEX-1323)
  kbackend/build.gradle.kts
  kbackend/gradle/libs.versions.toml
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentHandler.kt
Due: none

fix(kbackend): return left if AP sync fails in order to get correct metrics for failed sync
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/scheduled/AccountingPointSyncScheduler.kt
Due: none

refactor(kbackend): use flatMap instead of fold and re-wrapping left
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
Due: none

fix: remove useless import
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentHandler.kt
Due: none

test: log first 8 KB of multipart form preamble (FLEX-1323) (#1029)
  kbackend/build.gradle.kts
  kbackend/gradle/libs.versions.toml
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentHandler.kt
Due: none

fix(test): updated tests to reflect new behaviour
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
Due: none

fix(deps): update kbackend (#1026)
  kbackend/gradle/libs.versions.toml
Due: none

fix(deps): update backend (#1025)
  backend/go.mod
  backend/go.sum
Due: none

chore: remove unused imports
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
Due: none

fix(kbackend): return left if AP sync fails in order to get correct metrics for failed sync (#1030)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/scheduled/AccountingPointSyncScheduler.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
Due: none
