Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

fix(frontend): show SP name in SP column (FLEX-1525)
  frontend/src/dashboard/hooks/useDashboardApplications.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: edit skill (FLEX-1489)
  frontend/.github/skills/resource-show-layout/SKILL.md
  frontend/.github/skills/resource-show-layout/use-resource-show-skill.md
Due: none

flex 1489 ai skill for resource show page layout (#1249)
  frontend/.github/skills/resource-show-layout/SKILL.md
  frontend/.github/skills/test-frontend-hooks/SKILL.md
Due: none

fix: bug with link
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: bug with link (#1250)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: added playwright screenshot tests for cu (FLEX-1302)
  docs-dev/testing-frontend.md
  docs-dev/testing.md
  frontend/.gitignore
  frontend/e2e/__snapshots__/controllable-unit-show.spec.ts/accounting-point-location.png
  frontend/e2e/__snapshots__/controllable-unit-show.spec.ts/balance-responsible-party.png
  frontend/e2e/__snapshots__/controllable-unit-show.spec.ts/history.png
  frontend/e2e/__snapshots__/controllable-unit-show.spec.ts/more-menu.png
  frontend/e2e/__snapshots__/controllable-unit-show.spec.ts/service-provider.png
  frontend/e2e/__snapshots__/controllable-unit-show.spec.ts/service-providing-groups.png
  frontend/e2e/__snapshots__/controllable-unit-show.spec.ts/technical-resources.png
  frontend/e2e/auth.setup.ts
  frontend/e2e/controllable-unit-show.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add new notice docs (FLEX-1496)
  openapi/openapi-api-base.yml
Due: none

feat: better label for notice (FLEX-1496)
  frontend/src/notice/noticeTypes.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: just openapi (FLEX-1496)
  backend/data/static/openapi.json
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataControllableUnitProductDuplication.kt
  openapi/openapi-api-no-default.json
  test/flex/models/__init__.py
  test/flex/models/notice_data_controllable_unit_product_duplication.py
  test/flex/models/notice_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: exclude e2e from vitest config (FLEX-1302)
  frontend/vitest.config.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: check for duplicate cus within same product type (FLEX-1496) (#1220)
  backend/data/static/openapi.json
  db/flex/notice/notice_controllable_unit_spg_duplication.sql
  db/flex/notice_fresh.sql
  docs/resources/notice.md
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/notice/noticeTypes.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataControllableUnitProductDuplication.kt
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/flex/models/__init__.py
  test/flex/models/notice_data_controllable_unit_product_duplication.py
  test/flex/models/notice_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

chore: npm i (FLEX-1302)
  frontend/package-lock.json
Due: none

feat: ResourceShowLayout for sppa (FLEX-1514)
  frontend/src/intl/text.ts
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationHistoryList.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationShow.tsx
  frontend/src/service_provider_product_application/show/SppaOverviewTab.tsx
  frontend/src/service_provider_product_application/show/SppaShowSummary.tsx
  frontend/src/service_provider_product_application/show/SppaShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update patch updates [patch]
  mise.toml
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v2.4.4
  .teamcity/pom.xml
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
Due: none

fix(deps): update module github.com/cenkalti/backoff/v7 to v7.0.1
  backend/go.mod
  backend/go.sum
Due: none

chore(deps): update minor updates [patch]
  mise.toml
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency jsonschema to v17 [patch]
  mise.toml
Due: none

chore(deps): update dependency no.elhub.devxp.kotlin-service to v1
  kbackend/gradle/libs.versions.toml
Due: none

chore(deps): update dependency no.elhub.devxp.kotlin-service to v1 (#1260)
  kbackend/gradle/libs.versions.toml
Due: none

chore(deps): update dependency jsonschema to v17 [patch] (#1259)
  mise.toml
Due: none

fix(deps): update module github.com/cenkalti/backoff/v7 to v7.0.1 (#1256)
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update frontend (#1258)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update kbackend (#1255)
  kbackend/gradle/libs.versions.toml
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v2.4.4 (#1254)
  .teamcity/pom.xml
Due: none

chore(deps): update minor updates [patch] (#1257)
  mise.toml
Due: none

chore(deps): update patch updates [patch] (#1253)
  mise.toml
Due: none

fix(frontend): show SP name in SP column (FLEX-1525) (#1248)
  frontend/src/dashboard/hooks/useDashboardApplications.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: give SO access to SPGGPs in SPG where they are PSO (FLEX-1528)
  db/flex/service_providing_group_grid_prequalification_involved_parties.sql
  db/flex/service_providing_group_grid_prequalification_rls.sql
  docs/resources/service_providing_group_grid_prequalification.md
Due: none

fix(frontend): hide buttons for editing SPGGP if not ISO or FISO (FLEX-1528)
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: update to LabelValue component Notice (FLEX-1512)
  frontend/src/intl/text.ts
  frontend/src/notice/NoticeShow.tsx
  frontend/src/notice/NoticeShowDetails.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: use new layout component for party show page (FLEX-1513)
  frontend/src/party/PartyHistoryList.tsx
  frontend/src/party/PartyShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: PSO should not have access to comments on SPGGP (FLEX-1528)
  db/flex/service_providing_group_grid_prequalification_involved_parties.sql
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: added translation (FLEX-1512)
  frontend/src/intl/text.ts
  frontend/src/notice/NoticeShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: added translation (FLEX-1512)
  frontend/package-lock.json
Due: none

fix: added translation (FLEX-1512)
  frontend/src/intl/text.ts
  frontend/src/notice/NoticeShowDetails.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: give SO access to SPGGPs in SPG where they are PSO (FLEX-1528) (#1261)
  db/flex/service_providing_group_grid_prequalification_rls.sql
  docs/resources/service_providing_group_grid_prequalification.md
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: update notice with ResourceShowLayout (FLEX-1512) (#1247)
  frontend/package-lock.json
  frontend/src/intl/text.ts
  frontend/src/notice/NoticeShow.tsx
  frontend/src/notice/NoticeShowDetails.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
