Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

fix: generated frontend client from main (FLEX-1081)
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: descriptions and unitinput on SPG PA input (FLEX-1081) (#659)
  .pre-commit-config.yaml
  backend/data/static/openapi.json
  db/api/grants/field_level_authorization.sql
  docs/resources/service_providing_group_product_application.md
  frontend/src/auth/permissions.ts
  frontend/src/components/EDS-ra/inputs/ArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/AutocompleteReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/DateTimeInput.tsx
  frontend/src/components/EDS-ra/inputs/EnumInput.tsx
  frontend/src/components/EDS-ra/inputs/ReferenceComboboxInput.tsx
  frontend/src/components/EDS-ra/inputs/TextAreaInput.tsx
  frontend/src/components/EDS-ra/inputs/UnitInput.tsx
  frontend/src/components/EDS-ra/inputs/index.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/tooltip/tooltips.ts
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: revert changes to zod (FLEX-1073)
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove syntax-error (FLEX-1073)
  frontend/src/service_providing_group/input/ServiceProvidingGroupStepper.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: fix comments (FLEX-1073)
  frontend/src/components/EDS-ra/inputs/EnumInput.tsx
  frontend/src/components/SimpleTable.tsx
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/index.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupCreate.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupFields.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupInput.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupManageMembers.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupStepper.tsx
  frontend/src/service_providing_group/membership/ExistingControllableUnitsTable.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: Initial code for CU lookup endpoint (FLEX-1064)
  .pre-commit-config.yaml
  kbackend/gradle/libs.versions.toml
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/AccessToken.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/AuthError.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/Authentication.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Database.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Routing.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Serialization.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/ControllableUnitModels.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/ControllableUnitRoutes.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryImpl.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/lookup/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/db/FlexTransaction.kt
  kbackend/src/main/kotlin/no/elhub/flex/domain/AccountingPoint.kt
  kbackend/src/main/kotlin/no/elhub/flex/flexprivate/FlexPrivateHttpService.kt
  kbackend/src/main/kotlin/no/elhub/flex/flexprivate/FlexPrivateService.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Error.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Gs1.kt
  kbackend/src/main/resources/application.yaml
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/util/Gs1Test.kt
Due: none

chore(deps): update local
  requirements-dev.txt
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.66.5
  .teamcity/pom.xml
Due: none

fix(deps): update patch updates [patch]
  kbackend/gradle/libs.versions.toml
Due: none

fix(deps): update backend
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.66.5 (#657)
  .teamcity/pom.xml
Due: none

fix: change go version on Dockerfile
  backend/Dockerfile
Due: dockerfilelint

fix(deps): update backend (#661)
  backend/Dockerfile
  backend/go.mod
  backend/go.sum
Due: dockerfilelint

chore: npm audit fix
  frontend/package-lock.json
Due: none

feat(ui): CU input using UnitInput and description (FLEX-1081)
  frontend/src/components/EDS-ra/inputs/DateInput.tsx
  frontend/src/controllable_unit/ControllableUnitInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: same change for ControllableUnitCreateForm (FLEX-1081)
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: add null preprocess in zodResolver (FLEX-1083)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/zod.ts
  justfile
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: handle optional fields with constraints. i.e z.number().gte(0.5).optional() (FLEX-1083)
  frontend/src/zod.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: kbackend group in renovate
  .github/renovate.json5
Due: none

chore: kbackend group in renovate (#663)
  .github/renovate.json5
Due: none

feat(ui): CU input using UnitInput and description (FLEX-1081) (#662)
  frontend/src/components/EDS-ra/inputs/DateInput.tsx
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
  frontend/src/controllable_unit/ControllableUnitInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Update frontend/src/zod.ts
  frontend/src/zod.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: update name of transformed schema (FLEX-1083)
  frontend/src/zod.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: fix optional/nullable fields (FLEX-1083) (#664)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/zod.ts
  justfile
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: fix last comments (FLEX-1073)
  frontend/src/components/SimpleTable.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupFields.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupInput.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: SPG registration flow with CU membership management (FLEX-1073) (#656)
  frontend/package-lock.json
  frontend/src/components/SimpleTable.tsx
  frontend/src/components/ui/formContainer/index.tsx
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/stepper/Stepper.module.css
  frontend/src/components/ui/stepper/Stepper.tsx
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupInput.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupList.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/index.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupCreate.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupFields.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupInput.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupManageMembers.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupStepper.tsx
  frontend/src/service_providing_group/membership/ExistingControllableUnitsTable.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipTable.tsx
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: add sql for apbz-sp0001 and so0001
  db/api/accounting_point_bidding_zone.sql
Due: none

test: add RLS tests and docs for APBZ-SO001 and APBZ-SP001
  db/api/accounting_point_bidding_zone.sql
  docs/resources/accounting_point_bidding_zone.md
  test/api_client_tests/test_accounting_point_bidding_zone.py
Due: none

feat: Add session auth (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/auth/AccessToken.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/Authentication.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/ControllableUnitRoutes.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryImpl.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/dto/ControllableUnitModels.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/lookup/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/flexprivate/FlexPrivateService.kt
  kbackend/src/main/resources/application.yaml
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  test/bruno/Flex API/Controllable Unit/Lookup.yml
  test/bruno/Flex API/Controllable Unit/folder.yml
Due: none

fix: Detect too strict. Remove --all-rules flag (FLEX-1064)
  .pre-commit-config.yaml
  detekt-config.yaml
  kbackend/src/main/kotlin/no/elhub/flex/util/Gs1.kt
Due: none

feat: redesign navigation to top header (FLEX-1089)
  frontend/src/App.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/components/Header/UserDropdown.tsx
  frontend/src/components/ui/index.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Use imports instead of full qualifier (FLEX-1064)
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
Due: none

fix: remove windowing part
  db/api/accounting_point_bidding_zone.sql
Due: none

fix: Exclude /health and /metrics from auth + some refactoring (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/Authentication.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryImpl.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/lookup/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/flexprivate/FlexPrivateHttpService.kt
  kbackend/src/main/kotlin/no/elhub/flex/flexprivate/FlexPrivateService.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterHttpService.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
  kbackend/src/main/resources/application.yaml
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
Due: none

fix: table lint
  docs/resources/accounting_point_bidding_zone.md
Due: none

chore: Removed netty override as this no longer is a security issue in ktor 3.4.0/Netty 4.2.9.Final (FLEX-1064)
  kbackend/build.gradle.kts
Due: none

feat: Started on implementation of endpoint for CU Lookup (FLEX-1064) (#666)
  .pre-commit-config.yaml
  detekt-config.yaml
  kbackend/build.gradle.kts
  kbackend/gradle/libs.versions.toml
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/AccessToken.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/AuthError.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/Authentication.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Database.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Routing.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Serialization.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/ControllableUnitRoutes.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryImpl.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/dto/ControllableUnitModels.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/lookup/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/db/FlexTransaction.kt
  kbackend/src/main/kotlin/no/elhub/flex/domain/AccountingPoint.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterHttpService.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Error.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Gs1.kt
  kbackend/src/main/resources/application.yaml
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/util/Gs1Test.kt
  test/bruno/Flex API/Controllable Unit/Lookup.yml
  test/bruno/Flex API/Controllable Unit/folder.yml
Due: none

feat: run ap adapter in local test using docker (FLEX-474)
  docker-compose.yml
  local/accounting-point/main.py
  local/docker-python/Dockerfile
  local/docker-python/README.md
  local/docker-python/gunicorn_conf.py
  local/docker-python/main.py
  local/docker-python/requirements.txt
Due: dockerfilelint

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
