Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

feat: updated test errors (FLEX-821)
  db/api/grants/field_level_authorization.sql
  db/flex/grants/field_level_authorization.sql
  docs/resources/controllable_unit_suspension.md
  frontend/src/auth/permissions.json
  local/input/permissions.csv
  test/api_client_tests/test_cu_suspension.py
Due: none

docs(fix): describe cu/spg concept
  docs/concepts/cu-spg.md
  docs/concepts/index.md
  docs/diagrams/spg_cu_ev_example.plantuml
  docs/diagrams/spg_cu_ev_example.png
  docs/resources/service_providing_group.md
Due: check-plantuml

refactor: change status check to timestamp check + name check constraint on reason (FLEX-824)
  db/flex/service_providing_group_product_suspension.sql
  db/flex/service_providing_group_product_suspension_rls.sql
  test/api_client_tests/test_spg_product_suspension.py
Due: none

fix: naming mistake (FLEX-821)
  test/api_client_tests/test_cu_suspension.py
Due: none

docs(fix): cu/spg concept
  docs/concepts/cu-spg.md
Due: none

docs: cu and spg concept page (#377)
  docs/concepts/cu-spg.md
  docs/concepts/index.md
  docs/diagrams/spg_cu_ev_example.plantuml
  docs/diagrams/spg_cu_ev_example.png
  docs/resources/controllable_unit.md
  docs/resources/service_providing_group.md
  docs/resources/technical_resource.md
Due: check-plantuml

fix: expanded sp tests (FLEX-821)
  test/api_client_tests/test_cu_suspension.py
Due: none

fix: allow temporary_qualified status (FLEX-824)
  db/flex/service_providing_group_product_suspension.sql
  db/flex/service_providing_group_product_suspension_rls.sql
Due: none

fix: include status in CTE (FLEX-824)
  db/flex/service_providing_group_product_suspension_rls.sql
Due: none

docs: small fixes / consistency (FLEX-821)
  backend/data/static/openapi.json
  docs/diagrams/resources.plantuml
  docs/diagrams/resources.png
  docs/resources/controllable_unit_suspension.md
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/controllable_unit_suspension/create_controllable_unit_suspension.py
  test/flex/api/controllable_unit_suspension/update_controllable_unit_suspension.py
  test/flex/models/controllable_unit_suspension.py
  test/flex/models/controllable_unit_suspension_create_data.py
  test/flex/models/controllable_unit_suspension_create_request.py
  test/flex/models/controllable_unit_suspension_response.py
  test/flex/models/controllable_unit_suspension_update_request.py
Due: check-plantuml, check-openapi

refactor: format + event trigger (FLEX-821)
  db/flex/controllable_unit_suspension.sql
  db/flex/controllable_unit_suspension_rls.sql
Due: none

refactor: format in tests (FLEX-821)
  test/api_client_tests/test_cu_suspension.py
Due: none

fix(docs): link warnings
  docs/concepts/index.md
  docs/guides/index.md
  docs/index.md
Due: none

Apply suggestion from @Copilot
  docs/concepts/index.md
Due: none

fix(docs): link warnings (#383)
  docs/concepts/index.md
  docs/guides/index.md
  docs/index.md
Due: none

chore: linter (FLEX-820)
  docs/diagrams/spg_cu_ev_example.plantuml
Due: check-plantuml

fix(docs): copy paste mistake
  docs/resources/service_providing_group_product_suspension_comment.md
Due: none

chore: megalinter (FLEX-825)
  docs/diagrams/spg_cu_ev_example.plantuml
Due: check-plantuml

feat: SPG product suspension notices (FLEX-826)
  db/flex/notice.sql
  docs/resources/notice.md
Due: none

feat: helpful error message wheb notification reference access is lost (FLEX-830)
  frontend/src/components/ResourceButton.tsx
  frontend/src/notification/NotificationShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

Update frontend/src/notification/NotificationShow.tsx
  frontend/src/notification/NotificationShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: select 1 (FLEX-820)
  db/flex/event_rls.sql
Due: none

feat: notifications for SPG product suspension comment (FLEX-820) (#379)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  db/flex/event_rls.sql
  docs/resources/event.md
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

refactor: notify ISO/PSO as of the event time for SPG(G|P) suspensions (FLEX-825)
  backend/event/models.sql
Due: none

feat: notifications for SPG product suspension (FLEX-825) (#378)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  db/flex/event_rls.sql
  docs/resources/event.md
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(ui): represent recorded_by field with IdentityField (FLEX-837)
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: helpful message when notification reference access is lost (FLEX-830) (#384)
  frontend/src/components/ResourceButton.tsx
  frontend/src/notification/NotificationShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix(ui): represent recorded_by field with IdentityField (FLEX-837) (#385)
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: temporary qualified status (FLEX-826)
  db/flex/notice.sql
Due: none

feat: SPG product suspension notices (FLEX-826) (#382)
  db/flex/notice.sql
  docs/resources/notice.md
Due: none

fix: updated so testes (FLEX-821)
  test/api_client_tests/test_cu_suspension.py
Due: none

docs: conceptual model umbrella
  docs/concepts/conceptual-model.md
  docs/concepts/cu-spg.md
  docs/concepts/index.md
  docs/diagrams/simplified_model.drawio.png
Due: none

Update docs/concepts/conceptual-model.md
  docs/concepts/conceptual-model.md
Due: none

feat: play with gh copilot code review custom instructions
  .github/instructions/db.instructions.md
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
