Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

docs: update changelog (FLEX-685)
  docs/changelog.md
Due: none

feat: allow arbitrary envs when building static assets (FLEX-722)
  local/scripts/build-static.sh
Due: none

feat: notifications for SP product suspension (FLEX-710)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  db/flex/event_rls.sql
  db/flex/service_provider_product_suspension_history_audit.sql
  db/flex/service_provider_product_suspension_rls.sql
  docs/resources/event.md
  docs/resources/service_provider_product_suspension.md
  openapi/resources.yml
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: better comment (FLEX-710)
  backend/event/models.sql
  backend/event/models/models.sql.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: allow arbitrary envs when building static assets (FLEX-722) (#287)
  local/scripts/build-static.sh
Due: none

fix: select notification recipients only once (FLEX-710)
  backend/event/models.sql
  backend/event/models/models.sql.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: notifications for SP product suspension (FLEX-710) (#288)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  db/flex/event_rls.sql
  db/flex/service_provider_product_suspension_history_audit.sql
  db/flex/service_provider_product_suspension_rls.sql
  docs/resources/event.md
  docs/resources/service_provider_product_suspension.md
  openapi/resources.yml
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: increase large_client_header_buffers to avoid HTTP 414 (FLEX-619)
  local/nginx/nginx.conf
Due: none

fix: align nginx pidfile with ol9 nginx stable (FLEX-619)
  local/nginx/nginx.conf
Due: none

feat: validation rules for timestamps based on status (FLEX-680)
  db/flex/controllable_unit.sql
  db/flex/service_provider_product_application.sql
  db/flex/service_providing_group_grid_prequalification.sql
  db/flex/service_providing_group_product_application.sql
  db/test_data/test_data.sql
  db/utils/triggers.sql
  docs/resources/controllable_unit.md
  docs/resources/service_provider_product_application.md
  docs/resources/service_providing_group_grid_prequalification.md
  docs/resources/service_providing_group_product_application.md
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_entity_lookup.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_service_provider_product_application.py
  test/api_client_tests/test_service_provider_product_suspension.py
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_product_application.py
Due: none

docs: turn product type into a list in SPGPA resource (FLEX-683)
  docs/resources/service_providing_group_product_application.md
  local/input/permissions.csv
  openapi/resources.yml
Due: none

feat: implementation (FLEX-683)
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  backend/schema.sql
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
  db/test_data/test_data.sql
  docs/diagrams/resources.plantuml
  docs/resources/service_provider_product_application.md
  docs/resources/service_provider_product_suspension.md
  frontend/src/auth/permissions.json
  frontend/src/tooltip/tooltips.json
  local/scripts/openapi_to_markdown.py
  openapi/openapi-api-no-default.json
  test/flex/api/service_providing_group_product_application/list_service_providing_group_product_application.py
  test/flex/api/service_providing_group_product_application/list_service_providing_group_product_application_history.py
  test/flex/models/service_providing_group_product_application.py
  test/flex/models/service_providing_group_product_application_create_data.py
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: check-plantuml, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

test: update field in tests (FLEX-683)
  test/api_client_tests/test_event.py
  test/api_client_tests/test_party.py
  test/api_client_tests/test_spg_product_application.py
Due: none

feat(ui): update field to array field (FLEX-683)
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: triggers also valid on update since product type list can change (FLEX-683)
  db/flex/service_providing_group_product_application_migrations.sql
Due: none

docs: reformulate validation rules (FLEX-680)
  docs/resources/controllable_unit.md
  docs/resources/service_provider_product_application.md
  docs/resources/service_providing_group_grid_prequalification.md
  docs/resources/service_providing_group_product_application.md
Due: none

fix: drop pre-existing timestamp-setting triggers (FLEX-680)
  db/flex/service_providing_group_product_application_migrations.sql
Due: none

feat: second trigger to distinguish prequalified and verified + tests (FLEX-680)
  db/flex/service_providing_group_product_application.sql
  test/api_client_tests/test_spg_product_application.py
Due: none

feat(auth): support ms entra (FLEX-619)
  backend/auth/auth.go
  backend/auth/oidc/oidc.go
  backend/auth/oidc/provider.go
  db/auth/functions.sql
  db/users.sql
  docs-dev/sessions.md
  local/authelia/config/users.yml
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: drop trigger before dropping function (FLEX-680)
  db/flex/service_providing_group_product_application_migrations.sql
Due: none

feat: turn product type into a list in SPGPA resource (FLEX-683) (#291)
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  backend/schema.sql
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
  db/test_data/test_data.sql
  docs/diagrams/resources.plantuml
  docs/resources/service_provider_product_application.md
  docs/resources/service_provider_product_suspension.md
  docs/resources/service_providing_group_product_application.md
  frontend/src/auth/permissions.json
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  local/scripts/openapi_to_markdown.py
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_event.py
  test/api_client_tests/test_party.py
  test/api_client_tests/test_spg_product_application.py
  test/flex/api/service_providing_group_product_application/list_service_providing_group_product_application.py
  test/flex/api/service_providing_group_product_application/list_service_providing_group_product_application_history.py
  test/flex/models/service_providing_group_product_application.py
  test/flex/models/service_providing_group_product_application_create_data.py
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: check-plantuml, prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: temporary_qualified does not require a timestamp (FLEX-680)
  db/flex/service_providing_group_product_application.sql
  test/api_client_tests/test_spg_product_application.py
Due: none

docs: update ready for market conditions (FLEX-680)
  docs/concepts/ready-for-market.md
Due: none

feat: validation rules for timestamps based on status (FLEX-680) (#290)
  db/flex/controllable_unit.sql
  db/flex/service_provider_product_application.sql
  db/flex/service_providing_group_grid_prequalification.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
  db/test_data/test_data.sql
  db/utils/triggers.sql
  docs/concepts/ready-for-market.md
  docs/resources/controllable_unit.md
  docs/resources/service_provider_product_application.md
  docs/resources/service_providing_group_grid_prequalification.md
  docs/resources/service_providing_group_product_application.md
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_entity_lookup.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_service_provider_product_application.py
  test/api_client_tests/test_service_provider_product_suspension.py
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_product_application.py
Due: none

feat(db): resource and authorisation (FLEX-711)
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  backend/schema.sql
  db/api/grants/field_level_authorization.sql
  db/api/service_provider_product_suspension_comment.sql
  db/flex/changelog.yml
  db/flex/grants/field_level_authorization.sql
  db/flex/service_provider_product_suspension_comment.sql
  db/flex/service_provider_product_suspension_comment_history_audit.sql
  db/flex/service_provider_product_suspension_comment_rls.sql
  docs/diagrams/resources.plantuml
  docs/diagrams/resources.png
  docs/resources/service_provider_product_suspension_comment.md
  frontend/src/auth/permissions.json
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/service_provider_product_suspension_comment/__init__.py
  test/flex/api/service_provider_product_suspension_comment/create_service_provider_product_suspension_comment.py
  test/flex/api/service_provider_product_suspension_comment/list_service_provider_product_suspension_comment.py
  test/flex/api/service_provider_product_suspension_comment/list_service_provider_product_suspension_comment_history.py
  test/flex/api/service_provider_product_suspension_comment/read_service_provider_product_suspension_comment.py
  test/flex/api/service_provider_product_suspension_comment/read_service_provider_product_suspension_comment_history.py
  test/flex/api/service_provider_product_suspension_comment/update_service_provider_product_suspension_comment.py
  test/flex/models/__init__.py
  test/flex/models/list_service_provider_product_suspension_comment_history_prefer.py
  test/flex/models/list_service_provider_product_suspension_comment_prefer.py
  test/flex/models/service_provider_product_suspension_comment.py
  test/flex/models/service_provider_product_suspension_comment_create_data.py
  test/flex/models/service_provider_product_suspension_comment_create_request.py
  test/flex/models/service_provider_product_suspension_comment_history_response.py
  test/flex/models/service_provider_product_suspension_comment_response.py
  test/flex/models/service_provider_product_suspension_comment_update_request.py
  test/flex/models/service_provider_product_suspension_comment_visibility.py
Due: check-plantuml, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

test: add tests and make them green (FLEX-711)
  backend/data/data.go
  db/api/grants/field_level_authorization.sql
  db/flex/grants/field_level_authorization.sql
  local/scripts/permissions_to_grant.py
  test/api_client_tests/test_service_provider_product_suspension.py
  test/api_client_tests/test_spps_comment.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat(auth): support ms entra (FLEX-619) (#292)
  backend/auth/auth.go
  backend/auth/oidc/oidc.go
  backend/auth/oidc/provider.go
  db/auth/functions.sql
  db/users.sql
  docs-dev/sessions.md
  local/authelia/config/users.yml
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: add SP product suspension comment resource (FLEX-711) (#293)
  backend/data/data.go
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  backend/schema.sql
  db/api/grants/field_level_authorization.sql
  db/api/service_provider_product_suspension_comment.sql
  db/flex/changelog.yml
  db/flex/grants/field_level_authorization.sql
  db/flex/service_provider_product_suspension_comment.sql
  db/flex/service_provider_product_suspension_comment_history_audit.sql
  db/flex/service_provider_product_suspension_comment_rls.sql
  docs/diagrams/resources.plantuml
  docs/diagrams/resources.png
  docs/resources/service_provider_product_suspension_comment.md
  frontend/src/auth/permissions.json
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  local/scripts/permissions_to_grant.py
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_service_provider_product_suspension.py
  test/api_client_tests/test_spps_comment.py
  test/flex/api/service_provider_product_suspension_comment/__init__.py
  test/flex/api/service_provider_product_suspension_comment/create_service_provider_product_suspension_comment.py
  test/flex/api/service_provider_product_suspension_comment/list_service_provider_product_suspension_comment.py
  test/flex/api/service_provider_product_suspension_comment/list_service_provider_product_suspension_comment_history.py
  test/flex/api/service_provider_product_suspension_comment/read_service_provider_product_suspension_comment.py
  test/flex/api/service_provider_product_suspension_comment/read_service_provider_product_suspension_comment_history.py
  test/flex/api/service_provider_product_suspension_comment/update_service_provider_product_suspension_comment.py
  test/flex/models/__init__.py
  test/flex/models/list_service_provider_product_suspension_comment_history_prefer.py
  test/flex/models/list_service_provider_product_suspension_comment_prefer.py
  test/flex/models/service_provider_product_suspension_comment.py
  test/flex/models/service_provider_product_suspension_comment_create_data.py
  test/flex/models/service_provider_product_suspension_comment_create_request.py
  test/flex/models/service_provider_product_suspension_comment_history_response.py
  test/flex/models/service_provider_product_suspension_comment_response.py
  test/flex/models/service_provider_product_suspension_comment_update_request.py
  test/flex/models/service_provider_product_suspension_comment_visibility.py
Due: check-plantuml, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix(docs): typo in admin scope list (FLEX-594)
  docs/technical/auth.md
Due: none

feat(ui): add UI pages for SP product suspension comments (FLEX-732)
  db/flex/service_provider_product_suspension_comment.sql
  frontend/src/App.tsx
  frontend/src/auth/permissions.json
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionShow.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentHistoryList.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentInput.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentList.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentShow.tsx
  local/scripts/permissions_to_json.py
  test/api_client_tests/test_spps_comment.py
Due: prettier, frontend-type-check, frontend-dependency-check

fix(docs): typo in admin scope list (FLEX-594) (#294)
  docs/technical/auth.md
Due: none

feat: allow organisation to view email entities (FLEX-734)
  backend/data/static/openapi.json
  db/flex/entity_rls.sql
  docs/resources/entity.md
  local/scripts/template_to_openapi.py
  openapi/openapi-api-no-default.json
  test/api_client_tests/test_entity.py
  test/flex/api/entity/list_entity.py
  test/flex/api/party/list_party.py
  test/flex/api/party/list_party_history.py
Due: check-openapi

refactor: use on delete cascade (FLEX-732)
  db/flex/changelog.yml
  db/flex/service_provider_product_suspension_comment.sql
  db/flex/service_provider_product_suspension_comment_migrations.sql
Due: none

fix: clarify temporary policy (FLEX-734)
  docs/resources/entity.md
Due: none

fix: disable secretlint on some local files with database connection strings (FLEX-735)
  docker-compose.yml
  local/backend/dev.env
  local/backend/test.env
Due: none
