Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

feat: make cu-show more readable by using css-grid
  frontend/src/components/LabelValue.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/controllable_unit/show/components/GridValidation.tsx
  frontend/src/controllable_unit/show/components/TechnicalInformation.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: audit fix
  frontend/package-lock.json
Due: none

refactor: move cu-table to its own component and fix some routing
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/controllable_unit/lookup/ExistingControllableUnitsTable.tsx
  frontend/src/resources/controllableUnitResources.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: fix iso-date bug with cusp
  frontend/src/components/EDS-ra/inputs/DateInput.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: remove empty div
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: use display content to keep the div
  frontend/src/components/LabelValue.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(db): flex_internal_staging role with grants on staging (FLEX-1048)
  db/staging/energy_supplier_balance_responsibility_staging.sql
  local/postgres/init.sql
Due: none

chore: remove replication stuff (FLEX-1043)
  db/flex/changelog.yml
  db/flex/notification_migrations.sql
  db/flex/replication/slots.sql
  justfile
  local/backend/dev.env
  local/backend/test.env
  local/postgres/init.sql
Due: none

feat: speedup liquibase by making FLA one changeset per schema
  db/api/grants/field_level_authorization.sql
  db/flex/grants/field_level_authorization.sql
  justfile
  local/scripts/permissions_to_grant.py
Due: none

chore: remove spammy logline about acquiring connection
  backend/pgpool/pool.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: metrics view (FLEX-1043)
  db/changelog.yml
  db/operations/README.md
  db/operations/changelog.yml
  db/operations/metrics.sql
Due: none

chore: remove replication stuff (FLEX-1043) (#617)
  db/flex/changelog.yml
  db/flex/notification_migrations.sql
  db/flex/replication/slots.sql
  justfile
  local/backend/dev.env
  local/backend/test.env
  local/postgres/init.sql
Due: none

feat(db): party_staging view in staging schema (FLEX-1043) (#607)
  db/staging/changelog.yml
  db/staging/party_staging.sql
Due: none

fix: remove endDelimiter to use default ;
  db/api/grants/field_level_authorization.sql
  db/flex/grants/field_level_authorization.sql
Due: none

feat: speedup liquibase by making FLA one changeset per schema (#618)
  db/api/grants/field_level_authorization.sql
  db/flex/grants/field_level_authorization.sql
  justfile
  local/scripts/permissions_to_grant.py
Due: none

chore: remove spammy logline about acquiring connection (#619)
  backend/pgpool/pool.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: go back to location state to not expose personal data
  frontend/src/controllable_unit/ControllableUnitCreate.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): midnight alignment in EDS for CU/CUSP input (FLEX-1015)
  docs/technical/api-design.md
  frontend/src/components/EDS-ra/inputs/DateInput.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/generated-client/zod.gen.ts
  justfile
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: create route for old create
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/resources/controllableUnitResources.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add support for autogenerated descriptions in basefield
  frontend/src/components/EDS-ra/fields/BaseField.tsx
  frontend/src/components/EDS-ra/fields/FieldTooltip.tsx
  frontend/src/components/EDS-ra/fields/index.ts
  frontend/src/components/EDS-ra/fields/useTooltipText.ts
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: use LOGIN user (FLEX-1048)
  db/staging/changelog.yml
  db/staging/energy_supplier_balance_responsibility_staging.sql
  local/postgres/init.sql
Due: none

feat: One form for cu-registration (FLEX-990) (FLEX-983) (#602)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/EDS-ra/fields/BaseField.tsx
  frontend/src/components/EDS-ra/fields/FieldTooltip.tsx
  frontend/src/components/EDS-ra/fields/index.ts
  frontend/src/components/EDS-ra/fields/useTooltipText.ts
  frontend/src/components/EDS-ra/inputs/AutocompleteReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/components/EDS-ra/inputs/DateInput.tsx
  frontend/src/components/EDS-ra/inputs/FormToolbar.tsx
  frontend/src/components/EDS-ra/inputs/TextInput.tsx
  frontend/src/components/LabelValue.tsx
  frontend/src/components/ui/formContainer/formContainer.module.css
  frontend/src/components/ui/formContainer/index.tsx
  frontend/src/components/ui/index.ts
  frontend/src/controllable_unit/ControllableUnitCreate.tsx
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/controllable_unit/lookup/ExistingControllableUnitsTable.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/controllable_unit/show/components/GridValidation.tsx
  frontend/src/controllable_unit/show/components/TechnicalInformation.tsx
  frontend/src/resources/controllableUnitResources.tsx
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: fix routing in cu-flow
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/resources/controllableUnitResources.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: fix routing in cu-flow (#621)
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/resources/controllableUnitResources.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: use date-fns utilities (FLEX-1015)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: rename notes to additional_information in SPGPA resource (FLEX-1052)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
  docs/resources/service_providing_group_product_application.md
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/tooltip/tooltips.ts
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_spg_product_application.py
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat(db): specific staging role for structure data sync (FLEX-1048) (#616)
  db/staging/changelog.yml
  db/staging/energy_supplier_balance_responsibility_staging.sql
  local/postgres/init.sql
Due: none

feat: rename notes to additional_information in SPGPA resource (FLEX-1052) (#622)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
  docs/resources/service_providing_group_product_application.md
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/tooltip/tooltips.ts
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_spg_product_application.py
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: use datetime in validated at (FLEX-1054)
  frontend/src/controllable_unit/ControllableUnitInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: use datetime in validated at (FLEX-1054) (#623)
  frontend/src/controllable_unit/ControllableUnitInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Update db/flex/service_providing_group_product_application_involved_parties.sql
  db/flex/service_providing_group_product_application_involved_parties.sql
Due: none

fix: tooltips (FLEX-1053)
  frontend/src/tooltip/tooltips.ts
  local/scripts/resources_to_intl.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(backend): silence logs on /readyz (FLEX-1051)
  backend/flex.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore(deps): update dependency schemathesis to v4.10.1
  requirements-dev.txt
Due: none

chore(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency schemathesis to v4.10.1 (#626)
  requirements-dev.txt
Due: none

chore(deps): update frontend (#627)
  frontend/package-lock.json
  frontend/package.json
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
