Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

Apply suggestions from code review
  frontend/src/components/EDS-ra/fields/IdentityField.tsx
  frontend/src/components/EDS-ra/list/Datagrid.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: delete time dependent fields in MGA (FLEX-953) (#536)
  db/api/controllable_unit_lookup.sql
  db/flex/changelog.yml
  db/flex/metering_grid_area.sql
  db/flex/metering_grid_area_migrations.sql
  db/flex/metering_grid_area_price_area_migrations.sql
  db/flex/metering_grid_area_system_operator_migrations.sql
  db/test_data/test_data.sql
Due: none

docs: split auth docs into several specific files (FLEX-917)
  .pre-commit-config.yaml
  docs/technical/auth.md
  docs/technical/auth/auth-methods.md
  docs/technical/auth/auth-model.md
  docs/technical/auth/authz.md
  docs/technical/auth/getting-started.md
  docs/technical/auth/index.md
  docs/technical/auth/users-management.md
  mkdocs.yml
Due: none

chore: use json5 for renovate config (FLEX-957)
  .github/renovate.json5
  .pre-commit-config.yaml
Due: none

chore: test simple pathbased dependency grouping (FLEX-957)
  .github/renovate.json5
Due: none

fix: corrections (FLEX-917)
  docs/technical/auth/auth-methods.md
Due: none

docs: getting started (FLEX-917)
  docs/technical/auth/getting-started.md
Due: none

feat: add confirm on delete and recreate nested history button (FLEX-954)
  frontend/package-lock.json
  frontend/src/components/EDS-ra/buttons/NestedHistoryButton.tsx
  frontend/src/components/EDS-ra/buttons/index.ts
  frontend/src/components/EDS-ra/buttons/useNestedResourceHistory.ts
  frontend/src/party/PartyShow.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove create and manage from list overview. Only keep lookup
  frontend/src/controllable_unit/ControllableUnitList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: make create and manage controllable unit more visible on culookup result
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: make create and manage controllable unit more visible on culookup result
  frontend/package-lock.json
Due: none

docs: add frontend not buildable warning (FLEX-959)
  docs-dev/index.md
Due: none

fix: ui tweaks before test (#542)
  frontend/package-lock.json
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): MGA name in AP show page instead of price area (FLEX-912)
  frontend/src/accounting_point/show/AccountingPointShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: changelog update (FLEX-912)
  docs/changelog.md
Due: none

docs: add frontend not buildable warning (FLEX-959) (#543)
  docs-dev/index.md
Due: none

docs: better guide (FLEX-917)
  .gitleaksignore
  docs/technical/auth/getting-started.md
Due: none

fix: gitleaks false alarm (FLEX-917)
  .gitleaksignore
Due: none

docs: rename authz-model.md (FLEX-917)
  docs-dev/editing-resources.md
  docs/resources/accounting_point.md
  docs/resources/accounting_point_balance_responsible_party.md
  docs/resources/accounting_point_bidding_zone.md
  docs/resources/accounting_point_end_user.md
  docs/resources/accounting_point_energy_supplier.md
  docs/resources/accounting_point_metering_grid_area.md
  docs/resources/controllable_unit.md
  docs/resources/controllable_unit_service_provider.md
  docs/resources/controllable_unit_suspension.md
  docs/resources/controllable_unit_suspension_comment.md
  docs/resources/entity.md
  docs/resources/entity_client.md
  docs/resources/event.md
  docs/resources/identity.md
  docs/resources/index.md
  docs/resources/metering_grid_area.md
  docs/resources/notice.md
  docs/resources/notification.md
  docs/resources/party.md
  docs/resources/party_membership.md
  docs/resources/product_type.md
  docs/resources/service_provider_product_application.md
  docs/resources/service_provider_product_application_comment.md
  docs/resources/service_provider_product_suspension.md
  docs/resources/service_provider_product_suspension_comment.md
  docs/resources/service_providing_group.md
  docs/resources/service_providing_group_grid_prequalification.md
  docs/resources/service_providing_group_grid_prequalification_comment.md
  docs/resources/service_providing_group_grid_suspension.md
  docs/resources/service_providing_group_grid_suspension_comment.md
  docs/resources/service_providing_group_membership.md
  docs/resources/service_providing_group_product_application.md
  docs/resources/service_providing_group_product_suspension.md
  docs/resources/service_providing_group_product_suspension_comment.md
  docs/resources/system_operator_product_type.md
  docs/resources/technical_resource.md
  docs/technical/auth/authz-model.md
  docs/technical/auth/getting-started.md
  docs/technical/auth/index.md
Due: none

docs: typos / comment-based small improvements (FLEX-917)
  docs/technical/auth/auth-methods.md
  docs/technical/auth/authz-model.md
Due: none

docs: better entity client resource docs (FLEX-917)
  docs/resources/entity_client.md
Due: none

docs: example in entity client resource docs (FLEX-917)
  docs/resources/entity_client.md
Due: none

fix(ui): MGA name in AP show page instead of price area (FLEX-912) (#544)
  docs/changelog.md
  frontend/src/accounting_point/show/AccountingPointShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(db): introduce persistent notice table (FLEX-964)
  db/api/notice.sql
  db/flex/changelog.yml
  db/flex/notice.sql
  db/flex/notice_fresh.sql
  db/flex/notice_rls.sql
Due: none

Update docs/technical/auth/auth-model.md
  docs/technical/auth/auth-model.md
Due: none

Update docs/technical/auth/users-management.md
  docs/technical/auth/users-management.md
Due: none

Update docs/technical/auth/authz-model.md
  docs/technical/auth/authz-model.md
Due: none

Update docs/technical/auth/getting-started.md
  docs/technical/auth/getting-started.md
Due: none

docs: explain reason for precondition (FLEX-964)
  db/flex/notice.sql
Due: none

fix: source is nullable (FLEX-964)
  db/flex/notice.sql
Due: none

fix(deps): update patch updates [patch]
  backend/Dockerfile
  backend/go.mod
  backend/go.sum
  frontend/package-lock.json
  frontend/package.json
  requirements-dev.txt
Due: dockerfilelint

fix(deps): update minor updates [patch]
  backend/go.mod
  backend/go.sum
  frontend/package-lock.json
  frontend/package.json
  requirements-dev.txt
Due: none

chore(deps): update dependency globals to v17 [patch]
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update dep no.elhub.devxp:devxp-build-configuration to v1.58.1
  .teamcity/pom.xml
Due: none

feat: add new isMonoRepo flag
  .teamcity/settings.kts
Due: none

chore: test grouping in renovate (FLEX-957) (#541)
  .github/renovate.json5
  .pre-commit-config.yaml
Due: none

fix(renovate): path -> matchFilenames and add more groups (FLEX-957)
  .github/renovate.json5
Due: none

feat: party list and show with EDS (FLEX-954) (#537)
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/EDS-ra/buttons/DeleteButton.tsx
  frontend/src/components/EDS-ra/buttons/NestedHistoryButton.tsx
  frontend/src/components/EDS-ra/buttons/index.ts
  frontend/src/components/EDS-ra/buttons/useNestedResourceHistory.ts
  frontend/src/components/EDS-ra/fields/BaseField.tsx
  frontend/src/components/EDS-ra/fields/DateField.tsx
  frontend/src/components/EDS-ra/fields/EnumField.tsx
  frontend/src/components/EDS-ra/fields/FieldTooltip.tsx
  frontend/src/components/EDS-ra/fields/IdentityField.tsx
  frontend/src/components/EDS-ra/fields/ReferenceField.tsx
  frontend/src/components/EDS-ra/fields/ScopesField.tsx
  frontend/src/components/EDS-ra/fields/TextField.tsx
  frontend/src/components/EDS-ra/fields/index.ts
  frontend/src/components/EDS-ra/index.ts
  frontend/src/components/EDS-ra/inputs/AutocompleteReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/EnumArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/PartyReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/ReferenceComboboxInput.tsx
  frontend/src/components/EDS-ra/inputs/index.ts
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/components/EDS-ra/list/List.tsx
  frontend/src/components/EDS-ra/list/index.ts
  frontend/src/components/EDS-ra/show.tsx
  frontend/src/components/ui/index.ts
  frontend/src/index.tsx
  frontend/src/party/PartyList.tsx
  frontend/src/party/PartyShow.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(renovate): path -> matchFilenames and add more groups (FLEX-957) (#549)
  .github/renovate.json5
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
