Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

feat(db): stricter authorisation on functions in exposed schemas (FLEX-1308) (#954)
  db/api/changelog.yml
  db/api/controllable_unit_lookup.sql
  db/api/embedding/embedding.sql
  db/api/entity_lookup.sql
  db/auth/changelog.yml
  db/auth/functions.sql
  db/notification/changelog.yml
  db/notification/functions.sql
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  local/scripts/templates/embedding.j2.sql
Due: none

fix(db): set default value for SPG-PA ramping capability on migration
  db/api/accounting_point_grid_location.sql
  db/api/controllable_unit_service_provider.sql
  db/api/controllable_unit_suspension.sql
  db/api/controllable_unit_suspension_comment.sql
  db/api/embedding/embedding.sql
  db/api/notification.sql
  db/api/party.sql
  db/api/party_membership.sql
  db/api/product_type.sql
  db/api/service_provider_product_application.sql
  db/api/service_provider_product_application_comment.sql
  db/api/service_provider_product_suspension.sql
  db/api/service_provider_product_suspension_comment.sql
  db/api/service_providing_group.sql
  db/api/service_providing_group_grid_prequalification.sql
  db/api/service_providing_group_grid_prequalification_comment.sql
  db/api/service_providing_group_grid_suspension.sql
  db/api/service_providing_group_grid_suspension_comment.sql
  db/api/service_providing_group_membership.sql
  db/api/service_providing_group_product_application.sql
  db/api/service_providing_group_product_application_comment.sql
  db/api/service_providing_group_product_suspension.sql
  db/api/service_providing_group_product_suspension_comment.sql
  db/api/system_operator_product_type.sql
  db/flex/service_providing_group_product_application_migrations.sql
  db/grid/line.sql
  db/grid/substation.sql
  db/grid/substation_cluster.sql
  local/scripts/templates/embedding.j2.sql
  local/scripts/templates/resource_view.j2.sql
Due: none

fix(deps): update devxp-build-configuration.version
  .teamcity/pom.xml
Due: none

chore(deps): update local
  requirements-dev.txt
Due: none

fix(deps): update devxp-build-configuration.version (#963)
  .teamcity/pom.xml
Due: none

feat: frontpage text (FLEX-1207) (#956)
  frontend/src/LoginPage.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: remove drop cascade + run always api schema grants
  db/api/accounting_point_grid_location.sql
  db/api/controllable_unit_service_provider.sql
  db/api/controllable_unit_suspension.sql
  db/api/controllable_unit_suspension_comment.sql
  db/api/grants/field_level_authorization.sql
  db/api/notification.sql
  db/api/party.sql
  db/api/party_membership.sql
  db/api/product_type.sql
  db/api/service_provider_product_application.sql
  db/api/service_provider_product_application_comment.sql
  db/api/service_provider_product_suspension.sql
  db/api/service_provider_product_suspension_comment.sql
  db/api/service_providing_group.sql
  db/api/service_providing_group_grid_prequalification.sql
  db/api/service_providing_group_grid_prequalification_comment.sql
  db/api/service_providing_group_grid_suspension.sql
  db/api/service_providing_group_grid_suspension_comment.sql
  db/api/service_providing_group_membership.sql
  db/api/service_providing_group_product_application.sql
  db/api/service_providing_group_product_application_comment.sql
  db/api/service_providing_group_product_suspension.sql
  db/api/service_providing_group_product_suspension_comment.sql
  db/api/system_operator_product_type.sql
  db/grid/line.sql
  db/grid/substation.sql
  db/grid/substation_cluster.sql
  docs/resources/service_providing_group_product_application.md
  justfile
  local/scripts/templates/resource_view.j2.sql
Due: none

fix: typos and missed just recipes with .venv use
  docs-dev/dependencies.md
  justfile
Due: none

fix: one-time migration for recreating the SPG-PA view
  db/api/changelog.yml
Due: none

fix: dont run new field migration locally (field already exists)
  db/flex/service_providing_group_product_application_migrations.sql
Due: none

fix(deps): update backend to v6 (#949)
  backend/flex.go
  backend/go.mod
  backend/go.sum
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: actually ping the db when creating a new pool
  backend/pgpool/pool.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(test): make SPGPA tests green
  test/api_client_tests/test_accounting_point.py
  test/api_client_tests/test_accounting_point_grid_location.py
  test/api_client_tests/test_event.py
Due: none

fix: run migration without context
  db/api/changelog.yml
Due: none

fix(db): set default value for SPG-PA ramping capability on migration (#962)
  db/api/changelog.yml
  db/api/embedding/embedding.sql
  db/api/grants/field_level_authorization.sql
  db/flex/service_providing_group_product_application_migrations.sql
  docs/resources/service_providing_group_product_application.md
  justfile
  local/scripts/templates/embedding.j2.sql
  test/api_client_tests/test_accounting_point.py
  test/api_client_tests/test_accounting_point_grid_location.py
  test/api_client_tests/test_event.py
Due: none

feat: disable field reordering in generated views
  db/api/accounting_point_grid_location.sql
  db/api/changelog.yml
  db/api/controllable_unit_service_provider.sql
  db/api/controllable_unit_suspension.sql
  db/api/controllable_unit_suspension_comment.sql
  db/api/notification.sql
  db/api/party.sql
  db/api/party_membership.sql
  db/api/product_type.sql
  db/api/service_provider_product_application.sql
  db/api/service_provider_product_application_comment.sql
  db/api/service_provider_product_suspension.sql
  db/api/service_provider_product_suspension_comment.sql
  db/api/service_providing_group.sql
  db/api/service_providing_group_grid_prequalification.sql
  db/api/service_providing_group_grid_prequalification_comment.sql
  db/api/service_providing_group_grid_suspension.sql
  db/api/service_providing_group_grid_suspension_comment.sql
  db/api/service_providing_group_membership.sql
  db/api/service_providing_group_product_application.sql
  db/api/service_providing_group_product_application_comment.sql
  db/api/service_providing_group_product_suspension.sql
  db/api/service_providing_group_product_suspension_comment.sql
  db/api/system_operator_product_type.sql
  db/grid/changelog.yml
  db/grid/grants/field_level_authorization.sql
  db/grid/line.sql
  db/grid/substation.sql
  db/grid/substation_cluster.sql
  db/grid/substation_distance.sql
  justfile
  local/scripts/templates/resource_view.j2.sql
  test/flex/models/service_providing_group_product_application_ramping_capability.py
Due: none

fix: substation_distance
  db/api/changelog.yml
  db/grid/changelog.yml
  db/grid/substation_distance.sql
Due: none

fix: also recreate triggers on CUSP and SPG
  db/api/controllable_unit_service_provider_triggers.sql
  db/api/service_providing_group_triggers.sql
Due: none

feat: disable field reordering in generated views (#966)
  db/api/accounting_point_grid_location.sql
  db/api/changelog.yml
  db/api/controllable_unit_service_provider.sql
  db/api/controllable_unit_service_provider_triggers.sql
  db/api/controllable_unit_suspension.sql
  db/api/controllable_unit_suspension_comment.sql
  db/api/notification.sql
  db/api/party.sql
  db/api/party_membership.sql
  db/api/product_type.sql
  db/api/service_provider_product_application.sql
  db/api/service_provider_product_application_comment.sql
  db/api/service_provider_product_suspension.sql
  db/api/service_provider_product_suspension_comment.sql
  db/api/service_providing_group.sql
  db/api/service_providing_group_grid_prequalification.sql
  db/api/service_providing_group_grid_prequalification_comment.sql
  db/api/service_providing_group_grid_suspension.sql
  db/api/service_providing_group_grid_suspension_comment.sql
  db/api/service_providing_group_membership.sql
  db/api/service_providing_group_product_application.sql
  db/api/service_providing_group_product_application_comment.sql
  db/api/service_providing_group_product_suspension.sql
  db/api/service_providing_group_product_suspension_comment.sql
  db/api/service_providing_group_triggers.sql
  db/api/system_operator_product_type.sql
  db/grid/changelog.yml
  db/grid/grants/field_level_authorization.sql
  db/grid/line.sql
  db/grid/substation.sql
  db/grid/substation_cluster.sql
  db/grid/substation_distance.sql
  justfile
  local/scripts/templates/resource_view.j2.sql
  test/flex/models/service_providing_group_product_application_ramping_capability.py
Due: none

refactor(db): clean/switch migrations to runOnChange when possible
  db/api/changelog.yml
  db/api/controllable_unit_service_provider_triggers.sql
  db/api/embedding/embedding.sql
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_triggers.sql
  db/grid/changelog.yml
  db/grid/grants/field_level_authorization.sql
  justfile
  local/scripts/templates/embedding.j2.sql
Due: none

refactor(db): clean/switch migrations to runOnChange when possible (#967)
  db/api/changelog.yml
  db/api/controllable_unit_service_provider_triggers.sql
  db/api/embedding/embedding.sql
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_triggers.sql
  db/grid/changelog.yml
  db/grid/grants/field_level_authorization.sql
  justfile
  local/scripts/templates/embedding.j2.sql
Due: none

feat(ui): reference input for substation in AP grid location input (FLEX-1134) (#957)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/accounting_point/grid_location/SubstationReferenceInput.tsx
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: syntax (FLEX-1309)
  db/flex/accounting_point_grid_location.sql
Due: none

feat: better grid location notice (FLEX-1309) (#961)
  db/flex/accounting_point_grid_location.sql
  db/flex/notice/notice_accounting_point_grid_location.sql
  docs/resources/accounting_point_grid_location.md
  frontend/src/notice/noticeTypes.ts
  test/api_client_tests/test_accounting_point_grid_location.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(docs): api troubleshooting section
  docs/api/guides/troubleshooting.md
  docs/api/index.md
Due: none

fix: typos
  docs/api/guides/troubleshooting.md
  docs/api/index.md
Due: none

test: negative test to surface the bug (FLEX-1076)
  test/api_client_tests/test_service_provider_product_application.py
  test/api_client_tests/test_spg_product_application.py
Due: none

feat(db): SPPA and SPGPA product type lists cannot be empty (FLEX-1076)
  db/flex/service_provider_product_application_migrations.sql
  db/flex/service_providing_group_product_application_migrations.sql
  docs/resources/service_provider_product_application.md
  docs/resources/service_providing_group_product_application.md
Due: none

feat(docs): api troubleshooting section (#968)
  docs/api/guides/troubleshooting.md
  docs/api/index.md
Due: none

fix(db): actually ping the db when creating a new pool (#965)
  backend/pgpool/pool.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(frontend): use react-router-dom for useLocation (FLEX-1322)
  frontend/src/hooks/useLocationState.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): use react-router-dom for useLocation (FLEX-1322) (#970)
  frontend/src/hooks/useLocationState.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(db): SPPA and SPGPA product type lists cannot be empty (FLEX-1076) (#969)
  db/flex/service_provider_product_application_migrations.sql
  db/flex/service_providing_group_product_application_migrations.sql
  docs/resources/service_provider_product_application.md
  docs/resources/service_providing_group_product_application.md
  test/api_client_tests/test_service_provider_product_application.py
  test/api_client_tests/test_spg_product_application.py
Due: none

refactor: get rid of comment_migrations.sql files (FLEX-1173)
  db/flex/changelog.yml
  db/flex/controllable_unit_suspension_comment.sql
  db/flex/controllable_unit_suspension_comment_migrations.sql
  db/flex/service_provider_product_application_comment.sql
  db/flex/service_provider_product_application_comment_migrations.sql
  db/flex/service_provider_product_suspension_comment.sql
  db/flex/service_provider_product_suspension_comment_migrations.sql
  db/flex/service_providing_group_grid_prequalification_comment.sql
  db/flex/service_providing_group_grid_prequalification_comment_migrations.sql
  db/flex/service_providing_group_grid_suspension_comment.sql
  db/flex/service_providing_group_grid_suspension_comment_migrations.sql
  db/flex/service_providing_group_product_application_comment.sql
  db/flex/service_providing_group_product_application_comment_migrations.sql
  db/flex/service_providing_group_product_suspension_comment.sql
  db/flex/service_providing_group_product_suspension_comment_migrations.sql
  local/scripts/templates/comment_resource.j2.sql
  local/scripts/templates/comment_rls.j2.sql
  local/scripts/templates/embedding.j2.sql
Due: none

feat: more generic and generated scope enums (FLEX-1175)
  backend/data/static/openapi.json
  backend/grid/grid.go
  db/flex/entity_client_migrations.sql
  db/flex/party_membership_migrations.sql
  db/flex/scope.sql
  db/test_data/test_data.sql
  docs/resources/entity_client.md
  docs/resources/party_membership.md
  docs/resources/technical_resource.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  justfile
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AuthScope.kt
  local/scripts/generate_scopes.py
  local/scripts/openapi_to_markdown.py
  local/scripts/resources_to_openapi.py
  local/scripts/scopes_to_db.py
  local/scripts/templates/scope.j2.sql
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  openapi/scopes.yml
  test/auth_tests/test_scopes.py
  test/flex/models/auth_scope.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: remove scope for internal RPC (FLEX-1175)
  backend/data/static/openapi.json
  db/flex/scope.sql
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AuthScope.kt
  local/scripts/generate_scopes.py
  openapi/openapi-api-no-default.json
  openapi/scopes.yml
  test/flex/models/auth_scope.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: move jsonschema to uv to avoid conflict between packages
  mise.toml
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
