Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

fix: Updated/improved logic on sync/lookup (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/AuthError.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/FlexPrincipal.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Routing.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Tracing.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitQuery.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryImpl.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/lookup/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/db/FlexTransaction.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AdapterError.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/ControllableUnit.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/GSRN.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/db/RepositoryError.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/DtoMapper.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/error/Error.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitRoutes.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Error.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/HttpStatusCodeSerializer.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/LocalDateExtensions.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Request.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Response.kt
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterServiceTest.kt
Due: none

chore: remove fields from cu (FLEX-1103)
  local/input/permissions.csv
  openapi/resources.yml
Due: none

chore: remove fields from frontend (FLEX-1103)
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/components/GridValidation.tsx
  frontend/src/controllable_unit/show/components/TechnicalInformation.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: remove tests regarding validation status (FLEX-1103)
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_technical_resource.py
Due: none

chore: remove fields from views (FLEX-1103)
  db/api/controllable_unit.sql
Due: none

chore: run just permissions (FLEX-1103)
  db/api/grants/field_level_authorization.sql
  db/flex/grants/field_level_authorization.sql
  docs/resources/controllable_unit.md
  frontend/src/auth/permissions.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: remove from test-data (FLEX-1103)
  db/test_data/test_data.sql
Due: none

chore: remove fields from cu history-list (FLEX-1103)
  frontend/src/controllable_unit/ControllableUnitHistoryList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: add migrations for removing the fields (FLEX-1103)
  db/api/accounting_point.sql
  db/api/controllable_unit.sql
  db/flex/controllable_unit.sql
  db/flex/controllable_unit_migrations.sql
  db/flex/notice/notice_controllable_unit.sql
  db/flex/notice_fresh.sql
  db/flex/technical_resource.sql
  db/flex/technical_resource_migrations.sql
Due: none

chore: remove validation from docs (FLEX-1103)
  docs/resources/controllable_unit.md
Due: none

chore: format (FLEX-1103)
  frontend/src/controllable_unit/ControllableUnitInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: Extract parameters into variables for reuse in tests (FLEX-1064)
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
Due: none

fix: Use new role flex_internal_data for system principal (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/auth/FlexPrincipal.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryTest.kt
Due: none

feat: enum input with clear button (FLEX-1038) (#703)
  frontend/src/components/EDS-ra/inputs/EnumInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Make function suspending (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
Due: none

chore: Added tests for AccountingPointRepository (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
Due: none

chore: Fixed error messages to not leak internal sql errors in the response (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/error/Error.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
Due: none

fix: PR comments (FLEX-1103)
  db/flex/controllable_unit_migrations.sql
  docs/resources/controllable_unit.md
  docs/resources/notice.md
  frontend/src/notice/noticeTypes.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Cleanup from QA (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
Due: none

chore: fix test assertion on NotFoundError (FLEX-1064)
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
Due: none

fix: Added trigger rule for gradleVerify in kbackend (FLEX-1064)
  .teamcity/settings.kts
Due: none

fix: Added a fix for allOf when generating models (FLEX-1064)
  kbackend/scripts/generate-openapi-models.sh
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/TechnicalResourceCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/TechnicalResourceHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/TechnicalResourceResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/TechnicalResourceUpdateRequest.kt
Due: none

fix: Use route plugin for role check (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/auth/FlexRole.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/RequireRole.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitRoutes.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
Due: none

chore: Added editorconfig with ktlint rules
  .editorconfig
  .gitignore
  .pre-commit-config.yaml
Due: none

chore: Added editorconfig with ktlint rules (#707)
  .editorconfig
  .gitignore
  .pre-commit-config.yaml
Due: none

feat: add additional information to cu (FLEX-1103)
  local/input/permissions.csv
  openapi/resources.yml
Due: none

chore: run just openapi (FLEX-1103)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  docs/resources/controllable_unit.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitUpdateRequest.kt
  openapi/openapi-api-no-default.json
  test/flex/models/controllable_unit_create_request.py
  test/flex/models/controllable_unit_history_response.py
  test/flex/models/controllable_unit_response.py
  test/flex/models/controllable_unit_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat: add additional info to db (FLEX-1103)
  db/flex/controllable_unit.sql
  db/flex/controllable_unit_migrations.sql
Due: none

fix: Use the ErrorMessage from the openapi spec for all errors (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/util/Response.kt
Due: none

chore: run just permissions (FLEX-1103)
  db/api/grants/field_level_authorization.sql
  docs/resources/controllable_unit.md
  frontend/src/auth/permissions.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Updated api-spec for ap-adapter, now sending validFrom parameter (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/client/AccountingPointClient.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/EndUser.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/openapi.yaml
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/InstantExtensions.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/LocalDateExtensions.kt
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterServiceTest.kt
Due: check-openapi

docs: document query parameters on the adapter API (FLEX-1065)
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/openapi.yaml
Due: check-openapi

chore: Rename BadInputError to generic BadRequestError (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/model/error/Error.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
Due: none

chore: add to view (FLEX-1103)
  db/api/controllable_unit.sql
Due: none

feat: add to additional info to frontend as well (FLEX-1103)
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/components/TechnicalInformation.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
