Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

feat: add remove button to spg-cu page as well (FLEX-1107)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add badge to spg show (FLEX-1107)
  docs/superpowers/plans/2026-04-08-spg-show-remove-cu-button.md
  docs/superpowers/specs/2026-04-08-spg-show-remove-cu-button-design.md
  frontend/src/service_providing_group/ServiceProvidingGroupAlerts.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: fix query key in spg show (FLEX-1107)
  frontend/src/service_providing_group/ActivateServiceProvidingGroupButton.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupAlerts.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.71.3 (#718)
  .teamcity/pom.xml
Due: none

chore: AI review (FLEX-1107)
  frontend/src/components/ConfirmAction.tsx
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/components/LabelValue.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/service_providing_group/ActivateServiceProvidingGroupButton.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: remove history route for cu (FLEX-1107)
  frontend/src/controllable_unit/ControllableUnitHistoryList.tsx
  frontend/src/resources/controllableUnitResources.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: correct env variables (FLEX-1109)
  local/kbackend/test.env
Due: none

Update justfile
  justfile
Due: none

fix: Aquire lock on accounting_point_sync instead of accounting_point (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointQuery.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/db/RepositoryError.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
Due: none

fix: Add update and delete for flex_internal_data on accounting_point(_sync) (FLEX-1064)
  db/flex/accounting_point_rls.sql
Due: none

fix: Encode timestamptz array elements as ISO-8601 string (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
Due: none

fix(deps): update module go.opentelemetry.io/otel/sdk to v1.43.0 [security]
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update backend
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.71.4
  .teamcity/pom.xml
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
  kbackend/gradle/wrapper/gradle-wrapper.properties
Due: none

chore(deps): update dependency schemathesis to v4.15.0
  requirements-dev.txt
Due: none

chore(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: small corrections (FLEX-1109)
  justfile
Due: none

feat: run kbackend in local Docker Compose setup (FLEX-1109) (#723)
  docker-compose.yml
  justfile
  local/kbackend/test.env
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.71.4 (#726)
  .teamcity/pom.xml
Due: none

chore(deps): update dependency schemathesis to v4.15.0 (#727)
  requirements-dev.txt
Due: none

fix(deps): update kbackend (#683)
  kbackend/gradle/libs.versions.toml
  kbackend/gradle/wrapper/gradle-wrapper.properties
Due: none

feat: migrate to pnpm
  .pre-commit-config.yaml
  docs-dev/dependencies.md
  docs-dev/tooling.md
  frontend/Dockerfile
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  justfile
  local/scripts/build-static.sh
Due: dockerfilelint

feat: add config for supply chain security
  frontend/pnpm-workspace.yaml
Due: none

fix: enforce uniqueness of end-user party per entity (FLEX-1064)
  db/flex/party.sql
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointQuery.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
Due: none

Apply suggestions from code review
  docs-dev/dependencies.md
  frontend/Dockerfile
  frontend/pnpm-workspace.yaml
  local/scripts/build-static.sh
Due: dockerfilelint

chore: rename var after CR (FLEX-1107)
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: align CU show page with SPG show page pattern (FLEX-1107) (#710)
  frontend/src/components/ConfirmAction.tsx
  frontend/src/components/EDS-ra/buttons/DeleteButton.tsx
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/components/EDS-ra/inputs/DateInput.tsx
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/components/LabelValue.tsx
  frontend/src/components/ShowPageLayout.tsx
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/types/index.ts
  frontend/src/controllable_unit/ControllableUnitHistoryList.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowTabs.tsx
  frontend/src/controllable_unit/show/components/ActivateControllableUnitButton.tsx
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/show/components/Header.tsx
  frontend/src/controllable_unit/show/components/TechnicalInformation.tsx
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/controllable_unit/technical_resource/useTechnicalResources.ts
  frontend/src/intl/intl.tsx
  frontend/src/resources/controllableUnitResources.tsx
  frontend/src/service_providing_group/ActivateServiceProvidingGroupButton.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupAlerts.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowGridPrequalificationsTable.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowProductApplicationsTable.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowSummary.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update frontend (#728)
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: configure npm with min age and ignore scripts (FLEX-1122)
  frontend/.npmrc
Due: none

chore: configure npm with min age and ignore scripts (FLEX-1122) (#731)
  frontend/.npmrc
Due: none

feat: Utility functions for cleaner database interaction with named parameters (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/db/NamedParameters.kt
  kbackend/src/test/kotlin/no/elhub/flex/db/NamedParametersTest.kt
Due: none

refactor: set up reverse proxy from backend to kbackend for CU lookup (FLEX-1062)
  backend/data/data.go
  backend/data/models.go
  backend/flex.go
  docker-compose.yml
  kbackend/src/main/kotlin/no/elhub/flex/auth/AuthError.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/RequireScope.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/Scope.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitRoutes.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  local/backend/dev.env
  local/backend/test.env
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: make kbackend pass some of the Python API tests (FLEX-1062)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/AccessToken.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/AuthError.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/RequireScope.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/Scope.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/ControllableUnit.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/db/RepositoryError.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/error/Error.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitRoutes.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/util/AccessTokenUtil.kt
Due: none

chore: Refactor insert and update statements into a single merge (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointQuery.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
Due: none

fix: run lookup as flex_internal_data (FLEX-1062)
  db/api/grants/field_level_authorization.sql
  db/flex/accounting_point_rls.sql
  db/flex/grants/field_level_authorization.sql
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  local/input/permissions.csv
Due: none

refactor: Rename query and function with more precise name (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointQuery.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
Due: none

fix: disable remote lookup test as AP sync is not implemented yet (FLEX-1062)
  test/api_client_tests/test_cu_lookup.py
Due: none

feat(ui): show price area and BRP on CU list/show (FLEX-1087)
  frontend/package-lock.json
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
  frontend/src/resources/accountingPointResources.tsx
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Copilot comments (FLEX-1087)
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
