Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

Corrections after feedback
  docs/concepts/time-series.md
Due: none

feat(db): pg_cron job for notice sync (FLEX-992) (#570)
  db/flex/notice_fresh.sql
Due: none

feat(db): redirect notice API view to notice table (FLEX-966)
  db/api/notice.sql
Due: none

feat: update notice resource in API docs/client and permissions (FLEX-966)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  docs/changelog.md
  docs/resources/notice.md
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/sdk.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.ts
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/notice/list_notice.py
  test/flex/api/notice/read_notice.py
  test/flex/models/__init__.py
  test/flex/models/notice_response.py
  test/flex/models/notice_status.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat(ui): proper notice show page (FLEX-966)
  frontend/src/notice/NoticeList.tsx
  frontend/src/notice/NoticeShow.tsx
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/resources/systemResources.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: console.log (FLEX-966)
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/notice/NoticeShowDetails.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: rewrite lookup-form to eds
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: rewrite controllable unit lookup to eds
  frontend/src/components/EDS-ra/fields/BaseField.tsx
  frontend/src/components/EDS-ra/inputs/TextInput.tsx
  frontend/src/components/LabelValue.tsx
  frontend/src/components/ui/index.ts
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: update cu-input to eds
  frontend/src/components/EDS-ra/inputs/DateInput.tsx
  frontend/src/components/EDS-ra/inputs/index.ts
  frontend/src/components/LabelValue.tsx
  frontend/src/components/ui/index.ts
  frontend/src/controllable_unit/ControllableUnitInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove all occurences of default in generated zod. So we dont send in default values in the form
  frontend/src/generated-client/zod.gen.ts
  justfile
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: move create callback to ControllableUnitCreate
  frontend/src/controllable_unit/ControllableUnitCreate.tsx
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/resources/controllableUnitResources.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: rewrite cusp to eds
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/EDS-ra/inputs/DateInput.tsx
  frontend/src/components/ui/datepicker/Datepicker.tsx
  frontend/src/components/ui/datepicker/datepicker.module.css
  frontend/src/components/ui/index.ts
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: rewrite technical resource input to eds
  frontend/src/components/EDS-ra/inputs/TextAreaInput.tsx
  frontend/src/components/EDS-ra/inputs/index.ts
  frontend/src/components/ui/index.ts
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Removed "design" from time series service design
  docs/processes/delivery-verification.md
Due: none

refactor(ui): use EDS on notice pages (FLEX-657)
  frontend/src/components/EDS-ra/buttons/ResourceButton.tsx
  frontend/src/components/EDS-ra/buttons/index.ts
  frontend/src/components/EDS-ra/fields/DiffTextField.tsx
  frontend/src/components/EDS-ra/inputs/AutocompleteInput.tsx
  frontend/src/components/EDS-ra/inputs/index.ts
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/notice/NoticeList.tsx
  frontend/src/notice/NoticeShow.tsx
  frontend/src/notice/NoticeShowDetails.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update docker.jfrog.elhub.cloud/golang docker tag to v1.25.7
  backend/Dockerfile
Due: dockerfilelint

chore(backend): go get go@latest
  backend/go.mod
Due: none

fix: outdated docs about go version locations
  docs-dev/dependencies.md
Due: none

chore(deps): update dependency schemathesis to v4.9.5
  requirements-dev.txt
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.59.7
  .teamcity/pom.xml
Due: none

fix(deps): update frontend
  frontend/package.json
Due: none

chore(deps): update dependency schemathesis to v4.9.5 (#587)
  requirements-dev.txt
Due: none

chore(deps): update golang to v1.25.7 (#585)
  backend/Dockerfile
  backend/go.mod
  docs-dev/dependencies.md
Due: dockerfilelint

refactor(ui): more typing and more EDS appearance (FLEX-657)
  frontend/src/components/EDS-ra/fields/DiffTextField.tsx
  frontend/src/components/ui/index.ts
  frontend/src/notice/NoticeList.tsx
  frontend/src/notice/NoticeShow.tsx
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/product_type/components.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.59.7 (#586)
  .teamcity/pom.xml
Due: none

ci: add MT1 as gitOps target cluster (FLEX-1019)
  .teamcity/settings.kts
Due: none

fix: MT1 -> MARKET_TRIAL_1 (FLEX-1019)
  .teamcity/settings.kts
Due: none

refactor: define DataTable component (FLEX-657)
  frontend/src/components/EDS-ra/inputs/AutocompleteInput.tsx
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/notice/NoticeShowDetails.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

ci: add MT1 as gitOps target cluster (FLEX-1019) (#589)
  .teamcity/settings.kts
Due: none

Updated text and diagrams
  docs/diagrams/delivery-verification.plantuml
  docs/diagrams/delivery-verification.png
  docs/processes/delivery-verification.md
Due: check-plantuml

docs: sp cu reg new page and illustration
  docs/diagrams/sp_cu_registration.drawio.png
  docs/guides/get-ready-for-market.md
  docs/guides/get-ready-for-market/index.md
  docs/guides/get-ready-for-market/sp-cu-registration.md
  docs/guides/index.md
Due: none

feat: add tailwind
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/EDS-ra/fields/BaseField.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/UserDropdown.tsx
  frontend/src/main.css
  frontend/src/theme.css
  frontend/vite.config.mts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: fix typing of labelvalue (FLEX-1009)
  frontend/src/components/LabelValue.tsx
  frontend/src/components/ui/index.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: fix datefield not giving validating (FLEX-1009)
  frontend/src/components/EDS-ra/inputs/DateInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: use tailwind to style header
  frontend/src/components/Header/UserDropdown.tsx
  frontend/src/components/Header/header.module.css
  frontend/src/index.tsx
  frontend/src/main.css
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove reference to style file
  frontend/src/components/Header/UserDropdown.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Apply suggestion from @Copilot
  frontend/src/components/Header/Header.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Apply suggestion from @Copilot
  frontend/vite.config.mts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
