Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

refactor: add module property to each resource (FLEX-1134)
  local/scripts/openapi_to_db.py
  local/scripts/templates/comment_resource.j2.yml
  local/scripts/templates/resource_view.j2.sql
  openapi/resources.yml
  openapi/schema.yml
Due: none

feat: rls policies for the grid module (FLEX-1134)
  db/flex/line_rls.sql
  db/flex/substation_cluster_rls.sql
  db/flex/substation_rls.sql
  docker-compose.yml
  openapi/resources.yml
Due: none

fix: grant usage for app roles to grid (FLEX-1134)
  db/grid/changelog.yml
Due: none

fix: regen permissions (FLEX-1134)
  db/flex/grants/field_level_authorization.sql
  db/grid/grants/field_level_authorization.sql
Due: none

fix: summary on the same line (FLEX-1134)
  openapi/resources.yml
Due: none

refactor: copilot comments (FLEX-1135)
  db/flex/accounting_point_grid_location_fresh.sql
  test/other_tests/test_apgl_sync.sh
Due: none

feat(db): sync process guessing accounting point grid location (FLEX-1135) (#938)
  db/flex/accounting_point_grid_location_fresh.sql
  db/flex/changelog.yml
  db/flex/substation.sql
  db/test_data/staging/substation.csv
  test/other_tests/test_apgl_sync.sh
Due: none

refactor: use single database query to find startDate/validFrom for all accounting points (FLEX-1267)
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/AccountingPointId.kt
  kbackend/src/main/kotlin/no/elhub/flex/scheduled/AccountingPointSyncScheduler.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/scheduled/AccountingPointSyncSchedulerTest.kt
Due: none

fix: increase stale lock timeout from 5 minutes to 1 hour (FLEX-1267)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointSyncRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointSyncRepositoryTest.kt
Due: none

fix: use ANY instead of IN for list parameter binding (FLEX-1267)
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryTest.kt
Due: none

feat(backend): grid API module based on PostgREST (FLEX-1134)
  backend/flex.go
  backend/grid/grid.go
  local/nginx/templates/flex.conf
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat(db): view to know which transformers are close to an AP (FLEX-1134)
  db/flex/accounting_point_near_transformer.sql
  db/flex/changelog.yml
  db/flex/grants/field_level_authorization.sql
  db/grid/accounting_point_near_transformer.sql
  db/grid/grants/field_level_authorization.sql
  local/input/permissions-grid.csv
  openapi/resources.yml
Due: none

feat(ui): map picker for accounting point grid location (FLEX-1134)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
  frontend/src/httpConfig.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: npm audit fix (FLEX-1134)
  frontend/package-lock.json
Due: none

fix: vite config to make grid API work in dev env (FLEX-1134)
  frontend/vite.config.mts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: scheduled job that syncs accounting point data (FLEX-1267) (#936)
  docs/technical/accounting-point-data.md
  kbackend/build.gradle.kts
  kbackend/gradle/libs.versions.toml
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointSyncRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Health.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Metrics.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Monitoring.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Scheduling.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/metrics/FlexMetrics.kt
  kbackend/src/main/kotlin/no/elhub/flex/metrics/MetricsModule.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/AccountingPointId.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/ControllableUnit.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/ControllableUnitForLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/DtoMapper.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/scheduled/AccountingPointSyncScheduler.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/BigDecimalSerializer.kt
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointSyncRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/scheduled/AccountingPointSyncSchedulerTest.kt
Due: none

fix: cron expression set to every 5 minute (FLEX-1267)
  kbackend/src/main/kotlin/no/elhub/flex/scheduled/AccountingPointSyncScheduler.kt
Due: none

fix: cron expression set to every 5 minute (FLEX-1267) (#944)
  kbackend/src/main/kotlin/no/elhub/flex/scheduled/AccountingPointSyncScheduler.kt
Due: none

refactor: use RPC for substation geographical filtering (FLEX-1134)
  backend/grid/grid.go
  db/flex/changelog.yml
  db/flex/grants/field_level_authorization.sql
  db/grid/accounting_point_near_transformer.sql
  db/grid/grants/field_level_authorization.sql
  db/grid/substation_distance.sql
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContract.kt
  local/input/permissions-grid.csv
  openapi/resources.yml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore: remove dead code (FLEX-1134)
  db/flex/accounting_point_near_transformer.sql
Due: none

feat: Added columns ramping ramping_capability and ramping_description for SPG product applications (FLEX-1005)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
  db/test_data/test_data.sql
  docs/resources/service_providing_group_product_application.md
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationRampingCapability.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationUpdateRequest.kt
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/__init__.py
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_ramping_capability.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: comments (FLEX-1134)
  backend/grid/grid.go
  db/grid/substation_distance.sql
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: safer execute grants on functions across the project (FLEX-1134)
  db/api/changelog.yml
  db/api/controllable_unit_lookup.sql
  db/api/embedding/embedding.sql
  db/api/entity_lookup.sql
  db/auth/changelog.yml
  db/auth/functions.sql
  db/grid/changelog.yml
  db/grid/substation_distance.sql
  db/notification/changelog.yml
  db/notification/functions.sql
  local/scripts/templates/embedding.j2.sql
Due: none

fix(deps): update devxp-build-configuration.version to v1.77.11
  .teamcity/pom.xml
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
Due: none

fix(deps): update backend to v6
  backend/flex.go
  backend/go.mod
  backend/go.sum
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(test): use internal data role in test (FLEX-1134)
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
Due: none

fix: Copilot comments and bug in embedding grant for flex_entity (FLEX-1134)
  backend/grid/grid.go
  db/api/embedding/embedding.sql
  db/grid/substation_distance.sql
  local/scripts/templates/embedding.j2.sql
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

refactor: revert changes to other schemas (FLEX-1134)
  backend/grid/grid.go
  db/api/changelog.yml
  db/api/controllable_unit_lookup.sql
  db/api/embedding/embedding.sql
  db/api/entity_lookup.sql
  db/auth/changelog.yml
  db/auth/functions.sql
  db/grid/substation_distance.sql
  db/notification/changelog.yml
  db/notification/functions.sql
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  local/scripts/templates/embedding.j2.sql
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: no silent error on failure on grid API
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update devxp-build-configuration.version to v1.77.11 (#945)
  .teamcity/pom.xml
Due: none

chore: todo comment for grid scope (FLEX-1134)
  backend/grid/grid.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: only add columns if they do not exist (FLEX-1005)
  db/flex/service_providing_group_product_application_migrations.sql
Due: none

feat(ui): ramping capability and description added to SPG PA (FLEX-1005)
  frontend/src/auth/permissions.ts
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: update package-lock (FLEX-1005)
  frontend/package-lock.json
Due: none

fix: revert back to old version of mui as react-admin does not support v9
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
