Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

fix(docs): inconsistency in cu registration process (#326)
  docs/diagrams/controllable_unit_registration.plantuml
  docs/diagrams/controllable_unit_registration.png
Due: check-plantuml

feat: local mock of elhub energy-data/metering-points api (FLEX-774) (#327)
  docker-compose.yml
  local/elhub/main.py
  requirements-dev.txt
Due: none

docs: added link to CU suspension
  docs/processes/index.md
Due: none

feat(backend): fetch data from external metering point datahub in CU lookup (FLEX-775)
  backend/data/data.go
  backend/data/models.sql
  backend/data/models/models.sql.go
  backend/flex.go
  backend/meteringpointdatahub/meteringpointdatahub.go
  backend/meteringpointdatahub/models.go
  db/api/controllable_unit_lookup.sql
  local/backend/dev.env
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

refactor: simplify and sync less data (FLEX-775)
  backend/data/data.go
  backend/data/models.sql
  backend/data/models/models.sql.go
  backend/flex.go
  backend/meteringpointdatahub/meteringpointdatahub.go
  backend/meteringpointdatahub/models.go
  db/api/controllable_unit_lookup.sql
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: add grid suspension (FLEX-762)
  frontend/src/App.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/index.tsx
  package-lock.json
  package.json
Due: prettier, frontend-type-check, frontend-dependency-check

fix: do not let invalid GSRNs reach the network call (FLEX-775)
  backend/data/data.go
  backend/internal/gs1/gs1.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: midnight align "valid from" date (FLEX-775)
  db/api/controllable_unit_lookup.sql
Due: none

fix: URL to reach the other container (FLEX-775)
  local/backend/dev.env
  local/backend/test.env
Due: none

fix: use Y-based MGA business IDs (FLEX-775)
  local/elhub/main.py
Due: none

test: add tests for the remote case + small bugfix (FLEX-775)
  db/api/controllable_unit_lookup.sql
  test/api_client_tests/test_cu_lookup.py
Due: none

Fix: compromises_safe_operation
  docs/processes/controllable-unit-suspension.md
Due: none

refactor: follow comments (FLEX-775)
  backend/data/data.go
  backend/flex.go
  backend/internal/gs1/gs1.go
  backend/internal/gs1/gs1_test.go
  backend/meteringpointdatahub/meteringpointdatahub.go
  db/api/controllable_unit_lookup.sql
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: mention the external datahub in CU lookup docs (FLEX-775)
  docs/processes/controllable-unit-lookup.md
Due: none

feat: SPG grid suspension in SPG show (FLEX-762)
  frontend/src/App.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

test: failing test (FLEX-751)
  test/api_client_tests/test_cusp.py
Due: none

fix: remove console.log (FLEX-762)
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: naming in suspension show (FLEX-762)
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: updated reasons (FLEX-762)
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat(db): implementation of a DB check on insert (FLEX-751)
  db/flex/controllable_unit_service_provider.sql
  docs/resources/controllable_unit_service_provider.md
  test/api_client_tests/test_cusp.py
Due: none

fix(db): enable notices about CU grid validation only if CU is active (FLEX-769)
  db/flex/notice.sql
Due: none

feat: addded suspension history list (FLEX-762)
  frontend/src/App.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionHistoryList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionList.tsx
  frontend/src/service_providing_group/index.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: removed package.json and lock file (FLEX-762)
  package-lock.json
  package.json
Due: none

test(backend): add a couple valid gsrns incl 0 check digit (FLEX-775)
  backend/internal/gs1/gs1_test.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(docs): process document should document the intented production process (FLEX-775)
  docs/diagrams/controllable_unit_lookup.plantuml
  docs/diagrams/controllable_unit_lookup.png
  docs/processes/controllable-unit-lookup.md
Due: check-plantuml

fix(db): enable notices about CU grid validation status only if CU is active (FLEX-769) (#331)
  db/flex/notice.sql
Due: none

fix: input fields and history (FLEX-762)
  frontend/src/App.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: notifications for SPG grid suspension (FLEX-761)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  db/flex/event_rls.sql
  docs/resources/event.md
  test/api_client_tests/test_event.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: generate frontend permissions (FLEX-762)
  frontend/src/auth/permissions.json
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
  local/scripts/permissions_to_json.py
Due: prettier, frontend-type-check, frontend-dependency-check

fix: correct trigger + also called on update (FLEX-751)
  db/flex/controllable_unit_service_provider.sql
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_cusp.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_product_application.py
Due: none

feat: end user check on CUSP create (FLEX-751) (#330)
  db/flex/controllable_unit_service_provider.sql
  docs/resources/controllable_unit_service_provider.md
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_cusp.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_product_application.py
Due: none

feat(backend): fetch data from external metering point datahub in CU lookup (FLEX-775) (#329)
  backend/data/data.go
  backend/data/models.sql
  backend/data/models/models.sql.go
  backend/flex.go
  backend/internal/gs1/gs1.go
  backend/internal/gs1/gs1_test.go
  backend/meteringpointdatahub/meteringpointdatahub.go
  backend/meteringpointdatahub/models.go
  db/api/controllable_unit_lookup.sql
  docs/diagrams/controllable_unit_lookup.plantuml
  docs/diagrams/controllable_unit_lookup.png
  docs/processes/controllable-unit-lookup.md
  local/backend/dev.env
  local/backend/test.env
  local/elhub/main.py
  test/api_client_tests/test_cu_lookup.py
Due: check-plantuml, golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: margin bottom on lists used in spg (FLEX-762)
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: add grid suspension UI (FLEX-762) (#332)
  frontend/src/App.tsx
  frontend/src/auth/permissions.json
  frontend/src/service_providing_group/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionHistoryList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/index.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  local/scripts/permissions_to_json.py
Due: prettier, frontend-type-check, frontend-dependency-check

docs: CU suspension (FLEX-741) (#322)
  docs/diagrams/controllable_unit_suspension.plantuml
  docs/diagrams/controllable_unit_suspension.png
  docs/processes/controllable-unit-suspension.md
  docs/processes/index.md
Due: check-plantuml

docs: proposition of notices for SPG grid suspension (FLEX-776)
  docs/resources/notice.md
Due: none

feat: implementation (FLEX-776)
  db/flex/notice.sql
Due: none

fix: updated assume party ux (FLEX-779)
  frontend/src/AssumePartyPage.tsx
  frontend/src/components/scopes.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
