Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

fix: AP MGA validFrom should is not nullable (FLEX-1263)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointMeteringGridAreaRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/AccountingPointMeteringGridArea.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTimezoneTest.kt
Due: none

fix: flex_internal_data should only be allowed ro read metering_grid_area data (FLEX-1263)
  db/flex/metering_grid_area_rls.sql
Due: none

feat: Sync MGA data from adapter (FLEX-1263) (#905)
  db/flex/accounting_point_metering_grid_area_rls.sql
  db/flex/metering_grid_area_rls.sql
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointMeteringGridAreaRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/meteringgridarea/db/MeteringGridAreaRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/AccountingPointMeteringGridArea.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/MeteringGridArea.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/InstantExtensions.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointMeteringGridAreaRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTimezoneTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/meteringgridarea/db/MeteringGridAreaRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/util/EicUtil.kt
Due: none

feat: use PostGIS and a map on the AP show page (FLEX-1133)
  backend/data/static/openapi.json
  db/flex/accounting_point.sql
  db/flex/accounting_point_migrations.sql
  db/test_data/test_data.sql
  docs/resources/accounting_point.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/index.tsx
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointResponseCrs.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointResponseLocation.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointResponseProperties.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/CrsType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/LocationType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/PropertiesName.kt
  local/nginx/templates/flex.conf
  local/postgres/Dockerfile
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/__init__.py
  test/flex/models/accounting_point_response.py
  test/flex/models/accounting_point_response_location_type_0.py
  test/flex/models/accounting_point_response_location_type_0_crs.py
  test/flex/models/accounting_point_response_location_type_0_crs_properties.py
  test/flex/models/accounting_point_response_location_type_0_crs_properties_name.py
  test/flex/models/accounting_point_response_location_type_0_crs_type.py
  test/flex/models/accounting_point_response_location_type_0_type.py
Due: dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

chore: remove useless change (FLEX-1133)
  backend/sqlc.yaml
Due: none

chore(deps): update dependency go to v1.26.4 [patch]
  mise.toml
Due: none

chore(deps): update local
  requirements-dev.txt
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
Due: none

fix(deps): update backend
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

added grid prequal
  docs/diagrams/service_providing_group_registration.plantuml
Due: check-plantuml

diagram and description
  docs/diagrams/service_providing_group_registration.png
  docs/processes/service-providing-group-registration.md
Due: none

feat(kbackend): Delete stale AP MGAs when syncing (FLEX-1266)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointMeteringGridAreaRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/SqlConnectionExtensions.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointMeteringGridAreaRepositoryTest.kt
Due: none

fix: performance - use per AP list when doing merge (FLEX-1266)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointMeteringGridAreaRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointMeteringGridAreaRepositoryTest.kt
Due: none

refactor: Use single merge query when updating AP MGAs (FLEX-1266)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointMeteringGridAreaRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/SqlConnectionExtensions.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointMeteringGridAreaRepositoryTest.kt
Due: none

chore: Update kdoc (FLEX-1266)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointMeteringGridAreaRepository.kt
Due: none

added end user
  docs/diagrams/controllable_unit_registration.plantuml
  docs/diagrams/controllable_unit_registration.png
Due: check-plantuml

feat(kbackend): Delete stale AP MGAs when syncing (FLEX-1266) (#909)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointMeteringGridAreaRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/SqlConnectionExtensions.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointMeteringGridAreaRepositoryTest.kt
Due: none

Adjusted diagram
  docs/diagrams/sp_cu_registration.drawio.png
Due: none

chore: 1.26.4 in mise and docker
  backend/Dockerfile
  mise.toml
Due: dockerfilelint

fix(deps): update backend (#908)
  backend/Dockerfile
  backend/go.mod
  backend/go.sum
  mise.toml
Due: dockerfilelint

chore(deps): update local (#907)
  requirements-dev.txt
Due: none

refactor(kbackend): Use single merge statement when syncing end user and energy supplier for AP
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
Due: none

feat: slightly better usermenu
  frontend/src/components/Header/UserDropdown.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: nitpick rename (FLEX-1253)
  frontend/src/components/Header/UserDropdown.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: fallback names
  frontend/src/components/Header/UserDropdown.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: handle getOne party errors in handleparty (FLEX-1253)
  frontend/src/components/Header/UserDropdown.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor(kbackend): Use single merge statement when syncing end user and energy supplier for AP (#910)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
Due: none

fix: anonymize business id for a person when used for name in entity and party (FLEX-1268)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AnonymizePersonIdTest.kt
Due: none

fix: merge partially failed (FLEX-1268)
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
Due: none

fix: anonymize party and entity name for person (FLEX-1268) (#912)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AnonymizePersonIdTest.kt
Due: none

feat: reintroduce controllable unit lookup events (FLEX-1265)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  backend/event/worker.go
  db/flex/event_migrations.sql
  db/flex/event_rls.sql
  kbackend/src/main/kotlin/no/elhub/flex/event/db/EventRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTimezoneTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/util/JwtTestUtil.kt
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: precondition true marker is just 't' (FLEX-1265)
  db/flex/event_migrations.sql
Due: none

feat: slightly better usermenu (#911)
  frontend/src/components/Header/UserDropdown.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: support for objects defined by reference in OpenAPI spec (FLEX-1133)
  backend/data/static/openapi.json
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/GeojsonPoint.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/GeojsonPointCrs.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/GeojsonPointProperties.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/GeojsonPointType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyMissingKind.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyMissingNoticeType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyMissingType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyOutdatedKind.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyOutdatedNoticeType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataPartyOutdatedType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataProductTypeNotQualifiedKind.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataProductTypeNotQualifiedNoticeType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataProductTypeNotQualifiedType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContractKind.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContractNoticeType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataValidTimeOutsideContractType.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeResponseData.kt
  local/scripts/openapi_to_db.py
  local/scripts/openapi_to_markdown.py
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/__init__.py
  test/flex/models/accounting_point_response.py
  test/flex/models/accounting_point_response_location_type_0.py
  test/flex/models/accounting_point_response_location_type_0_crs.py
  test/flex/models/accounting_point_response_location_type_0_crs_properties.py
  test/flex/models/geojson_point.py
  test/flex/models/geojson_point_crs.py
  test/flex/models/geojson_point_crs_properties.py
  test/flex/models/geojson_point_crs_properties_name.py
  test/flex/models/geojson_point_crs_type.py
  test/flex/models/geojson_point_type.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

Potential fix for pull request finding
  kbackend/src/main/kotlin/no/elhub/flex/event/db/EventRepository.kt
Due: none

docs: update-registration-guides (#875)
  docs/diagrams/sp_cu_registration.drawio.png
  docs/guides/get-ready-for-market/sp-cu-registration.md
  docs/guides/get-ready-for-market/sp-spg-registration.md
Due: none

refactor: various refactors/fixes based on comments (FLEX-1265)
  backend/event/models.sql
  kbackend/src/main/kotlin/no/elhub/flex/event/db/EventRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
Due: none

fix(deps): update frontend (#893)
  frontend/package-lock.json
  frontend/package.json
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
