Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

docs: align with current state of the PR (FLEX-964)
  docs-dev/notice.md
Due: none

fix: include typo fix from main (FLEX-964)
  db/flex/notice_fresh.sql
Due: none

feat: add new header (FLEX-978)
  frontend/public/env.js
  frontend/src/App.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/UserDropdown.tsx
  frontend/src/components/Header/header.module.css
  frontend/src/components/ui/index.ts
  frontend/src/index.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add new header (FLEX-978)
  frontend/src/components/Header/Header.tsx
  frontend/src/index.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: update to use assets (FLEX-978)
  .pre-commit-config.yaml
  frontend/index.html
  frontend/public/assets/favicon.ico
  frontend/public/assets/icon.svg
  frontend/public/assets/logo.svg
  frontend/public/assets/semantic-colors.css
  frontend/src/App.tsx
  frontend/src/LoginPage.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/UserDropdown.tsx
  frontend/src/components/ui/index.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove old way of setting theme (FLEX-978)
  frontend/src/index.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: runAlways (FLEX-964)
  db/flex/notice_fresh.sql
Due: none

feat: base image and init for pg_cron (FLEX-992)
  docker-compose.yml
  local/postgres/Dockerfile
  local/postgres/init.sql
Due: dockerfilelint

feat: pg_cron job for notice sync (FLEX-992)
  db/flex/notice_fresh.sql
Due: none

chore(deps): update dependency schemathesis to v4.9.3
  requirements-dev.txt
Due: none

chore(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update frontend (#573)
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: use static assets from public folder for logo and theme (FLEX-978) (#571)
  .pre-commit-config.yaml
  frontend/index.html
  frontend/public/assets/favicon.ico
  frontend/public/assets/icon.svg
  frontend/public/assets/logo.svg
  frontend/public/assets/semantic-colors.css
  frontend/public/env.js
  frontend/src/App.tsx
  frontend/src/LoginPage.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/UserDropdown.tsx
  frontend/src/components/Header/header.module.css
  frontend/src/components/ui/index.ts
  frontend/src/index.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: rename to static-assets (FLEX-978)
  frontend/index.html
  frontend/public/static-assets/favicon.ico
  frontend/public/static-assets/icon.svg
  frontend/public/static-assets/logo.svg
  frontend/public/static-assets/semantic-colors.css
  frontend/src/LoginPage.tsx
  frontend/src/components/Header/Header.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(db): use materialised view for fresh notices (FLEX-964)
  db/flex/notice_fresh.sql
Due: none

docs: explain dedup key construction (FLEX-964)
  docs-dev/notice.md
Due: none

docs: explain dedup key relation to e.g. reactivation (FLEX-964)
  docs-dev/notice.md
Due: none

fix: rename to static-assets (FLEX-978) (#574)
  frontend/index.html
  frontend/public/static-assets/favicon.ico
  frontend/public/static-assets/icon.svg
  frontend/public/static-assets/logo.svg
  frontend/public/static-assets/semantic-colors.css
  frontend/src/LoginPage.tsx
  frontend/src/components/Header/Header.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: only one index (FLEX-964)
  db/flex/notice.sql
Due: none

feat(db): synced persistent notices (FLEX-964) (#545)
  .gitleaksignore
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/notice.sql
  db/flex/changelog.yml
  db/flex/notice.sql
  db/flex/notice/notice_controllable_unit.sql
  db/flex/notice/notice_controllable_unit_service_provider.sql
  db/flex/notice/notice_controllable_unit_suspension.sql
  db/flex/notice/notice_party.sql
  db/flex/notice/notice_service_provider_product_application.sql
  db/flex/notice/notice_service_provider_product_suspension.sql
  db/flex/notice/notice_service_providing_group.sql
  db/flex/notice/notice_service_providing_group_grid_prequalification.sql
  db/flex/notice/notice_service_providing_group_grid_suspension.sql
  db/flex/notice/notice_service_providing_group_membership.sql
  db/flex/notice/notice_service_providing_group_product_application.sql
  db/flex/notice/notice_service_providing_group_product_suspension.sql
  db/flex/notice_fresh.sql
  db/flex/notice_history_audit.sql
  db/flex/notice_rls.sql
  docs-dev/notice.md
  local/scripts/internal_resources_to_db.py
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/notice_response.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

chore(deps): update dependency schemathesis to v4.9.3 (#572)
  requirements-dev.txt
Due: none

fix: explicity set button type on cancel button (FLEX-993)
  frontend/src/components/EDS-ra/inputs/FormToolbar.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: explicity set button type on cancel button (FLEX-993) (#575)
  frontend/src/components/EDS-ra/inputs/FormToolbar.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add edit and create button to party (FLEX-989)
  frontend/src/components/EDS-ra/buttons/CreateButton.tsx
  frontend/src/components/EDS-ra/buttons/EditButton.tsx
  frontend/src/components/EDS-ra/buttons/index.ts
  frontend/src/components/EDS-ra/list/List.tsx
  frontend/src/components/EDS-ra/show.tsx
  frontend/src/party/PartyList.tsx
  frontend/src/party/PartyShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: permissions on create (FLEX-989)
  frontend/src/party/PartyList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Update frontend/src/components/EDS-ra/show.tsx
  frontend/src/components/EDS-ra/show.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add edit and create button to party (FLEX-989) (#576)
  frontend/src/components/EDS-ra/buttons/CreateButton.tsx
  frontend/src/components/EDS-ra/buttons/EditButton.tsx
  frontend/src/components/EDS-ra/buttons/index.ts
  frontend/src/components/EDS-ra/list/List.tsx
  frontend/src/components/EDS-ra/show.tsx
  frontend/src/party/PartyList.tsx
  frontend/src/party/PartyShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: CU registration guide for SPs
  docs/diagrams/sp_cu_registration.plantuml
  docs/diagrams/sp_cu_registration.png
  docs/guides/registering-a-cu.md
Due: check-plantuml

chore(deps): update dependency schemathesis to v4.9.4
  requirements-dev.txt
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency schemathesis to v4.9.4 (#578)
  requirements-dev.txt
Due: none

docs: CU registration step-by-step
  docs/guides/get-ready-for-market.md
Due: none

Updated diagram with bid info
  docs/diagrams/delivery-verification.png
Due: none

Updated diagram with bid info
  docs/diagrams/delivery-verification.plantuml
Due: check-plantuml

docs: guide CU registration
  docs/guides/get-ready-for-market.md
Due: none

feat: base image and init for pg_cron (FLEX-992) (#581)
  docker-compose.yml
  local/postgres/Dockerfile
  local/postgres/init.sql
Due: dockerfilelint

Small changes to diagram
  docs/diagrams/delivery-verification.plantuml
  docs/diagrams/delivery-verification.png
  docs/processes/delivery-verification.md
Due: check-plantuml

Another diagram update
  docs/diagrams/delivery-verification.plantuml
  docs/processes/delivery-verification.md
Due: check-plantuml

fix(deps): update frontend (#579)
  frontend/package-lock.json
  frontend/package.json
Due: none
