Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

fix(frontend): show SP name in SP column (FLEX-1525) (#1248)
  frontend/src/dashboard/hooks/useDashboardApplications.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update minor updates [patch] (#1257)
  mise.toml
Due: none

chore(deps): update patch updates [patch] (#1253)
  mise.toml
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v2.4.4 (#1254)
  .teamcity/pom.xml
Due: none

feat: give SO access to SPGGPs in SPG where they are PSO (FLEX-1528) (#1261)
  db/flex/service_providing_group_grid_prequalification_rls.sql
  docs/resources/service_providing_group_grid_prequalification.md
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: use new layout component for party show page (FLEX-1513) (#1262)
  frontend/src/intl/text.ts
  frontend/src/party/PartyHistoryList.tsx
  frontend/src/party/PartyShow.tsx
  frontend/src/party/index.tsx
  frontend/src/party/show/EntityShow.tsx
  frontend/src/party/show/PartyShow.tsx
  frontend/src/resources/partyResources.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: ResourceShowLayout for sppa (FLEX-1514) (#1252)
  frontend/src/components/ResourceCard.tsx
  frontend/src/intl/text.ts
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationHistoryList.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationShow.tsx
  frontend/src/service_provider_product_application/show/SppaActionBar.tsx
  frontend/src/service_provider_product_application/show/SppaOverviewTab.tsx
  frontend/src/service_provider_product_application/show/SppaShowSummary.tsx
  frontend/src/service_provider_product_application/show/SppaShowTabs.tsx
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: use new layout for entity page (FLEX-1518) (#1264)
  frontend/src/components/EDS-ra/fields/IdentityField.tsx
  frontend/src/components/EDS-ra/fields/ScopesField.tsx
  frontend/src/components/ResourceShowLayout.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowTabs.tsx
  frontend/src/entity/EntityShow.tsx
  frontend/src/entity/client/EntityClientList.tsx
  frontend/src/intl/text.ts
  frontend/src/notice/NoticeShow.tsx
  frontend/src/party/show/PartyShow.tsx
  frontend/src/service_provider_product_application/show/SppaShowTabs.tsx
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqShowTabs.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: update notice with ResourceShowLayout (FLEX-1512) (#1247)
  frontend/src/intl/text.ts
  frontend/src/notice/NoticeShow.tsx
  frontend/src/notice/NoticeShowDetails.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(frontend): tooltip for SPGPA statuses on dashboard for SP and SO (FLEX-1527) (#1263)
  frontend/src/dashboard/service_provider/SpApplicationsTable.tsx
  frontend/src/dashboard/shared/dashboardTableUtils.ts
  frontend/src/dashboard/system_operator/SoApplicationsTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: use resourceshowlayout for so product type (FLEX-1519) (#1265)
  frontend/src/intl/text.ts
  frontend/src/service_provider_product_application/show/SppaOverviewTab.tsx
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeHistoryList.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove tab styling sopt and update summary order (FLEX-1519) (#1267)
  frontend/src/system_operator_product_type/SystemOperatorProductTypeShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: remove explicit usage of MUI components (FLEX-1460) (#1268)
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/LoginPage.tsx
  frontend/src/components/LabelValue.tsx
  frontend/src/components/SessionExpiryBanner.tsx
  frontend/src/components/ValidTimeTooltip.tsx
  frontend/src/components/icons/LockIcon.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderShow.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
  frontend/src/event/EventButton.tsx
  frontend/src/notification/AcknowledgeButton.tsx
  frontend/src/party/membership/PartyMembershipShow.tsx
  frontend/src/product_type/components.tsx
  frontend/src/resources/controllableUnitResources.tsx
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipShow.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
  frontend/src/theme.tsx
  frontend/src/tooltip/FieldTooltip.tsx
  frontend/vite.config.mts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: updated to tests to resource show layout (FLEX-1302)
  docs-dev/testing-frontend.md
  frontend/README.md
  frontend/e2e/__snapshots__/controllable-unit-show.spec.ts/accounting-point-location.png
  frontend/e2e/__snapshots__/controllable-unit-show.spec.ts/balance-responsible-party.png
  frontend/e2e/__snapshots__/controllable-unit-show.spec.ts/history.png
  frontend/e2e/__snapshots__/controllable-unit-show.spec.ts/more-menu.png
  frontend/e2e/__snapshots__/controllable-unit-show.spec.ts/service-provider.png
  frontend/e2e/__snapshots__/controllable-unit-show.spec.ts/service-providing-groups.png
  frontend/e2e/__snapshots__/controllable-unit-show.spec.ts/technical-resources.png
  frontend/e2e/__snapshots__/resource-show-layout.spec.ts/controllable-unit.png
  frontend/e2e/controllable-unit-show.spec.ts
  frontend/e2e/resource-show-layout.spec.ts
  frontend/playwright.config.ts
  frontend/src/components/ResourceShowLayout.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(frontend): show SPGPA controllable units as of a selected date (FLEX-1477) (#1266)
  frontend/package-lock.json
  frontend/src/components/SimpleTable.tsx
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/summaryCard/SummaryCard.tsx
  frontend/src/components/ui/timelineRangeSlider/TimelineRangeSlider.tsx
  frontend/src/components/ui/timelineSlider/TimelineRangeSlider.tsx
  frontend/src/components/ui/timelineSlider/TimelineSlider.tsx
  frontend/src/components/ui/timelineSlider/timelineMark.tsx
  frontend/src/components/ui/timelineSlider/timelineSliderParts.tsx
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupShowChangesTab.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaControllableUnitsTable.tsx
  frontend/src/service_providing_group/product_application/show/TimelineCard.tsx
  frontend/src/service_providing_group/product_application/show/timelineUtils.ts
  frontend/src/service_providing_group/product_application/show/useSpgChangesViewModel.ts
  frontend/src/service_providing_group/product_application/show/useSpgpaControllableUnits.test.tsx
  frontend/src/service_providing_group/product_application/show/useSpgpaControllableUnits.ts
  frontend/src/service_providing_group/shared/useSpgMemberControllableUnits.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: finding from pentest, don't let entity clients unassume (FLEX-1541)
  backend/auth/auth.go
  backend/auth/models/models.go
  db/auth/functions.sql
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: rename function (FLEX-1541)
  backend/auth/auth.go
  backend/auth/models/models.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

Change SQL query to check client status
  backend/auth/models/models.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore: updated masking (FLEX-1302)
  frontend/e2e/__snapshots__/resource-show-layout.spec.ts/controllable-unit.png
  frontend/e2e/resource-show-layout.spec.ts
  frontend/src/components/ResourceShowLayout.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: update docs (FLEX-1302)
  frontend/playwright.config.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: update docs (FLEX-1302)
  docs-dev/testing-frontend.md
Due: none

feat(frontend): CU filters for BRP and Small (is_small) (FLEX-1553)
  frontend/src/App.tsx
  frontend/src/components/EDS-ra/inputs/ArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/PartyReferenceArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/index.ts
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/controllableUnitFilter.ts
  frontend/src/dataProvider.ts
  frontend/src/httpConfig.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): limit BRP filter to roles that have access to this relation (FLEX-1553)
  frontend/src/controllable_unit/ControllableUnitList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: updated docs and screenshot (FLEX-1302)
  docs-dev/testing-frontend.md
  frontend/e2e/__snapshots__/resource-show-layout.spec.ts/controllable-unit.png
  frontend/e2e/resource-show-layout.spec.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove client credentials from logic and docs (FLEX-1545)
  backend/auth/auth.go
  backend/auth/iplogindelayer.go
  backend/auth/models/models.go
  backend/auth/static/openapi.json
  backend/data/static/openapi.json
  docs/auth/authn-methods.md
  docs/diagrams/login_sequence.plantuml
  docs/diagrams/resources.plantuml
  docs/resources/entity_client.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EntityClientCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EntityClientResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EntityClientUpdateRequest.kt
  openapi/openapi-api-no-default.json
  openapi/openapi-auth.yml
  openapi/resources.yml
  test/flex/api/entity_client/create_entity_client.py
  test/flex/api/entity_client/update_entity_client.py
  test/flex/models/entity_client_create_request.py
  test/flex/models/entity_client_response.py
  test/flex/models/entity_client_update_request.py
Due: check-plantuml, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix(frontend): keep manage members footer pinned to bottom of viewport (FLEX-1554)
  frontend/src/service_providing_group/input/ServiceProvidingGroupManageMembers.tsx
  frontend/src/service_providing_group/membership/SelectionFooter.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
