Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

feat: add history and event links to SPGPA show tabs (FLEX-1123)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/service_providing_group/product_application/show/SpgpaActionBar.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: edsify history lists (FLEX-1123)
  frontend/src/service_providing_group/ServiceProvidingGroupHistoryList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: format (FLEX-1123)
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaActionBar.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): SPG PA v2 (FLEX-1123) (#742)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ShowPageLayout.tsx
  frontend/src/hooks/party.ts
  frontend/src/product_type/components.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupHistoryList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaActionBar.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
  frontend/src/service_providing_group/product_application/show/spgpaStatus.ts
  frontend/src/service_providing_group/product_application/show/useSpgpaShowViewModel.ts
  frontend/src/service_providing_group/serviceProvidingGroupStatus.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(test): make tests great again w/ kbackend reverse-proxying
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  local/accounting-point/main.py
  test/api_client_tests/test_party.py
Due: none

fix: fixes based on comments
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  local/accounting-point/main.py
Due: none

docs: comment
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
Due: none

feat(ui): show price area and BRP on CU list/show (FLEX-1087) (#724)
  frontend/package-lock.json
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
  frontend/src/resources/accountingPointResources.tsx
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: update field description (FLEX-1111)
  backend/data/static/openapi.json
  docs/resources/service_providing_group_product_application.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationUpdateRequest.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: split SPGPA maximum active power into 2 fields (up/down) (FLEX-1111) (#741)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
  db/test_data/test_data.sql
  docs/resources/service_providing_group_product_application.md
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/client/client.gen.ts
  frontend/src/generated-client/core/bodySerializer.gen.ts
  frontend/src/generated-client/core/params.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationUpdateRequest.kt
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_spg_product_application.py
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

chore(deps): update dependency pytest to v9.0.3 [security]
  requirements-dev.txt
Due: none

chore(deps): update dependency schemathesis to v4.15.1
  requirements-dev.txt
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.72.3
  .teamcity/pom.xml
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update frontend to v9
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: define mRID and Nemo basics (FLEX-1084)
  docs/technical/accounting-point-grid-location.md
Due: none

fix: avoid igm - use full name (FLEX-1084)
  docs/diagrams/grid-model-data-flow.drawio.png
Due: none

docs: accounting point location (FLEX-1084) (#740)
  docs/diagrams/grid-location-ui.drawio.png
  docs/diagrams/grid-model-data-flow.drawio.png
  docs/diagrams/nemo-display.png
  docs/technical/accounting-point-grid-location.md
Due: none

fix: corrections based on comments
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
Due: none

fix: remove impossible error
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
Due: none

feat: add useSpgpaComments React Query hook (FLEX-1123)
  frontend/src/service_providing_group/product_application/show/useSpgpaComments.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add CommentBubble component (FLEX-1123)
  frontend/src/components/CommentBubble.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: correct entityId comparison and query key in useSpgpaComments (FLEX-1123)
  frontend/src/service_providing_group/product_application/show/useSpgpaComments.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: only show separator dot when authorParty is present in CommentBubble (FLEX-1123)
  frontend/src/components/CommentBubble.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add SpgpaCommentFeed wrapper (FLEX-1123)
  frontend/src/service_providing_group/product_application/show/SpgpaCommentFeed.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add CommentFeed component (FLEX-1123)
  frontend/src/components/CommentFeed.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: replace CommentList with chat-style SpgpaCommentFeed (FLEX-1123)
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: move CommentRow types to shared file, show post error in CommentFeed (FLEX-1123)
  frontend/src/components/CommentBubble.tsx
  frontend/src/components/CommentFeed.tsx
  frontend/src/components/commentTypes.ts
  frontend/src/service_providing_group/product_application/show/useSpgpaComments.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: AI review (FLEX-1123)
  frontend/src/components/CommentBubble.tsx
  frontend/src/components/CommentFeed.tsx
  frontend/src/components/ShowPageLayout.tsx
  frontend/src/components/commentTypes.ts
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
  frontend/src/service_providing_group/product_application/show/useSpgpaComments.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: audit (FLEX-1123)
  frontend/package-lock.json
Due: none

fix: docs
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
Due: none

fix(test): make tests great again w/ kbackend reverse-proxying (#747)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  local/accounting-point/main.py
  test/api_client_tests/test_party.py
Due: none

Potential fix for pull request finding
  frontend/src/components/CommentFeed.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.72.3 (#749)
  .teamcity/pom.xml
Due: none

chore(deps): update dependency schemathesis to v4.15.1 (#735)
  requirements-dev.txt
Due: none

feat: add route registry core types and buildPath helper
  frontend/src/routes/helpers.ts
  frontend/src/routes/types.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add controllable_unit route definitions
  frontend/src/routes/index.ts
  frontend/src/routes/routeDefs.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add useTypedParams, useTypedLocationState, useTypedNavigate hooks
  frontend/src/routes/hooks.ts
  frontend/src/routes/index.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add TypedLink component
  frontend/src/routes/TypedLink.tsx
  frontend/src/routes/index.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check
