Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

fix: use create schema for form validation (FLEX-932)
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/entity/EntityInput.tsx
  frontend/src/entity/client/EntityClientInput.tsx
  frontend/src/party/PartyInput.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionInput.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupInput.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationInput.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionInput.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: audit fix (FLEX-932)
  frontend/package-lock.json
Due: none

fix: remove comment and fix parsing in technical resource input (FLEX-932)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  local/scripts/template_to_openapi.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: license and attribution review
  LICENSE-MIT
  README.md
  docs/index.md
Due: none

Revert "fix: update imports in tests (FLEX-932)"
  test/api_client_tests/test_accounting_point.py
  test/api_client_tests/test_accounting_point_balance_responsible_party.py
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_cu_lookup.py
  test/api_client_tests/test_cu_suspension.py
  test/api_client_tests/test_cus_comment.py
  test/api_client_tests/test_cusp.py
  test/api_client_tests/test_entity.py
  test/api_client_tests/test_entity_client.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_identity.py
  test/api_client_tests/test_party.py
  test/api_client_tests/test_party_membership.py
  test/api_client_tests/test_product_type.py
  test/api_client_tests/test_service_provider_product_application.py
  test/api_client_tests/test_service_provider_product_suspension.py
  test/api_client_tests/test_spg.py
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_grid_suspension.py
  test/api_client_tests/test_spg_membership.py
  test/api_client_tests/test_spg_product_application.py
  test/api_client_tests/test_spg_product_suspension.py
  test/api_client_tests/test_spggp_comment.py
  test/api_client_tests/test_spggs_comment.py
  test/api_client_tests/test_spgps_comment.py
  test/api_client_tests/test_sppa_comment.py
  test/api_client_tests/test_spps_comment.py
  test/api_client_tests/test_system_operator_product_type.py
  test/api_client_tests/test_technical_resource.py
  test/auth_tests/test_scopes.py
  test/auth_tests/test_token_exchange.py
  test/security_token_service.py
Due: none

fix: remove some parameters (FLEX-932)
  test/api_client_tests/test_accounting_point_balance_responsible_party.py
  test/api_client_tests/test_entity_client.py
Due: none

chore: license and attribution review (#527)
  LICENSE-MIT
  README.md
  docs/index.md
Due: none

fix: add why comment to hack (FLEX-932)
  local/scripts/template_to_openapi.py
Due: none

feat: expose accounting point bidding zone in the API (FLEX-912)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/accounting_point_bidding_zone.sql
  db/api/grants/field_level_authorization.sql
  db/flex/grants/field_level_authorization.sql
  docs/diagrams/resources.plantuml
  docs/resources/accounting_point_bidding_zone.md
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/sdk.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/accounting_point_bidding_zone/__init__.py
  test/flex/api/accounting_point_bidding_zone/list_accounting_point_bidding_zone.py
  test/flex/models/__init__.py
  test/flex/models/accounting_point_bidding_zone.py
  test/flex/models/accounting_point_bidding_zone_bidding_zone.py
  test/flex/models/accounting_point_bidding_zone_response.py
  test/flex/models/accounting_point_bidding_zone_update_request.py
  test/flex/models/list_accounting_point_bidding_zone_prefer.py
Due: check-plantuml, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat: expose accounting point end user in the API (FLEX-912)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/accounting_point_end_user.sql
  db/api/grants/field_level_authorization.sql
  db/flex/grants/field_level_authorization.sql
  docs/diagrams/resources.plantuml
  docs/resources/accounting_point_end_user.md
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/sdk.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/accounting_point_end_user/__init__.py
  test/flex/api/accounting_point_end_user/list_accounting_point_end_user.py
  test/flex/models/__init__.py
  test/flex/models/accounting_point_end_user.py
  test/flex/models/accounting_point_end_user_response.py
  test/flex/models/accounting_point_end_user_update_request.py
  test/flex/models/list_accounting_point_end_user_prefer.py
Due: check-plantuml, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

docs: update docs to new openapi structure (FLEX-932)
  docs/diagrams/openapi-schemas-no-create.drawio.png
  docs/diagrams/openapi-schemas.drawio.png
  docs/technical/openapi-schemas.md
Due: none

feat: expose accounting point metering grid area in the API (FLEX-912)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  db/flex/grants/field_level_authorization.sql
  docs/diagrams/resources.plantuml
  docs/resources/accounting_point_metering_grid_area.md
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/sdk.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/accounting_point_metering_grid_area/__init__.py
  test/flex/api/accounting_point_metering_grid_area/list_accounting_point_metering_grid_area.py
  test/flex/models/__init__.py
  test/flex/models/accounting_point_metering_grid_area.py
  test/flex/models/accounting_point_metering_grid_area_response.py
  test/flex/models/accounting_point_metering_grid_area_update_request.py
  test/flex/models/list_accounting_point_metering_grid_area_prefer.py
Due: check-plantuml, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat: open new views to FISO only for now (FLEX-912)
  db/api/accounting_point_bidding_zone.sql
  db/api/accounting_point_metering_grid_area.sql
  docs/resources/accounting_point_bidding_zone.md
  docs/resources/accounting_point_end_user.md
  docs/resources/accounting_point_metering_grid_area.md
  openapi/resources.yml
Due: none

feat: add API endpoints (FLEX-912)
  backend/data/data.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat(ui): accounting point list and show pages (FLEX-912)
  frontend/src/accounting_point/AccountingPointList.tsx
  frontend/src/accounting_point/AccountingPointShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: typescript errors (FLEX-932)
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update dependency zod to v4.3.5 [patch]
  frontend/package-lock.json
Due: none

chore(deps): update dependency @hey-api/openapi-ts to v0.90.1 [patch]
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update dependency zod to v4.3.5 [patch] (#529)
  LICENSE-MIT
  README.md
  docs/index.md
  frontend/package-lock.json
Due: none

chore(deps): update dependency @hey-api/openapi-ts to v0.90.1 [patch] (#530)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: PR comments (FLEX-932)
  docs/diagrams/openapi-schemas-no-create.drawio.png
  docs/diagrams/openapi-schemas.drawio.png
  justfile
  local/scripts/template_to_openapi.py
Due: none

chore: regenerate after script updates (FLEX-932)
  backend/data/static/openapi.json
  frontend/openapi-ts.config.ts
  openapi/openapi-api-no-default.json
  test/flex/models/accounting_point_balance_responsible_party_response.py
  test/flex/models/accounting_point_energy_supplier_response.py
  test/flex/models/accounting_point_response.py
  test/flex/models/controllable_unit_response.py
  test/flex/models/controllable_unit_service_provider_response.py
  test/flex/models/controllable_unit_suspension_comment_response.py
  test/flex/models/controllable_unit_suspension_response.py
  test/flex/models/entity_client_response.py
  test/flex/models/entity_response.py
  test/flex/models/event_response.py
  test/flex/models/identity_response.py
  test/flex/models/notice_data_party_missing.py
  test/flex/models/notice_data_party_outdated.py
  test/flex/models/notice_response.py
  test/flex/models/notification_response.py
  test/flex/models/party_membership_response.py
  test/flex/models/party_response.py
  test/flex/models/product_type_response.py
  test/flex/models/service_provider_product_application_comment_response.py
  test/flex/models/service_provider_product_application_response.py
  test/flex/models/service_provider_product_suspension_comment_response.py
  test/flex/models/service_provider_product_suspension_response.py
  test/flex/models/service_providing_group_grid_prequalification_comment_response.py
  test/flex/models/service_providing_group_grid_prequalification_response.py
  test/flex/models/service_providing_group_grid_suspension_comment_response.py
  test/flex/models/service_providing_group_grid_suspension_response.py
  test/flex/models/service_providing_group_membership_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_suspension_comment_response.py
  test/flex/models/service_providing_group_product_suspension_response.py
  test/flex/models/service_providing_group_response.py
  test/flex/models/system_operator_product_type_response.py
  test/flex/models/technical_resource_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: page naming (FLEX-879)
  frontend/src/App.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): more human-readable product type registration (FLEX-879) (#524)
  frontend/src/App.tsx
  frontend/src/product_type/components.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeList.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: open MGA resource to the API (FLEX-912)
  backend/api.sql
  backend/data/data.go
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  db/api/metering_grid_area.sql
  db/flex/grants/field_level_authorization.sql
  db/flex/metering_grid_area_rls.sql
  docs/diagrams/resources.plantuml
  docs/resources/metering_grid_area.md
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/sdk.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/metering_grid_area/__init__.py
  test/flex/api/metering_grid_area/list_metering_grid_area.py
  test/flex/api/metering_grid_area/read_metering_grid_area.py
  test/flex/models/__init__.py
  test/flex/models/metering_grid_area_price_area.py
  test/flex/models/metering_grid_area_response.py
Due: check-plantuml, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

test: checks for MGA + AP-MGA (FLEX-912)
  test/api_client_tests/test_accounting_point_metering_grid_area.py
  test/api_client_tests/test_metering_grid_area.py
Due: none

test: checks for AP-BZ and AP-EU (FLEX-912)
  test/api_client_tests/test_accounting_point_bidding_zone.py
  test/api_client_tests/test_accounting_point_end_user.py
Due: none

chore: changes due to update in client generator (FLEX-912)
  test/flex/api/accounting_point_bidding_zone/list_accounting_point_bidding_zone.py
  test/flex/api/accounting_point_end_user/list_accounting_point_end_user.py
  test/flex/api/accounting_point_metering_grid_area/list_accounting_point_metering_grid_area.py
  test/flex/models/accounting_point_bidding_zone.py
  test/flex/models/accounting_point_bidding_zone_response.py
  test/flex/models/accounting_point_bidding_zone_update_request.py
  test/flex/models/accounting_point_end_user.py
  test/flex/models/accounting_point_end_user_response.py
  test/flex/models/accounting_point_end_user_update_request.py
  test/flex/models/accounting_point_metering_grid_area.py
  test/flex/models/accounting_point_metering_grid_area_response.py
  test/flex/models/accounting_point_metering_grid_area_update_request.py
  test/flex/models/list_accounting_point_bidding_zone_prefer.py
  test/flex/models/list_accounting_point_end_user_prefer.py
  test/flex/models/list_accounting_point_metering_grid_area_prefer.py
Due: none

feat(ui): show AP list page in app menu (FLEX-912)
  frontend/src/App.tsx
  frontend/src/resources/index.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): get the new data to show (FLEX-912)
  frontend/src/accounting_point/AccountingPointList.tsx
  frontend/src/accounting_point/AccountingPointShow.tsx
  frontend/src/resources/accountingPointResources.tsx
  frontend/src/resources/index.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: ENT sees no page, COM sees page but no details (FLEX-912)
  frontend/src/accounting_point/AccountingPointShow.tsx
  frontend/src/resources/accountingPointResources.tsx
  frontend/src/resources/index.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: no caps in label (FLEX-912)
  frontend/src/intl/field-labels.ts
  openapi/resources.yml
Due: eslint, frontend-type-check, frontend-dependency-check

Update frontend/src/accounting_point/AccountingPointShow.tsx
  frontend/src/accounting_point/AccountingPointShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
