Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix: update frontend to conditional render / validate ramping_description field based on product type (FLEX-1349)
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: update frontend to conditional render / validate ramping_description field based on product type (FLEX-1349)
  frontend/package-lock.json
Due: none

Revert "fix: update frontend to conditional render / validate ramping_description field based on product type (FLEX-1349)"
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): show product type names and MAP (up/down) in SPGPA list (FLEX-1352) (#1055)
  frontend/src/components/ProductTypeArrayField.tsx
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/product_type/components.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionList.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionShow.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowProductApplicationsTable.tsx
  frontend/src/service_providing_group/show/useSpgProductApplications.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Revert "feat: only show ramping description for mfrr in fronted (FLEX-1349)"
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: pr comments (FLEX-1349)
  db/flex/service_providing_group_product_application_migrations.sql
  test/api_client_tests/test_spg_product_application.py
Due: none

fix: add nullif (FLEX-1349)
  db/flex/service_providing_group_product_application_migrations.sql
Due: none

fix: partydropdown should only list relevant parties by checking party_entity_id and memberships (FLEX-1291) (#1044)
  db/test_data/test_data.sql
  frontend/src/entity/client/EntityClientInput.tsx
  frontend/src/httpConfig.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove constraint and ensure that ramping capability and ramping description is only checked for mFRR (FLEX-1349) (#1057)
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
  docs/resources/service_providing_group_product_application.md
  test/api_client_tests/test_spg_product_application.py
Due: none

feat: validate that CU flexible power <= 80% of TRs maximum active power (FLEX-1367)
  backend/data/static/openapi.json
  backend/grid/static/openapi.json
  db/flex/service_providing_group_membership.sql
  db/test_data/test_data.sql
  docs/resources/service_providing_group_membership.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipResponse.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group_membership_create_request.py
  test/flex/models/service_providing_group_membership_history_response.py
  test/flex/models/service_providing_group_membership_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: explicitly use mise jsonschema for validating openapi files. conflicting versions between venv and mise (FLEX-1367)
  justfile
  pyproject.toml
  uv.lock
Due: none

chore: update package-lock (FLEX-1367)
  frontend/package-lock.json
Due: none

feat(ui): temporary banner when coming close to session expiry (FLEX-1350)
  frontend/src/App.tsx
  frontend/src/components/SessionExpiryBanner.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: npm audit fix (FLEX-1350)
  frontend/package-lock.json
Due: none

feat(ui): create spg product application only for active spg (FLEX-1363)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowProductApplicationsTable.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: increase timeout for adapter call (FLEX-1344)
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
Due: none

chore: increase timeout for adapter call (FLEX-1344) (#1061)
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
Due: none

feat(ui): temporary banner when coming close to session expiry (FLEX-1350) (#1060)
  frontend/src/App.tsx
  frontend/src/components/SessionExpiryBanner.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: docs must match application logic flex-1349
  backend/data/static/openapi.json
  backend/grid/static/openapi.json
  docs/resources/service_providing_group_product_application.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationUpdateRequest.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

Potential fix for pull request finding
  test/flex/models/service_providing_group_product_application_update_request.py
Due: none

Potential fix for pull request finding
  test/flex/models/service_providing_group_product_application_create_request.py
Due: none

Potential fix for pull request finding
  test/flex/models/service_providing_group_product_application_history_response.py
Due: none

fix: comment on abbreviation
  backend/data/static/openapi.json
  docs/resources/service_providing_group_product_application.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationUpdateRequest.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: merge gone wrong
  test/flex/models/service_providing_group_product_application_history_response.py
Due: none

fix: merge gone wrong#2
  test/flex/models/service_providing_group_product_application_create_request.py
Due: none

fix: merge gone wrong#3
  test/flex/models/service_providing_group_product_application_update_request.py
Due: none

fix: docs must match application logic flex-1349 (#1062)
  backend/data/static/openapi.json
  backend/grid/static/openapi.json
  docs/resources/service_providing_group_product_application.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationUpdateRequest.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat(ui): create spg product application only for active spg (FLEX-1363) (#1063)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowProductApplicationsTable.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): info alert about sppa in spgpa create (FLEX-1373)
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(frontend): disable CUs where flexible power > 80% of TRs maxium active power (FLEX-1367)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/membership/ManageMembersPanel.tsx
  frontend/src/service_providing_group/membership/useAddMembersState.ts
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(test): adjust test data to match requirement of flexible power not exceeding 80% of rated power (FLEX-1367)
  test/api_client_tests/test_accounting_point.py
  test/api_client_tests/test_accounting_point_grid_location.py
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_cu_suspension.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_spg.py
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_grid_suspension.py
  test/api_client_tests/test_spg_membership.py
  test/api_client_tests/test_spg_power_per_substation.py
  test/api_client_tests/test_spg_product_application.py
  test/api_client_tests/test_spg_product_suspension.py
  test/api_client_tests/test_spg_summary.py
  test/api_client_tests/test_spggs_comment.py
  test/api_client_tests/test_spgpa_attachment.py
  test/api_client_tests/test_spgps_comment.py
Due: none

test: verify that spg membership fails if flexible power exceeds 80% of TRs maximum active power (FLEX-1367)
  test/api_client_tests/test_spg_membership.py
Due: none

chore(frontend): remove duplicate TextKey (FLEX-1367)
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: validate that CU flexible power <= 80% of TRs maximum active power when adding to SPG (FLEX-1367) (#1064)
  backend/data/static/openapi.json
  db/flex/service_providing_group_membership.sql
  db/test_data/test_data.sql
  docs/resources/service_providing_group_membership.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/membership/ManageMembersPanel.tsx
  frontend/src/service_providing_group/membership/useAddMembersState.ts
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
  frontend/src/tooltip/tooltips.ts
  justfile
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipResponse.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  pyproject.toml
  test/api_client_tests/test_accounting_point.py
  test/api_client_tests/test_accounting_point_grid_location.py
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_cu_suspension.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_spg.py
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_grid_suspension.py
  test/api_client_tests/test_spg_membership.py
  test/api_client_tests/test_spg_power_per_substation.py
  test/api_client_tests/test_spg_product_application.py
  test/api_client_tests/test_spg_product_suspension.py
  test/api_client_tests/test_spg_summary.py
  test/api_client_tests/test_spggs_comment.py
  test/api_client_tests/test_spgpa_attachment.py
  test/api_client_tests/test_spgps_comment.py
  test/flex/models/service_providing_group_membership_create_request.py
  test/flex/models/service_providing_group_membership_history_response.py
  test/flex/models/service_providing_group_membership_response.py
  uv.lock
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: update error message for spgpa sp not qualified (FLEX-1373)
  db/flex/service_providing_group_product_application_migrations.sql
Due: none

fix: only show alert on create
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: threshold of flexible power vs maximum active power changed from 80% to 100% (FLEX-1367)
  backend/data/static/openapi.json
  db/flex/service_providing_group_membership.sql
  docs/resources/service_providing_group_membership.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipResponse.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_spg_membership.py
  test/flex/models/service_providing_group_membership_create_request.py
  test/flex/models/service_providing_group_membership_history_response.py
  test/flex/models/service_providing_group_membership_response.py
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

chore: fix comment (FLEX-1367)
  db/flex/service_providing_group_membership.sql
Due: none

fix: threshold of flexible power vs maximum active power changed from 80% to 100% (FLEX-1367) (#1066)
  backend/data/static/openapi.json
  db/flex/service_providing_group_membership.sql
  docs/resources/service_providing_group_membership.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipResponse.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_spg_membership.py
  test/flex/models/service_providing_group_membership_create_request.py
  test/flex/models/service_providing_group_membership_history_response.py
  test/flex/models/service_providing_group_membership_response.py
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: filter on active status for spa and spgpa flex-1371
  backend/data/static/openapi.json
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/product_type/components.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/system_operator_product_type/list_system_operator_product_type.py
  test/flex/api/system_operator_product_type/list_system_operator_product_type_history.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi
