Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

refactor: split SO/SP RLS into 2 cases according to visibility (FLEX-793)
  db/flex/service_providing_group_grid_suspension_comment_rls.sql
Due: none

feat: access to history based on latest visibility (FLEX-793)
  db/flex/service_providing_group_grid_suspension_comment_rls.sql
  test/api_client_tests/test_spggs_comment.py
Due: none

chore: upgrade frontend packages (FLEX-780) (#340)
  docs/diagrams/service_providing_group_product_suspension.plantuml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/comments.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/entity/client/EntityClientList.tsx
  frontend/src/party/PartyInput.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationInput.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipInput.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
Due: check-plantuml, prettier, frontend-type-check, frontend-dependency-check

refactor: take comments into account (FLEX-793)
  db/flex/service_providing_group_grid_suspension_comment_rls.sql
Due: none

refactor(db): identify involved parties from external view (FLEX-793)
  db/flex/changelog.yml
  db/flex/service_providing_group_grid_suspension_comment_rls.sql
  db/flex/service_providing_group_grid_suspension_involved_parties.sql
Due: none

feat(renovate): gomodUpdateImportPaths
  .github/renovate.json
Due: none

docs: mention latest visibility in resource docs (FLEX-793)
  docs/resources/service_providing_group_grid_suspension_comment.md
Due: none

fix: grants on new view (FLEX-793)
  db/flex/service_providing_group_grid_suspension_involved_parties.sql
Due: none

feat(renovate): gomodUpdateImportPaths (#362)
  .github/renovate.json
Due: none

fix: qa response (FLEX-779)
  frontend/src/AssumePartyPage.tsx
  frontend/src/theme.tsx
  frontend/theme.d.ts
Due: prettier, frontend-type-check, frontend-dependency-check

refactor: use long resource name in involved parties view (FLEX-793)
  db/flex/service_providing_group_grid_suspension_comment_rls.sql
  db/flex/service_providing_group_grid_suspension_involved_parties.sql
Due: none

fix: en of files error (FLEX-779)
  docs/diagrams/service_providing_group_product_suspension.plantuml
Due: check-plantuml

fix: removed row click (FLEX-779)
  frontend/src/AssumePartyPage.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

docs: decribed concepts (FLEX-763)
  docs/concepts/index.md
Due: none

fix: security definer view (FLEX-793)
  db/flex/service_providing_group_grid_suspension_involved_parties.sql
Due: none

fix: updated assume party ux (FLEX-779) (#335)
  frontend/src/AssumePartyPage.tsx
  frontend/src/components/scopes.tsx
  frontend/src/theme.tsx
  frontend/tsconfig.json
Due: prettier, frontend-type-check, frontend-dependency-check

refactor: rename policies based on visibilities (FLEX-793)
  db/flex/service_providing_group_grid_suspension_comment_rls.sql
Due: none

refactor: rename function (FLEX-793)
  db/flex/service_providing_group_grid_suspension_comment_rls.sql
Due: none

refactor: s/flex_common/SP and SO (FLEX-793)
  db/flex/service_providing_group_grid_suspension_comment_rls.sql
Due: none

refactor: involved parties is now (id, party_id) pairs (FLEX-793)
  db/flex/service_providing_group_grid_suspension_comment_rls.sql
  db/flex/service_providing_group_grid_suspension_involved_parties.sql
Due: none

fix: added org number and human readable display names (FLEX-782)
  frontend/src/party/PartyInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

docs: changelog (FLEX-793)
  docs/changelog.md
Due: none

fix(backend): backoff using v5 interface (V4-5)
  backend/flex.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: describe concepts update
  docs/concepts/index.md
Due: none

feat: generate RLS policies for comment resources (FLEX-808)
  local/scripts/openapi_to_db.py
  local/scripts/templates/comment_resource.j2.yml
  local/scripts/templates/comment_rls.j2.sql
Due: none

fix: update dependencies in useEffect for business ID type input (lint error) (FLEX-782)
  frontend/src/party/PartyInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

docs: decribed concepts (FLEX-763) (#363)
  docs/concepts/index.md
Due: none

refactor: apply generation to comments on suspension resources (FLEX-808)
  db/flex/changelog.yml
  db/flex/service_provider_product_suspension_comment_rls.sql
  db/flex/service_provider_product_suspension_involved_parties.sql
  db/flex/service_providing_group_grid_suspension_comment_rls.sql
  docs/resources/service_provider_product_suspension_comment.md
Due: none

fix: function input variable name should not be a field (FLEX-808)
  db/flex/service_provider_product_suspension_comment_rls.sql
  db/flex/service_providing_group_grid_suspension_comment_rls.sql
  local/scripts/templates/comment_rls.j2.sql
  test/api_client_tests/test_spps_comment.py
Due: none

refactor: apply generation to SP product application (FLEX-808)
  db/flex/changelog.yml
  db/flex/service_provider_product_application_comment_history_audit.sql
  db/flex/service_provider_product_application_comment_rls.sql
  db/flex/service_provider_product_application_involved_parties.sql
  docs/resources/service_provider_product_application_comment.md
  test/api_client_tests/test_sppa_comment.py
Due: none

fix: rename parameter in latest visibility function for SPGGSC (FLEX-808)
  db/flex/service_providing_group_grid_suspension_comment_rls.sql
Due: none

fix(ui): made bradcrumbs behaviour more intuitive (FLEX-777)
  frontend/src/components/Breadcrumbs.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: rename parameter in latest visibility function for SPGGSC (FLEX-808) (#366)
  db/flex/service_providing_group_grid_suspension_comment_rls.sql
Due: none

fix: cleaned up the code (FLEX-777)
  frontend/src/components/Breadcrumbs.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: small refactor (FLEX-777)
  frontend/src/components/Breadcrumbs.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

docs: describe guides
  docs/guides/index.md
Due: none

refactor: simpler unnest-based queries for involved parties (FLEX-808)
  db/flex/service_provider_product_application_involved_parties.sql
  db/flex/service_provider_product_suspension_involved_parties.sql
  db/flex/service_providing_group_grid_suspension_involved_parties.sql
Due: none
