Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency schemathesis to v4.9.1 (#561)
  requirements-dev.txt
Due: none

docs: describe ideas around bidding zones and trade areas (#560)
  docs/concepts/conceptual-model.md
  docs/concepts/grid-model.md
  docs/diagrams/grid_area_definition.drawio.png
Due: none

fix(deps): update frontend (#562)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(docs): broken links
  docs/technical/auth/authn-methods.md
  docs/technical/auth/authn-model.md
  docs/technical/auth/authz-model.md
  docs/technical/auth/index.md
  docs/technical/auth/users-management.md
Due: none

fix(docs): broken links (#563)
  docs/technical/auth/authn-methods.md
  docs/technical/auth/authn-model.md
  docs/technical/auth/authz-model.md
  docs/technical/auth/index.md
  docs/technical/auth/users-management.md
Due: none

Deployed 53df32dc with MkDocs version: 1.6.1
  download/accounting_point.docx
  download/accounting_point_balance_responsible_party.docx
  download/accounting_point_bidding_zone.docx
  download/accounting_point_end_user.docx
  download/accounting_point_energy_supplier.docx
  download/accounting_point_metering_grid_area.docx
  download/controllable_unit.docx
  download/controllable_unit_service_provider.docx
  download/controllable_unit_suspension.docx
  download/controllable_unit_suspension_comment.docx
  download/entity.docx
  download/entity_client.docx
  download/event.docx
  download/identity.docx
  download/metering_grid_area.docx
  download/notice.docx
  download/notification.docx
  download/party.docx
  download/party_membership.docx
  download/product_type.docx
  download/service_provider_product_application.docx
  download/service_provider_product_application_comment.docx
  download/service_provider_product_suspension.docx
  download/service_provider_product_suspension_comment.docx
  download/service_providing_group.docx
  download/service_providing_group_grid_prequalification.docx
  download/service_providing_group_grid_prequalification_comment.docx
  download/service_providing_group_grid_suspension.docx
  download/service_providing_group_grid_suspension_comment.docx
  download/service_providing_group_membership.docx
  download/service_providing_group_product_application.docx
  download/service_providing_group_product_suspension.docx
  download/service_providing_group_product_suspension_comment.docx
  download/system_operator_product_type.docx
  download/technical_resource.docx
  technical/auth/authn-methods/index.html
  technical/auth/authn-model/index.html
  technical/auth/authz-model/index.html
  technical/auth/index.html
  technical/auth/users-management/index.html
Due: prettier

Specifies time series
  docs/diagrams/delivery-verification.plantuml
  docs/diagrams/delivery-verification.png
  docs/processes/delivery-verification.md
Due: check-plantuml

refactor: new fields after design (FLEX-964)
  db/flex/notice.sql
Due: none

feat: internal notice table history (FLEX-964)
  db/flex/notice_history_audit.sql
  local/scripts/internal_resources_to_db.py
Due: none

feat: add confirmation dialog on deletebutton (FLEX-982)
  frontend/src/components/ConfirmAction.tsx
  frontend/src/components/EDS-ra/buttons/DeleteButton.tsx
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/components/ui/index.ts
  frontend/src/party/membership/PartyMembershipList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(db): notice sync function (FLEX-964)
  db/flex/notice_fresh.sql
Due: none

fix: make all notice types ltrees in the views (FLEX-964)
  db/flex/notice/notice_controllable_unit.sql
  db/flex/notice/notice_controllable_unit_service_provider.sql
  db/flex/notice/notice_controllable_unit_suspension.sql
  db/flex/notice/notice_party.sql
  db/flex/notice/notice_service_provider_product_application.sql
  db/flex/notice/notice_service_provider_product_suspension.sql
  db/flex/notice/notice_service_providing_group.sql
  db/flex/notice/notice_service_providing_group_grid_prequalification.sql
  db/flex/notice/notice_service_providing_group_grid_suspension.sql
  db/flex/notice/notice_service_providing_group_membership.sql
  db/flex/notice/notice_service_providing_group_product_application.sql
  db/flex/notice/notice_service_providing_group_product_suspension.sql
Due: none

feat(db): rewrite notice sync as CTE and schedule it in pg_cron (FLEX-964)
  db/flex/notice.sql
  db/flex/notice_fresh.sql
  docker-compose.yml
  local/postgres/Dockerfile
  local/postgres/init.sql
Due: dockerfilelint

fix: make frontend compile (FLEX-964)
  db/flex/notice.sql
  frontend/src/product_type/components.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Updates after refinement meeting
  docs/diagrams/delivery-verification.plantuml
  docs/diagrams/delivery-verification.png
  docs/processes/delivery-verification.md
Due: check-plantuml

feat: confirmation dialog on deletebutton (FLEX-982) (#564)
  frontend/src/components/ConfirmAction.tsx
  frontend/src/components/EDS-ra/buttons/DeleteButton.tsx
  frontend/src/components/EDS-ra/buttons/EventButton.tsx
  frontend/src/components/EDS-ra/buttons/NestedResourceHistoryButton.tsx
  frontend/src/components/EDS-ra/buttons/ResourceHistoryButton.tsx
  frontend/src/components/EDS-ra/buttons/hooks/useEvent.ts
  frontend/src/components/EDS-ra/buttons/hooks/useNestedResourceHistory.ts
  frontend/src/components/EDS-ra/buttons/hooks/useResourceHistory.ts
  frontend/src/components/EDS-ra/buttons/index.ts
  frontend/src/components/EDS-ra/fields/EnumField.tsx
  frontend/src/components/EDS-ra/index.ts
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/components/ui/index.ts
  frontend/src/party/PartyShow.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: add type to product-type-field
  frontend/src/product_type/components.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: source field is nullable (FLEX-964)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/flex/notice.sql
  frontend/src/generated-client/client/client.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/notice_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat: deduplication key (FLEX-964)
  db/flex/notice.sql
  db/flex/notice_fresh.sql
Due: none

refactor: switch back to PG15 MERGE statement (FLEX-964)
  db/flex/notice_fresh.sql
Due: none

refactor: remove pg_cron for now (FLEX-964)
  db/flex/notice_fresh.sql
  docker-compose.yml
  local/postgres/Dockerfile
  local/postgres/init.sql
Due: dockerfilelint

feat: notice events (FLEX-964)
  db/flex/notice.sql
Due: none

fix: add type to product-type-field (#566)
  frontend/src/product_type/components.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Added titles and what llevel the time series are at
  docs/diagrams/delivery-verification.plantuml
  docs/diagrams/delivery-verification.png
  docs/processes/delivery-verification.md
Due: check-plantuml

test: failing test (FLEX-991)
  test/api_client_tests/test_party.py
Due: none

feat(db): status create permission (FLEX-991)
  db/api/grants/field_level_authorization.sql
  docs/resources/controllable_unit.md
  docs/resources/party.md
  docs/resources/service_provider_product_application.md
  docs/resources/service_providing_group.md
  docs/resources/service_providing_group_grid_prequalification.md
  docs/resources/service_providing_group_product_application.md
  docs/resources/system_operator_product_type.md
  frontend/src/auth/permissions.ts
  local/input/permissions.csv
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: party status restrictions (FLEX-991)
  db/api/controllable_unit_lookup.sql
  db/flex/party.sql
  db/test_data/test_data.sql
Due: none

fix(db): always create notice view after dropping it
  db/flex/notice.sql
Due: none

fix(db): always create notice view after dropping it (#567)
  db/flex/notice.sql
Due: none

feat(db): add create permissions for status (FLEX-991) (#568)
  db/api/controllable_unit_lookup.sql
  db/api/grants/field_level_authorization.sql
  db/flex/party.sql
  db/test_data/test_data.sql
  docs/resources/controllable_unit.md
  docs/resources/party.md
  docs/resources/service_provider_product_application.md
  docs/resources/service_providing_group.md
  docs/resources/service_providing_group_grid_prequalification.md
  docs/resources/service_providing_group_product_application.md
  docs/resources/system_operator_product_type.md
  frontend/src/auth/permissions.ts
  local/input/permissions.csv
  test/api_client_tests/test_party.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Added measured/metering values, timeline, verification/quantification example
  docs/concepts/time-series.md
Due: none

refactor(db): include insert statement in merge (FLEX-964)
  db/flex/notice_fresh.sql
Due: none

refactor: notice keys defined locally in each notice type (FLEX-964)
  db/flex/notice/notice_controllable_unit.sql
  db/flex/notice/notice_controllable_unit_service_provider.sql
  db/flex/notice/notice_controllable_unit_suspension.sql
  db/flex/notice/notice_party.sql
  db/flex/notice/notice_service_provider_product_application.sql
  db/flex/notice/notice_service_provider_product_suspension.sql
  db/flex/notice/notice_service_providing_group.sql
  db/flex/notice/notice_service_providing_group_grid_prequalification.sql
  db/flex/notice/notice_service_providing_group_grid_suspension.sql
  db/flex/notice/notice_service_providing_group_membership.sql
  db/flex/notice/notice_service_providing_group_product_application.sql
  db/flex/notice/notice_service_providing_group_product_suspension.sql
  db/flex/notice_fresh.sql
Due: none

refactor: no generation of dedup key in table (FLEX-964)
  db/flex/notice.sql
  db/flex/notice/notice_controllable_unit.sql
  db/flex/notice/notice_controllable_unit_service_provider.sql
  db/flex/notice/notice_controllable_unit_suspension.sql
  db/flex/notice/notice_party.sql
  db/flex/notice/notice_service_provider_product_application.sql
  db/flex/notice/notice_service_provider_product_suspension.sql
  db/flex/notice/notice_service_providing_group.sql
  db/flex/notice/notice_service_providing_group_grid_prequalification.sql
  db/flex/notice/notice_service_providing_group_grid_suspension.sql
  db/flex/notice/notice_service_providing_group_membership.sql
  db/flex/notice/notice_service_providing_group_product_application.sql
  db/flex/notice/notice_service_providing_group_product_suspension.sql
  db/flex/notice_fresh.sql
Due: none

fix: typo (FLEX-964)
  db/flex/notice_fresh.sql
Due: none

fix: runAlways (FLEX-964)
  db/flex/notice_fresh.sql
Due: none

refactor: restore frontend client to main state (FLEX-964)
  frontend/src/generated-client/client/client.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: indexes on notice table (FLEX-964)
  db/flex/notice.sql
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
