Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

chore(deps): update local
  requirements-dev.txt
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.76.10 (#890)
  .teamcity/pom.xml
Due: none

wip (FLEX-1133)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/accounting_point.sql
  db/api/grants/field_level_authorization.sql
  db/flex/accounting_point.sql
  db/flex/accounting_point_migrations.sql
  docs/resources/accounting_point.md
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/client/client.gen.ts
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/client/utils.gen.ts
  frontend/src/generated-client/core/params.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointResponse.kt
  local/input/permissions.csv
  local/postgres/Dockerfile
  local/postgres/init.sql
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/accounting_point_response.py
Due: dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: include embed=summary in SPG activate query to prevent cache deduplication without summary (FLEX-1254)
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: use distinct query key for SPG summary embed to prevent cache collisions (FLEX-1254)
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: use distinct query key for SPG summary embed to prevent cache shape collisions (FLEX-1254) (#894)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Label for flexible power; consumption->down, production->up (FLEX-1255)
  frontend/src/service_providing_group/summary/ServiceProvidingGroupControllableUnitSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(dashboard): surface all three actions a org rep can do (FLEX-1242)
  frontend/src/dashboard/organisation/EntityCard.tsx
  frontend/src/dashboard/organisation/OrgDashboard.tsx
  frontend/src/dashboard/organisation/OrgPartiesTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(backend): midnight alignment of CU lookup validFrom filter must be on Norwegian timezone (FLEX-1262)
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/InstantExtensions.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/LocalDateExtensions.kt
Due: none

fix(test): update timezone in existing tests (FLEX-1262)
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryTest.kt
Due: none

feat: make org party its own thing in assumeParty (FLEX-1260)
  frontend/src/AssumePartyPage.tsx
  frontend/src/httpConfig.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: no-auth page for privacy policy (FLEX-1228)
  frontend/package-lock.json
  frontend/package.json
  frontend/public/static-assets/privacy-policy.en.html
  frontend/public/static-assets/privacy-policy.no.html
  frontend/src/App.tsx
  frontend/src/LoginPage.tsx
  frontend/src/main.css
  frontend/src/privacy-policy/PrivacyPolicyPage.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: spelling (FLEX-1228)
  frontend/src/LoginPage.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: improved text on privacy page (FLEX-1228)
  frontend/public/static-assets/privacy-policy.en.html
Due: prettier

test: add extra test to check timezone on validFrom logic (FLEX-1262)
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTimezoneTest.kt
Due: none

feat: no-auth page for privacy policy (FLEX-1228) (#898)
  frontend/package-lock.json
  frontend/package.json
  frontend/public/static-assets/privacy-policy.en.html
  frontend/public/static-assets/privacy-policy.no.html
  frontend/src/App.tsx
  frontend/src/LoginPage.tsx
  frontend/src/main.css
  frontend/src/privacy-policy/PrivacyPolicyPage.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: accept PID starting with 0 (FLEX-1262)
  db/flex/business_id_type.sql
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  test/api_client_tests/test_entity.py
Due: none

refactor: make timezone an environment variable (FLEX-1262)
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/InstantExtensions.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/LocalDateExtensions.kt
  kbackend/src/main/resources/application.yaml
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTimezoneTest.kt
Due: none

fix: accept PID starting with 0 (FLEX-1262) (#900)
  db/flex/business_id_type.sql
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  test/api_client_tests/test_entity.py
Due: none

fix(backend): midnight-align CU lookup validFrom on Norwegian timezone (FLEX-1262) (#899)
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/InstantExtensions.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/LocalDateExtensions.kt
  kbackend/src/main/resources/application.yaml
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTimezoneTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryTest.kt
Due: none

fix: Label for flexible power; consumption->down, production->up (FLEX-1255) (#895)
  frontend/src/service_providing_group/summary/ServiceProvidingGroupControllableUnitSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: make org party its own thing in assumeParty (FLEX-1260) (#897)
  frontend/src/AssumePartyPage.tsx
  frontend/src/httpConfig.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: typo
  frontend/src/dashboard/organisation/OrgDashboard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: dl outside of p (FLEX-1242)
  frontend/src/dashboard/organisation/EntityCard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(dashboard): surface all three actions a org rep can do (FLEX-1242) (#896)
  frontend/src/dashboard/organisation/EntityCard.tsx
  frontend/src/dashboard/organisation/OrgDashboard.tsx
  frontend/src/dashboard/organisation/OrgPartiesTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: allow flex_operation_readonly access to api schema
  db/api/changelog.yml
Due: none

feat: allow flex_operation_readonly access to api schema (#901)
  db/api/changelog.yml
Due: none

docs: add example aps not in testdata but in local ap adapter (FLEX-1263)
  local/accounting-point/README.md
Due: none

test: shell and tests for AP-MGA sync in CU lookup (FLEX-1263)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/AccountingPointMeteringGridArea.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
Due: none

fix: sentence structure
  local/accounting-point/README.md
Due: none

docs: add example aps not in testdata but in local ap adapter (FLEX-1263) (#902)
  local/accounting-point/README.md
Due: none

feat(ui): user guide links in login and assume party pages (FLEX-1250)
  frontend/.env.development
  frontend/.env.local-dev
  frontend/src/AssumePartyPage.tsx
  frontend/src/LoginPage.tsx
  frontend/src/httpConfig.tsx
  frontend/src/index.tsx
  local/frontend/env.test.js
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: split policy and cookies (FLEX-1228)
  docs/cookies.md
  docs/privacy.md
Due: none

fix: typos/wording
  docs/cookies.md
  docs/privacy.md
Due: none

feat(ui): user guide links in login and assume party pages (FLEX-1250) (#903)
  frontend/.env.development
  frontend/.env.local-dev
  frontend/src/AssumePartyPage.tsx
  frontend/src/LoginPage.tsx
  frontend/src/httpConfig.tsx
  frontend/src/index.tsx
  local/frontend/env.test.js
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: Sync MGA data from adapter (FLEX-1263)
  db/flex/accounting_point_metering_grid_area_rls.sql
  db/flex/metering_grid_area_rls.sql
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointMeteringGridAreaRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/meteringgridarea/db/MeteringGridAreaRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/AccountingPointMeteringGridArea.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/MeteringGridArea.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/InstantExtensions.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointMeteringGridAreaRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTimezoneTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/meteringgridarea/db/MeteringGridAreaRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/util/EicUtil.kt
Due: none

feat(docs): split privacy and cookies (#904)
  docs/cookies.md
  docs/privacy.md
Due: none
