Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix(deps): update frontend (#1027)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(frontend): maplibre-gl dep optimization
  frontend/vite.config.mts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(frontend): run Typescript 6 and 7 side by side - ref https://devblogs.microsoft.com/typescript/announcing-typescript-7-0/#running-side-by-side-with-typescript-6.0
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update frontend (major) (#1028)
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.mts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): set CSP worker-src: self to allow maplibre worker to load (FLEX-1337)
  local/nginx/templates/flex.conf
Due: none

fix(frontend): set CSP worker-src: self to allow maplibre worker to load (FLEX-1337) (#1031)
  local/nginx/templates/flex.conf
Due: none

chore: revert log of multipart form preamble (FLEX-1323)
  kbackend/build.gradle.kts
  kbackend/gradle/libs.versions.toml
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentHandler.kt
Due: none

fix(ui): adjust message on SPGGP conditionally approved dialog (FLEX-1324)
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqActionBar.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): maplibre-gl v6 worker setup for Vite (FLEX-1337)
  frontend/src/index.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): maplibre-gl v6 worker setup for Vite (FLEX-1337) (#1034)
  frontend/src/index.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): add missing regulation direction icon on SPG CU list (#1024)
  frontend/src/controllable_unit/RegulationDirectionField.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): adjust message on SPGGP conditionally approved dialog (FLEX-1324) (#1033)
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqActionBar.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): field reset in accounting point location input form (FLEX-1134)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update minor local updates [patch] (#978)
  .python-version
  local/postgres/Dockerfile
  mise.toml
Due: dockerfilelint

feat: new tab with list of technical resources on SPG (FLEX-1156)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
  frontend/src/service_providing_group/show/SpgTechnicalResourceList.tsx
  frontend/src/service_providing_group/show/useSpgTechnicalResources.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: add missing translations for SPG tabs (FLEX-1156)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
  frontend/src/service_providing_group/show/SpgTechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: guard against NaN when parsing query param (FLEX-1156)
  frontend/src/service_providing_group/show/SpgTechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(test): SPG power per substation test should use different APs (FLEX-1328)
  test/api_client_tests/test_spg_power_per_substation.py
Due: none

feat: new tab with list of technical resources on SPG (FLEX-1156) (#1036)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
  frontend/src/service_providing_group/show/SpgTechnicalResourceList.tsx
  frontend/src/service_providing_group/show/useSpgTechnicalResources.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): field reset in accounting point location input form (FLEX-1134) (#1035)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationInput.tsx
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): make additional information clearer on SPG create page (FLEX-1200)
  frontend/src/service_providing_group/input/ServiceProvidingGroupFields.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(test): SPG power per substation test should use different APs (FLEX-1328) (#1037)
  test/api_client_tests/test_spg_power_per_substation.py
Due: none

chore: revert log of multipart form preamble (FLEX-1323) (#1032)
  kbackend/build.gradle.kts
  kbackend/gradle/libs.versions.toml
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentHandler.kt
Due: none

feat: more generic pipeline to support the grid module (FLEX-1175) (#1018)
  .golangci.yml
  .spectral.yaml
  backend/data/data.go
  backend/data/embed_query_rewrite.go
  backend/data/static/openapi.json
  backend/flex.go
  backend/grid/embed_relations_gen.go
  backend/grid/grid.go
  backend/grid/static/openapi.json
  backend/internal/embed/embed.go
  backend/internal/embed/embed_test.go
  db/grid/embedding/embedding.sql
  docs/diagrams/resources.plantuml
  docs/diagrams/resources.png
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.ts
  justfile
  local/scripts/openapi_to_db.py
  local/scripts/openapi_to_embed_relations.py
  local/scripts/relationship.py
  local/scripts/resources_to_diagram.py
  local/scripts/resources_to_intl.py
  local/scripts/resources_to_openapi.py
  local/scripts/templates/embedding.j2.sql
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  openapi/openapi-base-common.yml
  openapi/openapi-grid-base.yml
  openapi/servers.yml
Due: check-plantuml, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix(backend): filter terminated CUs earlier in the CU lookup handler (FLEX-1226)
  db/api/controllable_unit_lookup.sql
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitQuery.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/ControllableUnitForLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/DtoMapper.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  test/api_client_tests/test_cu_lookup.py
Due: none

fix(backend): filter terminated CUs earlier in the CU lookup handler (FLEX-1226) (#1040)
  db/api/controllable_unit_lookup.sql
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitQuery.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/ControllableUnitForLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/DtoMapper.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  test/api_client_tests/test_cu_lookup.py
Due: none

fix: broken big.pdf test
  test/api_client_tests/test_spgpa_attachment.py
Due: none

refactor: implement attachment download as single link (FLEX-1341)
  backend/internal/middleware/apiversion.go
  frontend/src/components/attachments/AttachmentList.tsx
  frontend/src/components/attachments/registry.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: restrict power per substation to FISO and SO roles (FLEX-1328)
  db/api/service_providing_group_power_per_substation.sql
  docs/resources/service_providing_group_power_per_substation.md
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
  test/api_client_tests/test_spg_power_per_substation.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: partydropdown should only list relevant parties by checking party_entity_id and memberships (FLEX-1291)
  frontend/src/entity/client/EntityClientInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: set fresh trace ID for each synced accounting point (FLEX-1344)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/scheduled/AccountingPointSyncScheduler.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/TraceIdUtil.kt
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/scheduled/AccountingPointSyncSchedulerTest.kt
Due: none

refactor: implement attachment download as single link (FLEX-1341) (#1042)
  backend/internal/middleware/apiversion.go
  frontend/src/components/attachments/AttachmentList.tsx
  frontend/src/components/attachments/registry.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: broken filter (FLEX-1291)
  frontend/src/entity/client/EntityClientInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: use OR operator in filter (FLEX-1291)
  frontend/src/entity/client/EntityClientInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): add translations for spg create addition information (FLEX-1200)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/input/ServiceProvidingGroupFields.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: use the coroutine context to carry the trace implicitly (FLEX-1344)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Logging.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Tracing.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/scheduled/AccountingPointSyncScheduler.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/TraceIdUtil.kt
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/scheduled/AccountingPointSyncSchedulerTest.kt
Due: none

fix: revert useless changes (FLEX-1344)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
Due: none

fix: remove extra call and use embed query! (FLEX-1291)
  frontend/src/entity/client/EntityClientInput.tsx
  frontend/src/httpConfig.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: UNION ALL
  db/api/service_providing_group_power_per_substation.sql
Due: none

feat: restrict power per substation to FISO and SO roles (FLEX-1328) (#1043)
  db/api/service_providing_group_power_per_substation.sql
  docs/resources/service_providing_group_power_per_substation.md
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
  test/api_client_tests/test_spg_power_per_substation.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check
