Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

fix: copilot comments
  frontend/src/dashboard/DasboardLayout.tsx
  frontend/src/dashboard/Dashboard.tsx
  frontend/src/dashboard/DashboardLayout.tsx
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/dashboard/service_provider/SpApplicationsTable.tsx
  frontend/src/dashboard/service_provider/SpDashboard.tsx
  frontend/src/dashboard/system_operator/SoApplicationsTable.tsx
  frontend/src/dashboard/system_operator/SoStatCards.tsx
  frontend/src/product_type/components.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: format
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/dashboard/service_provider/SpMarketsCard.tsx
  frontend/src/product_type/components.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update frontend (#790)
  frontend/package-lock.json
  frontend/package.json
Due: none

ci: stop updating euro environment images (FLEX-1187) (#811)
  .teamcity/settings.kts
Due: none

feat: party staging w/ unlogged table (FLEX-1116) (#807)
  db/staging/party_staging.sql
  docs/diagrams/structure_data_es_br.drawio.png
  docs/diagrams/structure_data_party.drawio.png
  docs/technical/structure-data.md
Due: none

feat: birth date instead of PID in CU lookup for person end user business ID (FLEX-1151)
  backend/data/models.sql
  backend/data/models/models.sql.go
  backend/data/static/openapi.json
  db/api/controllable_unit_lookup.sql
  docs/processes/controllable-unit-lookup.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitLookupRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/api_client_tests/test_cu_lookup.py
  test/api_client_tests/test_event.py
  test/flex/models/controllable_unit_lookup_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

docs: suggested AP RLA (FLEX-1167)
  docs/resources/accounting_point.md
Due: none

feat: clean up dashboard (FLEX-1020) (#809)
  backend/data/static/openapi.json
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/components/SimpleTable.tsx
  frontend/src/dashboard/Dashboard.tsx
  frontend/src/dashboard/DashboardLayout.tsx
  frontend/src/dashboard/SpMarketsCard.tsx
  frontend/src/dashboard/dashboardUtils.ts
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/dashboard/hooks/useInconsistencies.ts
  frontend/src/dashboard/hooks/useServiceProvidingGroups.ts
  frontend/src/dashboard/hooks/useSpQualifiedMarkets.ts
  frontend/src/dashboard/service_provider/SpApplicationsTable.tsx
  frontend/src/dashboard/service_provider/SpMarketsCard.tsx
  frontend/src/dashboard/service_provider/SpStatCards.tsx
  frontend/src/dashboard/shared/StatCard.tsx
  frontend/src/dashboard/shared/dashboardTableUtils.ts
  frontend/src/dashboard/system_operator/SoApplicationsTable.tsx
  frontend/src/dashboard/system_operator/SoStatCards.tsx
  frontend/src/dashboard/useDashboardApplications.ts
  frontend/src/dashboard/useSpDashboard.ts
  frontend/src/dashboard/useSpQualifiedMarkets.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/product_type/components.tsx
  frontend/src/product_type/useProductTypes.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/notice/list_notice.py
  test/flex/api/service_provider_product_application/list_service_provider_product_application.py
  test/flex/api/service_provider_product_application/list_service_provider_product_application_history.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat(db): staging structure for MGA + MGA-SO + MGA price area (FLEX-1171) (#808)
  db/staging/changelog.yml
  db/staging/metering_grid_area_staging.sql
  db/staging/test/README.md
  db/staging/test/mga_staging_test_data_mga.csv
  db/staging/test/mga_staging_test_data_mga_price_area.csv
  db/staging/test/mga_staging_test_data_mga_so.csv
Due: none

feat: don't return final 5 digits of pid
  db/api/entity.sql
  openapi/resources.yml
Due: none

fix: failing event tests due to insufficient_privilege
  db/flex/event_rls.sql
Due: none

fix: failing event tests due to insufficient_privilege (#814)
  db/flex/event_rls.sql
Due: none

fix(auth): require party type in subject claim on JWT bearer auth (FLEX-1182) (#810)
  backend/auth/auth.go
  backend/auth/authorizationgrant.go
  backend/auth/models/models.go
  db/flex/party.sql
  db/flex/party_migrations.sql
  docs/technical/auth/authn-methods.md
  docs/technical/auth/getting-started.md
  test/auth_tests/test_jwt_bearer.py
  test/auth_tests/test_scopes.py
  test/auth_tests/test_token_exchange.py
  test/inspect/gen_jwt.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: adjust notice to the non unique party.business_id (FLEX-1182)
  db/flex/notice/notice_party.sql
Due: none

fix: PR comments
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/dashboard/hooks/useSpQualifiedMarkets.ts
  frontend/src/dashboard/service_provider/SpMarketsCard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: PR comments (#816)
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/dashboard/hooks/useSpQualifiedMarkets.ts
  frontend/src/dashboard/service_provider/SpMarketsCard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: expect DDMMYY instead of YYYY-MM-DD (FLEX-1151)
  backend/data/static/openapi.json
  db/api/controllable_unit_lookup.sql
  docs/processes/controllable-unit-lookup.md
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitLookupRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/api_client_tests/test_cu_lookup.py
  test/flex/models/controllable_unit_lookup_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

chore: npm audit fix (FLEX-1151)
  frontend/package-lock.json
Due: none

feat: add confirm dialog if you have unadded CUs
  frontend/src/components/ConfirmAction.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupManageMembers.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(test): switch to DDMMYY in tests (FLEX-1151)
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  test/api_client_tests/test_event.py
Due: none

fix: adjust notice to the non unique party.business_id (FLEX-1182) (#815)
  db/flex/notice/notice_party.sql
Due: none

fix: fix copypasta text from cu activate to spg activate
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: pass TS linter (FLEX-1151)
  frontend/src/accounting_point/show/useAccountingPointViewModel.ts
  frontend/src/generated-client/client/client.gen.ts
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/client/utils.gen.ts
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: birth date instead of PID in CU lookup for person end user business ID (FLEX-1151) (#817)
  backend/data/models.sql
  backend/data/models/models.sql.go
  backend/data/static/openapi.json
  db/api/controllable_unit_lookup.sql
  docs/processes/controllable-unit-lookup.md
  frontend/package-lock.json
  frontend/src/accounting_point/show/useAccountingPointViewModel.ts
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/generated-client/client/client.gen.ts
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/client/utils.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/util.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitLookupRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/api_client_tests/test_cu_lookup.py
  test/api_client_tests/test_event.py
  test/flex/models/controllable_unit_lookup_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat: add optional CTA link to StatCard component
  frontend/src/dashboard/shared/StatCard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add useControllableUnits dashboard hook
  frontend/src/dashboard/hooks/useControllableUnits.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: expand SP dashboard to 6 stat cards with CTAs
  frontend/src/dashboard/service_provider/SpStatCards.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: deduplicate CU count by controllable_unit_id
  frontend/src/dashboard/service_provider/SpStatCards.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Minor user test fixes (#818)
  frontend/src/components/ConfirmAction.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupManageMembers.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: clean up
  frontend/src/dashboard/Dashboard.tsx
  frontend/src/dashboard/hooks/useControllableUnits.ts
  frontend/src/dashboard/hooks/useInconsistencies.ts
  frontend/src/dashboard/hooks/useSpQualifiedMarkets.ts
  frontend/src/dashboard/service_provider/SpMarketsCard.tsx
  frontend/src/dashboard/service_provider/SpStatCards.tsx
  frontend/src/dashboard/shared/StatCard.tsx
  frontend/src/dashboard/system_operator/SoStatCards.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: use postgrest count to get numbers
  frontend/src/dashboard/hooks/useControllableUnits.ts
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/dashboard/hooks/useNotices.ts
  frontend/src/dashboard/service_provider/SpStatCards.tsx
  frontend/src/dashboard/system_operator/SoStatCards.tsx
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: format and lint
  frontend/src/dashboard/hooks/useControllableUnits.ts
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/dashboard/hooks/useNotices.ts
  frontend/src/dashboard/hooks/useServiceProvidingGroups.ts
  frontend/src/dashboard/service_provider/SpStatCards.tsx
  frontend/src/dashboard/shared/StatCard.tsx
  frontend/src/dashboard/system_operator/SoStatCards.tsx
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: actually get the count from the response headers
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Potential fix for pull request finding
  frontend/src/dashboard/system_operator/SoStatCards.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: dont throw when no data
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: correct pg-17 img version (PG-17)
  kbackend/src/test/kotlin/no/elhub/flex/PostgresTestContainer.kt
Due: none

chore(deps): update dependency go to v1.26.3 [patch]
  mise.toml
Due: none

fix(deps): update backend
  backend/go.mod
  backend/go.sum
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
