Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix: add maanage members button to show
  frontend/src/service_providing_group/ServiceProvidingGroupShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: add RLS rules, docs and tests for APBZ-SO001 and APBZ-SP001 (#665)
  db/api/accounting_point_bidding_zone.sql
  docs/resources/accounting_point_bidding_zone.md
  test/api_client_tests/test_accounting_point_bidding_zone.py
Due: none

feat: Generated http client for integration with Accounting Point Adapter (FLEX-1064)
  .pre-commit-config.yaml
  kbackend/README.md
  kbackend/build.gradle.kts
  kbackend/gradle/libs.versions.toml
  kbackend/scripts/generate-openapi-client.sh
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/lookup/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/domain/GSRN.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterHttpService.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AdapterError.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/client/AccountingPointClient.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/client/KtorApiConfiguration.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/client/KtorApiModels.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/AccountingPoint.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/EndUser.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/EndUserEntityType.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/EnergyDirection.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/EnergyDirectionDirection.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/EnergySupplier.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/MeteringGridArea.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/openapi.yaml
  kbackend/src/main/resources/application.yaml
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterWireMockServer.kt
  kbackend/src/test/resources/wiremock/accountingpointadapter/__files/accounting-point-200.json
Due: check-openapi

fix: port 8080 across all the things (FLEX-474)
  local/accounting-point/README.md
  local/backend/dev.env
  local/backend/test.env
  local/elhub/main.py
Due: none

fix: a somewhat coherent design (FLEX-1068)
  db/flex/accounting_point_sync.sql
  db/flex/accounting_point_sync_migrations.sql
  docs/diagrams/accounting-point-sync-background.plantuml
  docs/diagrams/accounting-point-sync-background.png
  docs/diagrams/accounting-point-sync-incoming-event.plantuml
  docs/diagrams/accounting-point-sync-incoming-event.png
  docs/diagrams/accounting-point-sync-lookup.plantuml
  docs/diagrams/accounting-point-sync-lookup.png
  docs/diagrams/accounting-point-sync.drawio.png
  docs/technical/accounting-point-data.md
Due: check-plantuml

fix: render latest version of plantuml to png (FLEX-1068)
  docs/diagrams/accounting-point-sync-background.png
Due: none

fix(deps): update backend to v1.42.0
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.68.1
  .teamcity/pom.xml
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
  kbackend/gradle/wrapper/gradle-wrapper.properties
Due: none

chore(deps): update frontend to v10
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update dependency io.github.oshai:kotlin-logging-jvm to v8
  kbackend/gradle/libs.versions.toml
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.68.1 (#671)
  .teamcity/pom.xml
Due: none

fix: Re-enable markdown linting for kbackend (FLEX-1064)
  .pre-commit-config.yaml
Due: none

feat: refine navigation header layout and logo link (FLEX-1089)
  frontend/src/App.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/HeaderNav.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update dependency io.github.oshai:kotlin-logging-jvm to v8 (#674)
  kbackend/gradle/libs.versions.toml
Due: none

fix(deps): update kbackend (#672)
  kbackend/gradle/libs.versions.toml
  kbackend/gradle/wrapper/gradle-wrapper.properties
Due: none

fix: set react-version to 19 in eslint. https://github.com/vercel/next.js/issues/89764
  frontend/eslint.config.js
Due: prettier, eslint

fix: add maanage members button to show (#668)
  frontend/src/service_providing_group/ServiceProvidingGroupShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update frontend to v10 (major) (#673)
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
Due: prettier, eslint

chore(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update frontend (#651)
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: redesign navigation to top header (FLEX-1089) (#676)
  frontend/src/App.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/components/Header/UserDropdown.tsx
  frontend/src/components/ui/index.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: Update openapi.yaml for accounting point adapter to latest version (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/openapi.yaml
Due: check-openapi

feat: Generated http client for integration with Accounting Point Adapter (FLEX-1064) (#675)
  kbackend/README.md
  kbackend/build.gradle.kts
  kbackend/gradle/libs.versions.toml
  kbackend/scripts/generate-openapi-client.sh
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/lookup/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/domain/GSRN.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterHttpService.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AdapterError.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/client/AccountingPointClient.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/client/KtorApiConfiguration.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/client/KtorApiModels.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/AccountingPoint.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/EndUser.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/EndUserEntityType.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/EnergyDirection.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/EnergyDirectionDirection.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/EnergySupplier.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/MeteringGridArea.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/openapi.yaml
  kbackend/src/main/resources/application.yaml
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterWireMockServer.kt
  kbackend/src/test/resources/wiremock/accountingpointadapter/__files/accounting-point-200.json
Due: check-openapi

refactor: Use koin annotations to create instances (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryImpl.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/lookup/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
Due: none

refactor: Use koin annotations to create instances (FLEX-1064) (#677)
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryImpl.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/lookup/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
Due: none

feat: Logging using logback configured with tracing (FLEX-1064)
  .pre-commit-config.yaml
  kbackend/gradle/libs.versions.toml
  kbackend/src/main/kotlin/no/elhub/flex/config/Logging.kt
  kbackend/src/main/resources/application.yaml
  kbackend/src/main/resources/logback.xml
  kbackend/src/main/resources/simplelogger.properties
Due: none

fix: Removed logging-slf4j-simple from logging bundle - using logback (FLEX-1064)
  kbackend/gradle/libs.versions.toml
Due: none

fix: Revert back to port 8080 (FLEX-1064)
  kbackend/src/main/resources/application.yaml
Due: none

feat: Logging using logback configured with tracing (FLEX-1064) (#678)
  .pre-commit-config.yaml
  kbackend/gradle/libs.versions.toml
  kbackend/src/main/kotlin/no/elhub/flex/config/Logging.kt
  kbackend/src/main/resources/logback.xml
  kbackend/src/main/resources/simplelogger.properties
Due: none

feat: show accounting point as read-only field when creating CU (FLEX-1086)
  frontend/src/controllable_unit/ControllableUnitCreate.tsx
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: use searchparams
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Potential fix for pull request finding
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: show accounting point as read-only field when creating CU (#679)
  frontend/src/controllable_unit/ControllableUnitCreate.tsx
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: SPG activation flow with member check alert
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/ActivateServiceProvidingGroupButton.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupAlerts.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupActivate.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupManageMembers.tsx
  frontend/src/service_providing_group/input/ServiceProvidingGroupStepper.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.68.3
  .teamcity/pom.xml
Due: none

chore(deps): update dependency schemathesis to v4.12.0
  requirements-dev.txt
Due: none

feat: run ap adapter in local test using docker (FLEX-474) (#667)
  docker-compose.yml
  local/accounting-point/README.md
  local/accounting-point/main.py
  local/backend/dev.env
  local/backend/test.env
  local/docker-python/Dockerfile
  local/docker-python/README.md
  local/docker-python/gunicorn_conf.py
  local/docker-python/main.py
  local/docker-python/requirements.txt
  local/elhub/main.py
Due: dockerfilelint
