Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

Reviewed comments
  docs/guides/get-ready-for-market.md
Due: none

feat(db): make definition of human user stricter for ECL-ORG002 (FLEX-691)
  db/flex/entity_client_rls.sql
  test/api_client_tests/test_entity_client.py
Due: none

feat: restrict and document validation rule for entity client party_id (FLEX-691)
  db/flex/entity_client_migrations.sql
  docs/resources/entity_client.md
Due: none

feat(db): make definition of human user stricter for ECL-ORG002 (FLEX-691) (#320)
  db/flex/entity_client_migrations.sql
  db/flex/entity_client_rls.sql
  docs/resources/entity_client.md
  test/api_client_tests/test_entity_client.py
Due: none

Reviewed comments ++
  docs/diagrams/service_providing_group_suspension.plantuml
  docs/diagrams/service_providing_group_suspension.png
  docs/processes/service-providing-group-suspension.md
Due: check-plantuml

Updated name of suspension
  docs/diagrams/service_providing_group_grid_suspension.plantuml
  docs/diagrams/service_providing_group_grid_suspension.png
  docs/diagrams/service_providing_group_suspension.png
  docs/processes/service-providing-group-grid-suspension.md
Due: check-plantuml

feat: add SPG grid suspension resource (FLEX-760)
  docs/resources/service_providing_group_grid_suspension.md
  local/input/permissions.csv
  openapi/resources.yml
Due: none

Fixed typo
  docs/guides/get-ready-for-market.md
Due: none

Updated terms and conditions sentence
  docs/processes/service-providing-group-grid-suspension.md
Due: none

docs: get ready for market guide (#311)
  docs/diagrams/ready_for_market.drawio.png
  docs/guides/get-ready-for-market.md
  docs/processes/index.md
Due: none

docs(process): suspension of SPG grid prequalification (#315)
  docs/diagrams/service_providing_group_grid_suspension.plantuml
  docs/diagrams/service_providing_group_grid_suspension.png
  docs/processes/service-providing-group-grid-suspension.md
Due: check-plantuml

feat(db): implementation of resource (FLEX-760)
  backend/data/data.go
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  backend/schema.sql
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_grid_suspension.sql
  db/flex/changelog.yml
  db/flex/grants/field_level_authorization.sql
  db/flex/service_providing_group_grid_suspension.sql
  db/flex/service_providing_group_grid_suspension_history_audit.sql
  db/flex/service_providing_group_grid_suspension_rls.sql
  docs/diagrams/resources.plantuml
  docs/resources/service_providing_group_grid_suspension.md
  frontend/src/auth/permissions.json
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  test/flex/api/service_providing_group_grid_suspension/__init__.py
  test/flex/api/service_providing_group_grid_suspension/create_service_providing_group_grid_suspension.py
  test/flex/api/service_providing_group_grid_suspension/delete_service_providing_group_grid_suspension.py
  test/flex/api/service_providing_group_grid_suspension/list_service_providing_group_grid_suspension.py
  test/flex/api/service_providing_group_grid_suspension/list_service_providing_group_grid_suspension_history.py
  test/flex/api/service_providing_group_grid_suspension/read_service_providing_group_grid_suspension.py
  test/flex/api/service_providing_group_grid_suspension/read_service_providing_group_grid_suspension_history.py
  test/flex/api/service_providing_group_grid_suspension/update_service_providing_group_grid_suspension.py
  test/flex/models/__init__.py
  test/flex/models/list_service_providing_group_grid_suspension_history_prefer.py
  test/flex/models/list_service_providing_group_grid_suspension_prefer.py
  test/flex/models/service_providing_group_grid_suspension.py
  test/flex/models/service_providing_group_grid_suspension_create_data.py
  test/flex/models/service_providing_group_grid_suspension_create_request.py
  test/flex/models/service_providing_group_grid_suspension_history_response.py
  test/flex/models/service_providing_group_grid_suspension_reason.py
  test/flex/models/service_providing_group_grid_suspension_response.py
  test/flex/models/service_providing_group_grid_suspension_update_request.py
Due: check-plantuml, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat: filter on ISO / qualification (FLEX-760)
  db/flex/service_providing_group_grid_suspension.sql
  docs/resources/service_providing_group_grid_suspension.md
Due: none

first draft - not finished
  docs/diagrams/controllable_unit_suspension.plantuml
  docs/diagrams/controllable_unit_suspension.png
  docs/processes/controllable-unit-suspension.md
Due: check-plantuml

Added PSO info
  docs/diagrams/controllable_unit_suspension.plantuml
  docs/diagrams/controllable_unit_suspension.png
  docs/processes/controllable-unit-suspension.md
Due: check-plantuml

docs: refinement of SP(G) suspension (FLEX-706)
  docs/diagrams/service_provider_product_suspension.plantuml
  docs/diagrams/service_provider_product_suspension.png
  docs/diagrams/service_providing_group_grid_suspension.plantuml
  docs/diagrams/service_providing_group_grid_suspension.png
  docs/processes/service-providing-group-grid-suspension.md
Due: check-plantuml

docs: refinement of SP(G) suspension (FLEX-706) (#323)
  docs/diagrams/service_provider_product_suspension.plantuml
  docs/diagrams/service_provider_product_suspension.png
  docs/diagrams/service_providing_group_grid_suspension.plantuml
  docs/diagrams/service_providing_group_grid_suspension.png
  docs/processes/service-providing-group-grid-suspension.md
Due: check-plantuml

Deployed 95555a4 with MkDocs version: 1.6.1
  diagrams/service_provider_product_suspension.plantuml
  diagrams/service_provider_product_suspension.png
  diagrams/service_providing_group_grid_suspension.plantuml
  diagrams/service_providing_group_grid_suspension.png
  download/accounting_point.docx
  download/accounting_point_balance_responsible_party.docx
  download/accounting_point_energy_supplier.docx
  download/controllable_unit.docx
  download/controllable_unit_service_provider.docx
  download/entity.docx
  download/entity_client.docx
  download/event.docx
  download/identity.docx
  download/notice.docx
  download/notification.docx
  download/party.docx
  download/party_membership.docx
  download/product_type.docx
  download/service_provider_product_application.docx
  download/service_provider_product_application_comment.docx
  download/service_provider_product_suspension.docx
  download/service_provider_product_suspension_comment.docx
  download/service_providing_group.docx
  download/service_providing_group_grid_prequalification.docx
  download/service_providing_group_membership.docx
  download/service_providing_group_product_application.docx
  download/system_operator_product_type.docx
  download/technical_resource.docx
  processes/service-providing-group-grid-suspension/index.html
  search/search_index.json
Due: check-plantuml, prettier

Updated process overview according to IR DR update
  docs/processes/index.md
Due: none

docs: fix alert in get ready for market to GH style
  docs-dev/documentation.md
  docs-dev/tooling.md
  docs/guides/get-ready-for-market.md
Due: none

docs: fix alert in get ready for market to GH style (#325)
  docs-dev/documentation.md
  docs-dev/tooling.md
  docs/guides/get-ready-for-market.md
Due: none

Deployed 69b6ea5 with MkDocs version: 1.6.1
  download/accounting_point.docx
  download/accounting_point_balance_responsible_party.docx
  download/accounting_point_energy_supplier.docx
  download/controllable_unit.docx
  download/controllable_unit_service_provider.docx
  download/entity.docx
  download/entity_client.docx
  download/event.docx
  download/identity.docx
  download/notice.docx
  download/notification.docx
  download/party.docx
  download/party_membership.docx
  download/product_type.docx
  download/service_provider_product_application.docx
  download/service_provider_product_application_comment.docx
  download/service_provider_product_suspension.docx
  download/service_provider_product_suspension_comment.docx
  download/service_providing_group.docx
  download/service_providing_group_grid_prequalification.docx
  download/service_providing_group_membership.docx
  download/service_providing_group_product_application.docx
  download/system_operator_product_type.docx
  download/technical_resource.docx
  guides/get-ready-for-market/index.html
  search/search_index.json
Due: prettier

changed "everything"
  docs/diagrams/controllable_unit_suspension.plantuml
  docs/diagrams/controllable_unit_suspension.png
  docs/processes/controllable-unit-suspension.md
Due: check-plantuml

spaces
  docs/processes/controllable-unit-suspension.md
Due: none

test: SPGGS test and fixes (FLEX-760)
  db/api/grants/field_level_authorization.sql
  db/flex/grants/field_level_authorization.sql
  db/test_data/test_data.sql
  local/scripts/permissions_to_grant.py
  test/api_client_tests/test_spg_grid_suspension.py
Due: none

refactor: rename in reason values (FLEX-760)
  backend/data/static/openapi.json
  db/flex/service_providing_group_grid_suspension.sql
  docs/resources/service_providing_group_grid_suspension.md
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_spg_grid_suspension.py
  test/flex/models/service_providing_group_grid_suspension.py
  test/flex/models/service_providing_group_grid_suspension_create_data.py
  test/flex/models/service_providing_group_grid_suspension_create_request.py
  test/flex/models/service_providing_group_grid_suspension_history_response.py
  test/flex/models/service_providing_group_grid_suspension_reason.py
  test/flex/models/service_providing_group_grid_suspension_response.py
  test/flex/models/service_providing_group_grid_suspension_update_request.py
Due: check-openapi

refactor: relax rules on SPG grid prequalification status (FLEX-760)
  db/flex/service_providing_group_grid_suspension.sql
  db/flex/service_providing_group_grid_suspension_rls.sql
  test/api_client_tests/test_spg_grid_suspension.py
Due: none

refactor: relax rules on SPG product application status (FLEX-760)
  db/flex/service_providing_group_grid_suspension_rls.sql
  test/api_client_tests/test_spg_grid_suspension.py
Due: none

docs: change resource description and generate diagram (FLEX-760)
  backend/data/static/openapi.json
  docs/diagrams/resources.plantuml
  docs/diagrams/resources.png
  docs/resources/service_providing_group_grid_suspension.md
  openapi/openapi-api-no-default.json
  openapi/resources.yml
Due: check-plantuml, check-openapi

Comments now incorprated in this version
  docs/processes/index.md
Due: none

refactor: simpler RLS for SO (FLEX-760)
  db/flex/service_providing_group_grid_suspension_rls.sql
  docs/resources/service_providing_group_grid_suspension.md
  test/api_client_tests/test_spg_grid_suspension.py
Due: none

changed to reinstatement
  docs/processes/index.md
Due: none

Changes based on comments
  docs/diagrams/controllable_unit_suspension.plantuml
  docs/diagrams/controllable_unit_suspension.png
  docs/processes/controllable-unit-suspension.md
Due: check-plantuml

docs: update process overview according to IR DR (#324)
  docs/processes/index.md
Due: none

fix(docs): inconsistency in cu registration process
  docs/diagrams/controllable_unit_registration.plantuml
  docs/diagrams/controllable_unit_registration.png
Due: check-plantuml

feat: local mock of elhub energy-data/metering-points api (FLEX-774)
  docker-compose.yml
  local/elhub/main.py
  requirements-dev.txt
Due: none

docs: Added link to CU suspension
  docs/processes/index.md
Due: none

Fix: new reason for suspension and typo
  docs/processes/controllable-unit-suspension.md
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
