Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix: updated examples of verification
  docs/concepts/time-series.md
Due: none

refactor: add null check instead of non-null assert (FLEX-803)
  frontend/src/auth/InputStack.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: bring back saveAlwaysEnabled on CUSP on overrides (FLEX-432)
  frontend/src/components/Toolbar.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: use party reference input for notice filters (FLEX-860)
  frontend/src/notice/NoticeList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: add correct typing for autocomplete reference input (FLEX-860)
  frontend/src/auth/ReferenceInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: CU status can be set to 'active' only when it has TR (FLEX-877)
  db/flex/controllable_unit.sql
  docs/resources/controllable_unit.md
Due: none

test: check CU-VAL004 in CU test and add TR before activation in the others (FLEX-877)
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_cu_suspension.py
  test/api_client_tests/test_cus_comment.py
Due: none

refactor: remove useless declare block
  db/flex/controllable_unit.sql
Due: none

fix: wrong usage of component based on typing (FLEX-860)
  frontend/src/auth/ReferenceInput.tsx
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/party/PartyList.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: better naming, fix joined record (FLEX-432)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/util.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: remove not-working restore on CU (FLEX-432)
  frontend/src/controllable_unit/ControllableUnitShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

chore: remove notes from table definition (FLEX-883)
  db/flex/service_providing_group_grid_prequalification.sql
Due: none

chore: remove notes from grid prequalification (FLEX-883) (#450)
  .sqlfluff
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_grid_prequalification.sql
  db/flex/service_providing_group_grid_prequalification.sql
  db/flex/service_providing_group_grid_prequalification_comment.sql
  db/flex/service_providing_group_grid_prequalification_migrations.sql
  docs/resources/service_providing_group_grid_prequalification.md
  docs/resources/service_providing_group_grid_prequalification_comment.md
  frontend/src/auth/permissions.ts
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationInput.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_spg_grid_prequalification.py
  test/flex/models/service_providing_group_grid_prequalification.py
  test/flex/models/service_providing_group_grid_prequalification_create_data.py
  test/flex/models/service_providing_group_grid_prequalification_create_request.py
  test/flex/models/service_providing_group_grid_prequalification_history_response.py
  test/flex/models/service_providing_group_grid_prequalification_response.py
  test/flex/models/service_providing_group_grid_prequalification_update_request.py
Due: prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: remove unused import (FLEX-860)
  frontend/src/auth/ReferenceInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: CU status can be set to 'active' only when it has TR (FLEX-877) (#452)
  db/flex/controllable_unit.sql
  docs/resources/controllable_unit.md
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_cu_suspension.py
  test/api_client_tests/test_cus_comment.py
Due: none

Feat: use proper autocomplete for notice page filters (FLEX-860) (#454)
  frontend/src/auth/ReferenceInput.tsx
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/notice/NoticeList.tsx
  frontend/src/party/PartyList.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

chore: remove notes from sp product application (FLEX-881)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  db/api/service_provider_product_application.sql
  db/flex/service_provider_product_application.sql
  db/flex/service_provider_product_application_migrations.sql
  docs/resources/service_provider_product_application.md
  frontend/src/auth/permissions.ts
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationShow.tsx
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_service_provider_product_application.py
  test/flex/models/service_provider_product_application.py
  test/flex/models/service_provider_product_application_create_data.py
  test/flex/models/service_provider_product_application_create_request.py
  test/flex/models/service_provider_product_application_history_response.py
  test/flex/models/service_provider_product_application_response.py
  test/flex/models/service_provider_product_application_update_request.py
Due: prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Update time-series.md
  docs/concepts/time-series.md
Due: none

definition adjustment
  docs/concepts/time-series.md
Due: none

chore: remove unused import (FLEX-881)
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: npm linter (FLEX-803)
  frontend/eslint.config.js
  frontend/src/App.tsx
  frontend/src/auth/permissions.ts
  local/scripts/permissions_to_ts.py
Due: prettier, frontend-type-check, frontend-dependency-check

fix: permission boolean check (FLEX-803)
  frontend/src/auth/permissions.ts
  local/scripts/permissions_to_ts.py
Due: prettier, frontend-type-check, frontend-dependency-check

chore: remove notes from sp product application (FLEX-881) (#455)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  db/api/service_provider_product_application.sql
  db/flex/service_provider_product_application.sql
  db/flex/service_provider_product_application_migrations.sql
  docs/resources/service_provider_product_application.md
  frontend/src/auth/permissions.ts
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationShow.tsx
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_service_provider_product_application.py
  test/flex/models/service_provider_product_application.py
  test/flex/models/service_provider_product_application_create_data.py
  test/flex/models/service_provider_product_application_create_request.py
  test/flex/models/service_provider_product_application_history_response.py
  test/flex/models/service_provider_product_application_response.py
  test/flex/models/service_provider_product_application_update_request.py
Due: prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: remove saveAlwaysEnabled workaround (FLEX-432) (#448)
  frontend/src/components/comments.tsx
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/ControllableUnitShow.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionInput.tsx
  frontend/src/entity/EntityInput.tsx
  frontend/src/entity/client/EntityClientInput.tsx
  frontend/src/party/PartyInput.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionInput.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupInput.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationInput.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionInput.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeInput.tsx
  frontend/src/util.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: changesets checksum make liquibase fail
  db/flex/service_provider_product_application.sql
  db/flex/service_providing_group_grid_prequalification.sql
Due: none

docs: comparison table for quantification anv verification (FLEX-872)
  docs/concepts/time-series.md
Due: none

fix: changesets checksum make liquibase fail (#456)
  db/flex/service_provider_product_application.sql
  db/flex/service_providing_group_grid_prequalification.sql
Due: none

fix: drop CASCADE spggp.notes (FLEX-883)
  db/flex/service_providing_group_grid_prequalification_migrations.sql
Due: none

fix: drop CASCADE spggp.notes (FLEX-883) (#457)
  db/flex/service_providing_group_grid_prequalification_migrations.sql
Due: none

feat: add script for testing migrations using git worktree
  justfile
Due: none

feat: add script for testing migrations
  justfile
Due: none

docs: reword the comments in the script
  justfile
Due: none

ci: use commit SHA also in liquibase CI/CD build task (FLEX-867)
  .teamcity/settings.kts
Due: none

ci: use commit SHA also in liquibase CI/CD build task (FLEX-867) (#459)
  .teamcity/settings.kts
Due: none

fix: nitpick and check that current state loads
  justfile
Due: none

fixed typos etc.
  docs/concepts/time-series.md
Due: none

chore(deps): update patch updates [patch]
  backend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
Due: dockerfilelint

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.52.0
  .teamcity/pom.xml
Due: none
