Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

feat: align spg grid prequalification show with other applications (#766)
  frontend/src/components/comments/types.ts
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqActionBar.tsx
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqCommentFeed.tsx
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqShowSummary.tsx
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqShowTabs.tsx
  frontend/src/service_providing_group/grid_prequalification/show/spgpqStatus.ts
  frontend/src/service_providing_group/grid_prequalification/show/useSpgpqComments.ts
  frontend/src/service_providing_group/grid_prequalification/show/useSpgpqShowViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Removed policies for AP grid location history as they are covered by APGL_COM001 (FLEX-1136)
  db/flex/accounting_point_grid_location_rls.sql
Due: none

fix: Remove required field for PATCH (FLEX-1136)
  frontend/src/intl/field-labels.ts
  openapi/openapi-api-base.yml
Due: eslint, frontend-type-check, frontend-dependency-check

fix: tighten embed identifier format (FLEX-1121)
  backend/data/embed_query_rewrite.go
  backend/data/embed_query_rewrite_test.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

refactor: single OpenAPI-specified aggregates field (FLEX-1143)
  backend/api.sql
  backend/data/models/db.go
  backend/data/models/models.go
  backend/data/models/models.sql.go
  backend/data/static/openapi.json
  backend/event/models/db.go
  backend/event/models/models.go
  backend/event/models/models.sql.go
  db/api/controllable_unit_summary.sql
  db/flex/controllable_unit_summary.sql
  docs/resources/controllable_unit_summary.md
  docs/resources/notice.md
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ByCategoryValue.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ByTechnologyValue.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitSummaryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitSummaryResponseAggregates.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitSummaryResponseTechnicalResource.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NumericAggregation.kt
  local/scripts/openapi_to_markdown.py
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/__init__.py
  test/flex/models/controllable_unit_summary_response.py
  test/flex/models/controllable_unit_summary_response_aggregates.py
  test/flex/models/controllable_unit_summary_response_aggregates_technical_resource.py
  test/flex/models/controllable_unit_summary_response_aggregates_technical_resource_by_category.py
  test/flex/models/controllable_unit_summary_response_aggregates_technical_resource_by_category_additional_property.py
  test/flex/models/controllable_unit_summary_response_aggregates_technical_resource_by_technology.py
  test/flex/models/controllable_unit_summary_response_aggregates_technical_resource_by_technology_additional_property.py
  test/flex/models/controllable_unit_summary_response_count_technical_resource_by_technology.py
  test/flex/models/numeric_aggregation.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: generate arrays propertly in kotlin (FLEX-1121)
  frontend/src/service_providing_group/ServiceProvidingGroupHistoryList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: generate arrays propertly in kotlin (FLEX-1121)
  kbackend/scripts/generate-openapi-models.sh
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AccountingPointResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitSuspensionResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EntityResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/EventResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/MeteringGridAreaResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ProductTypeResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProviderProductApplicationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProviderProductSuspensionResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupGridPrequalificationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupGridSuspensionResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductSuspensionResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupResponse.kt
Due: none

fix: avoid use of _zod.def. (FLEX-1121)
  frontend/src/service_providing_group/ServiceProvidingGroupHistoryList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: permissions and tests (FLEX-1143)
  db/api/grants/field_level_authorization.sql
  docs/resources/controllable_unit_summary.md
  frontend/src/auth/permissions.ts
  local/input/permissions.csv
  test/api_client_tests/test_cu_summary.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: set cardinality for embedding between CU summary and CU (FLEX-1143)
  .pre-commit-config.yaml
  backend/data/static/openapi.json
  db/api/embedding/embedding.sql
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitSummaryResponse.kt
  local/scripts/openapi_to_db.py
  local/scripts/relationship.py
  local/scripts/template_to_openapi.py
  local/scripts/templates/embedding.j2.sql
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/controllable_unit_summary/read_controllable_unit_summary.py
  test/flex/models/controllable_unit_response.py
  test/flex/models/controllable_unit_summary_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: use existing OpenAPI enums (FLEX-1143)
  backend/data/static/openapi.json
  frontend/src/generated-client/types.gen.ts
  openapi/openapi-api-no-default.json
  openapi/resources.yml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

refactor: remove aggregates level to expose directly technical_resource (FLEX-1143)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/controllable_unit_summary.sql
  db/api/grants/field_level_authorization.sql
  db/flex/controllable_unit_summary.sql
  docs/resources/controllable_unit_summary.md
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitGridValidationStatus.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitSummaryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitSummaryResponseAggregates.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitSummaryResponseTechnicalResource.kt
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_cu_summary.py
  test/flex/models/__init__.py
  test/flex/models/controllable_unit_summary_response.py
  test/flex/models/controllable_unit_summary_response_aggregates.py
  test/flex/models/controllable_unit_summary_response_aggregates_technical_resource_by_category.py
  test/flex/models/controllable_unit_summary_response_aggregates_technical_resource_by_technology.py
  test/flex/models/controllable_unit_summary_response_technical_resource.py
  test/flex/models/controllable_unit_summary_response_technical_resource_by_category.py
  test/flex/models/controllable_unit_summary_response_technical_resource_by_category_additional_property.py
  test/flex/models/controllable_unit_summary_response_technical_resource_by_technology.py
  test/flex/models/controllable_unit_summary_response_technical_resource_by_technology_additional_property.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

chore: updgrade jwx and pgx
  backend/.air.toml
  backend/Dockerfile
  backend/auth/accesstoken.go
  backend/auth/auth.go
  backend/auth/oidc/oidc.go
  backend/auth/oidc/provider.go
  backend/go.mod
  backend/go.sum
  mise.toml
  test/api_client_tests/test_party.py
Due: dockerfilelint, golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: Added tests (FLEX-1136)
  test/api_client_tests/test_accounting_point_grid_location.py
Due: none

refactor: controllable_unit_id field on summary (FLEX-1143)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/controllable_unit_summary.sql
  db/api/embedding/embedding.sql
  db/api/grants/field_level_authorization.sql
  db/flex/controllable_unit_summary.sql
  docs/diagrams/resources.plantuml
  docs/resources/controllable_unit_summary.md
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitSummaryResponse.kt
  local/input/permissions.csv
  local/scripts/openapi_to_db.py
  local/scripts/relationship.py
  local/scripts/template_to_openapi.py
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/controllable_unit_summary_response.py
Due: check-plantuml, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

chore: updgrade jwx and pgx (and use mise for go) (#772)
  backend/.air.toml
  backend/Dockerfile
  backend/auth/accesstoken.go
  backend/auth/auth.go
  backend/auth/oidc/oidc.go
  backend/auth/oidc/provider.go
  backend/go.mod
  backend/go.sum
  mise.toml
  test/api_client_tests/test_party.py
Due: dockerfilelint, golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: mention ID = CU ID (FLEX-1143)
  backend/data/static/openapi.json
  docs/resources/controllable_unit_summary.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitSummaryResponse.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/controllable_unit_summary_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix(deps): update cohort in kbackend to v2.9.1 (#769)
  kbackend/gradle/libs.versions.toml
Due: none

docs: Policies marked as done (FLEX-1136)
  docs/resources/accounting_point_grid_location.md
Due: none

refactor: replace dropdown nav with flat top-level navlinks (FLEX-1131)
  frontend/src/components/Header/HeaderNav.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: export notice group helpers
  frontend/src/dashboard/notice-groups.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add useActiveNotices hook
  frontend/src/dashboard/useActiveNotices.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add NoticeTable component
  frontend/src/dashboard/NoticeTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: replace dashboard with notice todo list
  frontend/src/dashboard/Dashboard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: add required icon prop to Badge in dashboard
  frontend/src/App.tsx
  frontend/src/Dashboard.tsx
  frontend/src/components/Header/HeaderNav.tsx
  frontend/src/dashboard/Dashboard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add more notices to test-data
  db/test_data/test_data.sql
  frontend/src/dashboard/Dashboard.tsx
  frontend/src/dashboard/useActiveNotices.ts
  local/postgres/users.sql
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: notice every 2 seconds
  db/flex/notice_fresh.sql
Due: none

feat: add DashboardItem type for unified dashboard
  frontend/src/dashboard/useDashboardApplications.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add useDashboardApplications hook
  frontend/src/dashboard/useDashboardApplications.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: stabilise query keys and fix addMonths overflow in dashboard hook
  frontend/src/dashboard/useDashboardApplications.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add ApplicationsTable component
  frontend/src/dashboard/ApplicationsTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove as-any cast and hoist static constants in ApplicationsTable
  frontend/src/dashboard/ApplicationsTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: rewrite dashboard with stat cards and applications table
  frontend/src/dashboard/Dashboard.tsx
  frontend/src/dashboard/useActiveNotices.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove unused colorClass prop and fix ReactNode import in Dashboard
  frontend/src/dashboard/Dashboard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: remove obsolete notice-based dashboard files
  frontend/src/dashboard/NoticeTable.tsx
  frontend/src/dashboard/notice-groups.ts
  frontend/src/dashboard/useActiveNotices.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check
