Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix: flexible_power renamed to maximum_active_power on CU level summary (no longer using TR.MAP) (FLEX-1386)
  backend/data/static/openapi.json
  db/flex/service_providing_group_summary.sql
  docs/resources/service_providing_group_summary.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/service_providing_group/product_application/print/SpgpaPrintCuSummary.tsx
  frontend/src/service_providing_group/summary/ServiceProvidingGroupControllableUnitSummary.tsx
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupSummaryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupSummaryResponseControllableUnit.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_spg_summary.py
  test/flex/models/service_providing_group_summary_response.py
  test/flex/models/service_providing_group_summary_response_controllable_unit.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

chore: remove double whitespace (FLEX-1386)
  backend/data/static/openapi.json
  docs/resources/service_providing_group_summary.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupSummaryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupSummaryResponseControllableUnit.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group_summary_response.py
  test/flex/models/service_providing_group_summary_response_controllable_unit.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: flexible power added to spg summary and used in frontend (FLEX-1386) (#1080)
  backend/data/static/openapi.json
  db/flex/service_providing_group_summary.sql
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/service_providing_group/product_application/print/ServiceProvidingGroupProductApplicationPrint.tsx
  frontend/src/service_providing_group/product_application/print/SpgpaPrintCuSummary.tsx
  frontend/src/service_providing_group/product_application/print/SpgpaPrintSpgInfo.tsx
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowSPGSummarySection.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
  frontend/src/service_providing_group/summary/ServiceProvidingGroupControllableUnitSummary.tsx
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupSummaryResponseControllableUnit.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_spg_summary.py
  test/flex/models/service_providing_group_summary_response.py
  test/flex/models/service_providing_group_summary_response_controllable_unit.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

chore(deps): update patch updates [patch]
  mise.toml
Due: none

fix(deps): update backend
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
Due: none

chore(deps): update minor updates [patch]
  mise.toml
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: wording in inline comment
  db/flex/notice/notice_accounting_point_grid_location.sql
Due: none

fix: update lock file (FLEX-1388)
  frontend/package-lock.json
Due: none

fix: remove owasp dependency check (FLEX-1388) (#1082)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: increase default query limit in order to load complete data sets for all our lists in frontend
  backend/internal/middleware/defaultquerylimit.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: increase default query limit in order to load complete data sets for all our lists in frontend (#1086)
  backend/internal/middleware/defaultquerylimit.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat(ui): can only select cu with status active (FLEX-1360)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/membership/ManageMembersPanel.tsx
  frontend/src/service_providing_group/membership/useAddMembersState.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add filter cu on status (FLEX-1360)
  backend/data/static/openapi.json
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/controllable_unit/list_controllable_unit.py
  test/flex/api/controllable_unit/list_controllable_unit_history.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: updated to valid test data cu status active (FLEX-1360)
  db/test_data/test_data.sql
Due: none

feat: validate CU status active when adding to SPG (FLEX-1360)
  backend/data/static/openapi.json
  db/flex/service_providing_group_membership.sql
  docs/resources/service_providing_group_membership.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipResponse.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group_membership_create_request.py
  test/flex/models/service_providing_group_membership_history_response.py
  test/flex/models/service_providing_group_membership_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: filter out cu with terminated status (FLEX-1360)
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: test_spg_membership tests (FLEX-1360)
  test/api_client_tests/test_spg_membership.py
Due: none

fix: update controllable unit id description (FLEX-1360)
  backend/data/static/openapi.json
  docs/resources/service_providing_group_membership.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipResponse.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group_membership_create_request.py
  test/flex/models/service_providing_group_membership_history_response.py
  test/flex/models/service_providing_group_membership_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: update sql query with coalesce (FLEX-1360)
  db/flex/service_providing_group_membership.sql
Due: none

feat: add test for SPGM-VAL004 (FLEX-1360)
  test/api_client_tests/test_spg_membership.py
Due: none

feat: update tests for new trigger (FLEX-1360)
  test/api_client_tests/test_accounting_point.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_spggs_comment.py
Due: none

fix: trigger should be security definer and run after insert (FLEX-1360)
  db/flex/service_providing_group_membership.sql
Due: none

feat: update tests for new trigger (FLEX-1360)
  test/api_client_tests/test_accounting_point.py
  test/api_client_tests/test_accounting_point_grid_location.py
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_spg.py
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_grid_suspension.py
  test/api_client_tests/test_spg_power_per_substation.py
  test/api_client_tests/test_spg_product_application.py
  test/api_client_tests/test_spg_product_suspension.py
  test/api_client_tests/test_spg_summary.py
  test/api_client_tests/test_spgpa_attachment.py
  test/api_client_tests/test_spgps_comment.py
Due: none

feat: update trigger to before insert (FLEX-1360)
  db/flex/service_providing_group_membership.sql
Due: none

feat: cu status active when adding to spg (FLEX-1360) (#1078)
  backend/data/static/openapi.json
  db/flex/service_providing_group_membership.sql
  db/test_data/test_data.sql
  docs/resources/service_providing_group_membership.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/membership/ManageMembersPanel.tsx
  frontend/src/service_providing_group/membership/useAddMembersState.ts
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupMembershipResponse.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_accounting_point.py
  test/api_client_tests/test_accounting_point_grid_location.py
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_spg.py
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_grid_suspension.py
  test/api_client_tests/test_spg_membership.py
  test/api_client_tests/test_spg_power_per_substation.py
  test/api_client_tests/test_spg_product_application.py
  test/api_client_tests/test_spg_product_suspension.py
  test/api_client_tests/test_spg_summary.py
  test/api_client_tests/test_spggs_comment.py
  test/api_client_tests/test_spgpa_attachment.py
  test/api_client_tests/test_spgps_comment.py
  test/flex/api/controllable_unit/list_controllable_unit.py
  test/flex/api/controllable_unit/list_controllable_unit_history.py
  test/flex/models/service_providing_group_membership_create_request.py
  test/flex/models/service_providing_group_membership_history_response.py
  test/flex/models/service_providing_group_membership_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

fix: loader when fetching tr (FLEX-1375)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/service_providing_group/show/SpgTechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: show SP and recorded at in SPG PA list
  frontend/src/components/EDS-ra/fields/BaseField.tsx
  frontend/src/components/EDS-ra/fields/TextField.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: show map as well
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: Notice to SP when CU flexible power exceeds rated power (FLEX-1358)
  db/flex/notice/notice_controllable_unit.sql
  db/flex/notice_fresh.sql
  frontend/src/notice/noticeTypes.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: loader when fetching tr (FLEX-1375) (#1087)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/service_providing_group/show/SpgTechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: false positives for grid location missing (FLEX-1378) (#1083)
  db/flex/accounting_point_grid_location_fresh.sql
  db/flex/notice/notice_accounting_point_grid_location.sql
Due: none

fix: filtering not working due to limit of 1000 when fetching data, also resetting filter state on refresh (FLEX-1347)
  frontend/src/components/EDS-ra/inputs/AutocompleteReferenceInput.tsx
  frontend/src/party/PartyList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: update CU lookup and AP sync to use the AP start view (FLEX-1351)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/AccountingPointStart.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/scheduled/AccountingPointSyncScheduler.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/scheduled/AccountingPointSyncSchedulerTest.kt
Due: none

feat: show SP and recorded at in SPG PA list (#1088)
  frontend/src/components/EDS-ra/fields/BaseField.tsx
  frontend/src/components/EDS-ra/fields/TextField.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(docs): double comment
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
Due: none

fix: error message
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
Due: none

fix: unused imports (FLEX-1351)
  kbackend/src/main/kotlin/no/elhub/flex/scheduled/AccountingPointSyncScheduler.kt
Due: none

feat(frontend): custom notice component for CU flexible power exceeds rated power (FLEX-1358)
  frontend/src/intl/text.ts
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/notice/details/NoticeControllableUnitFlexiblePowerExceedsRatedPower.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check
