Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.53.8 (#488)
  .teamcity/pom.xml
Due: none

refactor: better typing (FLEX-913)
  .pre-commit-config.yaml
  frontend/src/intl/field-labels.json
  frontend/src/intl/field-labels.ts
  frontend/src/intl/intl.tsx
  local/scripts/resources_to_intl.py
Due: prettier, frontend-type-check, frontend-dependency-check

feat(ui): internationalisation of history fields (FLEX-913)
  frontend/src/controllable_unit/ControllableUnitHistoryList.tsx
  frontend/src/controllable_unit/ControllableUnitShow.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderHistoryList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderShow.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionHistoryList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceHistoryList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceShow.tsx
  frontend/src/intl/field-labels.ts
  frontend/src/party/PartyHistoryList.tsx
  frontend/src/party/PartyShow.tsx
  frontend/src/party/membership/PartyMembershipHistoryList.tsx
  frontend/src/party/membership/PartyMembershipShow.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationHistoryList.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationShow.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionHistoryList.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionShow.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupHistoryList.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationHistoryList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionHistoryList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipHistoryList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipShow.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionHistoryList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeHistoryList.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeShow.tsx
  local/scripts/resources_to_intl.py
  openapi/resources.yml
Due: prettier, frontend-type-check, frontend-dependency-check

fix: typo
  frontend/src/controllable_unit/technical_resource/TechnicalResourceHistoryList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: forgotten fields
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionHistoryList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: typo (FLEX-913)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceHistoryList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: support for comments (FLEX-913)
  frontend/src/components/comments.tsx
  frontend/src/intl/field-labels.ts
  local/scripts/resources_to_intl.py
Due: prettier, frontend-type-check, frontend-dependency-check

feat(ui): field internationalisation on input pages (FLEX-913)
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/entity/EntityInput.tsx
  frontend/src/entity/client/EntityClientInput.tsx
  frontend/src/party/PartyInput.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionInput.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupInput.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationInput.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionInput.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: ramp rate (FLEX-913)
  frontend/src/intl/field-labels.ts
  openapi/resources.yml
Due: prettier, frontend-type-check, frontend-dependency-check

feat(ui): internationalisation of enum values (FLEX-913)
  .pre-commit-config.yaml
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/intl.tsx
  local/scripts/openapi_to_markdown.py
  local/scripts/resources_to_intl.py
  local/scripts/template_to_openapi.py
  local/scripts/templates/comment_resource.j2.yml
  openapi/resources.yml
Due: prettier, frontend-type-check, frontend-dependency-check

feat(ui): internationalisation of enum fields (FLEX-913)
  .pre-commit-config.yaml
  backend/data/static/openapi.json
  backend/event/models/models.sql.go
  docs/resources/party.md
  frontend/src/App.tsx
  frontend/src/AssumePartyPage.tsx
  frontend/src/components/EnumField.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/generated-client/client/types.gen.ts
  frontend/src/generated-client/core/pathSerializer.gen.ts
  frontend/src/generated-client/core/serverSentEvents.gen.ts
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/intl.tsx
  frontend/src/intl/text.ts
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/__init__.py
  test/flex/models/party.py
  test/flex/models/party_create_data.py
  test/flex/models/party_create_request.py
  test/flex/models/party_history_response.py
  test/flex/models/party_response.py
  test/flex/models/party_role.py
  test/flex/models/party_type.py
  test/flex/models/party_update_request.py
Due: prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat(ui): internationalisation of history/comment fields (FLEX-913) (#491)
  frontend/src/components/comments.tsx
  frontend/src/controllable_unit/ControllableUnitHistoryList.tsx
  frontend/src/controllable_unit/ControllableUnitShow.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderHistoryList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderShow.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionHistoryList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceHistoryList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceShow.tsx
  frontend/src/intl/field-labels.ts
  frontend/src/party/PartyHistoryList.tsx
  frontend/src/party/PartyShow.tsx
  frontend/src/party/membership/PartyMembershipHistoryList.tsx
  frontend/src/party/membership/PartyMembershipShow.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationHistoryList.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationShow.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionHistoryList.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionShow.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupHistoryList.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationHistoryList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionHistoryList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipHistoryList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipShow.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionHistoryList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeHistoryList.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeShow.tsx
  local/scripts/resources_to_intl.py
  openapi/resources.yml
Due: prettier, frontend-type-check, frontend-dependency-check

feat(ui): field internationalisation on input pages (FLEX-913) (#492)
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/entity/EntityInput.tsx
  frontend/src/entity/client/EntityClientInput.tsx
  frontend/src/party/PartyInput.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionInput.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupInput.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationInput.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionInput.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

test: add hurl script for checking that the api returns 206 with objects (ON-206)
  test/inspect/controllable_unit_list_206.hurl
Due: none

feat: new design for CU-show (FLEX-875)
  frontend/src/auth/FieldStack.tsx
  frontend/src/auth/ViewPermissionGuard.tsx
  frontend/src/auth/index.tsx
  frontend/src/components/history.tsx
  frontend/src/controllable_unit/ControllableUnitQueries.ts
  frontend/src/controllable_unit/balance_responsible_party/ControllableUnitBalanceResponsiblePartyList.tsx
  frontend/src/controllable_unit/index.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowActions.tsx
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/controllable_unit/show/components/GridValidation.tsx
  frontend/src/controllable_unit/show/components/Header.tsx
  frontend/src/controllable_unit/show/components/LabelValue.tsx
  frontend/src/controllable_unit/show/components/MetaInfo.tsx
  frontend/src/controllable_unit/show/components/StatusChip.tsx
  frontend/src/controllable_unit/show/components/Suspensions.tsx
  frontend/src/controllable_unit/show/components/TechnicalInformation.tsx
  frontend/src/controllable_unit/show/components/TechnicalResources.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceShow.tsx
  frontend/src/event/EventButton.tsx
  frontend/src/generated-client/sdk.gen.ts
  frontend/src/resources/controllableUnitResources.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: add alerts to guide the user through the registration process (FLEX-875)
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/show/components/Header.tsx
  frontend/src/controllable_unit/show/components/StatusChip.tsx
  frontend/src/controllable_unit/show/components/Suspensions.tsx
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
Due: prettier, frontend-type-check, frontend-dependency-check

feat: add addtechnical resource button (FLEX-875)
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/components/TechnicalResources.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

chore: use i18n (FLEX-875)
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/controllable_unit/show/components/GridValidation.tsx
  frontend/src/controllable_unit/show/components/LabelValue.tsx
  frontend/src/controllable_unit/show/components/MetaInfo.tsx
  frontend/src/controllable_unit/show/components/TechnicalInformation.tsx
  frontend/src/controllable_unit/show/components/TechnicalResources.tsx
  frontend/src/intl/intl.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

chore: fix typing in useControllableUnitViewModel (FLEX-875)
  frontend/src/auth/ViewPermissionGuard.tsx
  frontend/src/auth/index.tsx
  frontend/src/components/history.tsx
  frontend/src/controllable_unit/show/useControllableUnitViewModel.ts
  frontend/src/event/EventButton.tsx
  frontend/src/generated-client/sdk.gen.ts
  frontend/src/intl/field-labels.ts
Due: prettier, frontend-type-check, frontend-dependency-check

feat: access control on actions (FLEX-875)
  frontend/src/controllable_unit/show/ControllableUnitShowActions.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/show/components/TechnicalResources.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: fix keys on i18n (FLEX-875)
  frontend/src/controllable_unit/show/components/Header.tsx
  frontend/src/controllable_unit/show/components/LabelValue.tsx
  frontend/src/controllable_unit/show/components/TechnicalResources.tsx
  frontend/src/intl/intl.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

chore: remove console log (FLEX-875)
  frontend/src/intl/intl.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: make label key optional (FLEX-875)
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/controllable_unit/show/components/GridValidation.tsx
  frontend/src/controllable_unit/show/components/LabelValue.tsx
  frontend/src/controllable_unit/show/components/TechnicalInformation.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix(ui): broken link to record time docs in dashboard
  frontend/src/Dashboard.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.53.9
  .teamcity/pom.xml
Due: none

fix(deps): update minor updates [patch]
  backend/go.mod
  backend/go.sum
  requirements-dev.txt
Due: none

fix(ui): broken link to record time docs in dashboard (#496)
  frontend/src/Dashboard.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: typing (FLEX-913)
  frontend/src/components/enum.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: enum support in comments (FLEX-913)
  frontend/src/components/comments.tsx
  frontend/src/intl/enum-labels.ts
  local/scripts/resources_to_intl.py
  local/scripts/templates/comment_resource.j2.yml
Due: prettier, frontend-type-check, frontend-dependency-check

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.53.9 (#497)
  .teamcity/pom.xml
Due: none

feat: disable intl button (FLEX-913)
  frontend/src/intl/intl.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix(docs): JWT bearer iss format (FLEX-919)
  docs/technical/auth.md
Due: none

fix(docs): JWT bearer iss format (FLEX-919) (#499)
  docs/technical/auth.md
Due: none
