Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

docs: add text to describe lookup operation (FLEX-672)
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat(ui): add CU lookup button on CUSP list on CU show page (FLEX-672) (#261)
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

docs: change error message and rule description (FLEX-676)
  db/flex/controllable_unit_service_provider.sql
  docs/resources/controllable_unit_service_provider.md
Due: none

feat: reject new CUSP with same SP/EU as the current one (FLEX-676) (#262)
  db/flex/controllable_unit_service_provider.sql
  docs/resources/controllable_unit_service_provider.md
  test/api_client_tests/test_cusp.py
Due: none

docs: use more detailed scopes (FLEX-639)
  docs/resources/accounting_point.md
  docs/resources/accounting_point_balance_responsible_party.md
  docs/resources/accounting_point_energy_supplier.md
  docs/resources/controllable_unit.md
  docs/resources/controllable_unit_service_provider.md
  docs/resources/entity.md
  docs/resources/entity_client.md
  docs/resources/event.md
  docs/resources/identity.md
  docs/resources/notice.md
  docs/resources/notification.md
  docs/resources/party.md
  docs/resources/party_membership.md
  docs/resources/product_type.md
  docs/resources/service_provider_product_application.md
  docs/resources/service_provider_product_application_comment.md
  docs/resources/service_providing_group.md
  docs/resources/service_providing_group_grid_prequalification.md
  docs/resources/service_providing_group_membership.md
  docs/resources/service_providing_group_product_application.md
  docs/resources/system_operator_product_type.md
  docs/resources/technical_resource.md
  docs/technical/auth.md
Due: none

refactor: use more precise scopes (FLEX-639)
  db/api/accounting_point_balance_responsible_party.sql
  db/api/accounting_point_energy_supplier.sql
  db/api/notice.sql
  db/flex/accounting_point_energy_supplier_rls.sql
  db/flex/accounting_point_metering_grid_area_rls.sql
  db/flex/accounting_point_rls.sql
  db/flex/controllable_unit_rls.sql
  db/flex/controllable_unit_service_provider.sql
  db/flex/controllable_unit_service_provider_rls.sql
  db/flex/energy_supplier_balance_responsibility_rls.sql
  db/flex/entity_client_rls.sql
  db/flex/entity_rls.sql
  db/flex/event_rls.sql
  db/flex/identity_rls.sql
  db/flex/notification_rls.sql
  db/flex/party_membership.sql
  db/flex/party_membership_migrations.sql
  db/flex/party_membership_rls.sql
  db/flex/party_rls.sql
  db/flex/product_type_rls.sql
  db/flex/service_provider_product_application.sql
  db/flex/service_provider_product_application_comment_rls.sql
  db/flex/service_provider_product_application_rls.sql
  db/flex/service_providing_group_grid_prequalification_rls.sql
  db/flex/service_providing_group_membership_rls.sql
  db/flex/service_providing_group_product_application_rls.sql
  db/flex/service_providing_group_rls.sql
  db/flex/system_operator_product_type_rls.sql
  db/flex/technical_resource_rls.sql
  db/test_data/test_data.sql
  docs/resources/entity.md
  docs/resources/technical_resource.md
Due: none

fix: comment scope rules for flex_entity (FLEX-639)
  db/flex/entity_client_rls.sql
  db/flex/entity_rls.sql
  db/flex/identity_rls.sql
  db/flex/party_membership_rls.sql
  db/flex/party_rls.sql
Due: none

fix: update scopes in openapi docs/client (FLEX-639)
  backend/data/static/openapi.json
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/party_membership.py
  test/flex/models/party_membership_create_data.py
  test/flex/models/party_membership_create_request.py
  test/flex/models/party_membership_history_response.py
  test/flex/models/party_membership_response.py
  test/flex/models/party_membership_update_request.py
  test/flex/models/party_membership_update_request_scopes_item.py
Due: check-openapi

fix: update UI and tests (FLEX-639)
  db/flex/controllable_unit_service_provider_rls.sql
  db/flex/entity_rls.sql
  db/flex/service_providing_group_grid_prequalification_rls.sql
  db/flex/service_providing_group_membership_rls.sql
  db/flex/system_operator_product_type_rls.sql
  db/flex/technical_resource_rls.sql
  frontend/src/party/membership/components.tsx
  test/api_client_tests/test_entity.py
  test/api_client_tests/test_party_membership.py
  test/security_token_service.py
Due: prettier, frontend-type-check, frontend-dependency-check

chore: minimise git diff (FLEX-639)
  db/api/notice.sql
  db/flex/controllable_unit_rls.sql
  db/flex/entity_rls.sql
  db/flex/notification_rls.sql
  db/flex/party_membership_rls.sql
  db/flex/party_rls.sql
  db/flex/service_provider_product_application_comment_rls.sql
  db/flex/service_providing_group_grid_prequalification_rls.sql
Due: none

test: fix test coverage tags (FLEX-639)
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_cu_lookup.py
  test/api_client_tests/test_cusp.py
  test/api_client_tests/test_entity.py
  test/api_client_tests/test_entity_client.py
  test/api_client_tests/test_entity_lookup.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_party.py
  test/api_client_tests/test_party_membership.py
  test/api_client_tests/test_service_provider_product_application.py
  test/api_client_tests/test_spg.py
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_membership.py
  test/api_client_tests/test_spg_product_application.py
  test/api_client_tests/test_sppa_comment.py
  test/api_client_tests/test_system_operator_product_type.py
  test/api_client_tests/test_technical_resource.py
  test/security_token_service.py
Due: none

fix(ui): correct scope choice list in UI (FLEX-639)
  frontend/src/party/membership/components.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: fix liquibase checksum (FLEX-639)
  db/flex/party_membership.sql
Due: none

fix: correct test (FLEX-642)
  test/api_client_tests/test_entity_client.py
Due: none

test: add login reset (FLEX-642)
  test/api_client_tests/test_entity_client.py
  test/security_token_service.py
Due: none

fix: liquibase syntax controllable_unit_service_provider duplicates (FLEX-678)
  db/flex/controllable_unit_service_provider.sql
Due: none

fix: liquibase syntax controllable_unit_service_provider duplicates (… (#263)
  db/flex/controllable_unit_service_provider.sql
Due: none

feat(db): operations roles for update and readwrite (FLEX-675)
  db/flex/changelog.yml
  local/postgres/init.sql
Due: none

feat(db): operations roles for update and readwrite (FLEX-675) (#264)
  db/flex/changelog.yml
  local/postgres/init.sql
Due: none

fix: remove unescaped apostrophe (FLEX-679)
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix(ui): remove unescaped apostrophe (FLEX-679) (#265)
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

docs: improve scope and general auth docs (FLEX-639)
  docs/diagrams/auth_layers.drawio.png
  docs/technical/auth.md
Due: none

docs(auth): remove scope id and describe party type check (FLEX-639)
  docs/technical/auth.md
Due: none

fix: naming of scope enum in openapi and client (FLEX-639)
  backend/data/static/openapi.json
  frontend/src/tooltip/tooltips.json
  local/scripts/openapi_to_db.py
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_entity.py
  test/api_client_tests/test_party_membership.py
  test/flex/models/__init__.py
  test/flex/models/auth_scope.py
  test/flex/models/party_membership.py
  test/flex/models/party_membership_create_data.py
  test/flex/models/party_membership_create_request.py
  test/flex/models/party_membership_history_response.py
  test/flex/models/party_membership_response.py
  test/flex/models/party_membership_update_request.py
  test/security_token_service.py
Due: check-openapi

added flow
  docs/concepts/ready-for-market.md
  docs/diagrams/ready_for_market.drawio.png
Due: none

update: definition of suspension
  docs/concepts/suspension.md
Due: none

fix: remove commented out stuff. Specify what SO (FLEX-661)
  docs/concepts/suspension.md
Due: none

docs: suspension concept (FLEX-661) (#247)
  docs/concepts/suspension.md
Due: none

feat: CheckScopeForRequest (FLEX-639)
  backend/auth/middleware.go
  backend/data/data.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: scopecheck on auth (FLEX-639)
  backend/flex.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

update: added checklist table
  docs/concepts/ready-for-market.md
Due: none

fix: removed last in timestamps
  docs/concepts/ready-for-market.md
Due: none

docs: plan baseline method
  docs/concepts/time-series.md
Due: none

docs: plan baseline method (#266)
  docs/concepts/time-series.md
Due: none
