Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

refactor: replace CU-AP-APEU joins with queries to CUEU (FLEX-848)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.go
  backend/event/models/models.sql.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: runAlways view definition (FLEX-848)
  db/notification/controllable_unit_system_operator.sql
Due: none

fix(deps): update patch updates [patch]
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update minor updates [patch]
  frontend/package-lock.json
  frontend/package.json
  local/postgres/Dockerfile
Due: dockerfilelint

feat: also drop notification schema on unload (FLEX-848)
  db/unload.sh
Due: none

refactor: do not keep api.sql copies after running sqlc (FLEX-848)
  backend/data/schemas/api.sql
  backend/event/schemas/api.sql
  justfile
Due: none

refactor: prefix all DB objects with schema in sqlc models files (FLEX-848) (#408)
  backend/api.sql
  backend/data/models.sql
  backend/data/models/models.go
  backend/data/models/models.sql.go
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.go
  backend/event/models/models.sql.go
  backend/event/schema.sql
  backend/event/schemas/notification.sql
  backend/sqlc.yaml
  db/api/accounting_point_end_user.sql
  db/notification/controllable_unit_end_user.sql
  db/notification/controllable_unit_system_operator.sql
  db/unload.sh
  justfile
  local/scripts/openapi_to_db.py
  local/scripts/sqlc.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore(deps): update minor updates [patch] (#410)
  frontend/package-lock.json
  frontend/package.json
  local/postgres/Dockerfile
Due: dockerfilelint

fix(deps): update patch updates [patch] (#409)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: added details about notice, fixwed typos and added link
  docs/concepts/notification-and-notice.md
  docs/technical/api-design.md
Due: none

fix: added information about event (notice)
  docs/concepts/notification-and-notice.md
Due: none

docs: notice - less process and more about state (FLEX-811)
  docs/concepts/notification-and-notice.md
Due: none

fix: minor update based on qa (FLEX-832)
  docs/resources/controllable_unit_suspension_comment.md
  test/api_client_tests/test_cus_comment.py
Due: none

fix: minor changes from qa (FLEX-832)
  backend/data/models/models.go
  test/api_client_tests/test_cus_comment.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: validation rule and notice (FLEX-851)
  docs/resources/controllable_unit_suspension.md
  docs/resources/notice.md
Due: none

feat: CUS-VAL001 (FLEX-851)
  db/flex/controllable_unit_suspension.sql
  docs/resources/controllable_unit_suspension.md
  test/api_client_tests/test_cu_suspension.py
Due: none

feat: notice no.elhub.flex.controllable_unit_suspension.not_active (FLEX-851)
  db/flex/notice.sql
Due: none

feat: validation rule and notice about CU status on CU suspension (FLEX-851) (#411)
  db/flex/controllable_unit_suspension.sql
  db/flex/notice.sql
  docs/resources/controllable_unit_suspension.md
  docs/resources/notice.md
  test/api_client_tests/test_cu_suspension.py
Due: none

docs: conceptual model
  docs/concepts/conceptual-model.md
  docs/diagrams/conceptual_model.drawio.png
Due: none

docs: validation rule - one suspension per iso on CUS and SPGGS (FLEX-855)
  docs/resources/controllable_unit_suspension.md
  docs/resources/service_providing_group_grid_suspension.md
Due: none

test: failing tests (FLEX-855)
  test/api_client_tests/test_cu_suspension.py
  test/api_client_tests/test_spg_grid_suspension.py
Due: none

fix: uk on iso and cu/spg on cu/spg suspension (FLEX-855)
  db/flex/controllable_unit_suspension.sql
  db/flex/service_providing_group_grid_suspension.sql
  test/api_client_tests/test_cu_suspension.py
Due: none

fix: copypasta comment on cus uk
  db/flex/controllable_unit_suspension.sql
Due: none

fix: copypasta comment on spggs uk
  db/flex/service_providing_group_grid_suspension.sql
Due: none

fix: todo -> done
  docs/resources/service_providing_group_grid_suspension.md
Due: none

fix: todo -> done
  docs/resources/controllable_unit_suspension.md
Due: none

fix: define comment URLs in frontend app (FLEX-832)
  frontend/src/App.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix(docs): notify users only when they can see the comment (FLEX-832)
  docs/resources/controllable_unit_suspension_comment.md
Due: none

fix: minor changes from qa (FLEX-832)
  docs/diagrams/resources.png
  docs/resources/controllable_unit_suspension_comment.md
Due: none

docs: update conceptual model
  docs/concepts/conceptual-model.md
Due: none

fix(docs): no delete on CUS comment (FLEX-833)
  docs/resources/controllable_unit_suspension_comment.md
Due: none

feat(db): update event RLS for events on CUS comment (FLEX-833)
  db/flex/event_rls.sql
  docs/resources/event.md
Due: none

chore: re-generate SQLC models with CUS(C) history (FLEX-833)
  backend/api.sql
  backend/event/models/models.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: implementation of notification (FLEX-833)
  backend/event/models.sql
  backend/event/models/models.custom.go
  backend/event/models/models.sql.go
  db/api/grants/field_level_authorization.sql
  db/flex/grants/field_level_authorization.sql
  local/input/permissions.csv
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

punktum
  docs/concepts/notification-and-notice.md
Due: none

docs: conceptual model umbrella (#386)
  docs/concepts/conceptual-model.md
  docs/concepts/cu-spg.md
  docs/concepts/index.md
  docs/diagrams/conceptual_model.drawio.png
  docs/resources/controllable_unit.md
  docs/resources/service_providing_group.md
  docs/resources/technical_resource.md
Due: none

feat: one cu and spg grid suspension per ISO (#412)
  db/flex/controllable_unit_suspension.sql
  db/flex/service_providing_group_grid_suspension.sql
  docs/resources/controllable_unit_suspension.md
  docs/resources/service_providing_group_grid_suspension.md
  test/api_client_tests/test_cu_suspension.py
  test/api_client_tests/test_spg_grid_suspension.py
Due: none
