Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

fix: delete CUSP-VAL001 rule and trigger (FLEX-1492) (#1205)
  .pre-commit-config.yaml
  db/api/changelog.yml
  db/api/controllable_unit_service_provider_migrations.sql
  db/api/grants/field_level_authorization.sql
  db/flex/controllable_unit_service_provider.sql
  db/flex/controllable_unit_service_provider_migrations.sql
  db/flex/controllable_unit_service_provider_rls.sql
  db/flex/grants/field_level_authorization.sql
  docs/resources/controllable_unit_service_provider.md
  frontend/src/auth/permissions.ts
  local/input/permissions.csv
  test/api_client_tests/test_cusp.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor(ui): split lists with timestamps on SO dashboard (FLEX-1482) (#1230)
  frontend/src/components/SimpleTable.tsx
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/dashboard/service_provider/SpApplicationsTable.tsx
  frontend/src/dashboard/system_operator/SoApplicationsTable.tsx
  frontend/src/dashboard/system_operator/SoDashboard.tsx
  frontend/src/intl/text.ts
  kbackend/gradle.properties
  local/authelia/config/configuration.yml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: Tailwind classes (FLEX-1509)
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: translation (FLEX-1509)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: more visible link from SPGPA to SPG (FLEX-1509) (#1239)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: mark cu with changed membership validity as changed (FLEX-1508)
  frontend/src/service_providing_group/product_application/show/ControllableUnitDiff.tsx
  frontend/src/service_providing_group/product_application/show/useSpgChangesViewModel.test.tsx
  frontend/src/service_providing_group/product_application/show/useSpgChangesViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: text Completed at -> Complete at
  frontend/src/intl/field-labels.ts
  openapi/resources.yml
Due: eslint, frontend-type-check, frontend-dependency-check

chore(deps): update minor updates [patch] (#1225)
  frontend/src/intl/field-labels.ts
  mise.toml
  openapi/resources.yml
Due: eslint, frontend-type-check, frontend-dependency-check

chore(deps): update patch updates [patch] (#1223)
  mise.toml
Due: none

fix(frontend): populate valid_from when editing CUSP (FLEX-1503)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: remove log statement (FLEX-1503)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: show so in ap summary (FLEX-1511)
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/accounting_point/show/useAccountingPointViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: moved so to ap tab for cu (FLEX-1511)
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add translation (FLEX-1511)
  frontend/src/controllable_unit/show/ControllableUnitShowTabs.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: put so call in the same promise (FLEX-1511)
  frontend/src/accounting_point/show/useAccountingPointViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): disabled page scroll getting stuck after modal usage (FLEX-1522)
  frontend/src/main.css
Due: prettier

chore: bump build config
  .teamcity/pom.xml
Due: none

chore: bump build config (#1243)
  .teamcity/pom.xml
Due: none

fix(frontend): populate valid_from when editing CUSP (FLEX-1503) (#1240)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: show so in ap summary (FLEX-1511) (#1241)
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/accounting_point/show/useAccountingPointViewModel.ts
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowTabs.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(frontend): expandable change log for CU when diffing two snapshots (FLEX-1508) (#1238)
  frontend/src/components/ui/index.ts
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/show/ControllableUnitDiff.tsx
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupShowChangesTab.tsx
  frontend/src/service_providing_group/product_application/show/useSpgChangesViewModel.test.ts
  frontend/src/service_providing_group/product_application/show/useSpgChangesViewModel.test.tsx
  frontend/src/service_providing_group/product_application/show/useSpgChangesViewModel.ts
  frontend/src/test/test-utils.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: revert SPGPA (FLEX-1505)
  backend/data/static/openapi.json
  db/flex/accounting_point_procuring_system_operator.sql
  db/flex/changelog.yml
  db/flex/controllable_unit_procuring_system_operator.sql
  db/flex/service_providing_group_grid_prequalification.sql
  db/flex/service_providing_group_grid_prequalification_sync.sql
  db/flex/service_providing_group_membership_migrations.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
  db/flex/service_providing_group_product_application_rls.sql
  db/flex/service_providing_group_product_application_sync.sql
  db/flex/service_providing_group_rls.sql
  docs/resources/service_providing_group_grid_prequalification.md
  docs/resources/service_providing_group_product_application.md
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/field-labels.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/show/useSpgpaControllableUnits.test.tsx
  frontend/src/service_providing_group/product_application/show/useSpgpaControllableUnits.ts
  frontend/src/service_providing_group/product_application/spgpaStatus.ts
  frontend/src/service_providing_group/show/useSpgProductApplications.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationStatus.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_product_application.py
  test/flex/api/service_providing_group_product_application/list_service_providing_group_product_application.py
  test/flex/api/service_providing_group_product_application/list_service_providing_group_product_application_history.py
  test/flex/models/service_providing_group_product_application_status.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

feat: add more info into the table and remove link to the page. also add toggle button in table to substitute (FLEX-1517)
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: translation (FLEX-1517)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: kenneth comments (FLEX-1517)
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: make developers happy (FLEX-1517)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: move to new layout (FLEX-1512)
  frontend/src/notice/NoticeShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: kenenth come on (FLEX-1517)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add more info into the table and remove link to the page. also add toggle button in table to substitute (FLEX-1517) (#1244)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): show location tab when clicking on 'show location' in CU table
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): clear stale history filter and drop required marker on list filter inputs (FLEX-1480)
  frontend/src/components/EDS-ra/buttons/hooks/useNestedResourceHistory.ts
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/components/EDS-ra/list/List.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: rephrase last paragraph of show page layout (FLEX-1470)
  docs-dev/ui.md
Due: none

docs(ui): frontend docs showpage (FLEX-1470) (#1234)
  docs-dev/ui.md
Due: none

fix: forgotten rules and filters (FLEX-1505)
  db/flex/service_providing_group_grid_prequalification_rls.sql
  db/flex/service_providing_group_grid_prequalification_sync.sql
  db/flex/service_providing_group_product_application_rls.sql
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/service_providing_group/product_application/show/useSpgpaControllableUnits.test.tsx
  frontend/src/service_providing_group/product_application/show/useSpgpaControllableUnits.ts
  test/api_client_tests/test_spg_grid_prequalification.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: use new layout component and redesign notice page (FLEX-1512)
  frontend/src/notice/NoticeShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: better show data of notice (FLEX-1496)
  frontend/src/notice/NoticeShowDetails.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): clear stale history filter and drop required marker on list filter inputs (FLEX-1480) (#1246)
  frontend/src/components/EDS-ra/buttons/hooks/useNestedResourceHistory.ts
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/components/EDS-ra/list/List.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(frontend): show location tab when clicking on 'show location' in CU table (#1245)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: new skill for resource show page layout (FLEX-1489)
  frontend/.github/skills/resource-show-layout/use-resource-show-skill.md
  frontend/.github/skills/test-frontend-hooks/SKILL.md
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
