Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix: backend depends on healthy authelia (FLEX-652)
  docker-compose.yml
Due: none

fix(ui): fix pagination in lists of subresources (FLEX-663)
  frontend/src/controllable_unit/balance_responsible_party/ControllableUnitBalanceResponsiblePartyList.tsx
  frontend/src/controllable_unit/energy_supplier/ControllableUnitEnergySupplierList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/entity/client/EntityClientList.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
  frontend/src/service_provider_product_application/comment/ServiceProviderProductApplicationCommentList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: upgrade devDependencies (FLEX-668)
  docs-dev/dependencies.md
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: rename vite config ts->mts (FLEX-668)
  .pre-commit-config.yaml
  frontend/vite.config.mts
Due: prettier, frontend-type-check, frontend-dependency-check

feat: run local test env with frontend/backend containers (FLEX-652) (#248)
  .pre-commit-config.yaml
  docker-compose.yml
  justfile
  local/nginx/templates/flex.conf
  local/nginx/templates/flex.frontend.part
Due: none

chore: upgrade devDependencies (FLEX-668) (#250)
  .pre-commit-config.yaml
  docs-dev/dependencies.md
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.mts
Due: prettier, frontend-type-check, frontend-dependency-check

fix(ui): fix pagination in lists of subresources (FLEX-663) (#249)
  frontend/src/controllable_unit/balance_responsible_party/ControllableUnitBalanceResponsiblePartyList.tsx
  frontend/src/controllable_unit/energy_supplier/ControllableUnitEnergySupplierList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/entity/client/EntityClientList.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
  frontend/src/service_provider_product_application/comment/ServiceProviderProductApplicationCommentList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat(ui): disable sortering on reference fields (FLEX-663)
  frontend/src/AssumePartyPage.tsx
  frontend/src/controllable_unit/balance_responsible_party/ControllableUnitBalanceResponsiblePartyList.tsx
  frontend/src/controllable_unit/energy_supplier/ControllableUnitEnergySupplierList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderHistoryList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceHistoryList.tsx
  frontend/src/notice/NoticeList.tsx
  frontend/src/notification/NotificationList.tsx
  frontend/src/party/PartyHistoryList.tsx
  frontend/src/party/PartyList.tsx
  frontend/src/party/membership/PartyMembershipHistoryList.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationHistoryList.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupHistoryList.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationHistoryList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipHistoryList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeHistoryList.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

docs: moved status and transition from processes to resources
  docs/processes/index.md
  docs/resources/index.md
Due: none

feat(ui): disable sortering on reference fields (FLEX-663) (#251)
  frontend/src/AssumePartyPage.tsx
  frontend/src/controllable_unit/balance_responsible_party/ControllableUnitBalanceResponsiblePartyList.tsx
  frontend/src/controllable_unit/energy_supplier/ControllableUnitEnergySupplierList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderHistoryList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceHistoryList.tsx
  frontend/src/notice/NoticeList.tsx
  frontend/src/notification/NotificationList.tsx
  frontend/src/party/PartyHistoryList.tsx
  frontend/src/party/PartyList.tsx
  frontend/src/party/membership/PartyMembershipHistoryList.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationHistoryList.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationList.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupHistoryList.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationHistoryList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipHistoryList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeHistoryList.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

docs: moved status and transition from processes to resources (#252)
  docs/processes/index.md
  docs/resources/index.md
Due: none

refactor: fix absence of as-of with a join + update tests (FLEX-660)
  db/api/technical_resource.sql
  db/flex/controllable_unit_as_of.sql
  db/test_data/test_data.sql
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_technical_resource.py
Due: none

feat: define as-of timestamp for other roles (FLEX-660)
  db/flex/changelog.yml
  db/flex/controllable_unit_as_of.sql
  test/api_client_tests/test_technical_resource.py
Due: none

feat: add entity party (FLEX-641)
  backend/auth/auth.go
  backend/auth/models/models.go
  backend/auth/static/openapi.json
  backend/data/static/openapi.json
  db/flex/changelog.yml
  db/flex/party.sql
  db/flex/party_migrations.sql
  db/flex/party_staging.sql
  db/flex/party_staging_migrations.sql
  db/test_data/test_data.sql
  docs/resources/accounting_point.md
  docs/resources/accounting_point_balance_responsible_party.md
  docs/resources/accounting_point_energy_supplier.md
  docs/resources/controllable_unit.md
  docs/resources/controllable_unit_service_provider.md
  docs/resources/entity.md
  docs/resources/entity_client.md
  docs/resources/event.md
  docs/resources/identity.md
  docs/resources/notice.md
  docs/resources/notification.md
  docs/resources/party.md
  docs/resources/party_membership.md
  docs/resources/product_type.md
  docs/resources/service_provider_product_application.md
  docs/resources/service_provider_product_application_comment.md
  docs/resources/service_providing_group.md
  docs/resources/service_providing_group_grid_prequalification.md
  docs/resources/service_providing_group_membership.md
  docs/resources/service_providing_group_product_application.md
  docs/resources/system_operator_product_type.md
  docs/resources/technical_resource.md
  docs/technical/auth.md
  frontend/src/App.tsx
  frontend/src/AssumePartyPage.tsx
  frontend/src/auth/authProvider.tsx
  justfile
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/party_business_id_type.py
Due: prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: UI must wait for data to be loaded (FLEX-641)
  frontend/src/App.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

Create ready-for-market.md
  docs/concepts/ready-for-market.md
Due: none

fix: make AP ID on CU non-nullable again (FLEX-673)
  db/flex/controllable_unit_migrations.sql
Due: none

fix(ui): disable URL sync on party (+ membership) list on assume party page (FLEX-674)
  frontend/src/AssumePartyPage.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: scopes in party membership resource (FLEX-639)
  backend/data/data.go
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  backend/schema.sql
  db/api/grants/field_level_authorization.sql
  db/api/party_membership.sql
  db/flex/changelog.yml
  db/flex/grants/field_level_authorization.sql
  db/flex/party_membership.sql
  db/flex/party_membership_migrations.sql
  db/flex/party_membership_rls.sql
  docs/resources/party_membership.md
  frontend/src/App.tsx
  frontend/src/AssumePartyPage.tsx
  frontend/src/auth/permissions.json
  frontend/src/party/membership/PartyMembershipHistoryList.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
  frontend/src/party/membership/PartyMembershipShow.tsx
  frontend/src/party/membership/components.tsx
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_party_membership.py
  test/flex/api/party_membership/update_party_membership.py
  test/flex/models/party_membership.py
  test/flex/models/party_membership_create_data.py
  test/flex/models/party_membership_create_request.py
  test/flex/models/party_membership_history_response.py
  test/flex/models/party_membership_response.py
  test/flex/models/party_membership_update_request.py
Due: prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix(ui): disable URL sync on party (+ membership) list on assume party page (FLEX-674) (#256)
  frontend/src/AssumePartyPage.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: safer and better defined scopes (FLEX-639)
  backend/data/static/openapi.json
  db/changelog.yml
  db/flex/party_membership.sql
  db/flex/party_membership_migrations.sql
  db/test_data/test_data.sql
  db/utils/operators.sql
  docs/resources/party_membership.md
  frontend/src/party/membership/components.tsx
  frontend/src/tooltip/tooltips.json
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_entity.py
  test/api_client_tests/test_party_membership.py
  test/flex/models/party_membership.py
  test/flex/models/party_membership_create_data.py
  test/flex/models/party_membership_create_request.py
  test/flex/models/party_membership_history_response.py
  test/flex/models/party_membership_response.py
  test/flex/models/party_membership_update_request.py
  test/security_token_service.py
Due: prettier, frontend-type-check, frontend-dependency-check, check-openapi

fix(db): fix scopes array check (FLEX-639)
  db/flex/party_membership.sql
  db/flex/party_membership_migrations.sql
Due: none

docs: update changelog (FLEX-639)
  docs/changelog.md
Due: none

feat: entity lookup (FLEX-640)
  backend/data/data.go
  backend/data/models.go
  backend/data/models.sql
  backend/data/models/models.sql.go
  backend/data/static/openapi.json
  db/api/entity_lookup.sql
  frontend/src/App.tsx
  frontend/src/auth/permissions.json
  frontend/src/entity/EntityList.tsx
  frontend/src/entity/lookup/EntityLookupInput.tsx
  frontend/src/entity/lookup/EntityLookupResult.tsx
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/api_client_tests/test_entity_lookup.py
  test/flex/api/entity/call_entity_lookup.py
  test/flex/models/__init__.py
  test/flex/models/entity_lookup_request.py
  test/flex/models/entity_lookup_request_type.py
  test/flex/models/entity_lookup_response.py
Due: prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat(db): new "as-of" definition of technical resource (FLEX-660) (#244)
  db/api/technical_resource.sql
  db/flex/changelog.yml
  db/flex/controllable_unit_as_of.sql
  db/test_data/test_data.sql
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_technical_resource.py
Due: none

fix: make AP ID on CU non-nullable again (FLEX-673) (#255)
  db/flex/controllable_unit_migrations.sql
Due: none

docs: update changelog (FLEX-640)
  docs/changelog.md
Due: none

docs: update entity docs (FLEX-640)
  docs/resources/entity.md
Due: none

refactor: remove UI pages (FLEX-640)
  frontend/src/App.tsx
  frontend/src/entity/EntityList.tsx
  frontend/src/entity/lookup/EntityLookupInput.tsx
  frontend/src/entity/lookup/EntityLookupResult.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: entity lookup (FLEX-640) (#258)
  backend/data/data.go
  backend/data/models.go
  backend/data/models.sql
  backend/data/models/models.sql.go
  backend/data/static/openapi.json
  db/api/entity_lookup.sql
  docs/changelog.md
  docs/resources/entity.md
  frontend/src/auth/permissions.json
  frontend/src/tooltip/tooltips.json
  local/input/permissions.csv
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/api_client_tests/test_entity_lookup.py
  test/flex/api/entity/call_entity_lookup.py
  test/flex/models/__init__.py
  test/flex/models/entity_lookup_request.py
  test/flex/models/entity_lookup_request_type.py
  test/flex/models/entity_lookup_response.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

refactor: enum scopes (simple/admin/readonly) (FLEX-639)
  backend/data/static/openapi.json
  db/changelog.yml
  db/flex/party_membership.sql
  db/flex/party_membership_migrations.sql
  db/test_data/test_data.sql
  db/utils/operators.sql
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_entity.py
  test/api_client_tests/test_party_membership.py
  test/flex/models/__init__.py
  test/flex/models/party_membership.py
  test/flex/models/party_membership_create_data.py
  test/flex/models/party_membership_create_request.py
  test/flex/models/party_membership_history_response.py
  test/flex/models/party_membership_response.py
  test/flex/models/party_membership_update_request.py
  test/flex/models/party_membership_update_request_scopes_item.py
Due: check-openapi

feat(db): update RLS to check simple scope as well (FLEX-639)
  db/flex/accounting_point_energy_supplier_rls.sql
  db/flex/accounting_point_metering_grid_area_rls.sql
  db/flex/accounting_point_rls.sql
  db/flex/changelog.yml
  db/flex/controllable_unit_rls.sql
  db/flex/controllable_unit_service_provider_rls.sql
  db/flex/energy_supplier_balance_responsibility_rls.sql
  db/flex/entity_rls.sql
  db/flex/event_rls.sql
  db/flex/identity_rls.sql
  db/flex/notification_rls.sql
  db/flex/party_membership.sql
  db/flex/party_membership_migrations.sql
  db/flex/party_membership_rls.sql
  db/flex/party_rls.sql
  db/flex/product_type_rls.sql
  db/flex/service_provider_product_application_comment_rls.sql
  db/flex/service_provider_product_application_rls.sql
  db/flex/service_providing_group_grid_prequalification_rls.sql
  db/flex/service_providing_group_membership_rls.sql
  db/flex/service_providing_group_product_application_rls.sql
  db/flex/service_providing_group_rls.sql
  db/flex/system_operator_product_type_rls.sql
  db/flex/technical_resource_rls.sql
  test/security_token_service.py
Due: none

docs: update auth docs (FLEX-639)
  docs/technical/auth.md
Due: none

fix(ui): update scopes list (FLEX-639)
  frontend/src/party/membership/components.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: organisation party can change clients on owning entity (FLEX-642)
  db/api/grants/field_level_authorization.sql
  db/flex/entity_client_rls.sql
  db/flex/grants/field_level_authorization.sql
  db/flex/party.sql
  docs/resources/entity_client.md
  frontend/src/auth/permissions.json
  local/input/permissions.csv
  test/api_client_tests/test_entity_client.py
Due: none

feat: entity admin can manage the entity's party memberships (FLEX-638)
  db/api/grants/field_level_authorization.sql
  db/flex/grants/field_level_authorization.sql
  db/flex/party.sql
  db/flex/party_membership_rls.sql
  docs/resources/party_membership.md
  frontend/src/auth/permissions.json
  local/input/permissions.csv
  test/api_client_tests/test_party_membership.py
Due: none

feat(ui): add CU lookup button on CUSP list on CU show page (FLEX-672)
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: reject new CUSP with same SP/EU as the current one (FLEX-676)
  db/flex/controllable_unit_service_provider.sql
  docs/resources/controllable_unit_service_provider.md
  test/api_client_tests/test_cusp.py
Due: none
