Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

feat: no more default limit (FLEX-1306) (#1189)
  backend/data/data.go
  backend/grid/grid.go
  docs/changelog.md
  frontend/src/service_providing_group/show/useSpgChangesViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: rowkey
  frontend/src/components/SimpleTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: modifications to entity_client is just for humans (FLEX-1491)
  db/flex/entity_client_rls.sql
  docs/resources/entity_client.md
  test/api_client_tests/test_entity_client.py
Due: none

feat(kbackend): read applications per CU in a SPG (FLEX-1488)
  backend/data/data.go
  backend/data/static/openapi.json
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/sdk.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/gradle.properties
  kbackend/src/main/kotlin/no/elhub/flex/config/Routing.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Serialization.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/serviceprovidinggroup/ControllableUnitApplications.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/DtoMapper.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupControllableUnitsApplicationsResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupControllableUnitsApplicationsResponseGridPrequalification.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupControllableUnitsApplicationsResponseProductApplications.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/serviceprovidinggroup/ServiceProvidingGroupRoutes.kt
  kbackend/src/main/kotlin/no/elhub/flex/serviceprovidinggroup/db/ServiceProvidingGroupQuery.kt
  kbackend/src/main/kotlin/no/elhub/flex/serviceprovidinggroup/db/ServiceProvidingGroupRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/InstantExtensions.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Response.kt
  kbackend/src/main/resources/application.yaml
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/flex/api/controllable_unit/read_spg_cu_application_status.py
  test/flex/models/__init__.py
  test/flex/models/service_providing_group_controllable_units_applications_response.py
  test/flex/models/service_providing_group_controllable_units_applications_response_grid_prequalification.py
  test/flex/models/service_providing_group_controllable_units_applications_response_product_applications_item.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: update embed query and reuse cu texts (FLEX-1405)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowPowerPerSubstationTable.tsx
  frontend/src/service_providing_group/show/useSpgControllableUnits.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: always query with substation id (FLEX-1405)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowPowerPerSubstationTable.tsx
  frontend/src/service_providing_group/show/useSpgControllableUnits.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: clean up code (FLEX-1405)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowPowerPerSubstationTable.tsx
  frontend/src/service_providing_group/show/useSpgControllableUnits.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: cleanup (FLEX-1405)
  frontend/src/service_providing_group/show/useSpgControllableUnits.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(frontend): columns for grid prequal and product application in SPG CU list (FLEX-1488)
  backend/data/data.go
  backend/data/static/openapi.json
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/sdk.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
  kbackend/src/main/kotlin/no/elhub/flex/routes/serviceprovidinggroup/ServiceProvidingGroupRoutes.kt
  kbackend/src/main/kotlin/no/elhub/flex/serviceprovidinggroup/db/ServiceProvidingGroupQuery.kt
  kbackend/src/main/kotlin/no/elhub/flex/serviceprovidinggroup/db/ServiceProvidingGroupRepository.kt
  kbackend/src/main/resources/application.yaml
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/flex/api/controllable_unit/read_spg_cu_applications.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat: add expandable row to simpletable and add controllable units to per substation tab (FLEX-1405) (#1188)
  frontend/src/components/SimpleTable.tsx
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowPowerPerSubstationTable.tsx
  frontend/src/service_providing_group/show/useSpgControllableUnits.ts
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add more columns to dropdown list (FLEX-1405)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowPowerPerSubstationTable.tsx
  frontend/src/service_providing_group/show/useSpgControllableUnits.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: use embed for getting brp name (FLEX-1405)
  frontend/src/service_providing_group/show/useSpgControllableUnits.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add more columns to dropdown list (FLEX-1405) (#1193)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowPowerPerSubstationTable.tsx
  frontend/src/service_providing_group/show/useSpgControllableUnits.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: keep track of data in a map (FLEX-1405)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowPowerPerSubstationTable.tsx
  frontend/src/service_providing_group/show/useSpgControllableUnits.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

flex 1405 adjust columns (#1194)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowPowerPerSubstationTable.tsx
  frontend/src/service_providing_group/show/useSpgControllableUnits.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: include cus even if brp is null (FLEX-1405)
  frontend/src/service_providing_group/show/useSpgControllableUnits.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

flex 1405 adjust columns (#1195)
  frontend/src/service_providing_group/show/useSpgControllableUnits.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(frontend): New tab on SPGPA that shows application status per CU (FLEX-1488)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaControllableUnitsTable.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
  frontend/src/service_providing_group/product_application/show/useSpgpaControllableUnits.ts
  frontend/src/service_providing_group/shared/useSpgMemberControllableUnits.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add testing of hooks (FLEX-1301)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/service_providing_group/show/useSpgControllableUnits.test.tsx
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: add frontend copilot instructions (FLEX-1470)
  frontend/.github/copilot-instructions.md
Due: none

fix(ui): show save confirmation only for service providers (FLEX-1487)
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update module go.opentelemetry.io/otel/sdk to v1.45.0 [security]
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update backend
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update kbackend
  kbackend/gradle/libs.versions.toml
Due: none

chore(deps): update minor updates [patch]
  mise.toml
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v2.1.2
  .teamcity/pom.xml
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

Fix typo in test description for loading substations
  frontend/src/service_providing_group/show/useSpgControllableUnits.test.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: added translations to tabs in SPGPA (FLEX-1488)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v2.1.2 (#1203)
  .teamcity/pom.xml
Due: none

feat(frontend): New tab on SPGPA that shows application status per CU (FLEX-1488) (#1196)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaControllableUnitsTable.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
  frontend/src/service_providing_group/product_application/show/useSpgpaControllableUnits.ts
  frontend/src/service_providing_group/shared/useSpgMemberControllableUnits.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/useSpgShowViewModel.ts
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update frontend (#1204)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update kbackend (#1202)
  kbackend/gradle/libs.versions.toml
Due: none

fix(deps): update module go.opentelemetry.io/otel/sdk to v1.45.0 [security] (#1201)
  backend/go.mod
  backend/go.sum
Due: none

chore: added translation to formToolbar (FLEX-1487)
  frontend/src/components/EDS-ra/inputs/FormToolbar.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): show save confirmation only for service providers (FLEX-1487) (#1199)
  frontend/src/components/EDS-ra/inputs/FormToolbar.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: moved SPG changes tab to SPGPA (FLEX-1495)
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupShowChangesTab.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
  frontend/src/service_providing_group/product_application/show/useSpgChangesViewModel.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add more tests for show spg hooks (FLEX-1301)
  frontend/src/service_providing_group/show/useSpgGridPrequalifications.test.tsx
  frontend/src/service_providing_group/show/useSpgGridPrequalifications.ts
  frontend/src/service_providing_group/show/useSpgPowerPerSubstation.test.tsx
  frontend/src/service_providing_group/show/useSpgPowerPerSubstation.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add a test skill for hooks, and add new tests using that skill (FLEX-1301)
  frontend/src/service_providing_group/show/useSpgChangesViewModel.test.ts
  frontend/src/service_providing_group/show/useSpgChangesViewModel.ts
  frontend/src/service_providing_group/show/useSpgGridPrequalifications.test.ts
  frontend/src/service_providing_group/show/useSpgPowerPerSubstation.test.ts
  frontend/src/skills/test-frontend-hooks/SKILL.md
Due: prettier, eslint, frontend-type-check, frontend-dependency-check
