Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

Deployed 516c27c with MkDocs version: 1.6.1
  concepts/time-series/index.html
  download/accounting_point.docx
  download/accounting_point_balance_responsible_party.docx
  download/accounting_point_energy_supplier.docx
  download/controllable_unit.docx
  download/controllable_unit_service_provider.docx
  download/entity.docx
  download/entity_client.docx
  download/event.docx
  download/identity.docx
  download/notice.docx
  download/notification.docx
  download/party.docx
  download/party_membership.docx
  download/product_type.docx
  download/service_provider_product_application.docx
  download/service_provider_product_application_comment.docx
  download/service_providing_group.docx
  download/service_providing_group_grid_prequalification.docx
  download/service_providing_group_membership.docx
  download/service_providing_group_product_application.docx
  download/system_operator_product_type.docx
  download/technical_resource.docx
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: prettier

chore: skeleton for sp product suspension (FLEX-661)
  docs/diagrams/service_provider_product_suspension.plantuml
  docs/diagrams/service_provider_product_suspension.png
  docs/processes/index.md
  docs/processes/service-provider-product-suspension.md
Due: check-plantuml

refactor: use a Postgres domain with all resources in the data module (FLEX-639)
  .golangci.yml
  backend/auth/auth.go
  backend/data/data.go
  backend/data/static/openapi.json
  backend/flex.go
  db/flex/changelog.yml
  db/flex/party_membership.sql
  db/flex/party_membership_migrations.sql
  db/flex/scopes.sql
  docs/technical/auth.md
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/api_client_tests/test_entity.py
  test/api_client_tests/test_party_membership.py
  test/flex/models/__init__.py
  test/flex/models/auth_scope.py
  test/flex/models/party_membership.py
  test/flex/models/party_membership_create_data.py
  test/flex/models/party_membership_create_request.py
  test/flex/models/party_membership_history_response.py
  test/flex/models/party_membership_response.py
  test/flex/models/party_membership_update_request.py
  test/security_token_service.py
Due: golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

refactor: rename file (FLEX-639)
  db/flex/changelog.yml
  db/flex/scope.sql
  db/flex/scopes.sql
Due: none

chore: restore golangci config (FLEX-639)
  .golangci.yml
Due: golangci-lint-config-verify

refactor: default entity scopes (FLEX-639)
  backend/auth/auth.go
  backend/auth/middleware.go
  backend/auth/scope/list.go
  backend/auth/scope/list_test.go
  backend/auth/scope/scope_test.go
  backend/auth/scope/verb_test.go
  backend/flex.go
  backend/internal/openapi/elements.go
  backend/pgrepl/connection.go
  backend/pgrepl/message.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: non-empty check on scope list (FLEX-639)
  db/flex/party_membership.sql
  db/flex/party_membership_migrations.sql
Due: none

refactor: restore enum in openapi docs (FLEX-639)
  backend/data/static/openapi.json
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/api_client_tests/test_entity.py
  test/api_client_tests/test_party_membership.py
  test/flex/models/__init__.py
  test/flex/models/auth_scope.py
  test/flex/models/party_membership.py
  test/flex/models/party_membership_create_data.py
  test/flex/models/party_membership_create_request.py
  test/flex/models/party_membership_history_response.py
  test/flex/models/party_membership_response.py
  test/flex/models/party_membership_update_request.py
  test/security_token_service.py
Due: check-openapi

feat(ui): update possible scope choices (FLEX-639)
  frontend/package-lock.json
  frontend/src/party/membership/components.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: liquibase checksum (FLEX-639)
  db/flex/party_membership.sql
Due: none

refactor(db): cleaner migration (FLEX-639)
  db/flex/party_membership_migrations.sql
Due: none

fix: uniform lookup scopes (FLEX-639)
  backend/data/static/openapi.json
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
Due: check-openapi

refactor: follow nit comments (FLEX-639)
  backend/auth/accesstoken.go
  backend/auth/auth.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: organisation party can change clients on owning entity (FLEX-642)
  db/api/grants/field_level_authorization.sql
  db/flex/entity_client_rls.sql
  db/flex/grants/field_level_authorization.sql
  db/flex/party.sql
  docs/resources/entity_client.md
  docs/resources/party_membership.md
  frontend/src/auth/permissions.json
  local/input/permissions.csv
  test/api_client_tests/test_entity_client.py
  test/security_token_service.py
Due: none

feat: entity admin can manage the entity's party memberships (FLEX-638)
  db/api/grants/field_level_authorization.sql
  db/flex/entity_client_rls.sql
  db/flex/grants/field_level_authorization.sql
  db/flex/party_membership_rls.sql
  docs/resources/entity_client.md
  docs/resources/party_membership.md
  frontend/src/auth/permissions.json
  local/input/permissions.csv
  test/api_client_tests/test_entity_client.py
  test/api_client_tests/test_party_membership.py
Due: none

docs: details on user creation flow in SP registration process (FLEX-637)
  docs/diagrams/service_provider_registration_details.drawio.png
  docs/processes/service-provider-registration-and-approval.md
Due: none

refactor: restrict ECL-ORG001 to human users (non-org entities for now) (FLEX-642)
  db/flex/entity_client_rls.sql
  docs/resources/entity_client.md
Due: none

docs: move to auth and make more precise (FLEX-637)
  docs/diagrams/org_access_control_management.plantuml
  docs/diagrams/org_access_control_management.png
  docs/diagrams/organisation_management.drawio.png
  docs/diagrams/organisation_registration.drawio.png
  docs/processes/service-provider-registration-and-approval.md
  docs/technical/auth.md
Due: check-plantuml

chore: remove useless file (FLEX-637)
  docs/diagrams/service_provider_registration_details.drawio.png
Due: none

test: test human-only restriction (FLEX-642)
  justfile
  test/api_client_tests/test_entity_client.py
  test/security_token_service.py
Due: none

feat(ui): entity lookup page + flow from PM list & to PM input (FLEX-693)
  frontend/src/App.tsx
  frontend/src/entity/lookup/EntityLookupInput.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: entity lookup permission for flex_organisation (FLEX-693)
  backend/data/data.go
  frontend/src/auth/permissions.json
  local/input/permissions.csv
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(ui): entity display as technical ID when coming from lookup (FLEX-693)
  frontend/src/entity/lookup/EntityLookupInput.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

docs: update based on comments (FLEX-637)
  docs/diagrams/org_access_control_management.plantuml
  docs/diagrams/org_access_control_management.png
  docs/technical/auth.md
Due: check-plantuml

fix: fix permissions and split policy (FLEX-642)
  db/flex/entity_client_rls.sql
  docs/resources/entity_client.md
  local/input/permissions.csv
  test/api_client_tests/test_entity_client.py
Due: none

refactor: explicit CUD-only policy (FLEX-642)
  db/flex/entity_client_rls.sql
Due: none

fix: clean text and diagram (FLEX-637)
  docs/diagrams/org_access_control_management.plantuml
  docs/diagrams/org_access_control_management.png
  docs/diagrams/organisation_management.drawio.png
  docs/diagrams/organisation_registration.drawio.png
  docs/technical/auth.md
Due: check-plantuml

docs: details on user creation flow in SP registration process (FLEX-637) (#268)
  docs/diagrams/org_access_control_management.plantuml
  docs/diagrams/org_access_control_management.png
  docs/diagrams/organisation_management.drawio.png
  docs/technical/auth.md
Due: check-plantuml

feat: organisation party can change clients on owning entity (FLEX-642) (#259)
  db/api/grants/field_level_authorization.sql
  db/flex/entity_client_rls.sql
  db/flex/grants/field_level_authorization.sql
  db/flex/party.sql
  docs/resources/entity_client.md
  docs/resources/party_membership.md
  frontend/src/auth/permissions.json
  justfile
  local/input/permissions.csv
  test/api_client_tests/test_entity_client.py
  test/security_token_service.py
Due: none

feat: entity admin can manage the entity's party memberships (FLEX-638) (#260)
  db/api/grants/field_level_authorization.sql
  db/flex/grants/field_level_authorization.sql
  db/flex/party_membership_rls.sql
  docs/resources/entity_client.md
  docs/resources/party_membership.md
  frontend/src/auth/permissions.json
  local/input/permissions.csv
  test/api_client_tests/test_party_membership.py
Due: none

Added suspension procedure
  docs/diagrams/service_provider_product_suspension.plantuml
  docs/diagrams/service_provider_product_suspension.png
  docs/processes/service-provider-product-suspension.md
Due: check-plantuml

Removed cascading from text and diagram
  docs/diagrams/service_provider_product_suspension.plantuml
  docs/diagrams/service_provider_product_suspension.png
  docs/processes/service-provider-product-suspension.md
Due: check-plantuml

Split table into two tables + smaller changes everywhere
  docs/concepts/ready-for-market.md
Due: none

feat: allow organisations to read entities belonging to owned parties (FLEX-693)
  db/flex/entity_rls.sql
  docs/resources/entity.md
  test/api_client_tests/test_entity.py
  test/api_client_tests/test_entity_client.py
Due: none

feat(ui): default scopes (FLEX-693)
  frontend/src/party/membership/components.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: set default scopes when doing login through party ownership (FLEX-692)
  db/auth/functions.sql
Due: none

refactor: reflow and improve headings (FLEX-670)
  docs/concepts/ready-for-market.md
Due: none

feat(ui): support for party membership creation via entity lookup (#269)
  backend/data/data.go
  db/flex/entity_rls.sql
  docs/resources/entity.md
  frontend/src/App.tsx
  frontend/src/auth/permissions.json
  frontend/src/entity/lookup/EntityLookupInput.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
  frontend/src/party/membership/PartyMembershipList.tsx
  frontend/src/party/membership/components.tsx
  local/input/permissions.csv
  test/api_client_tests/test_entity.py
  test/api_client_tests/test_entity_client.py
Due: prettier, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
