Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix: update to keep state in filters (FLEX-1347)
  frontend/src/party/PartyList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: filtering not working due to limit of 1000 when fetching data, also resetting filter state on refresh (FLEX-1347) (#1090)
  frontend/src/components/EDS-ra/inputs/AutocompleteReferenceInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: rename flexible_power in data model for CU notice to maximum_active_power (FLEX-1358)
  db/flex/notice/notice_controllable_unit.sql
  frontend/src/notice/details/NoticeControllableUnitFlexiblePowerExceedsRatedPower.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: label/value clickable in dashbord for so/sp (FLEX-1348)
  frontend/src/dashboard/service_provider/SpStatCards.tsx
  frontend/src/dashboard/shared/StatCard.tsx
  frontend/src/dashboard/system_operator/SoStatCards.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: added kind to notice.data for deserialization. OpenAPI spec updated (FLEX-1358)
  backend/data/static/openapi.json
  db/flex/notice/notice_controllable_unit.sql
  frontend/src/generated-client/index.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/notice/details/NoticeControllableUnitFlexiblePowerExceedsRatedPower.tsx
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataControllableUnitFlexiblePowerExceedsRatedPower.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/NoticeDataCuFlexiblePowerExceedsRatedPower.kt
  openapi/openapi-api-base.yml
  openapi/openapi-api-no-default.json
  test/flex/models/__init__.py
  test/flex/models/notice_data_cu_flexible_power_exceeds_rated_power.py
  test/flex/models/notice_response.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

docs: added new notice type (FLEX-1358)
  docs/resources/notice.md
Due: none

fix: ensure only underline on hover (FLEX-1348)
  frontend/src/dashboard/shared/StatCard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove unnecessary notice query param (FLEX-1348)
  frontend/src/dashboard/service_provider/SpStatCards.tsx
  frontend/src/dashboard/system_operator/SoStatCards.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: allow at most one SPGPA for a given (SPG, SO, product type) combination (FLEX-1356)
  db/flex/service_providing_group_product_application.sql
  docs/resources/service_providing_group_product_application.md
  test/api_client_tests/test_spg_product_application.py
Due: none

feat: add search filter for CU (FLEX-1129)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: label/value clickable in dashbord for so/sp (FLEX-1348) (#1091)
  frontend/src/dashboard/service_provider/SpStatCards.tsx
  frontend/src/dashboard/shared/StatCard.tsx
  frontend/src/dashboard/system_operator/SoStatCards.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: filter dashboardapplications on current partyid (FLEX-1376)
  frontend/src/dashboard/hooks/useDashboardApplications.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: filter dashboardapplications on current partyid (FLEX-1376) (#1094)
  frontend/src/dashboard/hooks/useDashboardApplications.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: filter on mpid (FLEX-1129)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: internationaliation (FLEX-1129)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add search filter for CU (FLEX-1129) (#1093)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: adjust columns on spgpa list
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: AP start view -> query in backend
  db/flex/accounting_point_start.sql
  db/flex/changelog.yml
  db/flex/controllable_unit_service_provider.sql
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
Due: none

feat: adjust columns on spgpa list (#1095)
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): toggle component on summary pages to see power in MW (FLEX-1285)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/components/LabelValue.tsx
  frontend/src/components/ScaleToggle.tsx
  frontend/src/components/ShowPageLayout.tsx
  frontend/src/components/ui/index.ts
  frontend/src/controllable_unit/technical_resource/TechnicalResourceDetailModal.tsx
  frontend/src/service_providing_group/product_application/print/SpgpaPrintCuSummary.tsx
  frontend/src/service_providing_group/product_application/print/SpgpaPrintSpgInfo.tsx
  frontend/src/service_providing_group/product_application/print/SpgpaPrintSummary.tsx
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowPowerPerSubstationTable.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowProductApplicationsTable.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowSPGSummarySection.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
  frontend/src/service_providing_group/show/SpgTechnicalResourceList.tsx
  frontend/src/service_providing_group/summary/ServiceProvidingGroupControllableUnitSummary.tsx
  frontend/src/service_providing_group/summary/ServiceProvidingGroupTechnicalResourceSummary.tsx
  frontend/src/utils/scales.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: allow at most one SPGPA for a given (SPG, SO, product type) combination (FLEX-1356) (#1092)
  db/flex/service_providing_group_product_application.sql
  docs/resources/service_providing_group_product_application.md
  test/api_client_tests/test_spg_product_application.py
Due: none

fix: always round
  frontend/src/utils/scales.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: do not query AP table when getting earliest start date
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTimezoneTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryTest.kt
Due: none

refactor: naming + timezone stuff
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/AccountingPointStartDates.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/scheduled/AccountingPointSyncScheduler.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/AccountingPointServiceTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/scheduled/AccountingPointSyncSchedulerTest.kt
Due: none

feat: update tests for new trigger (FLEX-1408)
  frontend/src/components/EDS-ra/buttons/hooks/useResourceHistory.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): remove unused routes (FLEX-1408)
  frontend/src/navigation/routeLabels.ts
  frontend/src/resources/serviceProvidingGroupResources.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): removed unused history buttons (FLEX-1408)
  frontend/src/components/EDS-ra/show.tsx
  frontend/src/components/history.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(db): restrict SPGPA update (for SP) to requested status (FLEX-1419)
  db/flex/service_providing_group_product_application_rls.sql
Due: none

feat(db): better error message on wrong SPGPA status update by SP (FLEX-1419)
  db/flex/service_providing_group_product_application.sql
Due: none

fix: use custom exporter to decide which fields to include in csv export (FLEX-1385)
  frontend/src/controllable_unit/ControllableUnitList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(db): give status update permission to SP and update docs (FLEX-1419)
  db/api/grants/field_level_authorization.sql
  docs/resources/service_providing_group_product_application.md
  frontend/src/auth/permissions.ts
  local/input/permissions.csv
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: use id and not account_point_id (FLEX-1385)
  frontend/src/controllable_unit/ControllableUnitList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: embed instead (FLEX-1385)
  frontend/src/controllable_unit/ControllableUnitList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: USING clause for UPDATE (FLEX-1419)
  db/flex/service_providing_group_product_application_rls.sql
  test/api_client_tests/test_spg_product_application.py
Due: none

fix(ui): update history button spgpa (FLEX-1408) (#1097)
  frontend/src/components/EDS-ra/buttons/hooks/useResourceHistory.ts
  frontend/src/components/EDS-ra/show.tsx
  frontend/src/components/history.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderShow.tsx
  frontend/src/navigation/routeLabels.ts
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Deployed 1d6c0c2c with MkDocs version: 1.6.1
  resources/service_providing_group_membership/index.html
  resources/service_providing_group_product_application/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: prettier

fix(ui): increase input width (FLEX-1345)
  frontend/src/components/EDS-ra/inputs/ArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/AutocompleteReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/EnumArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/ReferenceComboboxInput.tsx
  frontend/src/notice/NoticeList.tsx
  frontend/src/party/PartyList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: naming and comments (FLEX-1419)
  db/flex/service_providing_group_product_application_rls.sql
Due: none

fix: use custom exporter to decide which fields to include in csv export (FLEX-1385) (#1098)
  frontend/src/controllable_unit/ControllableUnitList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: SPG PA drafts are now automatically stored in local storage. Drafts are displayed on top of other applications (FLEX-1374)
  frontend/public/static-assets/privacy-policy.en.html
  frontend/public/static-assets/privacy-policy.no.html
  frontend/src/components/EDS-ra/inputs/FormToolbarWithConfirmation.tsx
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/components/SimpleTable.tsx
  frontend/src/hooks/useSpgpaDrafts.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/service_providing_group/product_application/DraftAutosaveWatcher.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/spgpaStatus.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowProductApplicationsTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check
