Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

feat: surface error messages in spg manage members (FLEX-1227)
  frontend/src/service_providing_group/membership/ExistingControllableUnitsTable.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove stray spgm_insert_grid_prequalification trigger (FLEX-1227)
  db/flex/changelog.yml
  db/flex/service_providing_group_membership.sql
  db/flex/service_providing_group_membership_migrations.sql
Due: none

fix: liquibase formatted sql header (FLEX-1227)
  db/flex/service_providing_group_membership_migrations.sql
Due: none

chore(deps): update dependency schemathesis to v4.19.0
  requirements-dev.txt
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency io.insert-koin.compiler.plugin to v1
  kbackend/gradle/libs.versions.toml
Due: none

chore(deps): update dependency schemathesis to v4.19.0 (#862)
  requirements-dev.txt
Due: none

feat: alert on top of dashboard about application deadlines
  frontend/src/dashboard/service_provider/SpDashboard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: audit fix
  frontend/package-lock.json
Due: none

fix(deps): update frontend (#855)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(ui): better label generation on table headers (FLEX-1225) (#859)
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/intl/intl.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: Remove redundant comments (FLEX-1211)
  frontend/src/components/EDS-ra/list/tableStyles.module.css
Due: prettier

refactor: migrate EntityLookupInput to EDS-ra (FLEX-1210)
  frontend/src/entity/lookup/EntityLookupInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: migrate EntityInput to EDS-ra (FLEX-1210)
  frontend/src/entity/EntityInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: move stray react-admin hook imports to ra-core (FLEX-1210)
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: migrate EntityClientInput to EDS-ra (FLEX-1210)
  frontend/src/entity/client/EntityClientInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: migrate PartyMembershipInput to EDS-ra (FLEX-1210)
  frontend/src/party/membership/PartyMembershipInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: migrate ServiceProvidingGroupMembershipInput to EDS-ra (FLEX-1210)
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: migrate ServiceProvidingGroupGridPrequalificationInput to EDS-ra (FLEX-1210)
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: migrate SystemOperatorProductTypeInput to EDS-ra (FLEX-1210)
  frontend/src/system_operator_product_type/SystemOperatorProductTypeInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: remove react-admin Create wrapper from ControllableUnitCreate (FLEX-1210)
  frontend/src/controllable_unit/ControllableUnitCreate.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: migrate ServiceProvidingGroupGridSuspensionInput to EDS-ra (FLEX-1210)
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: migrate ControllableUnitSuspensionInput to EDS-ra (FLEX-1210)
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: remove dead code (FLEX-1210)
  frontend/src/auth/ReferenceInput.tsx
  frontend/src/components/unitComponents.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: remove CommentInput and all comment components (FLEX-1210)
  AGENTS.md
  docs/superpowers/plans/2026-05-19-migrate-forms-to-eds-ra.md
  frontend/pnpm-lock.yaml
  frontend/src/components/comments.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionShow.tsx
  frontend/src/resources/controllableUnitResources.tsx
  frontend/src/resources/serviceProviderResources.tsx
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionShow.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionShow.tsx
  litellm-keys.env
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

style: fix lint issues after EDS-ra form migration (FLEX-1210)
  frontend/src/entity/EntityInput.tsx
  frontend/src/entity/client/EntityClientInput.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove dead ReferenceInput export from auth barrel (FLEX-1210)
  frontend/src/auth/index.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Reuse status map for CUs (FLEX-1211)
  frontend/package-lock.json
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: format and lint (FLEX-1210)
  frontend/package-lock.json
  frontend/src/entity/EntityInput.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: remove files that should not have been commited (FLEX-1210)
  AGENTS.md
  docs/superpowers/plans/2026-05-19-migrate-forms-to-eds-ra.md
  frontend/pnpm-lock.yaml
  litellm-keys.env
Due: none

fix: Add css class for hover on rows in SPG expanded rows (FLEX-1211)
  frontend/src/service_providing_group/ServiceProvidingGroupExpandedRow.module.css
  frontend/src/service_providing_group/ServiceProvidingGroupExpandedRow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: prettier (FLEX-1211)
  frontend/src/service_providing_group/ServiceProvidingGroupExpandedRow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Remove overrides of look and feel for EDS tables (FLEX-1211)
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/components/EDS-ra/list/ExpandableDatagrid.tsx
  frontend/src/components/EDS-ra/list/tableStyles.module.css
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Remove hardcoded headers (FLEX-1211)
  frontend/src/controllable_unit/ControllableUnitHistoryList.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/party/PartyList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: prettier (FLEX-1211)
  frontend/src/controllable_unit/ControllableUnitHistoryList.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/party/PartyList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: Add extra info about blocked applications (#864)
  frontend/package-lock.json
  frontend/src/dashboard/service_provider/SpDashboard.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: Replace hardcoded text with translations (FLEX-1211)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/ServiceProvidingGroupExpandedRow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove stray spgm_insert_grid_prequalification trigger (FLEX-1227) (#860)
  db/flex/changelog.yml
  db/flex/service_providing_group_membership.sql
  db/flex/service_providing_group_membership_migrations.sql
Due: none

feat: surface error messages in spg manage members (FLEX-1227) (#861)
  frontend/src/service_providing_group/membership/ExistingControllableUnitsTable.tsx
  frontend/src/service_providing_group/membership/FindControllableUnits.tsx
  frontend/src/service_providing_group/membership/useSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check
