Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix: downgrade typescript to our previous version 6.0.3 as typescript-eslint only support <6.1.0
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update kbackend (#997)
  frontend/package-lock.json
  frontend/package.json
  kbackend/gradle/libs.versions.toml
Due: none

chore(deps): update patch updates [patch] (#996)
  mise.toml
Due: none

feat: env variable feature toggle (FLEX-1323)
  frontend/src/httpConfig.tsx
  frontend/src/index.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
  kbackend/src/main/resources/application.yaml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: split body parsing from rest of create handler (FLEX-1323)
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentFilename.kt
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentHandler.kt
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentRepository.kt
Due: none

fix: remove old crashing migration (FLEX-1323)
  db/flex/entity_client_migrations.sql
Due: none

feat: New print page for SPG PA with simpler layout (FLEX-968)
  frontend/src/components/Header/Header.tsx
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/product_application/print/ServiceProvidingGroupProductApplicationPrint.tsx
  frontend/src/service_providing_group/product_application/print/SpgpaPrintComments.tsx
  frontend/src/service_providing_group/product_application/print/SpgpaPrintCuSummary.tsx
  frontend/src/service_providing_group/product_application/print/SpgpaPrintSpgInfo.tsx
  frontend/src/service_providing_group/product_application/print/SpgpaPrintSummary.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): pin js-yaml to 4.3.0 to adress GHSA-52cp-r559-cp3m (FLEX-968)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: scope domain constraint edit migration (FLEX-1323)
  db/api/entity_client.sql
  db/api/party_membership.sql
  db/flex/changelog.yml
  db/flex/scope.sql
  db/flex/scope_migrations.sql
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentHandler.kt
Due: none

refactor: registry to avoid using raw fetch (FLEX-1323)
  frontend/src/components/attachments/AttachmentList.tsx
  frontend/src/components/attachments/registry.ts
  frontend/src/components/attachments/types.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: forgotten return in go error handler
  backend/data/data.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: HTTP 302 instead of 301
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentHandler.kt
Due: none

docs: update HTTP code in diagram (FLEX-1323)
  docs-dev/diagrams/attachment_download_sequence.plantuml
  docs-dev/diagrams/attachment_download_sequence.png
Due: check-plantuml

fix: make backend implementation fully generic
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentRepository.kt
Due: none

feat: avoid decompression bombs (FLEX-1323)
  kbackend/src/main/kotlin/no/elhub/flex/util/FileContent.kt
  kbackend/src/test/kotlin/no/elhub/flex/util/FileContentTest.kt
Due: none

fix: second check for file size after reading body
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentHandler.kt
Due: none

fix: proper metadata clear on PDFs
  kbackend/src/main/kotlin/no/elhub/flex/util/FileContent.kt
Due: none

feat(ui): button to set SPGGP to conditionally_approved (FLEX-1324)
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqActionBar.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: New print page for SPG PA with simpler layout (FLEX-968) (#998)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Header/Header.tsx
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/product_application/print/ServiceProvidingGroupProductApplicationPrint.tsx
  frontend/src/service_providing_group/product_application/print/SpgpaPrintComments.tsx
  frontend/src/service_providing_group/product_application/print/SpgpaPrintCuSummary.tsx
  frontend/src/service_providing_group/product_application/print/SpgpaPrintSpgInfo.tsx
  frontend/src/service_providing_group/product_application/print/SpgpaPrintSummary.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): button to set SPGGP to conditionally_approved (FLEX-1324) (#999)
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqActionBar.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(ui): show products in label for product types input (FLEX-1230)
  frontend/src/product_type/components.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: package-lock bump dompurify (FLEX-1230)
  frontend/package-lock.json
Due: none

feat(ui): show products in label for product types input (FLEX-1230) (#1000)
  frontend/package-lock.json
  frontend/src/product_type/components.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: fix transaction handling logic + store metadata first (FLEX-1323)
  docs-dev/attachments.md
  docs-dev/diagrams/attachment_upload_sequence.plantuml
  docs-dev/diagrams/attachment_upload_sequence.png
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentHandler.kt
  kbackend/src/main/kotlin/no/elhub/flex/db/FlexTransaction.kt
  kbackend/src/test/kotlin/no/elhub/flex/db/FlexTransactionTest.kt
  test/api_client_tests/test_spgpa_attachment.py
Due: check-plantuml

test(db): add trigger test for attachment (FLEX-1323)
  db/attachment/test/05_spgpa_attachment_trigger.sql
Due: none

fix: return type with nested either (FLEX-1323)
  kbackend/src/main/kotlin/no/elhub/flex/attachment/AttachmentHandler.kt
Due: none

fix: missing policies for BRP on CU data (FLEX-1321)
  db/api/accounting_point_balance_responsible_party.sql
  db/flex/accounting_point_rls.sql
  db/flex/controllable_unit_rls.sql
  db/flex/controllable_unit_service_provider_rls.sql
  db/flex/controllable_unit_suspension_rls.sql
  docs/resources/accounting_point.md
  docs/resources/accounting_point_balance_responsible_party.md
  docs/resources/controllable_unit_service_provider.md
  docs/resources/controllable_unit_suspension.md
Due: none

fix(test): remove BRP as role without RLA now that we have added it (FLEX-1321)
  test/api_client_tests/test_cusp.py
Due: none

test: thorough testing on view behaviour (FLEX-1328)
  test/api_client_tests/test_spg_power_per_substation.py
  test/api_client_tests/test_spg_summary.py
Due: none

fix(ui): s/flexible/rated (FLEX-1328)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowPowerPerSubstationTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: missing policies for BRP on CU data (FLEX-1321) (#1001)
  db/api/accounting_point_balance_responsible_party.sql
  db/flex/accounting_point_rls.sql
  db/flex/controllable_unit_rls.sql
  db/flex/controllable_unit_service_provider_rls.sql
  db/flex/controllable_unit_suspension_rls.sql
  docs/resources/accounting_point.md
  docs/resources/accounting_point_balance_responsible_party.md
  docs/resources/controllable_unit_service_provider.md
  docs/resources/controllable_unit_suspension.md
  test/api_client_tests/test_cusp.py
Due: none

fix(db): temporary runAlways on api schema grants (FLEX-1323)
  db/api/grants/field_level_authorization.sql
Due: none

fix(db): temporary runAlways on embedding functions (FLEX-1323)
  db/api/embedding/embedding.sql
  db/api/party_membership.sql
  docs/resources/entity_client.md
  docs/resources/party_membership.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AuthScope.kt
  local/scripts/templates/embedding.j2.sql
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: manual party membership view (FLEX-1323)
  db/api/party_membership.sql
  openapi/resources.yml
Due: none

fix(db): temporary runAlways for things deleted by scope migration (FLEX-1323) (#1003)
  db/api/embedding/embedding.sql
  db/api/grants/field_level_authorization.sql
  db/api/party_membership.sql
  docs/resources/entity_client.md
  docs/resources/party_membership.md
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/AuthScope.kt
  local/scripts/templates/embedding.j2.sql
  openapi/resources.yml
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: remove logging of calls to /metrics (FLEX-1332)
  kbackend/src/main/kotlin/no/elhub/flex/config/Logging.kt
Due: none

chore: remove gin logger. sloggin already logs requests (FLEX-1332)
  backend/flex.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat(kbackend): use logstash encoder for structured json logs (FLEX-1332)
  kbackend/gradle/libs.versions.toml
  kbackend/src/main/kotlin/no/elhub/flex/config/Logging.kt
  kbackend/src/main/resources/logback.xml
Due: none
