Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

chore: format (FLEX-1103)
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Update frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/ControllableUnitInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: add additional information into insert as well (FLEX-1103)
  db/api/controllable_unit.sql
Due: none

refactor: Use generic InternalServerError with static message and trace id instead case specific errors (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Tracing.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/error/Error.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Response.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/TraceIdUtil.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
Due: none

refactor: Created generic function for body parsing (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Request.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
Due: none

chore(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update backend
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.69.7
  .teamcity/pom.xml
Due: none

feat: add additional information to cu (FLEX-1103) (#709)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/controllable_unit.sql
  db/api/grants/field_level_authorization.sql
  db/flex/controllable_unit.sql
  db/flex/controllable_unit_migrations.sql
  docs/resources/controllable_unit.md
  frontend/src/auth/permissions.ts
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/show/components/TechnicalInformation.tsx
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ControllableUnitUpdateRequest.kt
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/controllable_unit_create_request.py
  test/flex/models/controllable_unit_history_response.py
  test/flex/models/controllable_unit_response.py
  test/flex/models/controllable_unit_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

chore(deps): update dependency schemathesis to v4.12.2 (#694)
  requirements-dev.txt
Due: none

fix(deps): update backend (#670)
  backend/go.mod
  backend/go.sum
Due: none

chore: Updated openapi spec for ap-adapter (FLEX-1064)
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/client/AccountingPointClient.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/openapi.yaml
Due: check-openapi

fix: throwOnError in ActivateControllableUnitButton (FLEX-1108)
  frontend/src/controllable_unit/show/components/ActivateControllableUnitButton.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: default open end (FLEX-1065)
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/openapi.yaml
Due: check-openapi

docs: document query parameters on the adapter API (FLEX-1065) (#708)
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/openapi.yaml
Due: check-openapi

fix: npm audit (FLEX-1064)
  frontend/package-lock.json
Due: none

fix: drop missed constraint (FLEX-1108)
  db/flex/controllable_unit_migrations.sql
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.69.7 (#696)
  .teamcity/pom.xml
Due: none

fix: Update CU lookup implementation according to doc (FLEX-1064) (#705)
  frontend/package-lock.json
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/AccountingPointService.kt
  kbackend/src/main/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/AuthError.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/FlexPrincipal.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/FlexRole.kt
  kbackend/src/main/kotlin/no/elhub/flex/auth/RequireRole.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Routing.kt
  kbackend/src/main/kotlin/no/elhub/flex/config/Tracing.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitQuery.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepository.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryImpl.kt
  kbackend/src/main/kotlin/no/elhub/flex/controllableunit/lookup/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/db/FlexTransaction.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterService.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/AdapterError.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/client/AccountingPointClient.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/generated/models/EndUser.kt
  kbackend/src/main/kotlin/no/elhub/flex/integration/accountingpointadapter/openapi.yaml
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/ControllableUnit.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/GSRN.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/domain/db/RepositoryError.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/error/Error.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitLookup.kt
  kbackend/src/main/kotlin/no/elhub/flex/routes/controllableunit/ControllableUnitRoutes.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Error.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/HttpStatusCodeSerializer.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/InstantExtensions.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/LocalDateExtensions.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Request.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/Response.kt
  kbackend/src/main/kotlin/no/elhub/flex/util/TraceIdUtil.kt
  kbackend/src/test/kotlin/no/elhub/flex/TestApplication.kt
  kbackend/src/test/kotlin/no/elhub/flex/accountingpoint/db/AccountingPointRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/ControllableUnitLookupTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/controllableunit/db/ControllableUnitRepositoryTest.kt
  kbackend/src/test/kotlin/no/elhub/flex/integration/accountingpointadapter/AccountingPointAdapterServiceTest.kt
Due: check-openapi

fix: drop missed constraint (FLEX-1108) (#713)
  db/flex/controllable_unit_migrations.sql
Due: none

fix: throwOnError in ActivateControllableUnitButton (FLEX-1108) (#712)
  frontend/src/controllable_unit/show/components/ActivateControllableUnitButton.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update frontend (#711)
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: Upgrade to Koin 4.2.0 and replace KSP with Koin Compiler
  kbackend/build.gradle.kts
  kbackend/gradle/libs.versions.toml
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
Due: none

fix(deps): Update to Koin 4.2.0 and replace KSP with Koin Compiler (#701)
  kbackend/build.gradle.kts
  kbackend/gradle/libs.versions.toml
  kbackend/src/main/kotlin/no/elhub/flex/Application.kt
Due: none

feat: align CU show page with SPG show page pattern (FLEX-1107)
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowTabs.tsx
  frontend/src/controllable_unit/show/components/ActivateControllableUnitButton.tsx
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/show/components/Header.tsx
  frontend/src/controllable_unit/show/components/TechnicalInformation.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: llm review (FLEX-1107)
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/components/ActivateControllableUnitButton.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove heading from technical resource list (FLEX-1107)
  docs/superpowers/plans/2026-03-26-technical-resource-empty-state.md
  docs/superpowers/specs/2026-03-26-technical-resource-empty-state-design.md
  frontend/src/components/EDS-ra/buttons/DeleteButton.tsx
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/components/EDS-ra/inputs/DateInput.tsx
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/components/LabelValue.tsx
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/types/index.ts
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/intl/intl.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add empty state to TechnicalResourceList (FLEX-1107)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: small design tweaks (FLEX-1107)
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/components/ActivateControllableUnitButton.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: use simpletable for technical resources (FLEX-1107)
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/components/ActivateControllableUnitButton.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/controllable_unit/technical_resource/useTechnicalResources.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: AI code-review (FLEX-1107)
  docs/superpowers/plans/2026-03-26-technical-resource-empty-state.md
  docs/superpowers/specs/2026-03-26-technical-resource-empty-state-design.md
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/intl/intl.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: additional information on SPG (FLEX-1091)
  .github/skills/edit-resource/SKILL.md
  .pre-commit-config.yaml
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group.sql
  db/flex/service_providing_group.sql
  db/flex/service_providing_group_migrations.sql
  docs/changelog.md
  docs/resources/service_providing_group.md
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/client/client.gen.ts
  frontend/src/generated-client/core/bodySerializer.gen.ts
  frontend/src/generated-client/core/params.gen.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/service_providing_group/input/ServiceProvidingGroupFields.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowSummary.tsx
  frontend/src/tooltip/tooltips.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupCreateRequest.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupHistoryResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupResponse.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupUpdateRequest.kt
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group_create_request.py
  test/flex/models/service_providing_group_history_response.py
  test/flex/models/service_providing_group_response.py
  test/flex/models/service_providing_group_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: button size (FLEX-1107)
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: format, lint and audit (FLEX-1107)
  frontend/package-lock.json
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/intl/intl.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(frontend): include in nginx server block
  frontend/Dockerfile
  frontend/nginx.conf.d/default.conf
Due: dockerfilelint

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.71.3
  .teamcity/pom.xml
Due: none

chore(deps): update dependency typescript to v6
  frontend/package-lock.json
  frontend/package.json
Due: none
