Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

feat: make spgm history available on cu using toggle instead (FLEX-1306)
  frontend/src/controllable_unit/show/ControllableUnitSpgList.tsx
  frontend/src/controllable_unit/show/ControllableUnitSpgMembershipHistoryList.tsx
  frontend/src/controllable_unit/show/useControllableUnitSpgMemberships.ts
  frontend/src/intl/text.ts
  frontend/src/resources/controllableUnitResources.tsx
  frontend/src/service_providing_group/membership/useAddMembersState.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: delete CUSP-VAL001 rule and trigger (FLEX-1492)
  db/flex/controllable_unit_service_provider.sql
  db/flex/controllable_unit_service_provider_migrations.sql
  docs/resources/controllable_unit_service_provider.md
  test/api_client_tests/test_cusp.py
Due: none

fix: SP cannot delete contracts (FLEX-1492)
  db/api/grants/field_level_authorization.sql
  db/flex/grants/field_level_authorization.sql
  docs/resources/controllable_unit_service_provider.md
  frontend/src/auth/permissions.ts
  local/input/permissions.csv
  test/api_client_tests/test_cusp.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: package lock file (FLEX-1301)
  frontend/package-lock.json
Due: none

chore(deps): move build tooling to dev dependencies (FLEX-1451)
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: added timeline range slider for selecting date range for changes (FLEX-1495)
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/timelineRangeSlider/TimelineRangeSlider.tsx
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupShowChangesTab.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaActionBar.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
  frontend/src/service_providing_group/product_application/show/useSpgChangesViewModel.ts
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): cleanup dependencies (FLEX-1451) (#1157)
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: go 1.27.1 in mise and docker
  backend/Dockerfile
  mise.toml
Due: dockerfilelint

chore: jsonv2 is not a GOEXPERIMENT any more
  backend/.air.toml
  backend/Dockerfile
  backend/Makefile
  mise.toml
Due: dockerfilelint

fix(deps): update backend (#1052)
  backend/.air.toml
  backend/Dockerfile
  backend/Makefile
  backend/go.mod
  backend/go.sum
  mise.toml
Due: dockerfilelint

chore(deps): update patch updates [patch] (#1049)
  mise.toml
Due: none

chore(deps): update minor updates [patch] (#1051)
  mise.toml
Due: none

feat: restructure date range inputs to be inside the same wrapping component (FLEX-1495)
  frontend/src/components/ui/timelineRangeSlider/TimelineRangeSlider.tsx
  frontend/src/intl/field-labels.ts
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupShowChangesTab.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: don't allow assume when entity_client (FLEX-1491)
  backend/auth/auth.go
  db/unload.sh
  test/auth_tests/test_assume.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore: additional clarifying comment (FLEX-1491)
  backend/auth/auth.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat(ui): show page revamp (FLEX-1471)
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/components/ShowPageResourceLayout.tsx
  frontend/src/controllable_unit/ControllableUnitHistoryList.tsx
  frontend/src/controllable_unit/balance_responsible_party/ControllableUnitBalanceResponsiblePartyList.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderList.tsx
  frontend/src/controllable_unit/show/ControllableUnitOverview.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowSummary.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowTabs.tsx
  frontend/src/event/EventDetailModal.tsx
  frontend/src/event/EventList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaActionBar.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaOverview.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowSummary.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: change column info (FLEX-1497)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/show/SpgpaControllableUnitsTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Clarify record time message in text.ts
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: change column info (FLEX-1497) (#1208)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/show/SpgpaControllableUnitsTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(frontend): added aggregation numbers for changes + filters per status (add,remove,change) (FLEX-1495)
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
  frontend/src/components/icons/BoltIcon.tsx
  frontend/src/components/ui/index.ts
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupShowChangesTab.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add testing of hooks (FLEX-1301) (#1198)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/service_providing_group/show/useSpgChangesViewModel.test.ts
  frontend/src/service_providing_group/show/useSpgChangesViewModel.ts
  frontend/src/service_providing_group/show/useSpgControllableUnits.test.tsx
  frontend/src/service_providing_group/show/useSpgGridPrequalifications.test.ts
  frontend/src/service_providing_group/show/useSpgGridPrequalifications.ts
  frontend/src/service_providing_group/show/useSpgPowerPerSubstation.test.ts
  frontend/src/service_providing_group/show/useSpgPowerPerSubstation.ts
  frontend/src/skills/test-frontend-hooks/SKILL.md
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: correct sort key for history (FLEX-1306)
  frontend/src/controllable_unit/show/useControllableUnitSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: avoid no rendering by setting correct resourcecontext (FLEX-1306)
  frontend/src/controllable_unit/show/ControllableUnitSpgList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

test: both use hooks with vitest (FLEX-1306)
  frontend/src/controllable_unit/show/useControllableUnitSpgMemberships.test.ts
  frontend/src/controllable_unit/show/useControllableUnitSpgMemberships.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: actively revoke delete cusp from flex_service_provider (FLEX-1492)
  db/api/changelog.yml
  db/api/migrations/controllable_unit_service_provider.sql
  db/flex/controllable_unit_service_provider_migrations.sql
Due: none

fix: test upgrade of sqlfluff (FLEX-1492)
  .pre-commit-config.yaml
  db/flex/controllable_unit_service_provider_migrations.sql
Due: none

fix: update test (FLEX-1492)
  test/api_client_tests/test_cusp.py
Due: none

fix: correct error message
  backend/auth/auth.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: commit the tx (FLEX-1491)
  backend/auth/auth.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

refactor(frontend): renamed function to better reflect behaviour (FLEX-1495)
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupShowChangesTab.tsx
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: allow drilling from spg changes to CU (FLEX-1306) (#1187)
  frontend/src/controllable_unit/ControllableUnitHistoryList.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowTabs.tsx
  frontend/src/controllable_unit/show/ControllableUnitSpgList.tsx
  frontend/src/controllable_unit/show/useControllableUnitSpgMemberships.test.ts
  frontend/src/controllable_unit/show/useControllableUnitSpgMemberships.ts
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/membership/useAddMembersState.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowChangesTab.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: don't allow assume when entity_client (FLEX-1491) (#1207)
  backend/auth/auth.go
  db/unload.sh
  test/auth_tests/test_assume.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore: move test for spg changes (FLEX-1495)
  frontend/src/service_providing_group/product_application/show/useSpgChangesViewModel.test.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(frontend): removed columns for rated power on power per substation table (FLEX-1484)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowPowerPerSubstationTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(frontend): removed columns for rated power on power per substation table (FLEX-1484) (#1209)
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowPowerPerSubstationTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add date range picker with timeline slider to select comparison period for SPGPA changes (FLEX-1495) (#1206)
  frontend/src/accounting_point/show/AccountingPointLocationMap.tsx
  frontend/src/components/icons/BoltIcon.tsx
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/timelineRangeSlider/TimelineRangeSlider.tsx
  frontend/src/intl/field-labels.ts
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupShowChangesTab.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaActionBar.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
  frontend/src/service_providing_group/product_application/show/useSpgChangesViewModel.test.ts
  frontend/src/service_providing_group/product_application/show/useSpgChangesViewModel.ts
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowChangesTab.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
  frontend/src/util.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add info about how much flexbile power is left to approve on spg cu page, also update column names and add tooltip (FLEX-1497)
  frontend/src/components/SimpleTable.tsx
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/show/SpgpaControllableUnitsTable.tsx
  frontend/src/service_providing_group/product_application/show/useSpgpaControllableUnits.test.tsx
  frontend/src/service_providing_group/product_application/show/useSpgpaControllableUnits.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: moved SPGPA changes tab between controllable units and comments (FLEX-1495)
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(frontend): click on change takes user to CU show page (FLEX-1495)
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupShowChangesTab.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat(frontend): moved SPGPA changes tab between controllable units and comments (#1211)
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupShowChangesTab.tsx
  frontend/src/service_providing_group/product_application/show/SpgpaShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check
