Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

docs: removed SP application approved constraint from SPG PA (#640)
  docs/diagrams/service_providing_group_product_application.plantuml
  docs/diagrams/service_providing_group_product_application.png
  docs/processes/service-providing-group-product-application.md
Due: check-plantuml

chore: remove unused import (FLEX-1060)
  frontend/src/controllable_unit/ControllableUnitInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: upgrade packages
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: upgrade eslint and use new config to get rid of some deps
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/auth/authProvider.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderHistoryList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionHistoryList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceHistoryList.tsx
  frontend/src/entity/lookup/EntityLookupInput.tsx
  frontend/src/hooks/useLocationState.ts
  frontend/src/party/membership/PartyMembershipHistoryList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationHistoryList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionHistoryList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipHistoryList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionHistoryList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Added elhub again (not finished draft)
  docs/diagrams/delivery-verification.plantuml
  docs/processes/delivery-verification.md
Due: check-plantuml

chore: remove unused deps
  frontend/package-lock.json
  frontend/package.json
Due: none

docs: syncronizing accounting point data (FLEX-474) (#628)
  backend/accountingpoint/accountingpoint.gen.go
  backend/accountingpoint/accountingpoint.go
  backend/accountingpoint/static/openapi.yml
  backend/go.mod
  backend/go.sum
  docs/diagrams/accounting-point-adapter.drawio.png
  docs/diagrams/accounting-point-sync.drawio.png
  docs/technical/accounting-point-data.md
  frontend/package-lock.json
  justfile
  local/accounting-point/README.md
  local/accounting-point/client/models/__init__.py
  local/accounting-point/client/models/accounting_point.py
  local/accounting-point/client/models/end_user.py
  local/accounting-point/client/models/end_user_entity_type.py
  local/accounting-point/client/models/energy_direction.py
  local/accounting-point/client/models/energy_direction_direction_item.py
  local/accounting-point/client/models/energy_supplier.py
  local/accounting-point/client/models/metering_grid_area.py
  local/accounting-point/client/types.py
  local/accounting-point/main.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

chore: dependency upgrades (#641)
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/auth/authProvider.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderHistoryList.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionHistoryList.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceHistoryList.tsx
  frontend/src/entity/lookup/EntityLookupInput.tsx
  frontend/src/hooks/useLocationState.ts
  frontend/src/party/membership/PartyMembershipHistoryList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationHistoryList.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionHistoryList.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipHistoryList.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationHistoryList.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionHistoryList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: actually route to correct create (FLEX-1060)
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: actually route to correct create (FLEX-1060) (#642)
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: EDSify pages that uses ProductType input (FLEX-1069)
  frontend/src/components/EDS-ra/inputs/ArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/components/EDS-ra/inputs/DateTimeInput.tsx
  frontend/src/components/EDS-ra/inputs/index.ts
  frontend/src/components/ui/datetimepicker/DateTimePicker.tsx
  frontend/src/components/ui/datetimepicker/dateTimePicker.module.css
  frontend/src/components/ui/index.ts
  frontend/src/product_type/components.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionInput.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update backend
  backend/go.mod
  backend/go.sum
Due: none

fix(deps): update backend (#645)
  backend/go.mod
  backend/go.sum
Due: none

fix: disable DateTimePicker on readOnly as well
  frontend/src/components/EDS-ra/inputs/DateTimeInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: clear button only when field is editable (FLEX-1069)
  frontend/src/components/EDS-ra/inputs/DateTimeInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: ap sync locking logic (FLEX-1068)
  db/flex/accounting_point_sync.sql
  db/flex/accounting_point_sync_migrations.sql
  db/flex/changelog.yml
  docs/diagrams/accounting-point-sync-lookup.plantuml
  docs/diagrams/accounting-point-sync-lookup.png
  docs/technical/accounting-point-data.md
Due: check-plantuml

fix: tailwindify (FLEX-1069)
  frontend/src/components/EDS-ra/inputs/DateTimeInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: tooltips be-gone + onChange function (FLEX-1069)
  frontend/src/components/EDS-ra/inputs/DateTimeInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: conditional as variables (FLEX-1069)
  frontend/src/components/EDS-ra/inputs/DateTimeInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove nativeRequired by manually adding asterix (FLEX-1069)
  frontend/src/components/EDS-ra/inputs/ArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/product_type/components.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: rm css (FLEX-1069)
  frontend/src/components/ui/datetimepicker/DateTimePicker.tsx
  frontend/src/components/ui/datetimepicker/dateTimePicker.module.css
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore(deps): update frontend (#644)
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: use generated tailwind config from eds
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.css
  frontend/src/theme.css
Due: prettier

feat: create button on SO PT (FLEX-1069)
  frontend/src/system_operator_product_type/SystemOperatorProductTypeList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: better and arraybased datetimeinput + adjusted filtering (FLEX-1069)
  frontend/src/components/EDS-ra/inputs/ArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/DateTimeInput.tsx
  frontend/src/components/EDS-ra/inputs/index.ts
  frontend/src/product_type/components.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: use generated tailwind config from eds (#646)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.css
  frontend/src/theme.css
Due: prettier

fix: a simpler take on lookup (FLEX-1068)
  docs/diagrams/accounting-point-sync-background.plantuml
  docs/diagrams/accounting-point-sync-background.png
  docs/diagrams/accounting-point-sync-incoming-event.plantuml
  docs/diagrams/accounting-point-sync-incoming-event.png
  docs/diagrams/accounting-point-sync-lookup.plantuml
  docs/diagrams/accounting-point-sync-lookup.png
  docs/technical/accounting-point-data.md
Due: check-plantuml

refactor: simplify effect for handling product-types systemoperator switch (FLEX-1069)
  frontend/src/product_type/components.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: audit fix (FLEX-1069)
  frontend/package-lock.json
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.66.0
  .teamcity/pom.xml
Due: none

chore(deps): update frontend (#647)
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: upgrade eds and remove the required workaround (FLEX-1069)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: EDSify pages that uses ProductTypeArrayInput input (FLEX-1069) (#643)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/EDS-ra/inputs/ArrayInput.tsx
  frontend/src/components/EDS-ra/inputs/BaseInput.tsx
  frontend/src/components/EDS-ra/inputs/DateTimeInput.tsx
  frontend/src/components/EDS-ra/inputs/index.ts
  frontend/src/components/ui/datetimepicker/DateTimePicker.tsx
  frontend/src/components/ui/index.ts
  frontend/src/product_type/components.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionInput.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: chunch ra and mui
  frontend/vite.config.mts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: chunk ra and mui (#649)
  frontend/vite.config.mts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: bring architecture docs up-to-date
  docs-dev/architecture.md
  docs-dev/diagrams/high-level-architecture.drawio.png
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
