Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

chore: rewrite cu flow to eds (FLEX-1009) (#583)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/EDS-ra/fields/BaseField.tsx
  frontend/src/components/EDS-ra/inputs/DateInput.tsx
  frontend/src/components/EDS-ra/inputs/TextAreaInput.tsx
  frontend/src/components/EDS-ra/inputs/index.ts
  frontend/src/components/LabelValue.tsx
  frontend/src/components/ui/datepicker/Datepicker.tsx
  frontend/src/components/ui/datepicker/datepicker.module.css
  frontend/src/components/ui/index.ts
  frontend/src/controllable_unit/ControllableUnitCreate.tsx
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupResult.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/generated-client/zod.gen.ts
  frontend/src/resources/controllableUnitResources.tsx
  justfile
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor(ui): use EDS on notice pages (FLEX-657) (#584)
  frontend/src/components/EDS-ra/buttons/ResourceButton.tsx
  frontend/src/components/EDS-ra/buttons/index.ts
  frontend/src/components/EDS-ra/fields/DiffTextField.tsx
  frontend/src/components/EDS-ra/inputs/AutocompleteInput.tsx
  frontend/src/components/EDS-ra/inputs/index.ts
  frontend/src/components/EDS-ra/list/Datagrid.tsx
  frontend/src/components/ui/index.ts
  frontend/src/notice/NoticeList.tsx
  frontend/src/notice/NoticeShow.tsx
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/product_type/components.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: tailwind (#590)
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/EDS-ra/fields/BaseField.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/UserDropdown.tsx
  frontend/src/components/Header/header.module.css
  frontend/src/index.tsx
  frontend/src/main.css
  frontend/src/theme.css
  frontend/vite.config.mts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: upgrade react
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update frontend (#588)
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: rewrite controllable unit list to eds (FLEX-1009)
  frontend/src/controllable_unit/ControllableUnitList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

ci: make test automerge
  .teamcity/settings.kts
Due: none

chore: rewrite show to eds (FLEX-1009)
  frontend/src/components/EDS-ra/list/List.tsx
  frontend/src/components/EDS-ra/show.tsx
  frontend/src/components/LabelValue.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowActions.tsx
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/controllable_unit/show/components/GridValidation.tsx
  frontend/src/controllable_unit/show/components/Header.tsx
  frontend/src/controllable_unit/show/components/TechnicalInformation.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: rewrite alert and technical resource list to eds (FLEX-1009)
  frontend/src/components/EDS-ra/list/List.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: common external resource synchronisation (FLEX-1023)
  docs/diagrams/resource_sync.drawio.png
  docs/technical/resource-synchronisation.md
Due: none

refactor(db): remove 'id' field on ES-BR internal table (FLEX-1026)
  db/flex/changelog.yml
  db/flex/energy_supplier_balance_responsibility.sql
  db/flex/energy_supplier_balance_responsibility_history_audit.sql
  db/flex/energy_supplier_balance_responsibility_migrations.sql
  local/scripts/internal_resources_to_db.py
  local/scripts/templates/resource_history_audit.j2.sql
Due: none

fix(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.60.2
  .teamcity/pom.xml
Due: none

Fixed text format + small changes
  docs/diagrams/delivery-verification.plantuml
  docs/diagrams/delivery-verification.png
  docs/processes/delivery-verification.md
Due: check-plantuml

Update docs/technical/resource-synchronisation.md
  docs/technical/resource-synchronisation.md
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.60.2 (#596)
  .teamcity/pom.xml
Due: none

Removed content about flow (metering values and time series)
  docs/concepts/time-series.md
Due: none

ci: automerge gitOps PRs on flex-test (#591)
  .teamcity/settings.kts
Due: none

docs: updates CU reg guide
  docs/diagrams/sp_cu_registration.drawio.png
  docs/guides/get-ready-for-market/sp-cu-registration.md
Due: none

docs: updates cu lookup
  docs/processes/controllable-unit-lookup.md
Due: none

feat(db): create landing schema and transfer party_staging (FLEX-1025)
  db/changelog.yml
  db/flex/changelog.yml
  db/flex/energy_supplier_balance_responsibility_staging.sql
  db/flex/notice/notice_party.sql
  db/flex/party_staging_migrations.sql
  db/landing/changelog.yml
  db/landing/party_staging.sql
  db/landing/party_staging_migrations.sql
  db/test_data/test_data.sql
Due: none

docs: update tr resource page
  docs/resources/technical_resource.md
Due: none

feat(ui): rewrite CU show and list to EDS (FLEX-1009) (#592)
  frontend/src/components/EDS-ra/list/List.tsx
  frontend/src/components/EDS-ra/show.tsx
  frontend/src/components/LabelValue.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/show/ControllableUnitShow.tsx
  frontend/src/controllable_unit/show/ControllableUnitShowActions.tsx
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/show/components/GridValidation.tsx
  frontend/src/controllable_unit/show/components/Header.tsx
  frontend/src/controllable_unit/show/components/TechnicalInformation.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: show ids on cu (FLEX-975) (FLEX-990)
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/controllable_unit/show/components/Header.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: fix z-index problems in tailwind (FLEX-990)
  frontend/src/components/Header/Header.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/main.css
  frontend/src/theme.css
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update frontend (#595)
  frontend/package-lock.json
  frontend/package.json
Due: none

refactor(db): move validate_business_id to utils schema (FLEX-1025)
  db/api/controllable_unit_lookup.sql
  db/changelog.yml
  db/flex/accounting_point.sql
  db/flex/business_id_type.sql
  db/flex/controllable_unit.sql
  db/flex/entity.sql
  db/flex/metering_grid_area.sql
  db/flex/metering_grid_area_migrations.sql
  db/flex/party.sql
  db/landing/party_staging.sql
  db/utils/functions.sql
Due: none

feat: add cu-id to showpage and fix z-index tailwind problems (FLEX-990) (#597)
  frontend/src/components/Header/Header.tsx
  frontend/src/controllable_unit/show/components/Connections.tsx
  frontend/src/controllable_unit/show/components/ControllableUnitAlerts.tsx
  frontend/src/controllable_unit/show/components/Header.tsx
  frontend/src/main.css
  frontend/src/theme.css
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Typo
  docs/processes/delivery-verification.md
Due: none

docs: delivery verification (#565)
  docs/diagrams/delivery-verification.plantuml
  docs/diagrams/delivery-verification.png
  docs/processes/delivery-verification.md
Due: check-plantuml

docs: time series concept (#569)
  docs/concepts/time-series.md
Due: none

refactor(db): landing defined after flex (FLEX-1025)
  db/api/controllable_unit_lookup.sql
  db/changelog.yml
  db/flex/accounting_point.sql
  db/flex/business_id_type.sql
  db/flex/changelog.yml
  db/flex/controllable_unit.sql
  db/flex/entity.sql
  db/flex/metering_grid_area.sql
  db/flex/metering_grid_area_migrations.sql
  db/flex/notice/notice_party.sql
  db/flex/party.sql
  db/flex/party_staging.sql
  db/landing/changelog.yml
  db/landing/energy_supplier_balance_responsibility_staging.sql
  db/landing/party_staging_migrations.sql
  db/test_data/test_data.sql
  db/utils/functions.sql
Due: none

chore: reintroduce party_staging migrations (FLEX-1025)
  db/flex/party_staging_migrations.sql
Due: none

chore: restore party_staging to main (FLEX-1025)
  db/flex/party_staging.sql
Due: none

feat(db): ESBR staging structure (FLEX-1025)
  db/landing/energy_supplier_balance_responsibility_staging.sql
Due: none

fix: focus on structure data, provide more details (FLEX-1023)
  docs/diagrams/structure_data_automatic.drawio.png
  docs/technical/resource-synchronisation.md
  docs/technical/structure-data.md
Due: none

feat: improve division of update vs fetch (FLEX-1023)
  docs/diagrams/structure_data_automatic.drawio.png
  docs/diagrams/structure_data_sync.drawio.png
  docs/technical/structure-data.md
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
