Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

fix: bug in function call + rename (FLEX-671)
  backend/auth/auth.go
  backend/auth/models/models.go
  db/auth/functions.sql
  test/auth_tests/test_scopes.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

refactor: actually check whether client is missing instead of empty scopes (FLEX-671)
  backend/auth/auth.go
  backend/auth/models/models.go
  db/auth/functions.sql
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

chore: liquibase (FLEX-671)
  db/flex/identity.sql
Due: none

docs: client is part of identity (FLEX-671)
  docs/diagrams/auth_model.drawio.png
  docs/technical/auth.md
Due: none

feat(backend): use scope intersection on party assume (FLEX-696)
  backend/auth/auth.go
  backend/auth/models/models.go
  test/auth_tests/test_scopes.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: client is part of identity (FLEX-671) (#278)
  docs/diagrams/auth_model.drawio.png
  docs/technical/auth.md
Due: none

feat: add entity client ID to identity (#274)
  backend/auth/auth.go
  backend/auth/models/models.go
  db/auth/functions.sql
  db/flex/changelog.yml
  db/flex/identity.sql
  db/flex/identity_migrations.sql
  docs/technical/auth.md
  test/auth_tests/test_scopes.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: update SPGPA-SO001 policy (FLEX-667)
  docs/resources/service_providing_group_product_application.md
Due: none

Reasons for suspension and note about warning
  docs/processes/service-provider-product-suspension.md
Due: none

feat: implement new policy + test (FLEX-667)
  db/flex/service_providing_group_product_application_rls.sql
  docs/resources/service_providing_group_product_application.md
  test/api_client_tests/test_spg_product_application.py
Due: none

fix: sp product suspension is its own thing (FLEX-661)
  docs/diagrams/service_provider_product_suspension.plantuml
  docs/diagrams/service_provider_product_suspension.png
  docs/processes/service-provider-product-suspension.md
Due: check-plantuml

docs: clearer policy (FLEX-667)
  docs/resources/service_providing_group_product_application.md
Due: none

feat: restrict SPGPA-SO001 policy to SPGs targeting the SO (FLEX-667) (#280)
  db/flex/service_providing_group_product_application_rls.sql
  docs/resources/service_providing_group_product_application.md
  test/api_client_tests/test_spg_product_application.py
Due: none

refactor: rename default owned party scopes (FLEX-696)
  backend/auth/auth.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat(backend): use scope intersection on party assume (FLEX-696) (#279)
  backend/auth/auth.go
  backend/auth/models/models.go
  test/auth_tests/test_scopes.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: producuring (FLEX-661)
  docs/processes/service-provider-product-suspension.md
Due: none

process: sp product suspension (FLEX-661) (#267)
  docs/diagrams/service_provider_product_suspension.plantuml
  docs/diagrams/service_provider_product_suspension.png
  docs/processes/index.md
  docs/processes/service-provider-product-suspension.md
Due: check-plantuml

docs: proposal of SP product suspension resource (FLEX-709)
  docs/resources/service_provider_product_suspension.md
  openapi/resources.yml
Due: none

docs: validation rule + read-only PSO ID (FLEX-709)
  docs/resources/service_provider_product_suspension.md
  local/input/permissions.csv
  openapi/resources.yml
Due: none

docs: clarify that CSO is responsible for handling significant CU changes (FLEX-669)
  docs/diagrams/controllable_unit_grid_validation_status.plantuml
  docs/diagrams/controllable_unit_grid_validation_status.png
  docs/resources/controllable_unit.md
Due: check-plantuml

feat: basic DB implementation (table + RLS) (FLEX-709)
  db/flex/service_provider_product_suspension.sql
  db/flex/service_provider_product_suspension_history_audit.sql
  db/flex/service_provider_product_suspension_rls.sql
  docs/resources/service_provider_product_suspension.md
  local/input/permissions.csv
  openapi/resources.yml
Due: none

docs: clarify that CSO is responsible for handling significant CU changes (FLEX-669) (#282)
  docs/diagrams/controllable_unit_grid_validation_status.plantuml
  docs/diagrams/controllable_unit_grid_validation_status.png
  docs/resources/controllable_unit.md
Due: check-plantuml

fix: adjust and verify auto-update of cu grid validation status (FLEX-669)
  backend/auth/oidc/provider.go
  backend/data/data.go
  backend/data/models/db.go
  backend/data/models/models.go
  backend/data/models/models.sql.go
  backend/data/static/openapi.json
  backend/event/models/db.go
  backend/event/models/models.go
  backend/event/models/models.sql.go
  db/flex/controllable_unit.sql
  db/flex/technical_resource.sql
  local/scripts/template_to_openapi.py
  openapi/openapi-api-no-default.json
  test/api_client_tests/test_cu.py
  test/flex/api/controllable_unit/update_controllable_unit.py
  test/flex/api/controllable_unit_service_provider/update_controllable_unit_service_provider.py
  test/flex/api/entity/update_entity.py
  test/flex/api/entity_client/update_entity_client.py
  test/flex/api/notification/update_notification.py
  test/flex/api/party/update_party.py
  test/flex/api/party_membership/update_party_membership.py
  test/flex/api/service_provider_product_application/update_service_provider_product_application.py
  test/flex/api/service_provider_product_application_comment/update_service_provider_product_application_comment.py
  test/flex/api/service_providing_group/update_service_providing_group.py
  test/flex/api/service_providing_group_grid_prequalification/update_service_providing_group_grid_prequalification.py
  test/flex/api/service_providing_group_membership/update_service_providing_group_membership.py
  test/flex/api/service_providing_group_product_application/update_service_providing_group_product_application.py
  test/flex/api/system_operator_product_type/update_system_operator_product_type.py
  test/flex/api/technical_resource/update_technical_resource.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Deployed e2df531 with MkDocs version: 1.6.1
  diagrams/controllable_unit_grid_validation_status.plantuml
  diagrams/controllable_unit_grid_validation_status.png
  download/accounting_point.docx
  download/accounting_point_balance_responsible_party.docx
  download/accounting_point_energy_supplier.docx
  download/controllable_unit.docx
  download/controllable_unit_service_provider.docx
  download/entity.docx
  download/entity_client.docx
  download/event.docx
  download/identity.docx
  download/notice.docx
  download/notification.docx
  download/party.docx
  download/party_membership.docx
  download/product_type.docx
  download/service_provider_product_application.docx
  download/service_provider_product_application_comment.docx
  download/service_providing_group.docx
  download/service_providing_group_grid_prequalification.docx
  download/service_providing_group_membership.docx
  download/service_providing_group_product_application.docx
  download/system_operator_product_type.docx
  download/technical_resource.docx
  resources/controllable_unit/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: check-plantuml, prettier

test: add a test for TR as well (FLEX-669)
  test/api_client_tests/test_technical_resource.py
Due: none

fix: adjust and verify auto-update of cu grid validation status (FLEX-669) (#283)
  backend/auth/oidc/provider.go
  backend/data/data.go
  backend/data/models/db.go
  backend/data/models/models.go
  backend/data/models/models.sql.go
  backend/data/static/openapi.json
  backend/event/models/db.go
  backend/event/models/models.go
  backend/event/models/models.sql.go
  db/flex/controllable_unit.sql
  db/flex/technical_resource.sql
  local/scripts/template_to_openapi.py
  openapi/openapi-api-no-default.json
  test/api_client_tests/test_cu.py
  test/api_client_tests/test_technical_resource.py
  test/flex/api/controllable_unit/update_controllable_unit.py
  test/flex/api/controllable_unit_service_provider/update_controllable_unit_service_provider.py
  test/flex/api/entity/update_entity.py
  test/flex/api/entity_client/update_entity_client.py
  test/flex/api/notification/update_notification.py
  test/flex/api/party/update_party.py
  test/flex/api/party_membership/update_party_membership.py
  test/flex/api/service_provider_product_application/update_service_provider_product_application.py
  test/flex/api/service_provider_product_application_comment/update_service_provider_product_application_comment.py
  test/flex/api/service_providing_group/update_service_providing_group.py
  test/flex/api/service_providing_group_grid_prequalification/update_service_providing_group_grid_prequalification.py
  test/flex/api/service_providing_group_membership/update_service_providing_group_membership.py
  test/flex/api/service_providing_group_product_application/update_service_providing_group_product_application.py
  test/flex/api/system_operator_product_type/update_system_operator_product_type.py
  test/flex/api/technical_resource/update_technical_resource.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: qualified product type trigger should also run on update (FLEX-709)
  db/flex/service_provider_product_suspension.sql
Due: none

feat(ui): pages for SP product suspension (FLEX-709)
  frontend/src/App.tsx
  frontend/src/auth/InputStack.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionHistoryList.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionInput.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionList.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

chore: npm audit fix (FLEX-709)
  frontend/package-lock.json
Due: none

refactor: rename controllable unit status 'suspended' to 'inactive' (FLEX-684)
  backend/data/static/openapi.json
  db/flex/controllable_unit.sql
  db/flex/controllable_unit_migrations.sql
  docs/diagrams/controllable_unit_status.plantuml
  docs/diagrams/controllable_unit_status.png
  docs/resources/controllable_unit.md
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/service_provider_product_suspension/update_service_provider_product_suspension.py
  test/flex/models/controllable_unit_status.py
Due: check-plantuml, prettier, frontend-type-check, frontend-dependency-check, check-openapi

refactor: add SPG status 'inactive' (FLEX-684)
  backend/data/static/openapi.json
  db/flex/changelog.yml
  db/flex/service_providing_group.sql
  db/flex/service_providing_group_migrations.sql
  docs/diagrams/resources.png
  docs/diagrams/service_providing_group_status.plantuml
  docs/diagrams/service_providing_group_status.png
  docs/resources/service_providing_group.md
  frontend/src/service_providing_group/ServiceProvidingGroupInput.tsx
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_providing_group_status.py
Due: check-plantuml, prettier, frontend-type-check, frontend-dependency-check, check-openapi

fix: last_validated date auto-updated on *validated* status (FLEX-715)
  db/flex/controllable_unit.sql
  test/api_client_tests/test_cu.py
Due: none

fix: last_validated date auto-updated on *validated* status (FLEX-715) (#285)
  db/flex/controllable_unit.sql
  test/api_client_tests/test_cu.py
Due: none

refactor: inactive status for CU and SPG (FLEX-684) (#284)
  backend/data/static/openapi.json
  db/flex/changelog.yml
  db/flex/controllable_unit.sql
  db/flex/controllable_unit_migrations.sql
  db/flex/service_providing_group.sql
  db/flex/service_providing_group_migrations.sql
  docs/diagrams/controllable_unit_status.plantuml
  docs/diagrams/controllable_unit_status.png
  docs/diagrams/resources.png
  docs/diagrams/service_providing_group_status.plantuml
  docs/diagrams/service_providing_group_status.png
  docs/resources/controllable_unit.md
  docs/resources/service_providing_group.md
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupInput.tsx
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/api/service_provider_product_suspension/update_service_provider_product_suspension.py
  test/flex/models/controllable_unit_status.py
  test/flex/models/service_providing_group_status.py
Due: check-plantuml, prettier, frontend-type-check, frontend-dependency-check, check-openapi

chore: liquibase (FLEX-685)
  db/flex/changelog.yml
  db/flex/controllable_unit.sql
  db/flex/controllable_unit_migrations.sql
  db/flex/service_provider_product_application.sql
  db/flex/service_provider_product_application_migrations.sql
  db/flex/service_providing_group_grid_prequalification.sql
  db/flex/service_providing_group_grid_prequalification_migrations.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
Due: none
