Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

docs: diagrams and use staging/notice consistently (FLEX-1023)
  docs/diagrams/structure_data_es_br.drawio.png
  docs/diagrams/structure_data_party.drawio.png
  docs/technical/structure-data.md
Due: none

fix: spelling (FLEX-1023)
  docs/technical/structure-data.md
Due: none

fix(docs): typos/formulation (FLEX-1023)
  docs/technical/structure-data.md
Due: none

docs: structure data synchronisation (FLEX-1023) (#593)
  docs/diagrams/structure_data_es_br.drawio.png
  docs/diagrams/structure_data_party.drawio.png
  docs/diagrams/structure_data_sync.drawio.png
  docs/technical/resource-synchronisation.md
  docs/technical/structure-data.md
Due: none

refactor: rename schema (FLEX-1025)
  db/changelog.yml
  db/landing/changelog.yml
  db/staging/changelog.yml
  db/staging/energy_supplier_balance_responsibility_staging.sql
Due: none

fix: remove unique constraint since gist covers it (FLEX-1025)
  db/staging/energy_supplier_balance_responsibility_staging.sql
Due: none

feat: add coerce to all numbers in zod, and start on validation errors (FLEX-1044)
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/entity/EntityInput.tsx
  frontend/src/entity/client/EntityClientInput.tsx
  frontend/src/generated-client/zod.gen.ts
  frontend/src/notice/NoticeList.tsx
  frontend/src/notice/NoticeShow.tsx
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/party/PartyInput.tsx
  frontend/src/party/PartyList.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionInput.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupInput.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationInput.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionInput.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeInput.tsx
  frontend/src/util.ts
  frontend/src/zod.ts
  justfile
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: prepare operation (FLEX-1025)
  db/staging/energy_supplier_balance_responsibility_staging.sql
Due: none

Update frontend/src/zod.ts
  frontend/src/zod.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: add coerce to all numbers in zod, and add some validation message (FLEX-1044) (#599)
  frontend/src/controllable_unit/ControllableUnitInput.tsx
  frontend/src/controllable_unit/ControllableUnitList.tsx
  frontend/src/controllable_unit/lookup/ControllableUnitLookupInput.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/controllable_unit/suspension/ControllableUnitSuspensionInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceInput.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceList.tsx
  frontend/src/entity/EntityInput.tsx
  frontend/src/entity/client/EntityClientInput.tsx
  frontend/src/generated-client/zod.gen.ts
  frontend/src/notice/NoticeList.tsx
  frontend/src/notice/NoticeShow.tsx
  frontend/src/notice/NoticeShowDetails.tsx
  frontend/src/party/PartyInput.tsx
  frontend/src/party/PartyList.tsx
  frontend/src/party/membership/PartyMembershipInput.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationInput.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionInput.tsx
  frontend/src/service_providing_group/ServiceProvidingGroupInput.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationInput.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionInput.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_suspension/ServiceProvidingGroupProductSuspensionInput.tsx
  frontend/src/system_operator_product_type/SystemOperatorProductTypeInput.tsx
  frontend/src/util.ts
  frontend/src/zod.ts
  justfile
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Update db/staging/energy_supplier_balance_responsibility_staging.sql
  db/staging/energy_supplier_balance_responsibility_staging.sql
Due: none

feat(db): ESBR sync update procedure (FLEX-1027)
  db/staging/energy_supplier_balance_responsibility_staging.sql
Due: none

feat: add mathjax to mkdocs (FLEX-1045)
  mkdocs.yml
Due: none

Update mkdocs.yml
  mkdocs.yml
Due: none

feat: add mathjax to mkdocs (FLEX-1045) (#601)
  mkdocs.yml
Due: none

chore: remove stutter in names (FLEX-1025)
  db/staging/energy_supplier_balance_responsibility_staging.sql
Due: none

fix: remove recorded_at (FLEX-1025)
  db/staging/energy_supplier_balance_responsibility_staging.sql
Due: none

feat(db): ESBR sync update procedure (FLEX-1027) (FLEX-1025)
  db/staging/energy_supplier_balance_responsibility_staging.sql
Due: none

refactor: follow comments from other PR (FLEX-1025)
  db/staging/energy_supplier_balance_responsibility_staging.sql
Due: none

feat: finalise checks before update (FLEX-1025)
  db/staging/energy_supplier_balance_responsibility_staging.sql
Due: none

docs: grouping CU guide
  docs/diagrams/sp-spg-registration.drawio.png
  docs/diagrams/sp_cu_registration.drawio.png
  docs/guides/get-ready-for-market/index.md
  docs/guides/get-ready-for-market/sp-cu-registration.md
  docs/guides/get-ready-for-market/sp-spg-registration.md
Due: none

feat: One form for cu-registration (FLEX-990) (FLEX-983)
  frontend/src/components/EDS-ra/inputs/AutocompleteReferenceInput.tsx
  frontend/src/components/EDS-ra/inputs/DateInput.tsx
  frontend/src/controllable_unit/ControllableUnitCreate.tsx
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: lint and format
  frontend/src/components/EDS-ra/inputs/DateInput.tsx
  frontend/src/components/ui/index.ts
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: copilot fixes
  frontend/src/components/EDS-ra/inputs/DateInput.tsx
  frontend/src/controllable_unit/ControllableUnitCreateForm.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.60.4
  .teamcity/pom.xml
Due: none

fix(deps): update backend
  backend/Dockerfile
  backend/go.mod
  backend/go.sum
Due: dockerfilelint

fix: corrections based on comments/discussion (FLEX-1025)
  db/staging/energy_supplier_balance_responsibility_staging.sql
Due: none

fix(deps): update dependency no.elhub.devxp:devxp-build-configuration to v1.60.4 (#604)
  .teamcity/pom.xml
Due: none

fix: exception syntax (FLEX-1025)
  db/staging/energy_supplier_balance_responsibility_staging.sql
Due: none

Mainly shortened text, drawing not updated
  docs/guides/get-ready-for-market/sp-cu-registration.md
Due: none

chore: go get go@latest
  backend/go.mod
Due: none

test: CSV dataset to test the update procedure (FLEX-1025)
  db/staging/test/README.md
  db/staging/test/esbr_staging_test_data.csv
Due: none

fix(deps): update backend (#605)
  backend/Dockerfile
  backend/go.mod
  backend/go.sum
Due: dockerfilelint

Removed 2b and made some small changes.
  docs/guides/get-ready-for-market/sp-spg-registration.md
Due: none

fix(db): enforce unique (business_id, type) on party (FLEX-1047)
  db/flex/party.sql
  db/flex/party_migrations.sql
Due: none

refactor: avoid useless updates (FLEX-1025)
  db/staging/energy_supplier_balance_responsibility_staging.sql
Due: none

fix: test data (FLEX-1025)
  db/staging/test/README.md
  esbr_staging_test_data.csv
Due: none

fix(db): enforce unique (business_id, type) on party (FLEX-1047) (#606)
  db/flex/party.sql
  db/flex/party_migrations.sql
Due: none
