Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

chore: restore future resource file (FLEX-792)
  justfile
  openapi/resources-future.yml
Due: none

feat: increase automation in comment history/view generation (FLEX-792) (#341)
  .pre-commit-config.yaml
  backend/data/static/openapi.json
  docs-dev/editing-resources.md
  docs/resources/service_provider_product_application_comment.md
  docs/resources/service_provider_product_suspension_comment.md
  frontend/src/tooltip/tooltips.json
  justfile
  local/scripts/j2.py
  local/scripts/openapi_to_db.py
  local/scripts/openapi_to_markdown.py
  local/scripts/openapi_to_tooltips.py
  local/scripts/resources_to_diagram.py
  local/scripts/template_to_openapi.py
  local/scripts/templates/comment_resource.j2.yml
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/flex/models/service_provider_product_application_comment.py
  test/flex/models/service_provider_product_application_comment_history_response.py
  test/flex/models/service_provider_product_application_comment_response.py
  test/flex/models/service_provider_product_suspension_comment.py
  test/flex/models/service_provider_product_suspension_comment_history_response.py
  test/flex/models/service_provider_product_suspension_comment_response.py
Due: check-openapi

chore: restore future resource file (FLEX-792) (FLEX-793)
  justfile
  openapi/resources-future.yml
Due: none

feat: generate tables for comment resources (FLEX-792)
  db/flex/service_provider_product_application_comment.sql
  db/flex/service_provider_product_suspension_comment.sql
  db/flex/service_provider_product_suspension_comment_migrations.sql
  local/scripts/openapi_to_db.py
  local/scripts/templates/comment_resource.j2.sql
Due: none

chore: anticipate SQL linter complaint on long resource name (FLEX-792)
  db/api/grants/field_level_authorization.sql
  db/flex/grants/field_level_authorization.sql
  local/scripts/permissions_to_grant.py
Due: none

chore: add line breaks in views as well (FLEX-792)
  db/api/controllable_unit_service_provider.sql
  db/api/entity.sql
  db/api/notification.sql
  db/api/party.sql
  db/api/party_membership.sql
  db/api/product_type.sql
  db/api/service_provider_product_application.sql
  db/api/service_provider_product_application_comment.sql
  db/api/service_provider_product_suspension.sql
  db/api/service_provider_product_suspension_comment.sql
  db/api/service_providing_group.sql
  db/api/service_providing_group_grid_prequalification.sql
  db/api/service_providing_group_grid_suspension.sql
  db/api/service_providing_group_membership.sql
  db/api/service_providing_group_product_application.sql
  db/api/system_operator_product_type.sql
  local/scripts/templates/resource_api.j2.sql
Due: none

feat: generate tables for comment resources (FLEX-792) (#344)
  db/flex/service_provider_product_application_comment.sql
  db/flex/service_provider_product_suspension_comment.sql
  db/flex/service_provider_product_suspension_comment_migrations.sql
  local/scripts/openapi_to_db.py
  local/scripts/templates/comment_resource.j2.sql
Due: none

chore: anticipate SQL linter complaint on long resource name (FLEX-792) (#345)
  db/api/controllable_unit_service_provider.sql
  db/api/entity.sql
  db/api/grants/field_level_authorization.sql
  db/api/notification.sql
  db/api/party.sql
  db/api/party_membership.sql
  db/api/product_type.sql
  db/api/service_provider_product_application.sql
  db/api/service_provider_product_application_comment.sql
  db/api/service_provider_product_suspension.sql
  db/api/service_provider_product_suspension_comment.sql
  db/api/service_providing_group.sql
  db/api/service_providing_group_grid_prequalification.sql
  db/api/service_providing_group_grid_suspension.sql
  db/api/service_providing_group_membership.sql
  db/api/service_providing_group_product_application.sql
  db/api/system_operator_product_type.sql
  db/flex/grants/field_level_authorization.sql
  local/scripts/permissions_to_grant.py
  local/scripts/templates/resource_api.j2.sql
Due: none

fix: refactor loading state handling and optimize final record computation (FLEX-780)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

chore: adds basic renovate config (FLEX-789)
  .github/renovate.json
  .gitignore
Due: none

feat: support for arbitrary nesting depth in nested history button (FLEX-792)
  frontend/src/components/history.tsx
  frontend/src/controllable_unit/ControllableUnitShow.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderShow.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceShow.tsx
  frontend/src/party/membership/PartyMembershipShow.tsx
  frontend/src/service_provider_product_application/comment/ServiceProviderProductApplicationCommentShow.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentShow.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipShow.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/util.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: generalise comment show page (FLEX-792)
  frontend/src/App.tsx
  frontend/src/components/comments.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentShow.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: generalise comment list (FLEX-792)
  frontend/src/components/comments.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationShow.tsx
  frontend/src/service_provider_product_application/comment/ServiceProviderProductApplicationCommentList.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionShow.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: generalise comment input (FLEX-792)
  frontend/src/App.tsx
  frontend/src/components/comments.tsx
  frontend/src/service_provider_product_application/comment/ServiceProviderProductApplicationCommentInput.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: generalise comment history list (FLEX-792)
  frontend/src/App.tsx
  frontend/src/components/comments.tsx
  frontend/src/service_provider_product_application/comment/ServiceProviderProductApplicationCommentHistoryList.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentHistoryList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

chore: package update (FLEX-792)
  frontend/package-lock.json
Due: none

chore: adds basic renovate config (FLEX-789) (#346)
  .github/renovate.json
  .gitignore
Due: none

fix: outdated info about enduser contract relations
  docs/concepts/end-user.md
Due: none

fix: outdated info about enduser contract relations (#351)
  docs/concepts/end-user.md
Due: none

Deployed dbbd333 with MkDocs version: 1.6.1
  api/v0/openapi.json
  concepts/end-user/index.html
  download/accounting_point.docx
  download/accounting_point_balance_responsible_party.docx
  download/accounting_point_energy_supplier.docx
  download/controllable_unit.docx
  download/controllable_unit_service_provider.docx
  download/entity.docx
  download/entity_client.docx
  download/event.docx
  download/identity.docx
  download/notice.docx
  download/notification.docx
  download/party.docx
  download/party_membership.docx
  download/product_type.docx
  download/service_provider_product_application.docx
  download/service_provider_product_application_comment.docx
  download/service_provider_product_suspension.docx
  download/service_provider_product_suspension_comment.docx
  download/service_providing_group.docx
  download/service_providing_group_grid_prequalification.docx
  download/service_providing_group_grid_suspension.docx
  download/service_providing_group_membership.docx
  download/service_providing_group_product_application.docx
  download/system_operator_product_type.docx
  download/technical_resource.docx
  resources/event/index.html
  resources/notice/index.html
  resources/service_provider_product_application_comment/index.html
  resources/service_provider_product_suspension_comment/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: prettier, check-openapi

fix: vite patch (FLEX-780)
  frontend/package-lock.json
Due: none

feat(db): implementation of RLS (FLEX-793)
  db/flex/service_providing_group_grid_suspension_comment_rls.sql
  docs/resources/service_providing_group_grid_suspension_comment.md
Due: none

test: SPGGS comment test (FLEX-793)
  test/api_client_tests/test_spggs_comment.py
Due: none

Fix: moved breach of conditions to SP product s
  docs/processes/service-provider-product-suspension.md
  docs/processes/service-providing-group-product-suspension.md
Due: none

feat(renovate): gomodTidy (FLEX-789)
  .github/renovate.json
Due: none

feat(ui): introduce generic components for comment resources (FLEX-792) (#347)
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/components/comments.tsx
  frontend/src/components/history.tsx
  frontend/src/controllable_unit/ControllableUnitShow.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderShow.tsx
  frontend/src/controllable_unit/technical_resource/TechnicalResourceShow.tsx
  frontend/src/party/membership/PartyMembershipShow.tsx
  frontend/src/service_provider_product_application/ServiceProviderProductApplicationShow.tsx
  frontend/src/service_provider_product_application/comment/ServiceProviderProductApplicationCommentHistoryList.tsx
  frontend/src/service_provider_product_application/comment/ServiceProviderProductApplicationCommentInput.tsx
  frontend/src/service_provider_product_application/comment/ServiceProviderProductApplicationCommentList.tsx
  frontend/src/service_provider_product_application/comment/ServiceProviderProductApplicationCommentShow.tsx
  frontend/src/service_provider_product_suspension/ServiceProviderProductSuspensionShow.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentHistoryList.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentInput.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentList.tsx
  frontend/src/service_provider_product_suspension/comment/ServiceProviderProductSuspensionCommentShow.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/grid_suspension/ServiceProvidingGroupGridSuspensionShow.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipShow.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/util.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat(renovate): gomodTidy (FLEX-789) (#352)
  .github/renovate.json
Due: none

fix: sentence about failed verification
  docs/processes/service-providing-group-product-suspension.md
Due: none

fix: use existing visibility in filter on comments in event worker (FLEX-804)
  backend/event/models.sql
  backend/event/models/models.sql.go
  backend/go.sum
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

docs: SPG product suspension (#339)
  docs/diagrams/service_provider_product_suspension.png
  docs/diagrams/service_providing_group_product_suspension.plantuml
  docs/diagrams/service_providing_group_product_suspension.png
  docs/processes/index.md
  docs/processes/service-provider-product-suspension.md
  docs/processes/service-providing-group-product-suspension.md
Due: check-plantuml

fix: use existing visibility in filter on comments in event worker (FLEX-804) (#355)
  backend/event/models.sql
  backend/event/models/models.sql.go
  backend/go.sum
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: merged main again (FLEX-780)
  docs/diagrams/service_providing_group_product_suspension.plantuml
  docs/processes/service-providing-group-product-suspension.md
Due: check-plantuml

fix: capitalise process names
  docs/processes/index.md
  docs/processes/service-providing-group-grid-suspension.md
  docs/processes/service-providing-group-product-suspension.md
Due: none

fix(docs): capitalise process names (#358)
  docs/processes/index.md
  docs/processes/service-providing-group-grid-suspension.md
  docs/processes/service-providing-group-product-suspension.md
Due: none

fix: qa cleanup (FLEX-780)
  frontend/src/entity/client/EntityClientList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

refactor: generalise jump to previous page on create/edit (FLEX-793)
  frontend/src/App.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

refactor: attach SO/SP policies only to these roles (FLEX-793)
  db/flex/service_providing_group_grid_suspension_comment_rls.sql
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
