Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

fix(ci): set commit sha as source in gitops step (FLEX-866) (#428)
  .teamcity/settings.kts
Due: none

chore(deps): update patch updates [patch] (#426)
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update dependency schemathesis to v4.5.1 [patch] (#427)
  requirements-dev.txt
Due: none

docs: communication and coordination concept
  docs/concepts/communication-and-coordination.md
  docs/concepts/index.md
  docs/concepts/notification-and-notice.md
  docs/concepts/ready-for-market.md
  docs/diagrams/service_provider_product_application.png
  docs/guides/get-ready-for-market.md
Due: none

docs: update SP product application diagram
  docs/diagrams/service_provider_product_application.plantuml
Due: check-plantuml

fix: changed structure and added links in resource pages
  docs/concepts/communication-and-coordination.md
  docs/resources/controllable_unit_suspension_comment.md
  docs/resources/service_provider_product_application_comment.md
  docs/resources/service_provider_product_suspension_comment.md
  docs/resources/service_providing_group_grid_suspension_comment.md
  docs/resources/service_providing_group_product_suspension_comment.md
Due: none

docs: update SP product application diagram
  docs/diagrams/service_provider_product_application.png
Due: none

docs: update comment in diagram
  docs/concepts/communication-and-coordination.md
  docs/diagrams/service_provider_product_application.plantuml
  docs/diagrams/service_provider_product_application.png
Due: check-plantuml

Update docs/concepts/communication-and-coordination.md
  docs/concepts/communication-and-coordination.md
Due: none

Update docs/resources/controllable_unit_suspension_comment.md
  docs/resources/controllable_unit_suspension_comment.md
Due: none

docs: communication and coordination concept (#429)
  docs/concepts/communication-and-coordination.md
  docs/concepts/index.md
  docs/concepts/notification-and-notice.md
  docs/concepts/ready-for-market.md
  docs/diagrams/service_provider_product_application.plantuml
  docs/diagrams/service_provider_product_application.png
  docs/guides/get-ready-for-market.md
  docs/resources/controllable_unit_suspension_comment.md
  docs/resources/service_provider_product_application_comment.md
  docs/resources/service_provider_product_suspension_comment.md
  docs/resources/service_providing_group_grid_suspension_comment.md
  docs/resources/service_providing_group_product_suspension_comment.md
Due: check-plantuml

fix(docs): update docs after set up
  docs-dev/index.md
Due: none

fix: remove link in assume party page (FLEX-813)
  frontend/src/AssumePartyPage.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix(docs): update docs after set up (#430)
  docs-dev/index.md
Due: none

fix: remove link in assume party page (FLEX-813) (#431)
  frontend/src/AssumePartyPage.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

chore(deps): update patch updates [patch]
  frontend/package-lock.json
  frontend/package.json
  requirements-dev.txt
Due: none

fix(deps): update minor updates to v5.13.1 [patch]
  frontend/package-lock.json
Due: none

chore(deps): update patch updates [patch] (#432)
  frontend/package-lock.json
  frontend/package.json
  requirements-dev.txt
Due: none

feat: Chunk management and performance optimization (FLEX-778)
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/AssumePartyPage.tsx
  frontend/src/Dashboard.tsx
  frontend/src/LoginPage.tsx
  frontend/src/auth/authProvider.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/index.tsx
  frontend/src/party/membership/PartyMembershipShow.tsx
  frontend/src/resources/controllableUnitResources.tsx
  frontend/src/resources/entityResources.tsx
  frontend/src/resources/index.tsx
  frontend/src/resources/partyResources.tsx
  frontend/src/resources/productResources.tsx
  frontend/src/resources/serviceProviderResources.tsx
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/resources/shared.tsx
  frontend/src/resources/systemResources.tsx
  frontend/vite.config.mts
Due: prettier, frontend-type-check, frontend-dependency-check

fix(deps): update minor updates to v5.13.1 [patch] (#433)
  frontend/package-lock.json
Due: none

docs: suggested scope for FLEX-850
  db/flex/service_providing_group_membership.sql
  docs/resources/notice.md
  docs/resources/service_providing_group.md
  docs/resources/service_providing_group_membership.md
  local/input/permissions.csv
  openapi/resources.yml
Due: none

Update frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: added missing routes (FLEX-778)
  frontend/src/resources/serviceProviderResources.tsx
  frontend/src/resources/serviceProvidingGroupResources.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: qa cleanup (FLEX-778)
  frontend/src/auth/authProvider.tsx
  frontend/src/service_providing_group/membership/ServiceProvidingGroupMembershipInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: reverted record simplification test (FLEX-778)
  frontend/src/controllable_unit/service_provider/ControllableUnitServiceProviderInput.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat: add notice types and filter on party in notice list (FLEX-860)
  frontend/src/notice/NoticeList.tsx
  frontend/src/notice/noticeTypes.ts
Due: prettier, frontend-type-check, frontend-dependency-check

fix: hardcode size of input field in notice autocomplete (FLEX-860)
  frontend/src/notice/NoticeList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: remove default value for party id, and remove loading state for parties (FLEX-860)
  frontend/src/notice/NoticeList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: remove unused imports (FLEX-860)
  frontend/src/notice/NoticeList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: lint errors (FLEX-860)
  frontend/src/notice/NoticeList.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

feat(backend): common timeout for all OIDC-related requests (FLEX-888)
  backend/auth/oidc/provider.go
  backend/pgpool/userdetails.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat(backend): common timeout for all OIDC-related requests (FLEX-888) (#437)
  backend/auth/oidc/provider.go
  backend/pgpool/userdetails.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix: pre login loading time fix (FLEX-778)
  frontend/src/auth/authProvider.tsx
Due: prettier, frontend-type-check, frontend-dependency-check

fix: clarify definition of verification
  docs/concepts/time-series.md
Due: none

feat: add notice types and filter on party in notice list (FLEX-860) (#436)
  frontend/src/notice/NoticeList.tsx
  frontend/src/notice/noticeTypes.ts
Due: prettier, frontend-type-check, frontend-dependency-check

Added specification of which time series
  docs/concepts/time-series.md
Due: none

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: local/mkdocs/.*
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
