Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

check-dot:
  name: check dot files
  entry: ./local/pre-commit/lint-dot.sh
  language: script
  pass_filenames: true

check-plantuml:
  name: check plantuml files
  entry: ./local/pre-commit/lint-plantuml.sh
  language: script
  pass_filenames: true

dockerfilelint:
  name: Dockerfile linter
  entry: dockerfilelint
  language: node
  language_version: lts
  additional_dependencies:
  - dockerfilelint

prettier:
  additional_dependencies:
  - prettier@3.4.2
  name: prettier
  entry: prettier --write --ignore-unknown --print-width 80
  language: node

eslint:
  name: eslint
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run lint
  language: script
  pass_filenames: false

frontend-type-check:
  name: npm type-check
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm run type-check
  language: script
  pass_filenames: false

frontend-dependency-check:
  name: npm audit fix
  entry: /usr/bin/bash
  args:
  - -c
  - cd frontend && npm audit fix
  language: script
  pass_filenames: false
  stages:
  - pre-push

golangci-lint-config-verify:
  name: golangci-lint config verify
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && golangci-lint config verify
  pass_filenames: false
  language: script

golangci-lint:
  name: golangci-lint
  entry: /usr/bin/bash
  pass_filenames: false
  args:
  - -c
  - cd backend && golangci-lint run --fix
  language: script

go-unit-tests:
  name: go-unit-tests
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go test -tags=unit -timeout 30s -short -v
  language: script

go-build:
  name: go-build
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend/cmd/flex && go build && rm -f flex
  language: script

go-mod-tidy:
  name: go-mod-tidy
  entry: /usr/bin/bash
  args:
  - -c
  - cd backend && go mod tidy -v
  language: script

check-openapi:
  name: check openapi documents with spectral
  language: system
  entry: spectral
  args:
  - lint
  - --fail-severity
  - warn
  - --verbose
  pass_filenames: true

fix: slightly better use of CTE (FLEX-1043)
  db/operations/metrics.sql
Due: none

docs: suggest adapter service for accounting point data (FLEX-474)
  backend/accountingpoint/doc.go
  backend/accountingpoint/static/openapi.yml
  docs/diagrams/accounting-point-adapter.drawio.png
  docs/technical/accounting-point-data.md
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: CODEOWNERS are now elhub/team-flex
  CODEOWNERS
Due: none

refactor: split between silent/logging middlewares on one router (FLEX-1051)
  backend/flex.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat(backend): silence logs on /readyz (FLEX-1051) (#625)
  backend/flex.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(backend): follow or silence+explain linter warnings (FLEX-1056)
  backend/auth/auth.go
  backend/auth/middleware.go
  backend/auth/oidc/provider.go
  backend/data/data.go
  backend/meteringpointdatahub/meteringpointdatahub.go
  backend/pgpool/userdetails.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(db): add internal RLS for notice history (FLEX-1058)
  db/flex/notice_rls.sql
Due: none

Update backend/auth/middleware.go
  backend/auth/middleware.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

Update db/flex/notice_rls.sql
  db/flex/notice_rls.sql
Due: none

fix: CODEOWNERS are now elhub/team-flex (#629)
  CODEOWNERS
Due: none

fix: updated diagram and prerequisites
  docs/diagrams/delivery-verification.plantuml
  docs/diagrams/delivery-verification.png
  docs/processes/delivery-verification.md
Due: check-plantuml

fix(db): add internal RLS for notice history (FLEX-1058) (#631)
  db/flex/notice_rls.sql
Due: none

docs: format linter ignore comments (FLEX-1056)
  backend/auth/auth.go
  backend/auth/middleware.go
  backend/auth/oidc/provider.go
  backend/data/data.go
  backend/meteringpointdatahub/meteringpointdatahub.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

fix(backend): follow or silence+explain linter warnings (FLEX-1056) (#630)
  backend/auth/auth.go
  backend/auth/middleware.go
  backend/auth/oidc/provider.go
  backend/data/data.go
  backend/meteringpointdatahub/meteringpointdatahub.go
  backend/pgpool/userdetails.go
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy

feat: total prequalified volume on SPG product application (FLEX-1037)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
  db/test_data/test_data.sql
  docs/resources/service_providing_group_product_application.md
  frontend/src/auth/permissions.ts
  frontend/src/components/unitComponents.tsx
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/tooltip/tooltips.ts
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_cu_suspension.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_spg_grid_suspension.py
  test/api_client_tests/test_spg_product_application.py
  test/api_client_tests/test_spg_product_suspension.py
  test/api_client_tests/test_spgps_comment.py
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat: metrics view (FLEX-1043) (#620)
  db/changelog.yml
  db/operations/README.md
  db/operations/changelog.yml
  db/operations/metrics.sql
Due: none

refactor: rename to maximum_active_power (FLEX-1037)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
  db/test_data/test_data.sql
  docs/resources/service_providing_group_product_application.md
  frontend/src/auth/permissions.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/tooltip/tooltips.ts
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_cu_suspension.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_spg_grid_suspension.py
  test/api_client_tests/test_spg_product_application.py
  test/api_client_tests/test_spg_product_suspension.py
  test/api_client_tests/test_spgps_comment.py
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

feat: improved openapi doc with example generated models (FLEX-474)
  backend/accountingpoint/accountingpoint.gen.go
  backend/accountingpoint/doc.go
  backend/accountingpoint/static/openapi.yml
  backend/go.mod
  backend/go.sum
  justfile
  local/accounting-point/client/models/__init__.py
  local/accounting-point/client/models/accounting_point.py
  local/accounting-point/client/models/end_user.py
  local/accounting-point/client/models/end_user_entity_type.py
  local/accounting-point/client/models/energy_direction.py
  local/accounting-point/client/models/energy_direction_direction.py
  local/accounting-point/client/models/energy_supplier.py
  local/accounting-point/client/models/metering_grid_area.py
  local/accounting-point/client/types.py
  local/accounting-point/main.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

docs: more about sync process (FLEX-474)
  docs/diagrams/accounting-point-sync.drawio.png
  docs/technical/accounting-point-data.md
Due: none

feat: maximum active power on SPG product application (FLEX-1037) (#633)
  backend/api.sql
  backend/data/models/models.go
  backend/data/static/openapi.json
  backend/event/models/models.go
  db/api/grants/field_level_authorization.sql
  db/api/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
  db/test_data/test_data.sql
  docs/resources/service_providing_group_product_application.md
  frontend/src/auth/permissions.ts
  frontend/src/components/unitComponents.tsx
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/field-labels.ts
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationInput.tsx
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/tooltip/tooltips.ts
  local/input/permissions.csv
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_cu_suspension.py
  test/api_client_tests/test_event.py
  test/api_client_tests/test_spg_grid_suspension.py
  test/api_client_tests/test_spg_product_application.py
  test/api_client_tests/test_spg_product_suspension.py
  test/api_client_tests/test_spgps_comment.py
  test/flex/models/service_providing_group_product_application_create_request.py
  test/flex/models/service_providing_group_product_application_history_response.py
  test/flex/models/service_providing_group_product_application_response.py
  test/flex/models/service_providing_group_product_application_update_request.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

chore(deps): update local
  requirements-dev.txt
Due: none

chore(deps): update frontend
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(deps): update frontend (#636)
  frontend/package-lock.json
  frontend/package.json
Due: none

docs: event based provisioning for accounting points (FLEX-474)
  docs/diagrams/accounting-point-sync.drawio.png
  docs/technical/accounting-point-data.md
Due: none

chore: PostgREST OpenAPI docs (FLEX-1059)
  openapi/postgrest-openapi-3.0.json
  openapi/postgrest-swagger-2.0.json
Due: none

fix(db): remove checksum on CU table liquibase migration (FLEX-1059)
  db/flex/controllable_unit.sql
Due: none

fix(db): remove checksum on CU table liquibase migration (FLEX-1059) (#637)
  db/flex/controllable_unit.sql
Due: none

docs: more on devices (FLEX-1038)
  docs/concepts/technologies.md
Due: none

feat: relax SPGPA-VAL003 to existing non refused SPPA (FLEX-1010)
  db/flex/service_providing_group_product_application_migrations.sql
  docs/resources/service_providing_group_product_application.md
Due: none

fix: coalesce potentially empty array aggregate (FLEX-1010)
  db/flex/service_providing_group_product_application_migrations.sql
Due: none

feat: relax SPGPA-VAL003 to existing non refused SPPA (FLEX-1010) (#638)
  db/flex/service_providing_group_product_application_migrations.sql
  docs/resources/service_providing_group_product_application.md
Due: none

feat: energy_direction array + close local adapter TODOs (FLEX-474)
  backend/accountingpoint/accountingpoint.gen.go
  backend/accountingpoint/accountingpoint.go
  backend/accountingpoint/doc.go
  backend/accountingpoint/static/openapi.yml
  frontend/package-lock.json
  local/accounting-point/README.md
  local/accounting-point/client/models/__init__.py
  local/accounting-point/client/models/energy_direction.py
  local/accounting-point/client/models/energy_direction_direction_item.py
  local/accounting-point/main.py
Due: golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

fix: use textfield for accounting point in cu manual create (FLEX-1060)
  frontend/src/controllable_unit/ControllableUnitInput.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

docs: removed SP application approved constraint
  docs/diagrams/service_providing_group_product_application.plantuml
  docs/diagrams/service_providing_group_product_application.png
  docs/processes/service-providing-group-product-application.md
Due: check-plantuml

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$
