Repository elhub/flex-information-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dot, check-plantuml, dockerfilelint, prettier, eslint, frontend-type-check, frontend-dependency-check, golangci-lint-config-verify, golangci-lint, go-unit-tests, go-build, go-mod-tidy, check-openapi

Path conditions:
  check-dot: any of: ^.*\.dot$
  check-plantuml: any of: ^.*\.plantuml$
  dockerfilelint: any of: Dockerfile.*
  prettier: any of: \.(html|htm|xhtml)$, \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.scss$, but not: (local/mkdocs/.*|frontend/src/intl/.*-labels.ts)
  eslint: any of: \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$
  frontend-type-check: any of: \.(ts|mts|cts)$, \.tsx$
  frontend-dependency-check: any of: \.(ts|mts|cts)$, \.tsx$
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  go-unit-tests: any of: \.go$
  go-build: any of: \.go$
  go-mod-tidy: any of: \.go$
  check-openapi: any of: ^.*openapi\.(json|yml|yaml)$

feat: rewrite spg show to the new layout page (FLEX-1516) (#1229)
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupProductApplicationShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupHistory.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShow.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowSummary.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTable.tsx
  frontend/src/service_providing_group/show/ServiceProvidingGroupShowTabs.tsx
  frontend/src/service_providing_group/show/useServiceProvidingGroupAlert.test.tsx
  frontend/src/service_providing_group/show/useServiceProvidingGroupAlert.tsx
  frontend/src/service_providing_group/show/useServiceProvidingGroupShowSummary.test.tsx
  frontend/src/service_providing_group/show/useServiceProvidingGroupShowSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: added show page layout section to docs (FLEX-1470)
  docs-dev/ui.md
Due: none

feat: grid prequalification show page redesign (FLEX-1515)
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationHistoryList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqActionBar.tsx
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqShowTabs.tsx
  frontend/src/service_providing_group/grid_prequalification/show/useSpgpqShowSummary.tsx
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove unused file (FLEX-1515)
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqShowSummary.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: grid prequalification show page redesign (FLEX-1515) (#1232)
  frontend/src/resources/serviceProvidingGroupResources.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationHistoryList.tsx
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationShow.tsx
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqActionBar.tsx
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqShowSummary.tsx
  frontend/src/service_providing_group/grid_prequalification/show/SpgpqShowTabs.tsx
  frontend/src/service_providing_group/grid_prequalification/show/useSpgpqShowSummary.tsx
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: expandable change log for CU when diffing two snapshots (FLEX-1508)
  frontend/src/components/ui/index.ts
  frontend/src/intl/text.ts
  frontend/src/service_providing_group/product_application/show/ControllableUnitDiff.tsx
  frontend/src/service_providing_group/product_application/show/ServiceProvidingGroupShowChangesTab.tsx
  frontend/src/service_providing_group/product_application/show/useSpgChangesViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: move panel to left side of the map (FLEX-1511)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: soft delete SPGPA/SPGGP + triggers and sync (FLEX-1505)
  backend/data/static/openapi.json
  db/flex/changelog.yml
  db/flex/service_providing_group_grid_prequalification.sql
  db/flex/service_providing_group_grid_prequalification_migrations.sql
  db/flex/service_providing_group_grid_prequalification_rls.sql
  db/flex/service_providing_group_grid_prequalification_sync.sql
  db/flex/service_providing_group_membership_migrations.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_migrations.sql
  db/flex/service_providing_group_product_application_rls.sql
  db/flex/service_providing_group_product_application_sync.sql
  docs/resources/service_providing_group_grid_prequalification.md
  docs/resources/service_providing_group_product_application.md
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/generated-client/types.gen.ts
  frontend/src/generated-client/zod.gen.ts
  frontend/src/intl/enum-labels.ts
  frontend/src/intl/field-labels.ts
  frontend/src/service_providing_group/grid_prequalification/ServiceProvidingGroupGridPrequalificationList.tsx
  frontend/src/service_providing_group/grid_prequalification/spgpqStatus.ts
  frontend/src/service_providing_group/product_application/ServiceProvidingGroupProductApplicationList.tsx
  frontend/src/service_providing_group/product_application/show/useSpgpaControllableUnits.test.tsx
  frontend/src/service_providing_group/product_application/show/useSpgpaControllableUnits.ts
  frontend/src/service_providing_group/product_application/spgpaStatus.ts
  frontend/src/service_providing_group/show/useSpgGridPrequalifications.test.ts
  frontend/src/service_providing_group/show/useSpgGridPrequalifications.ts
  frontend/src/service_providing_group/show/useSpgProductApplications.ts
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupGridPrequalificationStatus.kt
  kbackend/src/main/kotlin/no/elhub/flex/model/dto/generated/models/ServiceProvidingGroupProductApplicationStatus.kt
  openapi/openapi-api-no-default.json
  openapi/resources.yml
  test/api_client_tests/test_spg_grid_prequalification.py
  test/api_client_tests/test_spg_product_application.py
  test/flex/api/service_providing_group_grid_prequalification/list_service_providing_group_grid_prequalification.py
  test/flex/api/service_providing_group_grid_prequalification/list_service_providing_group_grid_prequalification_history.py
  test/flex/api/service_providing_group_product_application/list_service_providing_group_product_application.py
  test/flex/api/service_providing_group_product_application/list_service_providing_group_product_application_history.py
  test/flex/models/service_providing_group_grid_prequalification_status.py
  test/flex/models/service_providing_group_product_application_status.py
Due: prettier, eslint, frontend-type-check, frontend-dependency-check, check-openapi

docs(ui): show page layout (FLEX-1470)
  docs-dev/ui.md
Due: none

docs: update bullet points (FLEX-1470)
  docs-dev/ui.md
Due: none

docs: fix typo in resource show page layout documentation
  docs-dev/ui.md
Due: none

docs: update documentation for ResourceShowLayout usage
  docs-dev/ui.md
Due: none

fix: copilot comments (FLEX-1505)
  db/flex/accounting_point_impacted_system_operator.sql
  db/flex/accounting_point_procuring_system_operator.sql
  db/flex/controllable_unit_impacted_system_operator.sql
  db/flex/controllable_unit_procuring_system_operator.sql
  db/flex/service_providing_group_grid_prequalification.sql
  db/flex/service_providing_group_grid_prequalification_migrations.sql
  db/flex/service_providing_group_grid_prequalification_sync.sql
  db/flex/service_providing_group_product_application.sql
  db/flex/service_providing_group_product_application_sync.sql
  db/flex/service_providing_group_rls.sql
  test/api_client_tests/test_spg_grid_prequalification.py
Due: none

fix(test): midnight aligned date (FLEX-1505)
  test/api_client_tests/test_spg_grid_prequalification.py
Due: none

fix(ui): do not require complete_at when marking SPGPA prequalified (FLEX-1520)
  frontend/src/service_providing_group/product_application/show/SpgpaActionBar.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Apply suggestion from @simenja
  docs-dev/ui.md
Due: none

chore: reduce padding on log entry (FLEX-1508)
  frontend/src/service_providing_group/product_application/show/ControllableUnitDiff.tsx
  frontend/src/service_providing_group/product_application/show/useSpgChangesViewModel.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): always show flexible power overview in SPGPA CU tab (FLEX-1521)
  frontend/src/service_providing_group/product_application/show/SpgpaControllableUnitsTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: move edit button and add status badge, + cu tab (FLEX-1511)
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/accounting_point/show/AccountingPointControllableUnitsTable.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
  frontend/src/accounting_point/show/useAccountingPointControllableUnits.ts
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: move to new layout, adjust overview, and translations (FLEX-1511)
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/accounting_point/show/AccountingPointShowOverview.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
  frontend/src/accounting_point/show/useAccountingPointControllableUnits.ts
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

chore: added test (FLEX-1508)
  frontend/src/service_providing_group/product_application/show/ControllableUnitDiff.tsx
  frontend/src/service_providing_group/product_application/show/useSpgChangesViewModel.test.tsx
  frontend/src/service_providing_group/product_application/show/useSpgChangesViewModel.ts
  frontend/src/test/test-utils.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: remove link in overview, also check if permissions are ok, and change tab header (FLEX-1511)
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/accounting_point/show/AccountingPointShowOverview.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

refactor: dont call hook from regular function (FLEX-1508)
  frontend/package-lock.json
  frontend/src/service_providing_group/product_application/show/ControllableUnitDiff.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: added playwright test dependecy (FLEX-1302)
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/vite.config.mts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: move revoke to cusp script api (FLEX-1492)
  db/api/controllable_unit_service_provider.sql
  db/api/grants/revoke.sql
Due: none

fix: move revoke to cusp migrations script api (FLEX-1492)
  db/api/controllable_unit_service_provider.sql
  db/api/controllable_unit_service_provider_migrations.sql
Due: none

fix: update cusp migrations
  db/api/controllable_unit_service_provider_migrations.sql
Due: none

fix(ui): always show flexible power overview in SPGPA CU tab (FLEX-1521) (#1236)
  frontend/src/service_providing_group/product_application/show/SpgpaControllableUnitsTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

Fix typo in guessed_help_after text
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix(ui): do not require complete_at when marking SPGPA prequalified (FLEX-1520) (#1235)
  frontend/src/service_providing_group/product_application/show/SpgpaActionBar.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: more visible link from SPGPA to SPG (FLEX-1509)
  frontend/src/service_providing_group/product_application/show/SpgInfoTab.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: copilot comments (FLEX-1511)
  frontend/package-lock.json
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/accounting_point/show/AccountingPointControllableUnitsTable.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: copilot comments (FLEX-1511)
  frontend/src/accounting_point/show/AccountingPointControllableUnitsTable.tsx
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: remove uneffective reverseSort (FLEX-1492)
  db/api/changelog.yml
Due: none

chore(frontend): improve norwegian translations (FLEX-1508)
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

fix: cec comments (FLEX-1511)
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: translation (FLEX-1482)
  frontend/src/dashboard/hooks/useDashboardApplications.ts
  frontend/src/dashboard/service_provider/SpApplicationsTable.tsx
  frontend/src/dashboard/system_operator/SoApplicationsTable.tsx
  frontend/src/dashboard/system_operator/SoDashboard.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: Accounting point page on the new layout format (FLEX-1511) (#1237)
  frontend/package-lock.json
  frontend/src/accounting_point/grid_location/AccountingPointGridLocationPanel.tsx
  frontend/src/accounting_point/show/AccountingPointControllableUnitsTable.tsx
  frontend/src/accounting_point/show/AccountingPointShow.tsx
  frontend/src/accounting_point/show/AccountingPointShowOverview.tsx
  frontend/src/accounting_point/show/AccountingPointShowTabs.tsx
  frontend/src/accounting_point/show/useAccountingPointControllableUnits.ts
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check

feat: translate simple table (FLEX-1482)
  frontend/src/components/SimpleTable.tsx
  frontend/src/intl/text.ts
Due: prettier, eslint, frontend-type-check, frontend-dependency-check
